.card__texting {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 128px;
}

.card__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 54px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}

.card__code {
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #616070;
  align-self: flex-start;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  width: 166px;
  height: 16px;
}

.card__rating-reviews {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

.card__price {
  display: flex;
  justify-content: space-between;
  width: 166px;
}

.card__price_lettering {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #616070;
}

.card__price_number {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #060b35;
}
