.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars__star--active {
  height: 16px;
  width: 16px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

body {
  margin: 0 auto;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.card {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 36px 16px 16px;
  width: 200px;
  height: 408px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.card__image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 40px;
  width: 160px;
  height: 134px;
}
.card__title {
  margin-top: 0;
  margin-bottom: 4px;
  text-align: start;
  white-space: nowrap;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
  width: 100%;
}
.card__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  width: 100%;
}
.card__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.reviews {
  margin-bottom: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.reviews__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__text {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.price {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.price__text {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}
.price__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card__button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #00acdc;
  color: #fff;
  width: 166px;
  height: 40px;
  border: 1px solid #00acdc;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.card__button:hover {
  background-color: #fff;
  color: #00acdc;
}