.stars {
  display: flex;
  justify-content: space-between;
  max-width: 100px;

  & :nth-child(1n + 1) {
    width: 16px;
    height: 16px;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 4px;
  }
}
