.stars {
  display: flex;
}

.card__stars-star {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.stars__section {
  margin: 16px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars__reviews {
  font-size: 10px;
  font-weight: 400;

  line-height: 14px;
  letter-spacing: 0%;
}

.card__stars-star:first-child {
  margin-left: 0;
}

.stars--1 .card__stars-star:nth-child(-n + 1),
.stars--2 .card__stars-star:nth-child(-n + 2),
.stars--3 .card__stars-star:nth-child(-n + 3),
.stars--4 .card__stars-star:nth-child(-n + 4),
.stars--5 .card__stars-star:nth-child(-n + 5) {
  background-image: url('../images/star-active.svg');
}
