.stars {
  display: flex;
}

&__star {
  width: $star-size;
  height: $star-size;

  margin-left: $gap-small;

  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

&__star:first-child {
  margin-left: 0;
}

&--4 {
  & .stars__star:nth-child(-n + 4) {
  background-image: url('../images/star-active.svg');
}
}
