.card {
  padding: 32px 0 16px;
  display: flex;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  background: #fff;
  color: #060b35;

  &__image {
    background: url(../images/imac.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__title {
    margin: 0 0 4px;
    width: 166px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
  }

  &__subtitle {
    width: 166px;
    margin: 0 0 16px;
    color: #616070;
  }

  &__stars {
    width: 166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 24px;
    align-items: flex-end;
  }

  &__info-review {
    text-align: right;
  }

  &__price-block {
    margin-bottom: 16px;
    width: 166px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__info-price {
    color: #616070;
    font-size: 12px;
    line-height: 18px;
  }

  &__info-amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__link {
    height: 40px;
    width: 166px;
    border-radius: 5px;
    border: 1px solid $hoverBlueColor;
    display: flex;
    box-sizing: border-box;
    background-color: $hoverBlueColor;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: $hoverWhiteColor;
    font-size: 14px;
    line-height: 37px;
    font-weight: 700;

    &:hover {
      background-color: $hoverWhiteColor;
      color: $hoverBlueColor;
    }
  }
}
