.card {
  // width: 200px - $base-padding * 2 - $border-size * 2;
  width: 200px;
  box-sizing: border-box;
  border-radius: 5px;
  border: $border-size solid #f3f3f3;
  padding: $base-padding;

  &__header {
    width: 160px;
    height: 134px;

    margin: 16px auto 40px;
  }

  &__image {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
    color: $base-text-color;
  }

  &__text {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 16px;
    color: $base-text-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__rating-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $base-text-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $muted-text-color;
    margin-bottom: 16px;

    span {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $base-text-color;
    }
  }

  &__button {
    display: block;
    width: 100%;
    background-color: $button-color;
    border-radius: 5px;

    text-align: center;
    padding: 12px 0;

    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      padding: 11px 0;
      background-color: transparent;
      border: $border-size solid $button-color;
      color: $button-color;
    }
  }

  &__text--muted {
    color: $muted-text-color;
  }
}
