@import '../utils/variables';
@import '../utils/mixins';

.product-card {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  width: $card-width;
  padding: 32px 16px 16px;
  border-radius: $card-border-radius;

  @include flex-center;

  flex-direction: column;

  &__icon {
    margin: 0 auto 40px;

    @include responsive-image(160px, 134px);
  }
}
