@import '../utils/variables';
@import '../utils/mixins';

.product-card__price {
  @include flexbox(row, flex-end, space-between);

  gap: 85px;

  &-label {
    font-size: $product-card-price-label-font-size;
    line-height: 18px;
    color: #616070;
    font-weight: 400;
    text-align: left;
    margin-bottom: 16px;
  }

  &-value {
    font-size: $product-card-price-value--font-size;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
    color: #060b35;
    margin-bottom: 16px;
  }
}
