.product-card__details {
  @include flexbox(column, flex-start, flex-start);

  &-title {
    font-size: $product-card__details-title-font-size;
    line-height: 18px;
    font-weight: 500;
    color: #060b35;
    margin-bottom: 4px;
  }

  &-code {
    font-size: $product-card__details--font-size;
    line-height: 14px;
    font-weight: 400;
    color: #616070;
    text-align: center;
    margin-bottom: 16px;
  }
}
