.stars {
  display: flex;
  align-items: flex-end;
}

.stars :first-child {
  margin-left: 0;
}

.stars__star,
.stars__star--active {
  background-position: 50%;
  background-repeat: no-repeat;
  width: $spacer * 2;
  height: $spacer * 2;
  margin-right: $spacer / 2;
  line-height: 140%;
}

.stars__star {
  background-image: url("../images/star.svg");
}

.stars__star--active {
  background-image: url("../images/star-active.svg");
}
