* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  color: $main-color;
  font-size: 10px;
  line-height: 14px;
}

img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}
