.button {
  box-sizing: border-box;
  width: $btn-width;

  background-color: $btn-color;
  color: #fff;
  padding: 11px;
  border: 1px solid $btn-color;
  transition: all 0.3s;
  border-radius: 5px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: $background-color;
    border: 1px solid $btn-color;
    color: $btn-color;
  }
}
