@use 'variables' as *;

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  font-family: $font-family;

  background-color: $color-white;
  box-shadow: $box-shadow;
  &__image {
    width: 160px;
    height: 134px;
    padding-bottom: 16px;
    object-fit: contain;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__title {
    margin-top: 22px;

    font-size: $font-size-medium;
    font-weight: $font-weight-medium;
    line-height: 18px;
    color: $color-dark;
    text-decoration: none;
  }
  &__product-code {
    margin-bottom: 8px;
    font-size: $font-size-small;
    line-height: 14px;
    color: $color-gray;
  }
  &__rating-reviews {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 8px;
  }
  &__stars {
    display: flex;
  }
  &__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;

    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  &__stars--1 &__star:first-child,
  &__stars--2 &__star:nth-child(-n + 2),
  &__stars--3 &__star:nth-child(-n + 3),
  &__stars--4 &__star:nth-child(-n + 4),
  &__stars--5 &__star:nth-child(-n + 5) {
    background-image: url('../images/star-active.svg');
  }
  &__reviews {
    width: 53px;
    height: 16px;

    font-family: $font-family;
    font-size: $font-size-small;
    font-weight: $font-weight-regular;
    line-height: 14px;
    color: $color-dark;
    text-align: right;
    letter-spacing: 0;
    vertical-align: bottom;
  }

  p {
    margin: 0;
  }

  &__price {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 8px;
  }
  &__price-title {
    font-size: $font-size-medium;
    color: $color-gray;
  }
  &__price-amount {
    font-size: $font-size-xlarge;
    font-weight: $font-weight-bold;
    color: $color-dark;
  }
  &__button {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 11px 0;
    border: 1px solid $color-primary;
    border-radius: $button-radius;

    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    color: $color-white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0;

    background-color: $color-primary;

    transition: all 0.3s ease;
    &:hover {
      cursor: pointer;
      border: 1px solid $color-primary;
      color: $color-primary;
      background-color: $color-white;
    }
  }
}
