.card {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  padding: 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 16px auto 0;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.title {
  margin-top: 40px;
}

.card__product-code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;

  margin-top: 4px;
}

.card__rating {
  display: flex;
  justify-content: space-between;

  margin-top: 16px;
}

.rating__reviews-number {
  display: flex;
  align-items: flex-end;

  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.card__price {
  display: flex;
  justify-content: space-between;

  margin-top: 24px;
}

.card__price-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #616070;
}

.card__price-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: flex-end;
  color: #060b35;
}

.card__buy-button {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;

  padding: 11px 70px;
  margin-top: 16px;
}

.buy-button:hover {
  background-color: #fff;
  color: #00acdc;
}
