.price__price {
  color: $secondary-color;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.price__dollar {
  color: $text-color;
  text-align: right;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.review__5 {
  justify-content: center;
  align-self: center;
  color: $text-color;
  text-align: right;
  font-family: Roboto;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  padding-top: 1px;
}
