@import "./utilits/mixins.scss";

.price {
  &__text {
    color: $secondary-color;
  }

  &__number {
    margin-bottom: 16px;
    font-size: 16px;
    @include text-bold;
  }
}

.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.reviews__number {
  @include text-secondary;
}
