@import '../utils/variables'; // Ensure that your variables file is correctly linked

.product-card {
  position: relative;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  width: $card-width;
  padding: 32px 16px 16px;
  border-radius: $card-border-radius;
  justify-content: center;
  align-items: center;

  &__icon {
    margin: 0 auto 40px;
    display: block;
    width: 160px;
    height: 134px;
  }

  &__details {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &-title {
      font-size: $product-card__details-title-font-size;
      line-height: 18px;
      font-weight: 500;
      color: black;
      display: flex;
      margin-bottom: 4px;
    }

    &-code {
      font-size: $product-card__details--font-size;
      line-height: 10px;
      font-weight: 400;
      color: #616070;
      text-align: center;
      margin-bottom: 16px;
    }
  }

  &__reviews {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;

    &-stars {
      display: flex;
      align-items: center;
      padding-right: 17px;

      &-star {
        width: $star-size;
        height: $star-size;
        background-image: url('../images/star.svg');
        background-repeat: no-repeat;
        background-position: center;
        margin-right: $star-spacing;
      }

      @for $i from 1 through 5 {
        &--#{$i} {
          @for $j from 1 through $i {
            .product-card__reviews-stars-star:nth-child(#{$j}) {
              background-image: url('../images/star-active.svg');
            }
          }
        }
      }
    }

    &-text {
      font-size: $product-card-review-count-font-size;
      line-height: 14px;
      color: #060b35;
      font-weight: 400;
    }
  }

  &__price {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap: 60px;

    &-label {
      font-size: $product-card-price-label-font-size;
      line-height: 18px;
      color: #616070;
      font-weight: 400;
      text-align: left;
      margin-bottom: 16px;
    }

    &-value {
      font-size: $product-card-price-value--font-size;
      line-height: 18px;
      font-weight: 700;
      text-align: right;
      color: #060b35;
      margin-bottom: 16px;
    }
  }

  &__buy-button {
    display: block;
    height: 40px;
    background-color: $buy-button-background-color;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid $buy-button-border-color;
    color: $buy-button-text-color;
    text-decoration: none;
    font-size: $buy-button-font-size;
    line-height: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    &-text {
      padding-top: 12px;
      padding-bottom: 12px;
    }

    &:hover {
      color: $buy-button-hover-text-color;
      background-color: $buy-button-background-hover;
    }
  }
}
