.stars {
  display: flex;
}

.star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../../images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.star:last-child {
  margin-right: 0;
}

.stars--1 .star:nth-child(1),
.stars--2 .star:nth-child(-n + 2),
.stars--3 .star:nth-child(-n + 3),
.stars--4 .star:nth-child(-n + 4),
.stars--5 .star:nth-child(-n + 5) {
  background-image: url(../../images/star-active.svg);
}
