@use 'variables' as *;

.star {
  display: flex;
  gap: 4px;
  &__active,
  &__silver {
    display: block;

    width: 16px;
    height: 16px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  &__active {
    background-image: url('../images/star-active.svg');
  }
  &__silver {
    background-image: url('../images/star.svg');
  }
}
