
.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5px;
  flex-direction: row;

  &__stars{
   background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  flex-shrink: 0;
  background-position: center;
  }

  &--4 &__stars:nth-child(-n+4){
    background-image: url(../images/star-active.svg);
  }
}
