.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
}

.card__container {
  display: flex;
  flex-direction: column;
  width: 166px;
  margin: 16px;
}

.card__image {
  height: 134px;
  width: 160px;
  margin: 16px auto 0;
}

.card__name-product {
  padding-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--card-text-color-dark);
}

.card__product-code {
  padding-top: 4px;
  font-weight: var(--card-medium-font);
  font-size: 10px;
  line-height: 14px;
  color: var(--card-text-color-light);
}

.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  align-items: center;
}

.card__price-text {
  font-weight: var(--card-medium-font);
  font-size: 12px;
  line-height: 18px;
  color: var(--card-text-color-light);
}

.card__price-item {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--card-text-color-dark);
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 166px;
  height: 40px;
  background: var( --card-button-color);
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.card__button:hover {
  border: 1px solid var( --card-button-color);
  background-color: #fff;
  color: var( --card-button-color);
}
