.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 16px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  padding-top: 16px;
  height: 134px;
  width: 160px;
  margin: 0 auto;
}

.card__nameProduct {
  padding-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.card__productCode {

  padding-top: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;

}

.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  align-items: center;
}

.priceText {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.priceItem {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 166px;
  height: 40px;
  background: #00acdc;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.card__button:hover {
  border: 1px solid #00acdc;
  background-color: #fff;
  color: #00acdc;
  box-sizing: border-box;
}
