.buy-button {
  max-width: 168px;
  padding: 12px 0;
  text-align: center;
  background-color: rgba(0, 172, 220, 1);
  border-radius: 5px;
  border: none;
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.buy-button:hover {
  color: rgba(0, 172, 220, 1);
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #00acdc;
}
