.card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 32px 16px 16px;
  box-sizing: border-box;
  background-color: $backgroundCardColor;
  border-radius: 5px;
  border: 1px solid #f3f3f3;

  &__img {
    align-self: center;
    margin-bottom: 40px;
  }

  &__title {
    font-weight: 500;
    margin-bottom: 4px;
    max-width: 166px;
    line-height: 18px;
    box-sizing: border-box;
  }

  &__subtitle {
    font-size: 10px;
    line-height: 14px;
    color: $subTitleColor;
    margin-bottom: 16px;
    max-width: 166px;
  }

  &__grade-inner {
    @include flex-alignment;
    margin-bottom: 24px;
    max-width: 166px;
  }

  &__review {
    font-size: 10px;
    line-height: 14px;
  }

  &__price-inner {
    @include flex-alignment;
    margin-bottom: 16px;
    max-width: 166px;
  }

  &__price-cost {
    font-size: 16px;
    font-weight: 700;
  }
}
