.html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
}

.body {
  background-color: #e5e5e5;
}

.card {
  display: flex;
  flex-flow: column wrap;
  padding: 32px 16px 16px;
  width: 200px;

  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
}

.card__image {
  height: 134px;
  object-fit: contain;

}

.card__title {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
  text-align: left;
}

.card__code {
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #616070;
  text-align: left;
}

.card__score {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.card__price-name {
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.card__price-value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #060b35;
}

.card__feedback {
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
}

.card__button:link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  width: 100%;
  padding: 12px;
  height: 40px;

  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;

  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;
}

.card__button:visited {
  color: #fff;
}

.card__button:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
