.image {
  object-fit: contain;
}

.name {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
  text-align: left;
}

.code {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #616070;
  text-align: left;
}

.score {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.score__feedback {
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__name {
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.price__value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #060b35;
}

.button:link {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  height: 40px;

  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;
}

.button:visited {
  color: #fff;
}

.button:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
