.stars {
  display: flex;
}

.stars :not(:last-child) {
  margin-right: 4px;
  background-image: url(../images/star-active.svg);
}

.stars_star {
  display: flex;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;

  width: 16px;
  height: 16px;
}
