/* region card */

.card {
  width: 200px;
  background: var(--color-white);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
      
.card__product-img {
  display: block;
  height: 134px;
  margin: 32px auto 40px;
}
      
.card__about-title {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark);
  margin: 0 16px 4px;
}
      
.card__about-product {
  color: var(--color-grey);
  font-size: 10px;
  line-height: 14px;
  margin: 0 16px 16px;
}
      
.card__reviews {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 16px 24px;
}
  
.card__reviews-container {
  font-size: 10px;
  line-height: 14px;
  color: var(--color-dark);
}
      
.card__cost {
  display: flex;
  justify-content: space-between;
  margin: 0 16px 16px;
}
      
.card__price {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-grey);
}
      
.card__price-value {
  font-weight: 700;
  line-height: 18px;
  color: var(--color-dark);
}
    
.card__button {
  background: var(--color-blue);
  border-radius: 5px;
  margin: 0 16px 16px;
}
      
.card__button-hover {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
      
.card__button-hover:hover {
  height: 38px;
  color: var(--color-blue);
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: 5px;
}

/* endregion */
