
/* #region button */
.card__button {
  box-sizing: border-box;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  font-weight: 700;
  width: 166px;
  background-color: var(--blue--color);
  border-radius: 5px;
  text-transform: uppercase;
  border: 1px solid var(--blue--color);
  cursor: pointer;
  margin-top: 16px;
}

.card__button:hover {
  background-color: #fff;
  color: var(--blue--color);
}

/* #endregion */
