
/* #region rating */

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rating__stars {
  display: flex;
}

.reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--dark--color);
}

.stars__star {
  background-image: url(../images/star-active.svg);
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px;
}

.stars__star:first-of-type {
  margin-left: 0;
}

.stars__star:nth-of-type(n+5) {
  background-image: url(../images/star.svg);
}

/* #endregion */
