
/* #region start--values */

.body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
}

.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 16px 16px;
  color: var(--dark--color);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
}

/* #endregion */
