:root {
  --primary-text: #060b35;
  --secondary-text: #616070;
  --primary-brdr: #f3f3f3;
  --btn-primary: #00acdc;
  --btn-secondary: #fff;
}

.card {
  width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid var(--primary-brdr);
  border-radius: 5px;
}

.card__img {

  height: 134px;
  width: 160px;

  margin: 32px 15px 40px;

}

.card__name {
  margin: 0 16px 4px;
  color: var(--primary-text);
}

.card__pid {
  margin: 0 auto 16px 16px;
}

.pid {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-text);
}

.card__body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;

  padding: 0 16px 24px;

}

.card__reviews {
  margin-left: auto;
  align-self: flex-end;
}

.reviews {
  font-weight: 300;
  font-size: 10px;
  line-height: 14px;
  color: var(--primary-text);
}

.card__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 16px 16px;
}

.price-price {
  font-weight: 300;
  color: var(--secondary-text);
}

.card__price-numbers {
  margin: 0 0 0 auto;
}

.price-numbers {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-text);
}

.card__link {
  display: block;
  padding: 11px 69px;
  margin: 0 16px 16px;
}

.link {
  background-color: var(--btn-primary);
  border: 1px solid transparent;
  border-radius: 5px;

  color: var(--btn-secondary);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.link:hover {
  background-color: var(--btn-secondary);
  color: var(--btn-primary);
  border: 1px solid var(--btn-primary);

}
