
.card {
  width: 200px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: $background-color;

  &__photo {
    height: 134px;
    width: 160px;
    margin: 32px 19px 0;
  }

  &__description {
    margin: 35px 16px 0;
    color: $primary-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__product-code {
    margin: 4px 0 0 16px;
    color: $secondary-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }

  &__rating {
    display: flex;
    flex-wrap: wrap;
    height: 16px;
    margin: 16px 16px 0;
  }

  &__review {
    color: $primary-color;
    margin-left: auto;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 3px;
  }

  &__price {
    width: $card-width;
    display: flex;
    justify-content: space-between;
    margin-top: 8px;

    &--text {
      color: $secondary-color;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      margin-left: 18px;
    }

    &--value {
      font-family: Roboto, sans-serif;
      margin-left: 50px;
      color: $primary-color;
      text-align: right;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  &__link {
    width: 166px;
    height: 40px;
    margin: 16px;
    border-radius: 5px;
    background: $blue-link-color;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
  }

  &__link:hover {
    color: $blue-link-color;
    background-color: $background-color;
    border: 1px solid $blue-link-color;
  }
}
