.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
}

.icon {
  width: 160px;
  height: 134px;
  top: 32px;
  margin: 0 auto 40px;
}

.card__title {
  width: 166px;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
  margin-bottom: 4px;
}

.card__code {
  width: 98px;
  height: 14px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.card__review {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #060b35;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card__butttom {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;
  width: 166px;
  height: 39px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.card__butttom:hover {
  background-color: #fff;
  border-color: #00acdc;
  color: #00acdc;
}
