.product-card__button {
  display: block;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background: #00acdc;
  align-self: flex-end;
  border: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.product-card__button:hover {
  color: #00acdc;
  background: #fff;
  border: 1px solid #00acdc;
}
