@import '../index';

.product-card {
  box-sizing: border-box;
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f3f3;
  justify-content: flex-start;
  padding-top: 32px;
  padding-bottom: 9px;
  border-radius: 5px;

  .product-card__text {
    width: 166;
    font-family: $font-choice;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    color: #060b35;
    margin-top: 40px;
  }

  .product-card__code {
    align-self: flex-start;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    color: #616070;
    padding-left: 17px;
    padding-top: 4px;
  }

  .product-card__stars-and-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 166px;

    width: 166;
    align-items: center;
    padding-top: 16px;
  }

  .product-card__reviews {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #060b35;
  }

  .product-card__price-and-cost {
    display: flex;
    flex-direction: row;
    width: 166px;
    justify-content: space-between;
    padding-top: 24px;
  }

  .product-card__price {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;
    vertical-align: bottom;
    color: #616070;
  }

  .product-card__cost {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
    color: #060b35;
  }

  .product-card__link {
    padding-top: 16px;
  }

  .product-card__button {
    display: block;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background: #00acdc;
    align-self: flex-end;
    border: none;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  .product-card__button:hover {
    color: #00acdc;
    background: #fff;
    border: 1px solid #00acdc;
  }
}
