// default settings
$fontFamily: "Roboto", sans-serif;
$fontSize: 12px;
$mainColor: rgb(6, 11, 53);

// card button
$btnColor: rgb(0, 172, 220);
$minorColor: 	rgb(97, 96, 112);
$bgColor: rgb(255, 255, 255);
