.card {
  width: 200px;
  height: 408px;
  flex-shrink: 0;
  background-color: $white;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $gray-elements;

  display: flex;
  flex-direction: column;

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px 19px 0;
  }

  &__content {
    margin: 40px 16px 16px;
    align-items: center;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__code {
    color: $secondary;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    margin-top: 4px;
  }

  &__reviews {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-top: 16px;
  }

  &__price {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 24px;

    &-label {
      color: $secondary;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }

    &-amount {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
    }
  }

  &__button {
    width: 100%;
    height: 40px;
    background-color: $blue-accent;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: $white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    &:hover {
      border-radius: 5px;
      border: 1px solid $blue-accent;
      background: $white;
      color: $blue-accent;
    }
  }
}
