@use '../utility/variables' as *;

.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border-radius: 5px;
  border: 1px solid $border;
  background: $white;

  &__image-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__image {
    width: 160px;
    height: 134px;
    padding-bottom: 40px;
  }

  &__title {
    margin: 0;
    padding-bottom: 4px;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.5;
    color: $main-accent;
  }

  &__code {
    padding-bottom: 16px;
    font-size: 0.63rem;
    font-weight: 400;
    line-height: 1.4;
    color: $secondary;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 24px;
  }

  &__reviews {
    font-size: 0.63rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: right;
    vertical-align: bottom;
    color: $main-accent;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
  }

  &__text {
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    vertical-align: bottom;
    color: $secondary;
  }

  &__number {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.13;
    text-align: right;
    vertical-align: bottom;
    color: $main-accent;
  }

  &__button {
    width: 100%;
    height: 40px;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 0.88rem;
    font-weight: 700;
    line-height: 1.14;
    color: $white;
    background: $blue-accent;

    &:hover {
      border: 1px solid $blue-accent;
      background: none;
      color: $blue-accent;
    }
  }
}
