.button {
  text-align: center;

  &__teg {
    margin: 16px 17px 17px;
    padding: 12px 70px;
    background-color: #00ACDC;
    border-radius: 5px;
    border: 1px solid rgb(0, 172, 220);
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }


  &__teg:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 172, 220);
  }
}
