.button {
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background: $sky-blue-color;
  color: #FFF;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: #fff;
    color: $sky-blue-color;
    border: 1px solid $sky-blue-color;
  }
}
