@use 'variables';

.button {
  text-align: center;

  &__link {
    display: block;
    margin: 16px 17px 17px;
    padding: 12px 70px;
    background-color: variables.$background-color-button__link;
    border-radius: 5px;
    border: 1px solid variables.$background-color-button__link;
    cursor: pointer;
    color: variables.$background-color-card__block;
    font-size: variables.$font-size-button__link;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__link:hover {
    background-color: variables.$background-color-card__block;
    color: variables.$background-color-button__link;
  }
}
