$bg-color: #e5e5e5;
$text-color: #060b35;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}

p,
h2 {
  margin: 0;
}
