.product-card {
  width: 200px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  opacity: 1;

  &__code,
  &__reviews {
    .product-card__text {
      font-size: 12px;
      margin: 0 16px;
      position: relative;
      color: #060b35;
    }
  }

  &__info-title {
    font-size: 14px;
    font-weight: 700;
    margin: 16px;
  }

  &__reviews {
    &--title {
      font-size: 14px;
      font-weight: bold;
      color: #333;
      margin-bottom: 0.5rem;
    }
  }
}
