.product-card {
  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    font-size: 12px;

    &-title {
      margin: 0 16px;
      font-weight: 500;
      font-size: 12px; // atualizado conforme solicitado
      line-height: 18px; // atualizado
      text-align: left;
      font-family: Roboto, sans-serif;
      letter-spacing: 0%;
      color: #000; // ou a cor que você deseja
    }
  }

  &__code {
    font-size: 12px;
  }
}
