.product-card__price {
  width: 100%;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  color: #060b35;
  margin-left: 16px;

  &-title {
    font-size: 12px;
    font-weight: 700;
  }

  &-value {
    margin-right: 16px;

    &--money {
      letter-spacing: 0%;
    }
  }
}
