.product-card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.stars {
  display: flex;
  margin-left: 10px;

  &__star {
    width: 16px;
    height: 16px;
    display: block;
    background-size: contain;
    margin: 2px;

    &--active {
      background-image: url('../images/star-active.svg');
    }

    &--inactive {
      background-image: url('../images/star.svg');
    }
  }
}
