.review {
  margin-top: 16px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
  &__stars{
    display: flex;
    justify-content: space-between;
   &-star {
    background-image: url(../images/star.svg);
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background-position: center;
    background-repeat: no-repeat;
    &:nth-of-type(-n+4) {
      background-image: url(../images/star-active.svg);
    }
    &:nth-last-child(1) {
      margin-right: 0;
    }
   }
  }

  &__amount{
    font-size: 10px;
    text-align: right;
    line-height: 14px;
    font-weight: 400;
  }
}
