.card__reviews {
  margin-top: 7px;
  align-items: center;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.card__reviews-stars-4 {
  display: flex;
}

.card__stars-star {
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-image: url(../images/star.svg);
}

.card__stars-star:not(:last-child) {
  margin-right: 4px;
}

.card__reviews-stars-4 .card__stars-star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.card__review-tex {
  padding-top: 1px;
  justify-content: center;
  align-items: center;
  display: flex;
  color: $main-text-color;
  font-size: 10px;
  font-weight: 300;
  line-height: 14px;
}
