.list {
  display: flex;
  align-items: flex-start;
  .list__item {
    background-image: url(../images/star-active.svg);
    background-position: center;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    list-style: none;
  }

  .list__item:last-child {
    background-image: url(../images/star.svg);
  }
  .list__item:not(:last-child) {
    margin-right: 4px;
  }
}
