.card__rating {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.stars {
  display: flex;

  &__star {
    height: 16px;
    width: 16px;
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 4px;
  }
}

.stars .stars__star:nth-last-child(-n+1) {
  background-image: url(../images/star.svg);
}

.reveiws {
  display: flex;
  justify-content: flex-end;

  width: 53px;
  height: 16px;
  color: $main-text-color;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}
