.action-link {
  box-sizing: border-box;
  display: block;

  font-size: 14px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;

  height: 40px;
  border-radius: 5px;
  background: $blue-accent;
  border: 1px solid $blue-accent;

  transition: all .3s ease;

  &:hover {
    color: $blue-accent;
    background: transparent;
  }
}
