.article {
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-family: Roboto, sans-serif;
  width: 166px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.article__picture {
  margin-top: 16px;
  padding-left: 3px;
  height: 134px;
  width: 160px;
  object-fit: fill;
}

.article__description {
  margin-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.article__code {
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.article__raiting {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.article__response {
  line-height: 14px;
  font-size: 10px;
  color: #060b35;
}

.article__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.article__price-point {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.article__amount {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.article__button {
  margin-top: 16px;
  padding-bottom: 3px;
  width: 166px;
  height: 40px;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  color: #fff;
}

.article__button:hover {
  color: #00acdc;
  font-weight: bold;
  background-color: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
}
