@use './variables.scss' as vars;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  width: 200px;
  height: 408px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: vars.$second-color;
}
