:root {
  --main-color: #00acdc;
  --text-color-gray: #616070;
  --text-color-darkblue: #060b35;
  --bg-color: #fff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0;
  font-weight: 400;
}
