@use '../utils/variables';

body {
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  background-color: variable.$body-background;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
