$primary-color: #00acdc;
$secondary-color: #fff;
$color-text: #616070;
$primary-color-text: #060b35;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  font-family: Roboto, sans-serif;
}
