.body {
  margin: 0;

  &__card {
    box-sizing: border-box;
    width: 200px;
    height: 406px;
    border-radius: 5px;
    border: 1px solid #f3f3f3;
    position: relative;

    background-image: url(../images/imac.jpeg);
    background-size: 160px 134px;
    background-repeat: no-repeat;
    background-position-x: 19px;
    background-position-y: 32px;
  }
}
