.bottom {
  width: $widthAllFlexBlocks;

  &__review {
    display: flex;
    font-weight: $fontWeightCustomText;
  }

  &__price {
    font-weight: $fontWeightCustomText;
    color: $secondaryFontcolor;
    line-height: 18px;
    font-size: 12px;

    &-amount {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--1--distance {
      margin: 16px 0 24px;
    }

    &--2--distance {
      margin-bottom: 16px;
    }
  }
}
