.btn {
  width: 100%;
  padding: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: $btn-secondary-color;
  background-color: $btn-main-color;
  border: 1px solid $btn-main-color;
  border-radius: 5px;

  &:hover {
    color: $btn-main-color;
    background-color: $btn-secondary-color;
  }
}
