.btn {
  display: inline-block;
  padding: 0.8em 4.9em;
  margin-top: 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  font-family: inherit;
  color: $white;

  background-color: $blue-accent;
  border: 1px solid transparent;
  border-radius: 5px;

  text-decoration: none;
  text-transform: uppercase;

  transition:
    background-color 0.2s linear,
    color 0.2s linear,
    border 0.2s linear;

  &:hover {
    background-color: $white;
    border: 1px solid $blue-accent;

    color: $blue-accent;
  }
}
