.card {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $button-color;
    border-radius: 5px;
    background-color: $button-color;

    width: 166px;
    height: 40px;

    &-text {
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      border-radius: 5px;

      padding: 12px 70px;
    }

    &-text:hover {
      background-color: #fff;
      color: $button-color;
    }
  }
}
