.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #00acdc;
  color: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
}

.button-buy:hover {
  background-color: #fff;
  color: #00acdc;
}
