.card__button {
  background: #00acdc;
  border-radius: 5px;
  display: flex;
  width: 100%;
  height: 40px;
}

.card__link {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  line-height: 40px;
  text-align: center;
  background-color: var(--blue-accent-color);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  color: #fff;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 14px;
}

.card__link:hover {
  background-color: #fff;
  border: 1px solid var(--blue-accent-color);
  color: var(--blue-accent-color);
}
