.product-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: var(--color-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--color-blue);
  border-radius: 5px;
  
}

.product-card__button:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}
