.buttom-buy {
  display: flex;
  justify-content: center;

  width: 166px;
  height: 40px;
  margin: 16px;

  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;

  background-color: #00acdc;
  border-radius: 5px;
}

.buttom-buy__link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.buttom-buy:hover {
  background-color: #fff;
  border: 1px solid #00acdc;

  transition: 0.3s;
}

.buttom-buy__link:hover {
  color: #00acdc;

  transition: 0.3s;
}
