.button {
  box-sizing: border-box;
  display: block;
  border-radius: 5px;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  color: $text-color-accent;
  font-weight: 700;
  font-size: 1rem;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 20px;
  cursor: pointer;
  transition:
    background-color $transition-duration $transition-function,
    color $transition-duration $transition-function;

  &:hover {
    background-color: #fff;
    color: $primary-color;
  }
}
