.button {
  margin-top: 16px;
  width: 166px;
  text-align: center;
  background-color: var(--color-btn);
  border: 1px solid transparent;
  border-radius: 5px;
}

.button:hover {
  background-color: white;
  border: 1px solid var(--color-btn);
}

.button__link {
  display: inline-block;
  padding: 10px;
  width: 80%;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 16px;
}

.button__link:hover {
  color: var(--color-btn);
}
