.card__button a {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: $main-button-color;
  color: #fff;
  font-weight: $font-weight-700;
  font-size: 14px;
  line-height: 16px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: $main-button-color;
    background-color: #fff;
    border: 1px solid $main-button-color;
  }
}
