.button {
  display: inline-block;
  width: 166px;
  height: 40px;
  margin-top: 16px;
  background-color: #00acdc;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;

  &__buy {
    width: 27px;
    height: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
  }
}

.button[data-qa='hover']:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
