.button {
  border-radius: 5px;
  background-color: $primery-color;
  border: none;
  font-weight: 700;
  font-size: 1rem;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: $text-color-accent;
  padding: 0 20px;
}
