.buttom {
  display: block;
}

.card__buttom {
  width: 166px;
  height: 40px;
  margin: 16px;

  font-weight: 700;
  font-size: 14px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;

  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;
}

.buttom__link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.card__buttom:hover {
  background-color: #fff;
  border-color: #00acdc;

  transition: 0.3s;
}

.buttom__link:hover {
  color: #00acdc;

  transition: 0.3s;
}
