.button-buy {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 15px;

  border: 1px solid var(--color-bl-accent);
  border-radius: 5px;
  background-color: var(--color-bl-accent);
}

.button-buy:hover {
  background-color: var(--color-white);
 
}

.button-buy__buy-link {
  font-size: var(--size-mid);
  font-weight: 700;
  line-height: 15px;
  text-decoration: none;
  padding: 12px 56px;

  color: var(--color-white);
}

.button-buy__buy-link:hover {
  color: var(--color-bl-accent);
}
