.button-buy {
  height: 40px;
  border-radius: 5px;

  background-color: $blue-color;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;

  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;

  &:hover {
    border: 1px solid $blue-color;
    background-color: #fff;
    color: $blue-color;
  }
}
