.button {
  width: 166px;
  height: 40px;
  border-radius: 5px;
  background-color: $blue-accent;
  border: 1px solid transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
}

.button:hover {
  background-color: #fff;
  border-color: $blue-accent;
  color: $blue-accent;
}
