.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 40px;
  background-color: $background-button-color;
  border-radius: 5px;
  margin: 0 16px 16px;

  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;

  color: #FFF;

  &:hover {
    width: 164px;
    height: 38px;
    border: 1px solid $background-button-color;
    border-radius: 5px;

    background-color: #fff;
    color: $background-button-color;
  }
}
