.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 40px;
  background-color: $button-color;
  border-radius: 5px;
  color: $button-activ;

  &--txt {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    border: solid $button-activ 1px;
    box-sizing: border-box;
  }

  &:hover {
    color: $button-color;
    background-color: $button-activ;
    border: solid $button-color 1px;
    box-sizing: border-box;
  }
}
