.button {
  color: $button-white;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: $button-widht;
  height: 40px;
  border-radius: 5px;
  background: $button-blue-color;
  border: none;
  cursor: pointer;
  margin-top: 16px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    height: 38px;
    width: 100%;
    background: none;
    border: 1px solid $button-blue-color;
    color: $button-blue-color;
  }
}
