.product-card__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;

  background-color: var(--blue-accent-color);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-card__buy-button:hover {
  background-color: #fff;
  border: solid 1px var(--blue-accent-color);
  color: var(--blue-accent-color);
  box-sizing: border-box;
}
