.buy-button {
  width: 166px;
  height: 40px;

  background-color: #00acdc;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-transform: uppercase;
  border: 2px solid #00acdc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  letter-spacing: 0%;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    background-color: #fff;
    color: #00acdc;
    border: 1px solid #00acdc;
  }
}
