.buy-link {
  display: flex;
  width: 166px;
  height: 40px;
  margin-left: $margin-left;
  margin-top: 16px;
  border-radius: 5px;
  background-color: #00acdc;
  color: #fff;
  border: 1px solid #00acdc;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 0%;

  text-decoration: none;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
}

.buy-link:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
  box-sizing: border-box;
}
