.buy-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 167px;
  height: 40px;
  border: 1px solid #00acdc;
  background-color: #00acdc;
  border-radius: 5px;
  cursor: pointer;
}

.main-info__button {
  margin-top: 15px;
  margin-bottom: 16px;
}

.buy-button__link {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.buy-button:hover {
  background-color: #fff;
}

.buy-button:hover .buy-button__link {
  color: #00acdc;
}
