.buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--color-blue);
}

.buy-link:hover {
  color: var(--color-blue);
  border: 1px solid var(--color-blue);
  background-color: #fff;
}
