/* #region buy */
.card__buy {
  margin: 0 auto;
}

.card__buy_link_button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  margin-top: 16px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
}

.card__buy_link_button:hover {
  background-color: #fff;
  color: var(--color-blue);
}
/* #endregion */
