@use './variables.scss';

.BUY {
  display: flex;
  width: 164px;
  height: 38px;
  border: 1px solid variables.$site-color;
  border-radius: 5px;
  margin: variables.$side-margin;
  background-color: variables.$site-color;
  color: #fff;
  text-decoration: none;
  font-family: variables.$site-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0%;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  &:hover {
    background-color: #fff;
    color: variables.$site-color;
  }
}
