.card__buy {
  display: block;
  background: #00acdc;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  padding: 12px 70px 12px 69px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
}

.card__buy:hover {
  background: $bg-color;
  border: 1px solid #00acdc;
  color: #00acdc;
}
