.card__buy {
  display: block;
  background: $bg-buy;
  color: $text-color-buy;
  text-decoration: none;
  border-radius: 5px;
  padding: 12px 69px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;

  &:hover {
    background: $text-color-buy;
    border: 1px solid #00acdc;
    color: $text-color-hover-buy;
    text-align: center;
    padding: 11px 68px;
  }
}
