.buyBtn {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border: 1px solid #00acdc;
  border-radius: 5px;
  background-color: #00acdc;
}

.buyBtn:hover {
  background-color: #fff;
}

.buyLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.buyLink:hover {
  color: #00acdc;
}
