.card {
  &__button {
    box-sizing: border-box;
    width: 166px;
    height: 40px;
    background-color: $blue_accent;
    border: 1px solid transparent;
    border-radius: 5px;
    display: block;

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: $color_white;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;
  }

  &__button:hover {
    background-color: $color_white;
    border-color: $blue_accent;
    border-radius: 5px;
    color: $blue_accent;
  }
}
