.product-card__bye {
  padding: 16px;
}

.product-card__button {
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  background: #00acdc;
  border: 1px solid #00acdc ;
  border-radius: 5px;
  padding: 11px 0;
}

.product-card__button:hover {
  background: white;
  color: #00acdc;
}
