.page-card {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.card {
  display: flex;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  align-items: center;
}

.card__product-images {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__product-name {
  font-weight: 500;
  font-size: 12px;
  color: var(--main-color-card);
  margin-bottom: 4px;
  line-height: 18px;
}

.card__product-code {
  font-weight: 400;
  font-size: 10px;
  color: var(--secondary-color-card);
  margin-bottom: 16px;
  align-items: start;
  width: 100%;
  line-height: 14px;
}

.card_stars-reviews {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card_reviews-text {
  font-weight: 400;
  font-size: 10px;
  color: var(--main-color-card);
  line-height: 14px;
}

.card_price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.card_price-text {
  font-weight: 400;
  font-size: 12px;
  color: var(--secondary-color-card);
  line-height: 18px;
}

.card_price-sum {
  font-weight: 700;
  font-size: 16px;
  color: var(--main-color-card);
  line-height: 18px;
}

.card_buy-link {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  line-height: 40px;
  color: #fff;
  background: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  height: 40px;
  width: 166px;
}

.card_buy-link:hover {
  background: #fff;
  color: #00acdc;
}
