
.cards {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  position: relative;
  padding-left: 16px;
  margin: 0;
  padding-bottom: 16px;
  padding-top: 32px;

  &-text {
    margin-bottom: 6px;
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    margin-left: 3px;

  }

  &-text__product {
    margin: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-accent;
    margin-bottom: 4px;

  }

  &-text__code {
    margin: 0;
    color: $secondary-color;
    font-size: 10px;
    line-height: 14px;

  }

  &-price {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-nmbr {
      font-size: 16px;
      color: $main-accent;
      margin-right: auto;
      padding-left: 86px ;
      font-weight: 700;
      line-height: 18px;
    }

    &-txt {
      font-size: 12px;
      line-height: 18px;
      color: $secondary-color;
    }
  }

  &-review {
    color: $main-accent;
    font-size: 10px;
    line-height: 14px;
    padding-right: 10px;
    padding-left: 19px;
  }

}

.stars-review {
  display: flex;
  align-items: center;
  text-align: center;
}

.button-link {
  width: 166px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: $blue-accent;
  color: $white-color;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
}

.button-link:hover {
  color: $blue-accent;
  border: 1px solid $blue-accent;
  background-color: $white-color;

}
