.card__reviews {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;

  &-count {
    color: $main-text-color;
    width: 53px;
    height: 16px;
    display: flex;
    justify-content: right;
    align-items: end;
    font-family: $main-font-family;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }
}
