.card__buy {
  width: 100%;
  text-decoration: none;
  color: #fff;
  background-color: var(--main-color);
  border-radius: var(--border-radius);
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.card__buy:hover {
  color: var(--main-color);
  background: #fff;
  border: 1px solid var(--main-color);
}
