.card__review {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: var(--width-blocks);
}

.card__review--margin {
  margin: 14px 16px 0;
}

.card__text-review {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: var(--size-ex-sm);
  line-height: 14px;

  display: flex;
  align-items: flex-end;

  color: #060b35;
}
