.card__price {
  margin-bottom: 16px;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-color);
}

.price__value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--main-accent-color);
}
