
.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.product-card__img {
  align-self: center;
  height: 134px;
  width: 160px;
}

.product-card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-darkblue);
  margin-top: 40px;
  margin-bottom: 4px;
}

.product-card__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__code {
  display: flex;
  align-items: flex-start;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-gray);
  margin-bottom: 16px;
}

.product-card__review {
  font-size: 10px;
  color: var(--color-darkblue);
}

.product-card__price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
}

.product-card__price {
  font-size: 12px;
  line-height: 18px;
  color: var(--color-gray);
}

.product-card__price-exact {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: (--color-darkblue);
}

.product-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-decoration: none;
  color: var(--color-white);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--color-blue);
  border-radius: 5px;
  
}

.product-card__button:hover {
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}
