$bgcolor-bt: #00acdc;
$color-grey:#616070;
$color-black: #060b35;
$fs12: 12px;

.card {
  display: flex;
  flex-direction: column;
  width: 198px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    margin: 33px 19px 0;
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__container {
    margin: 40px 16px 16px;
  }

  &__title {
    padding-bottom: 4px;
  }

  &__title-h2 {
    font-weight: 500;
    font-size: $fs12;
    line-height: 18px;
    margin: 0 ;
  }

  &__subtitle {
    font-size: 10px;
    line-height: 14px;
    color: $color-grey;
    padding-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-black;
    padding-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;

    &-left {
      font-size: $fs12;
      line-height: 18px;
      color: $color-grey;
    }

    &-right {
      font-size: 16px;
      line-height: 18px;
      font-weight: 700;
    }
  }

  &__link-button {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 11px 69px;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;

    background: $bgcolor-bt;
    border: 1px solid #00acdc;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__link-button:hover {
    color: $bgcolor-bt;
    background: #fff;
  }
}
