
.card__main-info {
  display: flex;
  flex-direction: column;
  margin: 0 0 16px;
}

.card__describe-main {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-main-black);
  margin: 0 0 4px;
}

.card__describe-code {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: #616070;
}
