.card {
  width: 166px;
  padding: 32px 16px 16px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  font-size: 12px;
  line-height: 14px;
}

.card__image {
  display: flex;
  margin: auto;
  margin-bottom: 40px;
}

.card__title {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  color: var(--fontMainColor);
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 18px;
}

.card__productCode {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  font-weight: lighter;
  font-family: "Roboto-Regular", sans-serif;
}

.card__review {
  font-size: 10px;
  line-height: 14px;

  font-style: normal;
  font-family: "Roboto-Regular", sans-serif;

  color: #060b35;
}

.card__price {
  color: #616070;
  line-height: 18px;
  font-family: "Roboto-Regular", sans-serif;
}

.card__block {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card__block--price {
  margin-bottom: 16px;
  line-height: 18px;
}

.card__price--value {
  font-family: "Roboto-Bold", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card__link {
  display: flex;
  justify-content: center;
  font-family: "Roboto-Bold", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;

  background: #00acdc;
  border-radius: 5px;
  border: 1px solid transparent;
  color: #fff;

  padding: 12px 0;
}

.card__link:hover {
  background-color: #fff;
  border: 1px solid #00acdc;

  color: #00acdc;
}
