/* #region card__price */

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price-text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: var(--text1);
}

.card__price-sum {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--text2);
}

/* #endregion */
