/* #region card__name */

.card__name {
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text2);
  margin-bottom: 4px;
}

/* #endregion */
