.card {
  background: $color-white;
  border: 1px solid $color-second-white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: 200px;

  &__button-container {
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: $color-blue;
    border: 0;
    margin-top: 16px;
  }

  &__background {
    width: 200px;
    height: 408px;
    background-color: $color-white;
    border: 1px solid $color-second-white;
    border-radius: 5px;
    background-repeat: no-repeat;
  }

  &__product-code {
    line-height: 14px;
    margin-top: 4px;
    font-family: $font-family;
    font-weight: $font-width;
    font-size: $font-size-first;
    color: #616070;
  }

  &__price-label {
    align-items: flex-end;
    width: 31px;
    line-height: 18px;
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-width;
    font-size: $font-size-second;
    color: #616070;
    margin-right: 85px;
  }

  &__price {
    align-items: flex-end;
    text-align: right;
    width: 50px;
    line-height: 18px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: $color-dark;
  }

  &__review-count {
    text-align: right;
    align-items: center;
    line-height: 14px;
    font-family: $font-family;
    font-style: normal;
    font-weight: $font-width;
    font-size: $font-size-first;
    color: $color-dark;
  }

  &__product-name {
    width: 166px;
    line-height: 18px;
    color: $color-dark;
    margin-top: 40px;
    font-family: $font-family;
    font-style: normal;
    font-weight: 500;
    font-size: $font-size-second;
  }

  &__review {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
  }

  &__price-container {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
  }

  &__image {
    margin: 0 auto;
    width: 160px;
    height: 134px;
  }

  &__button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
  }

  &__button:hover {
    border: 1px solid $color-blue;
    border-radius: 5px;
    color: $color-blue;
    background-color: $color-white;
    cursor: pointer;
  }
}
