.card__picture {
  width: 160px;
  height: 134px;
  left: calc(50% - 160px / 2);
  top: 32px;

  background-image: url(../../images/imac.jpeg);
  background-size: cover;

}

.card__picture--margin {
  margin: 32px 20px 0;
}
