.card__buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: var(--color-main-blue);
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.3s;
}

.card__buy-link:hover {
  background-color: #fff;
  border-color: var(--color-main-blue);
  color: var(--color-main-blue);
}
