.card__text {
  margin-bottom: 4px;
  color: $main-text-color;
  width: 166px;
  height: 36px;
  top: 207px;
  left: 17px;
  font-family: $main-font-family;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
