.card__description {
  position: absolute;
  width: var(--width-blocks);
  height: 36px;
  left: calc(50% - 168px / 2);
  bottom: 162px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--size-sm);
  line-height: 18px;

  color: #060b35;
}
