.card__price {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width-blocks);
}

.card__price--margin {
  margin-top: 28px;
}

.card__price-text {
  font-size: var(--size-sm);
  line-height: 18px;
}

.card__price-sum {
  font-size: var(--size-big);
  font-weight: 700;
  line-height: 18px;
}
