.card__button-buy {
  color: #fff;
  background-color: $main-button-color;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  font-family: $main-font-family;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  &[data-qa='hover']:hover {
    border: 1px solid $main-button-color;
    color: $main-button-color;
    background-color: #fff;
  }
}
