.card {
  display: flex;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 198px;
  height: 406px;
  flex-direction: column;
}

.card__image-container {
  display: flex;
  height: 134px;
  margin: 32px 19px 40px;
  background: url(/images/imac.jpeg) no-repeat;
  background-size: 160px 134px;
}

.card__title {
  display: flex;
  margin: 0 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.card__code {
  display: flex;
  height: 14px ;
  margin: 4px 16px 16px;
  font-weight: 400;
  font-size: 10px;
  color: #616070 ;
}

.card__coins {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 16px 16px;
  height: 18px;
}

.card__price {
  color: #616070;
  font-weight: 400;
  font-size: 12px;
}

.card__main {
  font-weight: 700;
  font-size: 16px;
  color: #060b35;
}

.card__bem {
  display: flex;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 16px;
}
