/* #region card__button */

.card__button {
  width: 166px;
  height: 40px;
  background: var(--button);
  border: 1px solid var(--button);
  border-radius: 5px;
  align-self: center;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: var(--white);
}

.card__button:hover {
  border: 1px solid var(--button);
  background: var(--white);
  color: var(--button);
}

/* #endregion */
