.card {
  width: 200px;
  height: 408px;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  border: 1px solid $color_text_secondary;
  border-radius: 5px;
  padding: 32px 16px 16px;


   &__img {
     width: 160px;
     height: 134px;
     display: block;
     margin: 0 auto 40px;
     background-image: url('../images/imac.jpeg');
     background-size: cover;
     flex-shrink: 0;
   }

  &__descr {
    color: $color_text_main;
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    vertical-align: baseline;
  }

  &__prodcode {
    margin-top: 4px;
    line-height: 14px;
    font-size: 10px;
    color: #616070;
  }

  &__reviews {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    padding-left: 17px;
    font-size: 10px;
    color: $color_text_main;
    line-height: 14px;
  }


    &__buy {
      margin-top: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__price {
      font-size: 12px;
      line-height: 18px;
      color: #616070;
      padding-right: 85px;
    }

    &__tag {
      color: $color_text_main;
      font-size: 16px;
      text-align: right;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
    }


    &__button {
      text-decoration: none;
      margin-top: 16px;
      font-weight: 700;
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 166px;
      height: 40px;
      border: 1px solid transparent;
      text-transform: uppercase;
      border-radius: 5px;
      color:$color_text_secondary;
      background-color: $color_button_buy;

      &:hover{
        color: $color_button_buy;
        background-color: $color_text_secondary;
        border: 1px solid $color_button_buy;
      }

    }


}
