.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-item {
  font-size: 12px;
  line-height: 18px;
  color: $secondary-color;
}

.price {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: $main-color;
}
