.product-card__button {
  display: block;
  width: 166px;
  height: 40px;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  color: #fff;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 11px 0;
}

.product-card__button:hover {
  background: #fff;
  color: #00acdc;
}
