.card__product {
  padding: $card-padding;

  &-img {
    display: flex;
    justify-content: center;
    &--position {
      padding: $product-img-padding 0;
    }
  }

  &-name {
    margin: $product-img-padding + 8 0 4px;
  }

  &-stars {
    padding: $product-img-padding 0;
  }

  &-price {
    margin: 8px 0 $product-img-padding;
  }
}
