.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  background: var(--blue-accent-color);
  border-radius: 5px;
  border: 1px solid #dc000000;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.card__button:hover {
  background: #fff;
  color: var(--blue-accent-color);
  border-color: var(--blue-accent-color);
}
