.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  width: 160px;
  height: 134px;
}

.card__title {
  margin-top: 40px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.card__code-product {
  margin-top: 4px;
  align-self: flex-start;

  font-weight: 400;
  line-height: 14px;
  color: #616070;
}

.card__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__wrapper--reviews {
  margin-top: 16px;
}

.card__review {
  font-weight: 400;
  line-height: 14px;
}

.card__wrapper--price {
  margin-top: 24px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-tag {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  margin-top: 16px;
  padding: 11px 69px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;

  text-transform: uppercase;
  border: 1px solid #00acdc;
  border-radius: 5px;
  background-color: #00acdc;
  cursor: pointer;
  transition: color 0.2s linear, background-color 0.2s linear;
}

.card__buy-btn:hover {
  color: #00acdc;
  background-color: #fff;
}
