/* #region card__rating */

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
  margin-bottom: 24px;
}

.card__stars {
  display: flex;
}

.card__rating-star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card__rating-star:last-child {
  background-image: url(../../images/star.svg);
}

.card__review {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: var(--text2);
}

/* #endregion */
