.card {
  width: 200px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  margin: 32px 19px 40px;
  height: 134px;
  width: 160px;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.card__title {
  margin: 0 16px 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__code {
  margin: 0 0 16px 16px;
  color: #616070;
}

.card__rewiew {
  margin: 0 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.card__price-value {
  margin: 0 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__button {
  margin: 0 16px 16px;
  padding: 12px 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;

}

.card__link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.card__button:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
}

.card__button:hover .card__link {
  color: #00acdc;
}
