.card__photo {
  margin: 32px 19px 40px;
  width: 160px;
  height: 134px;
  background-position: center;
  background-size: 100% 100%;
  background-image: url('./images/imac.jpag');
  background-repeat: no-repeat;
}
