.card__description {
  width: var(--width-blocks);
  height: 36px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: var(--size-sm);
  line-height: 18px;

  color: #060b35;
}

.card__description--margin {
  margin: 38px 16px 0;
}
