.card__item-code {
  position: absolute;
  width: 92px;
  height: 14px;
  left: calc(50% - 92px / 2 - 38px);
  bottom: 143px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--size-ex-sm);
  line-height: 14px;
  
  color: #616070;
}
