.button__element {
  color: #fff;
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: var(--blue-accent);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
}

.button__element--hover {
  background-color: #fff;
  color: var(--blue-accent);
  border: 1px solid var(--blue-accent);
}

.button__element:hover {
  background-color: #fff;
  color: var(--blue-accent);
  border: 1px solid var(--blue-accent);
  transition: all 0.2s ease-in-out;
}
