.catalog {
  display: grid;

  // grid-template-columns: repeat(4, 1fr);
  gap: 48px 46px;
  padding: 50px 40px;

  grid-template-columns: 1fr;

  @media (min-width: 488px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

//  .cards{
//      width: 200px;
//   height: 300px;
//   border: 1px solid red
//   }
