.card__item-code {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: rgba(97, 96, 112, 1);
  margin-bottom: 16px;
}
