.container {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 5px;
  height: 406px;
  width: 199px;
  padding: 16px;
}

.foto {
  background: url(/images/imac.jpeg) center no-repeat;
  height: 134px;
  width: 160px;
  background-size: 100%;
}

.container__foto {
  margin: 16px 3px 40px;
}

.text {
  text-align: justify;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 166px;
  height: 36px;
  color: rgb(6, 11, 53);
  font-family: "Roboto", sans-serif;
}

.code {
  width: 166px;
  font-size: 10px;
  line-height: 14px;
  color: rgb(97, 96, 112);
  font-weight: 400;
  font-family: "Roboto", sans-serif;
}

.container__code {
  margin-top: 4px;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 166px;
  height: 18px;
}

.container__price {
  margin-top: 24px;
}

.price__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  color: rgb(97, 96, 112);
}

.price__value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: rgb(6, 11, 53);
}

.buy {
  background-color: rgb(0, 172, 220);
  border-radius: 5px;
  border: rgb(0, 172, 220) 1px solid;
  width: 166px;
  height: 40px;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.container__buy {
  margin-top: 16px;
}

.buy:hover {
  background-color: white;
  color: rgb(0, 172, 220);
}
