.container {
  margin: 0;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;

  &__card {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;
    margin: 32px 16px 16px;
  }
}
