.content {
  &__description {
    font-weight: 500;
    font-size: 12px;
    color: $first-color-text-content;
    margin: 0;
    line-height: 18px;
  }

  &__code {
    font-weight: $font-weight-normal;
    font-size: 10px;
    line-height: 14px;
    color: $second-color-text-content;
    margin-top: 4px;
  }
}
