.cost {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;
  width: 166px;
  height: 18px;
  margin: 24px auto 0;

  &__price {
    width: 31px;
    color: $secondary-color;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    text-align: right;
    margin: 0;
  }

  &__amount {
    color: rgba(6, 11, 53, 1);
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
    margin: 0;
  }
}
