.cost {
  display: flex;
  justify-content: space-between;
  margin-left: $retreat-margin-left;
  margin-top: 24px;
  width: $tablet-min-width;

  &__text {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  &__price {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
  }
}
