.descr {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 166px;
}

.descr__modelName {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(6, 11, 53, 1);
  margin-bottom: 4px;
}

.descr__modelCode {
  align-self: start;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: rgba(97, 96, 112, 1);
}
