.description__name {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}

.description__code {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.description__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.description__comment {
  font-size: 10px;
  color: #060b35;
}
