.product-card__description {
  width: 166px;
  height: 36px;
  margin-left: calc(50% - 166px / 2);
  margin-bottom: 4px;
  margin-top: 0;
}

.description-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}
