.product__description {
  margin-top: 40px;
  margin-bottom: 0;
}

.product__title {
  font-family: Roboto;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #060B35;
  text-decoration: none;
}

.product__title:hover {
  color: #00ACDC;
}
