.description {
  margin-top: 40px;
  text-align: start;

  &__name {
    font-weight: $normal-font;
    font-size: 12px;
    line-height: 18px;
  }

  &__code {
    margin-top: 4px;
    font-size: 10px;
    line-height: 14px;
    font-weight: $light-font;
    color: $lighter-text-color;
  }
}
