.feedback {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #060b35;
}

.stars {
  display: flex;
}

.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:nth-child(-n+1),
.stars__star:nth-child(-n+2),
.stars__star:nth-child(-n+3),
.stars__star:nth-child(-n+4),
.stars__star:nth-child(-n+5) {
  background-image: url(../../images/star-active.svg);
}

.feedback-number {
  font-size: 10px;
}
