.footer {
  padding-inline: 16.67px;
  padding-top: 16px;

  &__button {
    padding: 0;
    width: 166px;
    height: 40px;
    border: 1px solid #00acdc;
    border-radius: 5px;
    background: #00acdc;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    align-items: center;

    &:hover {
      background: #fff;
      color: #00acdc;
    }
  }
}
