html {
  box-sizing: border-box;

  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 100%;

  --color-dark-blue: #060b35;
  --color-light-grey: #616070;
  --color-light-blue: #00acdc;
}
