/* #region header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  background-color: #fff;
}

.header__logo {
  cursor: pointer;
  position: left;
}

.header__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__item {
  display: list-item;
  text-align: center;
  margin-left: 20px;
}

.header__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  height: 60px;
  color: #000;
  text-transform: uppercase;
  position: relative;
}

.header__link:hover {
  color: #00acdc;
}

.is-active {
  color: #00acdc;
  position: relative;
}

.is-active:after {
  position: absolute;
  content: "";
  height: 4px;
  width: 100%;
  border-radius: 8px;
  background-color: #00acdc;
  bottom: 0;
}
/* #endregion */
