.header {
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  padding: 0 50px;
  box-shadow: 0 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.header__logo {
  height: 40px;
  width: 40px;
}
