/* #region icon */
.icon {
  display: flex;
  width: 160px;
  height: 134px;
  background-size: cover;
  background-position: center;

  &--screen {
    background-image: url(../images/imac.jpeg);
  }
}

/* #endregion */
