.wrap_image {
  width: 160px;
  height: 134px;
  margin-top: 32px;
  margin-left: 19px;
  margin-right: 19px;
}

.product_image {
  background-image: url(../images/imac.jpeg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
