.image {
  background-image: url('../images/imac.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 160px;
  height: 134px;
  margin: 32px 19px 40px;
}
