
.card {
  display: flex;
  flex-direction: column;

  height: 406px;
  width: 200px;

  border-radius: 5px;
  border: 1px solid #f3f3f3;
}

.card__product {
  display: flex;
  justify-content: center;
  position: relative;
}

.card__image {
  height: 134px;
  width: 160px;
  margin-top: 32px;
  margin-bottom: 40px;
}
