html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: antiquewhite;
  display: flex;
  font-family: Roboto, sans-serif;
  flex-direction: row;
  gap: 20px;
}

p {
  margin: 0;
}

a {
  margin: 0;
}
