body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

main {
  border-radius: 5px;
  border: 1px solid $greyElements;
  background: $whiteElements;
  box-sizing: border-box;
}

button {
  border: none;
}
