body {
  margin: 0;
}

.container {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 198px;
  height: 406px;
  border: 1px solid $gray-elements;
  border-radius: 5px;
  position: relative;

  &__imac {
    margin: 32px 0;

    &-image {
      height: 134px;
      width: 160px;
    }
  }

  &__link {
    font-weight: 500;
    font-size: 12px;
    margin-top: 4px;

    &-text {
      text-decoration: none;
      color: $main-accent;
      margin-left: 16px;
      margin-right: 16px;
      margin-bottom: 4px;
      display: flex;
      line-height: 18px;
    }
  }

  &__code {
    display: flex;
    font-size: 10px;
    font-weight: 400;
    color: $secondary;
    line-height: 14px;
    width: 166px;
  }

  &__ratings {
    margin-top: 18px;
    display: flex;
    width: 166px;
  }

  &__reviews {
    font-size: 10px;
    font-weight: 400;
    color: $main-accent;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  &__price {
    margin-top: 25px;
    height: 17px;
    width: 166px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-word {
      color: #616070;
      font-size: 12px;
      font-weight: 400;
    }

    &-number {
      color: #060b35;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__button {
    width: 166px;
    height: 40px;
    background-color: $blue-accent;
    border-radius: 5px;
    margin-top: 16px;
    margin-bottom: 16px;
    line-height: 16px;
    display: flex;
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid #00acdc;
    color: #00acdc;
  }
}
