.info {
  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: rgba(6, 11, 53, 1);
    margin-bottom: 4px;
  }

  &__product-code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: rgba(97, 96, 112, 1);
    margin-bottom: 16px;
  }
}
