.product-card__item-code {
  width: 166px;
  height: 14px;
  margin-left: calc(50% - 166px / 2);
  margin-bottom: 16px;
}

.code-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}
