/* #region learning-format */
.learning-format {
  background-color: lightgray;
}

.learning-format__title {
  margin: 0;
}

.learning-format__benefits {
  margin: 0;
}
/* #endregion learning-format */
