.card__link {
  margin-top: 16px;
  width: 166px;
  height: 40px;
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  text-decoration: none;
  background-color: var(--color-for-link);
  color: var(--white-color);
  border: 1px solid var(--color-for-link);
  cursor: pointer;
  
}

.card__link:hover {
  color: var(--color-for-link);
  background-color: var(--white-color);
}
