.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 40px;
  margin-left: calc(50% - 83px);
  background-color: #00acdc;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
  color: #00acdc;
}
