$btn-height: 40px;
$border-thickness: 1px;

.linkbtn {
  height: $btn-height;
  display: block;
  box-sizing: border-box;
  border: $border-thickness solid #00acdc;
  border-radius: 5px;
  background-color: #00acdc;

  font-size: 14px;
  font-weight: 700;
  line-height: $btn-height - $border-thickness * 2;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  &:hover {
    background-color: #ffffff;
    color: #00acdc;
    border-color: #00acdc;
  }
}
