.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--blue);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 16px 16px;
  border: 1px solid #ccc transparent;
}

.card__link:hover {
  background: #fff;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  height: 38px;
}
