.main-info {
  display: flex;
  flex-direction: column;
}

.main-info__reviews {
  margin-top: 15px;
}

.reviews {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
}

.reviews__feedback {
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: 14px;
  color: var(--main-text-color);
}

.main-info__text {
  font-size: var(--font-size-normal);
  font-weight: 500;
  line-height: 18px;
  color: var(--main-text-color);
}

.main-info__code {
  font-size: var(--font-size-small);
  font-weight: 400;
  line-height: 14px;
  margin-top: 4px;
  color: var(--secondary-text-color);
}

.price {
  display: flex;
  justify-content: space-between;
}

.main-info__price {
  margin-top: 24px;
}

.price__name {
  font-weight: 400;
  font-size: var(--font-size-normal);
  line-height: 20px;
  color: var(--secondary-text-color);
}

.price__value {
  font-weight: bold;
  font-size: var(--font-size-big);
  line-height: 18px;
  color: var(--main-text-color);
}
