.product-card {
  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid var(--color-white-snow);
  border-radius: 5px;
}

.product-card__image {
  width: 100%;
}

.product-card__title {
  font-size: 12px;
  margin-top: 37px;
  line-height: var(--title-line-height);
  font-weight: 500;
  color: var(--color-black-blue);
}

.product-card__subtitle {
  margin-top: 4px;
  color: var(--color-grey);
  font-weight: 400;
  font-size: 10px;
}

.product-card__rates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  line-height: 16px;
}

.product-card__reviews {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-black-blue);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-top: 24px;
}

.product-card__price-title {
  font-size: 12px;
  line-height: var(--title-line-height);
  font-weight: 400;
  color: var(--color-grey);
}

.product-card__price-block {
  line-height: var(--title-line-height);
  font-weight: 700;
  font-size: 16px;
}

.product-card__buy-link {
  display: block;
  text-align: center;
  padding: 11px 0;
  margin-top: 16px;
  background-color: var(--color-light-blue);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid transparent;
}

.product-card__buy-link:hover {
  background-color: var(--color-white);
  border-color: var(--color-light-blue);
  color: var(--color-light-blue);
}
