.card__btn {
  width: 166px;
  box-sizing: border-box;
  display: inline-block;
  border-radius: 5px;
  border: none;
  background: $blue-color;
  color: $white-color;
  padding: 12px 72px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;

  &:hover {
    border: 1px solid $blue-color;
    background: $white-color;
    color: $blue-color;
    line-height: 14px;
  }
}


body {
  font-family: $main-font-family;
  margin: 0;
  text-align: center;
  color: $main-text-color;
}

p {
  margin: 0;
}
