:root {
  --main-input-color: #00acdc;
  --main-color: #060b35;
  --dark-color: #616070;
  --light-color: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  padding: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}
