body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: $main-font-family;
}

.card__informacion {
  margin: 0 16px 16px;
  width: 166px;
}

.card {
  width: 198px;
  height: 406px;
  top: 1px;
  left: 1px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
}
