.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 400px;
  opacity: 1;
  border-radius: 5px;
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
