.menu {
  padding-top: 40px;
  padding-inline: 16.67px;

  &__h1 {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #060b35;
  }

  &__h2 {
    margin: 0;
    padding-top: 4px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #616070;
  }

  &__stars {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    width: 166px;
    height: 16px;
    gap: 17px;

    &-text {
      font-size: 10px;
      font-weight: 400;
      line-height: 19px;
      text-align: right;
      color: #060b35;
      align-content: center;
    }
  }
  &__price {
    padding-top: 24px;
    display: flex;
    justify-content: space-between;

    &-text {
      color: #616070;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
      text-align: left;
    }

    &-many {
      color: #060b35;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: right;
    }
  }
}

.stars {
  display: flex;
  gap: 4px;

  &__star {
    background-image: url(../images/star.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;

    &:nth-child(-n + 4) {
      background-image: url(../images/star-active.svg);
    }
  }
}
