@mixin button-sizing {
  height: 40px;
  width: 166px;
}

@mixin background-sizing {
  height: 134px;
  width: 160px;
}

@mixin background-style {
  background-image: url(../images/imac.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}

@mixin star-style {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}
