.stars--4 .stars__item:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.card__button--styles {
  color: white;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 40px;

  &:hover {
    background-color: #fff;
    color: rgb(0, 172, 220);
    border: 1px solid rgb(0, 172, 220);
  }
}
