@use '../utils/variables.scss' as *;

.card__descr {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: $fontColor;
  margin-top: 40px;
}

.card__product-code {
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  color: $textColor;
  margin-top: 4px;
}
