body {
  @include font($size: 10px, $weight: 400, $color: $main-accent-color);

  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
}

button {
  background-color: transparent;
  color: inherit;
  border-width: 0;
  padding: 0;
  cursor: pointer;
}

h1,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}
