*,
*::before,
*::after {
  box-sizing: border-box;
}

.body {
  margin: 0;
  font-family: $font-main;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-page-bg;
}
