/* #region page */
.page {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;

  --section-bottom-gap: 24px;
}

.page__header {
  position: sticky;
  top: 0;
  margin-bottom: 51px;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* #endregion page */
