$border-color: #f3f3f3;
$background-color: #fff;
$button-color: #00acdc;
$main-color-font: #060b35;
$second-color-font: #616070;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@mixin space {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

html {
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}
