html {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

* {
  font-weight: 500;
  font-size: 12px;
}

.page__content {
  display: flex;
  min-height: 100vh;
}

.page__main {
  display: flex;
  margin: 51px 41px 0;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.page__card {
  max-width: 198px;
}
