/* #region page */

.page {
  color: $color;
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  line-height: 18px;
  font-size: 12px;
}

.card__top--page {
  margin-bottom: 40px;
}

.card__product-code--page {
  margin-bottom: 16px;
}

.card__describe--page {
  margin-bottom: 4px;
}

.card__reviews--page {
  margin-bottom: 24px;
}

.card__price--page {
  margin-bottom: 16px;
}

/* #endregion */
