.page {
  font-family: "Roboto", "Helvetica", sans-serif;
  color: #060b35;
  line-height: 18px;
  font-weight: 400;
  --secondary-color: #616070;
  --blue-color: #00acdc;
  --white-color: #fff;
}

.page__body {
  margin: 0;
  padding: 0;
}
