$main_accent: rgba(6, 11, 53, 1);
$secondary: rgba(97, 96, 112, 1);
$color_white: rgba(255, 255, 255, 1);
$blue_accent: rgba(0, 172, 220, 1);
$hover_color: rgba(243, 243, 243, 1);

html {
  font-family: "Roboto", Helvetica, sans-serif;
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  background-color: $color_white;
  border-radius: 5px;
  border: 1px solid $hover_color;

  &__photo {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }
}
