@use '../utils/variables.scss' as *;

.card__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  vertical-align: bottom;
  color: $textColor;
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: $fontColor;
}
