.product-card__prise {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin-bottom: 16px;
}

.product-card__prise-text {
  font-weight: normal;
  font-size: 12px;
}

.product-card__prise-amount {
  font-weight: bold;
  font-size: 16px;
}
