.price-string {
  @include flex-between-center;

  margin-top: 24px;

  &__price {
    color: $lighter-text-color;
    font-weight: $light-font;
    font-size: 12px;
  }

  &__value {
    font-weight: $bold-font;
    font-size: 16px;
  }
}
