.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 12px;
  line-height: 150%;
  color: #616070;
  flex-grow: 0;
}

.product-card__price {
  margin-bottom: 16px;
}

.price__value {
  font-size: 16px;
  font-weight: 700;
  line-height: 112%;
  order: 1;
}
