.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 16px;
  width: $width-card;

  &__text {
    font-weight: $font-weight-normal;
    font-size: 12px;
    line-height: 18px;
    color: $second-color-text-content;
  }

  &__total {
    font-weight: $font-weight-bold;
    font-size: 16px;
    line-height: 18px;
    color: $first-color-text-content;
  }
}
