.price-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;

  &__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $main-font-family;
    margin-bottom: 16px;

    &-price-text {
      margin: 0;
      font-size: 12px;
      line-height: $main-line-height;
      font-weight: 400;
      color: $secondary-color;
    }

    &-price {
      margin: 0;
      font-weight: 700;
      color: $primary-color;
      font-size: 16px;
      line-height: $main-line-height;
    }
  }

  &-buy-button {
    font-family: $main-font-family;
    color: $button-text-color;
    background: $button-color;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    padding-block: 12px;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;

    &:hover {
      color: $button-color;
      background: #ffffff;
      border: 1px solid $button-color;
    }
  }
}
