.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 18px;
  width: 166px;

  margin: 0;

  &__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: $font-main-color;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: right;
    color: $font-main-color;
  }
}
