.price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  &__title {
    font-weight: 400;
    font-size: 12px;
    color: $color-secondary;
    margin: 0;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
    color: $color-main-accent;
    margin: 0;
  }
}
