@use '../utils/variables.scss' as *;

.price-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__label {
    font-weight: 400;
    font-size: 12px;
    color: $grey;
    line-height: 18px;
  }

  &__amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
}
