.product-card__prise {
  padding: 24px 16px 0;
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}

.product-card__prise-text {
  font-weight: normal;
  font-size: 12px;
}

.product-card__prise-amount {
  font-weight: bold;
  font-size: 16px;
}
