.price {
  display: flex;
  margin-top: 24px;
  margin-left: $margin-left;
  margin-right: $margin-right;
  justify-content: space-between;

  &-product {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  &-amounts {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #000;
  }
}
