.product-card__reviews {
  position: relative;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  text-decoration: none;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 0%;
  color: #060B35;
}
