.product-picture-link {
  position: relative;

  &__image {
    display: block;
    width: 160px;

    // Why do we have to stretch an image o_O
    height: 134px;
  }

  &:hover &__image {
    scale: 1.2;
  }
}
