.product-card {
  width: 200px;
  padding: 32px 16px 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__link-img {
  display: flex;
  justify-content: center;
}

.product-card__img {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;

}

.product-card__title {
  font-size: inherit;
  margin: 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  line-height: calc(18 / 12);
  color: #060b35;
  margin-bottom: 3px;
}

.product-card__subtitle {
  display: inline-block;
  font-size: 10px;
  line-height: calc(14 / 12);
  color: #616070;
  margin-bottom: 18px;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.product-card__review {
  color: #060b35;
  font-size: 10px;
}

.product-card__price-tag {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  align-items: center;
}

.product-card__price {
  color: #616070;
}

.product-card__cost {
  color: #060b35;
  font-weight: 700;
  font-size: 16px;
}

.product-card__buy-link {
  display: flex;
  background: #00acdc;
  border-radius: 5px;
  text-decoration: none;
  width: 100%;
  padding: 11px 0;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc(14 / 12);
  line-height: 16px;
  border: 1px solid transparent;
}

.product-card__buy-link:hover {
  background-color: #fff;
  color: #00acdc;
  border-color: #00acdc;
}
