h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.product-card {
  box-sizing: border-box;
  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid $border-color;
  border-radius: 5px;
  background: $bg-color;
  align-items: center;

  &__picture {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__title {
    color: $main-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__subtitle {
    color: $second-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__reviews-rating {
    color: $main-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-text {
    color: $second-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  &__price-number {
    color: $main-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__button {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 166px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    background: $button-color;
    padding: 12px 70px;
    color: $bg-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;

    &:hover {
      box-sizing: border-box;
      border: 1px solid $button-color;
      border-radius: 5px;
      color: $button-color;
      background-color: transparent;
    }
  }
}
