.product-card__button {
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &--buy {
    padding: 8px 16px;
    background-color: #060b35;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
