.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  padding: 32px 16px 16px;
}

.product-card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.product-card__title {
  font-size: 12px;
  font-weight: 500;
  color: var(--main-text-color);
  line-height: 18px;
  margin-bottom: 4px;
}

.product-card__code {
  font-size: 10px;
  font-weight: normal;
  line-height: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.product-card__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.reviews {
  font-size: 10px;
  font-weight: normal;
  color: var(--main-text-color);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  line-height: 18px;
}

.product-card__price-text {
  color: var(--secondary-text-color);
  font-size: 12px;
}

.product-card__price-value {
  font-size: 16px;
  font-weight: 700;
  color: var(--main-text-color);
}

.product-card__buy {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;

  background-color: var(--main-color);
  border: var(--main-color) solid 1px;
  
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.product-card__buy:hover {
  color: var(--main-color);
  background-color: #fff;
}
