.product {
  --color-dark: #060b35;
  --color-light: #616070;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 32px 16px 16px;

  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product__img {
  display: block;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.product__title {
  margin-bottom: 6px;

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color-dark);
}

.product__code {
  margin-bottom: 18px;

  color: var(--color-light);
}

.product__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 26px;
}

.product__reviews-text {
  color: var(--color-dark);
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product__price-text {
  font-size: 12px;
  color: var(--color-light);
}

.product__price-value {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-dark);
}

.buy-btn {
  --color-main: #00acdc;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 68px;

  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;

  background-color: var(--color-main);
  border: 1px solid transparent;
  border-radius: 5px;

  transition: background-color 0.3s, color 0.3s;
}

.buy-btn:hover {
  color: var(--color-main);

  background-color: #fff;
  border-color: var(--color-main);
}
