.product-card {
  width: 200px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #F3F3F3;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  color: $main-text-color;
  font-family: 'Roboto', sans-serif;

  &__block {
    align-items: center;
    display: flex;
    justify-content: space-between;

    &--upper {
      margin-bottom: 24px;
      margin-top: 16px;
    }
    &--lower {
      margin-top: 0px;
      margin-bottom: 16px;
    }
  }

  &__image {
    margin-top: 16px;
    margin-bottom: 40px;
    margin-left: 3px;
    background-size: 100% 100%;
    background-position: top center;
  }

  &__title {
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__product-code {
    margin-top: 4px;
    color: $secondary-text-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }

  &__reviews {
    text-align: right;
    font-size: 10px;
    font-weight: 400;
  }

  &__price-title {
    color: $secondary-text-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  &__price-amount {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy-button {
    display: block;
    width: 166px;
    height: 40px;

    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;

    background-color: $blue-accent-color;
    border-radius: 5px;

    &:hover {
      color: $blue-accent-color;;
      border: 1px solid $blue-accent-color;
      background: #FFF;
    }
  }
}
