.product-card__button--buy {
  margin: 16px;
  width: 166px;
  height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: #00acdc;
  border: none;
  color: #fff;
}

.product-card__button--buy:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
