@use '../utils/mixins.scss' as *;

.product-card {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  background-color: #fff;

  padding: 32px 16px 16px;

  width: 200px;
  height: 408px;

  border-radius: 5px;
  border: 1px #f3f3f3 solid;

  &__img {
    box-sizing: border-box;
    width: 160px;
    height: 134px;
    background-image: url(../images/imac.jpeg);
    align-self: center;

    background-size: 100% 100%; /* замість contain */
    background-position: center;
    background-repeat: no-repeat;
  }

  &__name {
    box-sizing: border-box;
    display: flex;
    margin-top: 40px;

    @include font-of-family;

    font-size: 12px;
    line-height: 18px;

    font-weight: 500;
    color: #060b35;
  }

  &__product-code {
    box-sizing: border-box;
    align-self: flex-start;
    margin-top: 4px;

    @include font-of-family;

    font-size: 10px;
    font-weight: 400;
    line-height: 14px;

    color: #616070;
  }

  &__price-block {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-top: 24px;
  }

  &__text {
    box-sizing: border-box;
    display: flex;

    @include font-of-family;

    font-size: 12px;
    line-height: 18px;

    letter-spacing: 0;
    text-align: right;
    vertical-align: bottom;

    color: #616070;
  }

  &__price {
    box-sizing: border-box;
    margin-left: auto;

    @include font-of-family;

    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
  }

  &__button {
    box-sizing: border-box;
    margin-top: 16px;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: #00acdc;
    border-style: none;
    color: #fff;

    @include font-of-family;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-align: center;
    text-transform: uppercase;
  }

  &__button:hover {
    background-color: #fff;
    color: #00acdc;
    border: 1px #00acdc solid;
  }
}
