.product-about__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-about__title {
  font-size: 12px;
  font-weight: 500;
  color: var(--color-dark-blue);
  line-height: 18px;
}

.product-about__code {
  font-size: 10px;
  font-weight: var(--fw-regular);
  color: var(--color-gray);
  margin: 4px 0 16px;
}

.product-about__comments {
  font-size: 10px;
  font-weight: var(--fw-regular);
  color: var(--color-dark-blue);
  line-height: 0;
}

.product-about__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px;
}

.product-about__price-text {
  font-size: 12px;
  font-weight: var(--fw-regular);
  color: var(--color-gray);
}

.product-about__price-value {
  font-size: 16px;
  font-weight: var(--fw-bold);
  color: var(--color-dark-blue);
}
