.product-price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  line-height: 18px;
}

.product-price__word {
  font-size: 12px;
  font-weight: 400;
  color: var(--color-grey-text);
}

.product-price__value {
  font-size: 16px;
  font-weight: 700;
}
