
.product {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: $white-accent;
  padding: 32px 16px 16px;
  width: 200px;

  &__img {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    margin-bottom: 4px;
    width: $width-content;
    color: $main-text-color;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    color:$secondary-text-color;
    margin: 0;
    margin-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    width: $width-content;
    height: 16px;
  }

  &__reviews-amount {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $main-text-color;

    font-size: 10px;
    text-align: right;
    line-height: 14px;
  }

  &__price {
    display: flex;
    margin-bottom: 16px;
    margin-top: 24px;
    width: $width-content;
    height: 18px;
    justify-content: space-between;
  }

  &__price-text {
    color:$secondary-text-color;
    font-size: 12px;
    line-height: 18px;
  }

  &__price-amount {
    color: $main-text-color;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__button {
    margin: 0 auto;
    display: block;
    width: $width-content;
    height: 40px;
    border-radius: 5px;
    background-color: $blue-accent;
    border: 1px solid $blue-accent;

    color: $white-accent;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      background-color: $white-accent;

      color:$blue-accent;
    }
  }
}
