.product {
  display: flex;
  flex-direction: column;
  margin: 16px;

  &__img {
    width: 160px;
    height: 134px;
    object-fit: contain;
    padding: 16px 3px 40px;
  }

  &__name {
    color: #060b35;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 4px;
  }

  &__code {
    color: #616070;
    font-size: 10px;
    line-height: 14px;
    padding-bottom: 16px;
  }

  &__review {
    padding-bottom: 24px;
  }

  &__price {
    padding-bottom: 16px;
  }

  &__button {
    height: $button-height;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00acdc;
    border-radius: 5px;
    box-sizing: border-box;

    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 16px;
    text-decoration: none;

    &:hover {
      background-color: #fff;
      border: 1px solid #00acdc;
      color: #00acdc;
    }
  }

}
