.product {
  display: flex;
  flex-direction: column;
  height: 404px;
  width: 200px;
  padding: 16px;
  border: 1px solid #f3f3f3;
}

.product__image-box {
  align-self: center;
  margin: 16px 4px 40px;
}

.product__image {
  display: flex;
  height: 134px;
  width: 160px;
}

.product__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-color);
  margin-bottom: 4px;
}

.product__code {
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.price__text {
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-color);
}

.price__number {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--main-color);
}
