.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 166px;
  padding: 0 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__imac {
  display: flex;
  margin-top: 32px;
  width: 160px;
  height: 134px;
}

.product-card__description {
  display: flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  margin-top: 40px;
  width: 100%;
}

.product-card__code {
  display: flex;
  justify-content: flex-start;
  font-family: inherit;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  width: 100%;
  margin-top: 4px;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}

.product-card__review {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 24px;
}

.product-card__price1 {
  font-family: inherit;
  font-weight: normal;
  color: #616070;
}

.product-card__price2 {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.product-card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  height: 38px;
  width: 100%;
  font-family: inherit;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.product-card__link:hover {
  background-color: #fff;
  color: #00acdc;
}
