.product-card {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid var(--border-color);
}

.product-card__goods-image {
  align-self: center;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.product-card__title {
  margin-bottom: 4px;
  color: var(--main-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}

.product-card__code {
  margin-bottom: 16px;
  color: var(--secondary-color);
  font-size: 10px;
  line-height: 140%;
}

.product-card__rating {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 24px;
}

.product-card__stars {
  margin-right: 17px;
}

.product-card__reviews {
  color: var(--main-color);
  font-size: 10px;
  line-height: 140%;
}

.product-card__price-wrapper {
  display: flex;
  justify-content: space-between;
}

.product-card__label {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 150%;
}

.product-card__price {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 112%;
  margin-bottom: 16px;
}

.product-card__buy-button {
  padding: 12px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  color: #fff;
  background-color: var(--link-color);
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 114%;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 0.3s ease;
}

.product-card__buy-button:hover {
  color: var(--link-color);
  border-color: var(--link-color);
  background: #fff;
}
