body {
  font-family: 'Roboto', serif;
  font-weight: 500;
  margin: 0;
}

.product-card {
  display: flex;
  flex-direction: column;
  width: 198px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    margin: 32px 19px;
    width: 160px;
    height: 134px;
    background-image: url(../images/imac.jpeg);
    background-size: cover;
    background-position: center;
  }

  &__description {
    width: 166px;
    height: 36px;
    margin: 0px 16px;
    margin-top: 8px;

    font-size: 12px;
    line-height: 18px;
    color: #000;
  }

  &__code {
    color: #616070;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    margin-left: 16px;
    padding-top: 4px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin: 0 16px;
    margin-top: 24px;
    width: 166px;
    line-height: 18px;
  }

  &__reviews {
    margin: 0 16px;
    margin-top: 16px;
    width: 166px;
    height: 16px;
  }

  &__button {
    margin: 16px;
    text-transform: uppercase;
    width: 166px;
    height: 40px;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-spacing-trim: 0.5px;
    background-color: #00acdc;
    color: #fff;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: #fff;
      color: #00acdc;
      border: 1px solid #00acdc;
    }
  }
}
