html {
  font-family: 'Roboto', sans-serif;
}

.product {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: var(--color-white);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product__img {
  width: 160px;
  height: 134px;
  margin: 32px 19px 0;
}

.product__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-name);
  padding: 40px 16px 4px;
}

.product__code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-price);
  padding-left: 16px;
  padding-bottom: 16px;
}

.product__price {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  padding: 0 16px 16px;
}

.product__price-item{
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-price);
}

.product__price-total {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text);
}

.product__link {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  justify-content: center;

  background: var(--color-blue);
  color: var(--color-white);

  margin: 0 16px 16px;
  padding: 11px 69px 11px 69px;

  border: 1px solid transparent;
  border-radius: 5px;
}

.product__link:hover {
  background: var(--color-white);
  color: var(--color-blue);
  border-color: var(--color-blue);
}