.purchase {
  &__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    display: block;
    padding-block: 12px;
    box-sizing: border-box;
    background-color: $buttonColor;
    border-radius: 5px;
    text-align: center;

    &:hover {
      background-color: #fff;
      color: $buttonColor;
      border: 1px solid $buttonColor;
    }
  }
}
