.purchase-button {
  height: 40px;

  background-color: $color-blue-accent;
  color: $color-white;
  border-radius: $radius;
  border: none;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  &:hover {
    background-color: $color-white;
    color: $color-blue-accent;
    border: 1px solid $color-blue-accent;
  }
}
