.product-card__rank {
  display: flex;
  margin-left: calc(50% - 166px / 2);
  width: 166px;
  height: 16px;
  margin-bottom: 24px;
}

/* #region Review*/
.product-card-reviews {
  display: flex;
  justify-content: flex-end;
}

.reviews-text {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  height: 16px;
  color: #060b35;
  justify-content: center;
  text-align: center;
  align-items: center;
}

/* #endregion */

/* #region Stars */
.stars--4 {
  display: flex;
}

.stars__star {
  background-image: url(../../images/star.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 4px;
  background-position: center;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(../../images/star-active.svg);
}
/* #endregion */
