@use '../utils/variables.scss' as *;

.rate-section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__reviews {
    font-weight: 500;
    font-size: 10px;
    color: $main-color;
  }
}
