.product-card__stars {
  display: flex;
}

.stars {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url(/images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-card__stars--1 .stars:nth-child(-n+1),
.product-card__stars--2 .stars:nth-child(-n+2),
.product-card__stars--3 .stars:nth-child(-n+3),
.product-card__stars--4 .stars:nth-child(-n+4),
.product-card__stars--5 .stars:nth-child(-n+5) {
  background-image: url(/images/star-active.svg);
}
