.card {
  &__rate {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px;
  }

  &__stars {
    display: flex;
  }

  &__stars-star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    margin-left: 4px;
  }

  &__stars :last-child {
    background-image: url(../images/star.svg);
  }

  &__reviews-text {
    font-size: $small_font;
    font-weight: 400;
    color: $main_accent;
    line-height: 14px;
  }
}
