.product-card-rating {
  padding: 17px 16px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.stars {
  display: flex;
}

.stars__star {
  padding-right: 3px;
  width: 16px;
  height: 16px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--1 > .stars__star:nth-child(1),
.stars--2 > .stars__star:nth-child(-n+2),
.stars--3 > .stars__star:nth-child(-n+3),
.stars--4 > .stars__star:nth-child(-n+4),
.stars--5 > .stars__star:nth-child(-n+5) {
  background-image: url(../../images/star-active.svg);
}

.product-card-rating__count-review {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
}
