.rating {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 24px;
}

.rating__stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  display: inline-flex;
}

.stars--5 > .stars__star,
.stars--1 :first-child,
.stars--2 :first-child,
.stars--3 :first-child,
.stars--4 :first-child,
.stars--2 :nth-child(2),
.stars--3 :nth-child(2),
.stars--4 :nth-child(2),
.stars--3 :nth-child(3),
.stars--4 :nth-child(3),
.stars--4 :nth-child(4) {
  width: 16px;
  height: 16px;
  background-image: url(../../images/star-active.svg);
  background-repeat: no-repeat;
  display: inline-flex;
}

.rating__responses {
  margin: 0;
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: inline-flex;
}
