.rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  
    &__items{
      font-size: 13px;
      display: inline-flex;
      color: #e4b400;
    }
    
    &__reviews{
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      color:#060B35;
    }
    &__star {
     margin: 2px;
    }
    &__star5 {
      color: #dfdfdf;
      margin: 2px;
    }
  }
  