.card-block__rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--1 > :first-child,
.stars--2 > :nth-child(-n+2),
.stars--3 > :nth-child(-n+3),
.stars--4 > :not(:last-child),
.stars--5 > .stars__star {
  background-image: url(../../images/star-active.svg);
}

.stars {
  display: flex;
  justify-content: space-between;
}

.card-block__rating-feedback {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
}
