.rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: $standart-inline-pad;
  padding-bottom: 24px;
}

.rating__review {
  font-size: 10px;
  font-weight: 400;
  color: $standart-black-color;
}
