.rating {
  display: flex;
  flex-direction: row;
  width: 166px;
  height: 16px;
  justify-content: space-between;
  align-content: center;
  padding-bottom: 24px;
}

.rating__stars-star {
  width: 16px;
  height: 16px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  display: inline-flex;
}

.rating__stars-5 > .stars__star,
.rating__stars-1 :first-child,
.rating__stars-2 :first-child,
.rating__stars-3 :first-child,
.rating__stars-4 :first-child,
.rating__stars-2 :nth-child(2),
.rating__stars-3 :nth-child(2),
.rating__stars-4 :nth-child(2),
.rating__stars-3 :nth-child(3),
.rating__stars-4 :nth-child(3),
.rating__stars-4 :nth-child(4) {
  width: 16px;
  height: 16px;
  background-image: url(../../images/star-active.svg);
  background-repeat: no-repeat;
  display: inline-flex;
}

.rating__responses {
  margin: 0;
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: inline-flex;
}
