
.reference {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.reference__button {
  box-sizing: border-box;
  height: 40px;
  width: var(--width_of_card_elements);

  background-color: var(--button_color);
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;

  line-height: 38px;
  font-size: 14px;
  text-align: center;
  font-weight: var(--font_weight_of_button);
  text-transform: uppercase;
}

.reference__button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: var(--button_color);
  border-color: var(--button_color);
}
