* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body,
.card__product-name,
.card__product-code,
.card__product-reviews,
.card__price-title,
.card__price-cost {
  margin: 0;
}
