.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.card__reviews {
  min-width: max-content;
  align-self: end;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-main);
}

.stars {
  display: flex;
  justify-content: left;
  width: 100%;
  margin: 0;
}

.stars__star {
  background-image: url(../../images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 0;
}

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url(../../images/star-active.svg);
  margin-right: 4px;
}
