.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;

  &__quantity {
    font-size: 10px;
    line-height: 16px;
    text-align: right;
    color: $main-color;
  }
}
