.card__reviews {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.reviews__stars {
  display: flex;
  align-items: center;
}

.reviews__item {
  height: 16px;
  width: 16px;
  margin-top: 0;
  margin-left: 16px;

  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__item:not(:first-child) {
  margin-left: 4px;
}

.reviews__stars--stars--1 .reviews__item:nth-child(1),
.reviews__stars--stars--2 .reviews__item:nth-child(-n+2),
.reviews__stars--stars--3 .reviews__item:nth-child(-n+3),
.reviews__stars--stars--4 .reviews__item:nth-child(-n+4),
.reviews__stars--stars--5 .reviews__item:nth-child(-n+5) {
  background-image: url(../../images/star-active.svg);
}

.reviews__count {
  font-size: 10px;
  color: #060b35;

  margin: 0 16px;
}
