.reviews-box__text {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.reviews-box__text {
  padding-top: 2px;
}

.reviews-box {
  display: flex;
  justify-content: space-between;
}

.reviews-box {
  margin-bottom: 24px;
  align-items: center;
}
