.review__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: var(--width-blocks);

  margin: 26px 0 11px;
}

.price__text {
  font-size: var(--size-sm);
  line-height: 18px;
}

.price__sum {
  font-size: var(--size-big);
  font-weight: 700;
  line-height: 18px;
}
