.review {
  display: flex;
  flex-direction: row-reverse;
  color: $mainAccent;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  padding-bottom: 24px;
  justify-content: space-between;
}
