.reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;

  &__text {
    font-family: Roboto, serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
    color: $main-color;
  }
}
