.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
}

.review-count {
  color: var(--text-main-color);
  text-align: right;
  line-height: 16px;
}
