@use '../utils/variables' as *;
@use '../utils/mixins' as *;


.reviews {
  @include flex-space-between;

  width: 166px;

  line-height: 18px;

  &__text {
    @include roboto-400;

    font-size: 10px;
  }
}
