.review__text-review {
  position: static;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--size-ex-sm);
  line-height: 14px;

  display: flex;
  align-items: flex-end;

  color: #060b35;
}
