/* #region section */
.section__card {
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
  width: 200px;
  margin: 0 25px var(--section-bottom-gap);
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.section__iconProduct {
  margin: 16px auto 0;
  width: 160px;
  height: 134px;
}

.section__nameProduct {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.section__article {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
  margin-top: 4px;
}

.section__stars {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section__review {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #060b35;
}

.section__price {
  margin-top: 24px;

}

.price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.price__name {
  font-weight: 400;
  font-size: 12px;
}

.price__sum {
  font-weight: 700;
  font-size: 16px;
}

.section__button {
  margin-top: 16px;
  border-radius: 5px;
  height: 40px;
  background-color: #00acdc;
  color: #fff;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #fff;
}

.section__button:hover {
  color: #00acdc;
  border-color: #00acdc;
  background-color: #fff;
}
/* #endregion section*/
