.card__buy {
  box-sizing: border-box;
  height: 40px;
  width: 166px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background: #00acdc;
  color: #fff;
  border-radius: 5px;
  margin-top: 0;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  border: 1px solid #00acdc;
}

.card__buy:hover {
  box-sizing: border-box;
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
