.card__img {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto 40px;
}

.card__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0;
  color: #060b35;
}

.card__code {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616072;
  text-align: left;
  margin-left: 0;
  margin-top: 4px;
  margin-bottom: 0;
}
