/* #region section */
.section {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  color: #060b35;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 16px;
}

.section__iconProduct {
  margin: 16px auto 0;
  width: 160px;
  height: 134px;
}

.section__nameProduct {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.section__article {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
  margin-top: 4px;
}

.section__stars {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.section__review {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #060b35;
}

.section__price {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section__price-name {
  font-weight: 400;
  font-size: 12px;
}

.section__price-sum {
  font-weight: 700;
  font-size: 16px;
}

.section__button {
  margin-top: 16px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  padding: 10px 54px 12px;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.section__button:hover {
  color: #00acdc;
  background-color: #fff;
}
/* #endregion section*/
