.stars {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}

.stars__star {
  height: 16px;
  width: 16px;
  background-image: url(../../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--0 :nth-child(n),
.stars--1 :nth-child(n + 2),
.stars--2 :nth-child(n + 3),
.stars--3 :nth-child(n + 4),
.stars--4 :nth-child(n + 5) {
  background-image: url(../../images/star.svg);
}
