.stars__star {
  position: relative;
  height: 12px;
  width: 13px;
  margin-right: 6px;

  background-image: url(../../images/star.svg);
  background-size: cover;
}

.stars__star:nth-child(-n + 4) {
  background-image: url(../../images/star-active.svg);
}
