.stars {
  display: flex;
}

.card__block {
  display: flex;
  margin-left: 16px;
}

.stars__img {
  background-image: url(../../images/star.svg);
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.stars__img--1 :nth-child(-n+1),
.stars__img--2 :nth-child(-n+2),
.stars__img--3 :nth-child(-n+3),
.stars__img--4 :nth-child(-n+4),
.stars__img--5 :nth-child(-n+5) {
  background-image: url(../../images/star-active.svg);
}
