.stars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.stars__rating {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__rating--1 .stars__star:nth-child(-n+1),
.stars__rating--2 .stars__star:nth-child(-n+2),
.stars__rating--3 .stars__star:nth-child(-n+3),
.stars__rating--4 .stars__star:nth-child(-n+4),
.stars__rating--5 .stars__star:nth-child(-n+5) {
  background-image: url(../../images/star-active.svg);
}

.stars__reviews {
  font-size: 10px;
  line-height: 14px;
  color: var(--dark-blue-color);
}
