.rate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 166px;
  margin-top: 16px;
}

.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  background: url(/images/star.svg) center no-repeat;
  margin-left: 4px;
}

.stars__star:first-child {
  margin-left: 0;
}

.rate__stars--1 .stars__star:nth-child(-n + 1),
.rate__stars--2 .stars__star:nth-child(-n + 2),
.rate__stars--3 .stars__star:nth-child(-n + 3),
.rate__stars--4 .stars__star:nth-child(-n + 4),
.rate__stars--5 .stars__star:nth-child(-n + 5) {
  background: url(/images/star-active.svg) center no-repeat;
}

.review {
  font-size: 10px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: rgb(6, 11, 53);
}
