@use '../utils/variables' as *;

.stars {
  display: flex;

  &__star {
    background-image: url(#{$star-image});
    background-repeat: no-repeat;
    background-position: 50%;
    width: $star-size;
    height: $star-size;
    margin-right: $star-gap;
    &:last-child {
      margin-right: 0;
    }
  }

  @for $i from 1 through 5 {
    &--#{$i} &__star:nth-child(-n + #{$i}) {
      background-image: url(#{$star-active-image});
    }
  }
}
