.stars-container {
  &__stars {
    display: flex;
  }

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star-active.svg);
    background-position: center;
    background-repeat: no-repeat;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  &__stars--0 &__star:nth-child(n),
  &__stars--1 &__star:nth-child(n + 2),
  &__stars--2 &__star:nth-child(n + 3),
  &__stars--3 &__star:nth-child(n + 4),
  &__stars--4 &__star:nth-child(n + 5) {
    background-image: url(../images/star.svg);
  }
}
