.stars {
  display: flex;

  &__star {
    background-image: url(../images/star.svg);
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;

    &:last-child {
      margin-right: 0;
    }
  }
  &--0 :nth-child(0),
  &--1 :nth-child(-n + 1),
  &--2 :nth-child(-n + 2),
  &--3 :nth-child(-n + 3),
  &--4 :nth-child(-n + 4),
  &--5 :nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }
}
