.stars {
  display: flex;
  flex-direction: row;
}

.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;

  background-image: url(/images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.card__stars_stars-4 :last-child,
.card__stars_stars-3 :nth-last-child(-n + 2),
.card__stars_stars-2 :nth-last-child(-n + 3),
.card__stars_stars-1 :nth-last-child(-n + 4),
.card__stars_stars-0 :nth-last-child(n) {
  background-image: url(/images/star.svg);
}
