.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url(../images/star-active.svg);
    background-repeat: no-repeat;
    background-position: center;

    &:not(:first-child) {
      margin-left: 4px;
    }
  }

  &--card {
    position: absolute;
    bottom: 0;
    left: 0;

    opacity: 0;
    pointer-events: none;

    &:target {
      opacity: 1;
      pointer-events: none;
    }
  }

  &--active {
    opacity: 1;
  }

  &--0 :nth-child(n),
  &--1 :nth-child(n + 2),
  &--2 :nth-child(n + 3),
  &--3 :nth-child(n + 4),
  &--4 :nth-child(n + 5),
  &--5 :nth-child(n + 6) {
    background-image: url(../images/star.svg);
  }
}

