.stars-Wrapper {
  display: flex;
  justify-content: space-between;
}

.stars-Wrapper__row {
  display: flex;
  margin-bottom: 24px;
}

.stars-Wrapper__card-reviews {
  font-size: 10px;
  line-height: 16px;
  color: var(--black-color);
}

.stars-Wrapper__row--stars-4 {
  display: flex;
}

.star {
  width: 16px;
  height: 16px;
  background-image: var(--star);
  background-repeat: no-repeat;
  background-position: center;
}

.star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: var(--light-star);
}
