.star {
  width: $star-width;
  height: $star-height;

  &--active {
    background-image: url(../images/star-active.svg);
    background-size: cover;
  }

  &--inactive {
    background-image: url(../images/star.svg);
    background-size: cover;
  }
}
