.stars {
  display: flex;
  align-items: center;

  &__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/star-active.svg);
  }

  &__star:last-child {
    background-image: url(../images/star.svg);
  }
}

.rate-reviews {
  flex-direction: column;
  justify-content: flex-end;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  margin: 0;
}
