.stars {
  display: flex;

  &__star {
    display: flex;
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/star.svg);

    &:last-child {
      margin: 0;
    }
  }

  &--0 :nth-child(-n+0),
  &--1 :nth-child(-n+1),
  &--2 :nth-child(-n+2),
  &--3 :nth-child(-n+3),
  &--4 :nth-child(-n+4),
  &--5 :nth-child(-n+5) {
    background-image: url(../images/star-active.svg);
  }
}
