.rate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;

  &__stars {
    display: flex;
  }

  &__item {
    width: 16px;
    height: 16px;
    background: url(../images/star-active.svg) center no-repeat;
    margin-right: 4px;
  }

  &__item:nth-child(5) {
    background-image: url(../images/star.svg);
  }
}
