.rate {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;

  &__stars {
    display: flex;
  }

  &__item {
    width: 16px;
    height: 16px;
    background: url(../images/star.svg) center no-repeat;
    margin-right: 4px;
  }

  &__stars--1 .rate__item:nth-child(-n + 1),
  &__stars--2 .rate__item:nth-child(-n + 2),
  &__stars--3 .rate__item:nth-child(-n + 3),
  &__stars--4 .rate__item:nth-child(-n + 4),
  &__stars--5 .rate__item:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }
}
