.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  font-family: "Roboto", Times, serif;
  font-style: normal;
}

.card__image {
  width: 160px;
  height: 134px;
  margin-top: 32px;
  margin-left: 19px;
  margin-right: 19px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  color: var(--color-main_accent);
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 18px;
}

.card__product {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-secondary);
  margin-top: 4px;
  margin-left: 16px;
  margin-bottom: 0;
  line-height: 14px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.card__reviews {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-main_accent);
  line-height: 14px;
}

.card__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
  margin-left: 16px;
  margin-right: 16px;
  line-height: 18px;
}

.card__price {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary);
}

.card__cost {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-main_accent);
  display: flex;
  align-items: flex-end;
  text-align: right;
}

.card__button {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 16px;
  width: 166px;
  height: 40px;
  border: var(--color-blue_accent);
  border-radius: 5px;
  background: var(--color-blue_accent);
  line-height: 16px;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  color: var(--color-white);
}

.card__button:hover {
  border-color: var(--color-white);
  border: 1px solid var(--color-blue_accent);
  color: var(--color-blue_accent);
  background: var(--color-white);
}
