a {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 16px;
  width: 166px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  background-color: $bg-button-color;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: $button-color;
  text-decoration: none;
}

a:hover {
  border: 1px solid $bg-button-color;
  background-color: $button-color;

  color: $bg-button-color;
}
