.card {
  display: flex;
  flex-direction: column;
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
}

.card__image {
  background-size: cover;
  height: 134px;
  width: 160px;
  margin: 0 auto 40px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: hsl(234, 80%, 12%);
  margin-bottom: 4px;
}

.card__subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: left;
  color: #616070;
  margin-bottom: 16px;
}

.card__reting {
  display: flex;
  height: 16px;
  margin-bottom: 24px;
  justify-content: space-between;
  align-items: center;
}

.card__reviews {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
  color: hsl(234, 80%, 12%);
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 60px;
  width: 166px;
  margin: 0 auto 16px;
}

.card__price-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  color: hsl(234, 80%, 12%);
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00acdc;
  height: 40px;
  width: 166px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  border: 1px solid transparent;

  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 16px;
}

.card__link:hover {
  color: #00acdc;
  background: hsl(0, 0%, 100%);
  border-color: hsl(193, 100%, 43%);
  border-radius: 5px;
}
