.review {
  display: flex;
  justify-content: center;
}

.review--size {
  display: flex;
  width: 166px;
  justify-content: space-between;
  align-items: flex-end;
  gap: 19px;
  margin: 0 16px 24px;

}

.review__stars-list {
  display: flex;
  width: 96px;
  justify-content: space-between;
  padding: 0;
}

.review__star {
  display: inline-block;
  background-image: url("/images/star.svg");
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  border-radius: 0.5px;
  background-position: center;
  list-style: none;
}

.review__star--star-1,
.review__star--star-2,
.review__star--star-3,
.review__star--star-4 {
  background-image: url("/images/star-active.svg");
  width: 16px;
  height: 16px;
}

.review__reviews {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0;
  width: 53px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: right;
  color: hsl(234, 80%, 12%);
}
