.card {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid $border-card-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;

  &__img-product {
    align-self: center;
    width: 160px;
    height: 134px;
  }

  &__product-name {
    margin-top: 40px;
    display: block;
    font-size: 12px;
    line-height: 18px;
    color: $main-text-color;
    letter-spacing: 0;
    font-weight: 500;
    width: 166px;
  }

  &__product-code {
    align-self: self-start;
    margin-top: 4px;
    color: $font-color;
  }
}
