
.card__name-of-product {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;

  margin: 0 16px 4px;
  color: #060b35;
}

.card__code-of-product {
  margin-left: 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card__price {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
  margin: 24px 16px 0;
}

.card__price-of-product {
  font-size: 16px;
  font-weight: bold;
  color: #060b35;
}
