.card {
  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__text-product {
    margin: 0;
    padding-top: 4px;

    color: $text-color;
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    display: flex;
    justify-content: space-between;

    &-text {
      align-self: center;
      color: $text-color;
      font-size: 12px;
      line-height: 18px;
    }

    &-numbers {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }
}

.reviews {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;

  &__text {
    // align-items: center;
    font-size: 10px;
    line-height: 14px;
    text-align: end;
  }
}
