.text-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 16px;

  &__title {
    margin: 0 0 4px;
    font-family: $main-font-family;
    color: $primary-color;
    font-weight: $main-font-weight;
    font-size: 12px;
    line-height: $main-line-height;
  }
  &__code {
    margin: 0;
    font-weight: $secondary-font-weight;
    color: $secondary-color;
    font-family: $main-font-family;
    font-size: 10px;
    line-height: 14px;
    width: fit-content;
  }
}
