$card-border-color: #f3f3f3;
$link-color: #060b35;
$secondary-accent: #616070;
$main-accent: #00acdc;
$main-background: #fff;
$star-size: 16px;
$card-width: 200px;
$description-hover-color: #34568b;
$transition-duration: 0.3s;
