@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap';

$primary-color: #060b35;
$secondary-color: #616070;
$main-font-family: 'Roboto', sans-serif;
$card-width: 200px;
$border-color: #f3f3f3;
$main-font-weight: 500;
$secondary-font-weight: 400;
$main-line-height: 18px;
$button-text-color: #fff;
$button-color: #00acdc;
