:root {
  --light-bg-color: #fff;
  --medium-bg-color: #e5e5e5;
  --dark-text-color: #060b35;
  --light-text-color: #616070;
  --button-buy-color: #00acdc;
  --stars-color: #ffde6a;
  --card-standard-padding: 16px;
}
