// Кольори
$primary-color: #00acdc;
$text-color: #060b35;
$text-secondary: #616070;
$background-color: #fff;
$border-color: #f3f3f3;

// Розміри
$font-small: 10px;
$font-medium: 12px;
$font-large: 16px;
$button-height: 40px;
$star-size: 16px;
$border-radius: 5px;

// Інші змінні
$font-family: 'Roboto', sans-serif;
