:root {
  --color-bl-accent: #00acdc;
  --color-white: #fff;
  --color-main-accent: #060b35;
  --width-blocks: 168px;
  --size-ex-sm: 10px;
  --size-sm: 12px;
  --size-mid: 14px;
  --size-big: 16px;
}
