  $card-size: 200px;
  $button-bg-color: #00ACDC;
  $button-color: #FFF;
  $button-border-color: #00ACDC;
  $card-border-color: #F3F3F3;
  $button-hover-color: #00ACDC;
  $text-main-color: #060B35;
  $text-other-color: #616070;
