@import "./variables.scss";

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid transparent;
  border-radius: 4px;

  &__img {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
  }

  &__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $black-text;
  }

  &__product-code {
    font-size: 10px;
    line-height: 14px;
    align-self: baseline;
    color: $text-gray;
    margin: 4px 0 16px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin: 24px 0 16px;

    &-text {
      font-size: 12px;
      line-height: 18px;
      color: $text-gray;
    }

    &-value {
      font-weight: 700;
      line-height: 18px;
      font-size: 16px;
      margin-left: 86px;
    }
  }

  &__btn {
    border-radius: 5px;
    border: none;
    width: 166px;
    height: 40px;
    background-color: $border-blue;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    color: $simple-white;
  }

  &__btn:hover {
    border: 1px solid $border-blue;
    background-color: transparent;
    color: $border-blue;
  }
}
