.card__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.card__stars {
  display: flex;

  &-star {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4px;
    background-image: url(../images/star.svg);
  }
}

.card__stars--0 .card__stars-star:nth-child(-n+0),
.card__stars--1 .card__stars-star:nth-child(-n+1),
.card__stars--2 .card__stars-star:nth-child(-n+2),
.card__stars--3 .card__stars-star:nth-child(-n+3),
.card__stars--4 .card__stars-star:nth-child(-n+4),
.card__stars--5 .card__stars-star:nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
}

.card__stars-reviews {
  font-size: 10px;
  line-height: 14px;
  margin-left: 18px;
}
