.card__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}

.stars {
  display: flex;

  &__star {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4px;
    background-image: url(../images/star.svg);
  }

  &__star--1,
  &__star--2,
  &__star--3,
  &__star--4 {
    background-image: url(../images/star-active.svg);
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    margin-left: 18px;
  }
}
