body {
  margin: 0;
  display: flex;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 16px;
}

.card__pic {
  display: flex;
  justify-content: center;
}

.img {
  margin-top: 16px;
  height: 134px;
  width: 160px;
}

.card__stuff {
  width: 166px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 40px;
  line-height: 18px;
  color: #060b35;
}

.card__code {
  margin-top: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;

}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.stars {
  line-height: 14px;
  display: flex;
}

.stars__star {
  background: url(images/star.svg) no-repeat center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars--1 .stars__star:nth-child(-n + 1),
.stars--2 .stars__star:nth-child(-n + 2),
.stars--3 .stars__star:nth-child(-n + 3),
.stars--4 .stars__star:nth-child(-n + 4),
.stars--5 .stars__star:nth-child(-n + 5) {
  background: url(images/star-active.svg) no-repeat center;
}

.feedback {
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  color: #060b35;
}

.card__price {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.cena {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #616070;
}

.cost {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: #060b35;
}

.card__button {
  box-sizing: border-box;
  margin-top: 16px;
  display: block;
  height: 40px;
  width: 166px;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #00acdc;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}

.card__button:hover {
  border: #00acdc solid 1px;
  background: none;
  color: #00acdc;
}
