.product-card__stars {
  width: 100px;
  display: flex;
  height: $star-height;
  align-items: center;
  justify-content: left;
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.product-card__star {
  display: flex;
  background-image: $star-bg;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  width: $star-width;
  height: $star-height;
  padding: 0;
  margin-right: 6px;
  margin-left: 1px;
}

.product-card__star:nth-child(-n + 4) {
  background-image: $star-active-bg;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
