html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;

  --color-for-btn: #00acdc;
  --color-for-bgn: #fff;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: var(--color-for-bgn);
  padding: 32px 16px 0;
}

.card__img {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  margin-bottom: 4px;
}

.card__code {
  align-self: baseline;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.card__rewiews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 100%;
}

.card__count-rewiews {
  font-size: 10px;
  line-height: 14px;
  align-items: center;
  align-self: flex-end;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  width: 100%;
}

.card__label-price {
  color: #616070;
}

.card__number-price {
  font-weight: 700;
  font-size: 16px;
}

.card__buy-btn {
  padding: 0;
  margin-bottom: 16px;
  border: none;
  background-color: var(--color-for-bgn);
  width: 166px;
}

.card__buy-link {
  display: flex;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  background: var(--color-for-btn);
  border: 1px solid var(--color-for-btn);
  border-radius: 5px;
  text-decoration: none;
  color: var(--color-for-bgn);
  padding: 11px 68px;
  align-content: center;
  justify-content: center;
}

.card__buy-link:hover {
  background: var(--color-for-bgn);
  border: 1px solid var(--color-for-btn);
  border-radius: 5px;
  color: var(--color-for-btn);
}
