html {
  font-family: "Roboto", sans-serif;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__imac {
  width: 160px;
  height: 134px;
}

.title {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-main);
}

.card__title {
  margin-top: 40px;
}

.card__code {
  margin-top: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-secondary);
}

.card__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.mark {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-main);
}

.card__price {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin-top: 24px;
}

.price {
  font-weight: 400;
  font-size: 12px;
  color: var(--color-secondary);
}

.amount {
  font-weight: 700;
  font-size: 16px;
  color: var(--color-main);
}

.card__buy {
  margin-top: 16px;
}

.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  padding: 12px 70px;
  border: 1px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--color-blue);
  color: #fff;
}

.buy:hover {
  color: var(--color-blue);
  background-color: #fff;
  border: 1px solid var(--color-blue);
}
