.review__stars {
  display: flex;
}

.review__stars .stars__star {
  width: 16px;
  height: 16px;
  background-image: url("../images/star-active.svg");
  background-position: 25% 50%;
  background-repeat: no-repeat;
  padding-right: 4px;
}

.stars .stars__star:nth-child(n+5) {
  background-image: url("../images/star.svg");
}
