@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./stars.css";
@import "./reset.css";

html {
  font-family: "Roboto", Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding-top: 32px;
  --color-dark: #060b35;
  --color-light: #616070;
  --color-blue: #00acdc;
}

.card__image {
  margin-bottom: 40px;
  width: 160px;
  height: 134px;
  align-self: center;
}

.model {
  padding: 0 16px;
  margin-bottom: 4px;
}

.card__model {
  display: block;
  font-family: "Roboto", Arial, sans-serif;
  color: var(--color-dark);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.item-code {
  padding: 0 16px;
  margin-bottom: 16px;
}

.card__item-code {
  font-family: "Roboto", Arial, sans-serif;
  color: var(--color-light);
  font-size: 10px;
  font-weight: 400;
}

.rating {
  padding: 0 16px;
  margin-bottom: 24px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 10px;
  font-weight: 400;
}

.price {
  padding: 0 16px;
  margin-bottom: 16px;
}

.card__price {
  display: flex;
  justify-content: space-between;
}

.price-text {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-light);
  line-height: 18px;
}

.value {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-dark);
}

.button {
  margin: auto;
  margin-bottom: 16px;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--color-blue);
  border-radius: 5px;
  border: 1px solid transparent;

  width: 166px;
  height: 40px;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.card__button:hover {
  background-color: #fff;
  color: var(--color-blue);
  border-color: var(--color-blue);
}
