.buy {
  display: flex;
  margin-top: 24px;
  margin-left: 17px;
  justify-content: space-between;

  &-1 {
    font-weight: 400;
    font-size: 12;
    line-height: 18px;
    color: #616070;
  }

  &-2 {
    font-weight: 700;
    font-size: 16;
    line-height: 18px;
    color: #060b35;
    margin-right: 17px;
  }

  &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #00acdc solid;
    background-color: #00acdc;
    color: #fff;
    width: 166px;
    height: 40px;
    margin-top: 16px;
    border-radius: 5px;
    margin-left: 16px;
    text-decoration: none;
    font-weight: 700;
    font-size: 14;
    line-height: 16px;
  }

  &-link:hover {
    border: 1px #00acdc solid;
    background-color: #fff;
    color: #00acdc;
  }
}
