$stars-width: 12px;
$stars-height: 12px;
$star-gap: 2px;
$star-active: '../images/star-active.svg';
$star-inactive: '../images/star.svg';

// Colors
$color-white: #fff;
$color-text-secondary: #555;
$color-text-light: #757575;
$color-primary: #02a8f3;
$color-primary-hover: #fff;

// Sizes
$card-width: 200px;
$card-padding-y: 16px;
$card-padding-x: 8px;
$radius-default: 5px;

// Fonts
$font-size-xs: 11px;
$font-size-s: 12px;
$font-size-xl: 18px;
$font-weight-bold: 700;
