@import "./__image/card__image.css";
@import "./__title/card__title.css";
@import "./__code/card__code.css";
@import "./__rating/card__rating.css";
@import "./__reviews/card__reviews.css";
@import "./__price-section/card__price-section.css";
@import "./__price/card__price.css";
@import "./__buy-link/card__buy-link.css";

.card {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  color: #616070;
  --color-dark-blue: #060b35;
}
