.body__card {
  width: 200px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--standart-color);
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 0 16px 16px;
}

.card__image {
  display: flex;
  width: 160px;
  height: 134px;
  margin: 32px 3px 40px;
}

.card__name {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  color: var(--main-text-color);

  margin-bottom: 4px;
}

.card__product-code {
  font-weight: 400;
  font-size: 10px;
  color: var(--subtitle-text-color);
  line-height: 14px;
  margin-bottom: 16px;
}

.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card__stars-reviews {
  font-weight: 400;
  font-size: 10px;
  color: var(--main-text-color);
}

.card__price {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin-bottom: 16px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  color: var(--subtitle-text-color);
}

.card__price-price {
  font-weight: 700;
  font-size: 16px;
  color: var(--main-text-color);
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 166px;
  height: 40px;
  border-radius: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;

  background-color: var(--main-color);
  color: var(--standart-color);
  border: 1px solid var();
}

.card__button:hover {
  background-color: var(--standart-color);

  color: var(--main-color);
}
