$color-main-accent: #060b35;
$color-blue-accent: #00acdc;
$color-secondary: #616070;
$color-white: #fff;
$color-border: #f3f3f3;
$max-stars: 5;

// I didn't currently check the way
// to access the elements separately
// $colors: (
//   'main-accent': #060B35,
//   'secondary': '#616070',
//   'white': #fff,
// );
// isn't that a bad practice on the 'white'?

$radius: 5px;
