//general variables
$card__content-width: 198px; //200 px - 2 (border)
$stars__star-size: 16px;
$card_image-size-width: 160px;
$card_image-size-height: 134px;
$card-element-width: 166px;

//colors
$card-font-primary: rgba(6, 11, 53, 1);
$card-font-secondary: rgba(97, 96, 112, 1);
$card-border-color: rgba(243, 243, 243, 1);
$card__buy-color: rgba(0, 172, 220, 1);
$card-white: rgba(255, 255, 255, 1);
