@import '../variable/variable.scss';

.product-card {
  width: $widthCard;
  height: $heightCard;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  @import '../product-card/__image/image.scss';
  @import '../product-card/__title/title.scss';
  @import '../product-card/__content/content.scss';
  @import '../product-card/__code/code.scss';
  @import '../price/price.scss';
  @import '../reviews/reviews.scss';
  @import '../product-card/__button/button.scss';
  @import '../product-card/__button--hover/hover.scss';
}
