  @mixin font-weight($weight: 400) {
    font-weight: $weight;
  }

  @mixin margin-left() {
    margin-left: 16px;
  }

  @mixin line-height() {
    line-height: 14px;
  }

  @mixin margin-right() {
    margin-right: 16px;
  }

  @mixin button-colors($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
  }
