$tablet-min-width: 576px;
$desktop-min-width: 1024px;

$card-bg-color: #fff;
$page-bg-color: #eee8e8;
$accent-text-color: #060b35;
$basic-text-color: #616070;

$star-bg-color: #f3f3f3;
$star-rank-color: #ffde6a;

$button-bg-color: #00acdc;
$button-text-color: #fff;
$button-hover-bg-color:  #fff;
$button-hover-text-color: #00acdc;

$transition-time: 300ms;
