@mixin add-border($color: $color-white) {
  border-color: $color;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

@mixin text(
  $text-color: $color-black,
  $text-size: 10px,
  $text-thickness: 400,
  $text-height: 14px
) {
  color: $text-color;
  font-size: $text-size;
  font-weight: $text-thickness;
  line-height: $text-height;
}

@mixin flex-row {
  display: flex;
  justify-content: space-between;
}
