@use '../abstracts/variables' as *;

@mixin make-button($bg-color, $text-color: #fff) {
  font-family: $font-family-base;
  display: block;
  text-align: center;
  text-decoration: none;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  outline: 0;
  background-color: $bg-color;
  width: 100%;
  padding: 12px;
  line-height: 16px;
  border-radius: 5px;
  border: 0;
  text-transform: uppercase;
  color: $text-color;
  cursor: pointer;
  box-sizing: border-box;
}
