// colors:
$main-clr:hsl(0, 0%, 100%);
$secondary-clr:hsl(244, 8%, 41%);
$main-accent:hsl(234, 80%, 12%);
$blue-accent-clr: hsl(193, 100%, 43%);
$card-bg-clr: $main-clr;
$card-bd-clr:hsl(0, 0%, 95%);

//sizes:
$golbal-fsz: 62.5%;

// card sizes:

$card-w: 20rem;
$img-w: 16rem;
$img-h: 13.4rem;

$spacer: 0.8rem;

$card-title-fsz: 1.2rem;
$btn-bdrs: 0.5rem;
$star-size: 1rem;
