$color-text-main: #060b35;
$color-text-secondary: #616070;
$color-background: #fff;
$color-blue-accent: #00acdc;
$font-family-base: Roboto, sans-serif;
$font-size-standard: 12px;
$font-size-sm: 10px;
$font-size-lg: 14px;
$font-size-xl: 16px;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
