* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--card-width);
  margin: auto;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__product-image {
  display: inline-block;
  width: var(--product-img-width);
  height: var(--product-img-height);
  margin-bottom: 40px;
}

.card__product-title {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--card-medium-font-size);
  line-height: 18px;
  color: var(--color-dark);

  margin-bottom: 4px;
}

.card__product-code {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--card-small-font-size);
  line-height: 14px;
  color: var(--color-grey);

  align-self: start;
  margin-bottom: 16px;
}

.card__reviews-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--card-containers-width);
  margin-bottom: 24px;
}

.card__product-reviews {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--card-small-font-size);
  line-height: 14px;
  color: var(--color-dark);
}

.card__price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--card-containers-width);
  margin-bottom: 16px;
}

.card__product-price-title {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--card-medium-font-size);
  line-height: 18px;

  color: var(--color-grey);
}

.card__product-price {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--card-extra-large-font-size);
  line-height: 18px;

  color: var(--color-dark);
}

.card__buy-link {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--card-large-font-size);
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  padding: 12px 70px; /* mb 70.5px*/
  background-color: var(--buy-link-bg-color);
  border-radius: 5px;
}
