* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.card {
  width: var(--card-width);
}

.card__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card__product-image {
  width: var(--card-product-img-width);
  height: var(--card-product-img-height);
  margin-bottom: 40px;
}

.card__product-title {
  font-family: inherit;
  font-weight: 500;
  font-size: var(--card-medium-font-size);
  line-height: 18px;
  color: var(--card-color-dark);

  margin-bottom: 4px;
}

.card__product-code {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--card-small-font-size);
  line-height: 14px;
  color: var(--card-color-grey);

  align-self: start;
  margin-bottom: 16px;
}

.card__reviews-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--card-containers-width);
  margin-bottom: 24px;
}

.card__product-reviews {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--card-small-font-size);
  line-height: 14px;
  color: var(--card-color-dark);
}

.card__price-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--card-containers-width);
  margin-bottom: 16px;
}

.card__product-price-title {
  font-family: inherit;
  font-weight: 400;
  font-size: var(--card-medium-font-size);
  line-height: 18px;

  color: var(--card-color-grey);
}

.card__product-price {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--card-extra-large-font-size);
  line-height: 18px;

  color: var(--card-color-dark);
}

.card__buy-link {
  font-family: inherit;
  font-weight: 700;
  font-size: var(--card-large-font-size);
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  padding: 11px 69px;
  background-color: var(--card-buy-link-color);

  border: 1px solid transparent;
  border-radius: 5px;
}

.card__buy-link:hover {
  color: var(--card-buy-link-color);
  border-color: var(--card-buy-link-color);
  background-color: #fff;
}
