:root {
  --card-width: 200px;

  --card-containers-width: 100%;

  --card-small-font-size: 10px;
  --card-medium-font-size: 12px;
  --card-large-font-size: 14px;
  --card-extra-large-font-size: 16px;

  --product-img-width: 160px;
  --product-img-height: 134px;

  --color-dark: #060b35;
  --color-grey: #616070;

  --buy-link-color: #00acdc;
}
