$font-weight-big: 700px;
$font-weight-small: 400px;
$font-size-big: 12px;
$font-size-small: 10px;
$line-height-big: 18px;
$line-height-small: 14px;
$color-main-text: #060b35;
$color-small-text: #616070;
$color-button: #00acdc;
$border-button: 1px solid $color-button;
