.card-button {
  display: block;
  border-radius: 5px;
  background-color: $blue;
  padding-top: 10.2px;
  padding-bottom: 10.2px;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  max-width: 166px;
  color: $white;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: background-color 0.3s ease 0s,
    color 0.3s ease 0s,
    border-color 0.3s ease 0s;

  &:hover {
    background-color: transparent;
    color: $blue;
    border-color: $blue;
  }
}
