@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url(/fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}

html {
  font-family: "Roboto", serif;
}

.block {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 28px;
  background: #fff;
  border: 1px solid hsl(0, 0%, 95%);
  border-radius: 5px;
}

.block__img {
  display: block;
  margin: 0 3px 40px;
  width: 160px;
  height: 134px;
}

.block__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: hsl(234, 80%, 12%);
  margin-bottom: 4px;
}

.block__description {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: hsl(244, 8%, 41%);
  margin-bottom: 16px;
}

.block__star {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.block__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.block__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.block__price-desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.block__price-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: hsl(234, 80%, 12%);

}

.button-buy {
  width: 166px;
  height: 40px;
  background: var(--button-color-blue);
  border-radius: 5px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: none;
  text-transform: uppercase;
}

.button-buy:hover {
  background: #fff;
  border: 1px solid var(--button-color-blue);
  color: var(--button-color-blue);
}
