.card {
  width: 198px;

  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;

  border: 1px transparent;
  border-radius: 5px;
  box-shadow: 0 1px 8px rgba(61, 78, 97, 0.1);
  background-color: white;
}

.card__description {
  padding: 0 16px 16px;
  display: block;
}

.card__image {
  margin-top: 32px;
}

.card__title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color);
}

.card__code {
  font-weight: 400;
  font-size: 10px;
  color: var(--text-second-color);
  line-height: 14px;
}

.card__star {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--text-color);
}

.card__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-second-color);
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color);
}

.card__buy {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  padding: 12px;
  width: 166px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;
  text-decoration: none;

  color: var(--text-third-color);
  background-color: var(--main-color);
  background-position: center;
  border-radius: 5px;
}

.card__buy:hover {
  color: var(--main-color);
  background-color: var(--text-third-color);
  border: 1px solid var(--main-color);
}
