.card {
  box-sizing: border-box;
  width: 200px;
  background: #fff;
  border: 1px solid #f3f3f3;

  padding: 32px 16px 16px;

  &__img {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-accent;
    margin-bottom: 4px;
  }

  &__code {
    margin-bottom: 16px;
    color: $secondary-text;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__reviews {
    color: $main-accent;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    font-size: 12px;
    line-height: 18px;
    color: $secondary-text;

    margin-bottom: 16px;
  }

  &__value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: $main-accent;
  }

  &__button {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 40px;

    background-color: $secondary-accent;
    border-radius: 5px;

    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
  }

  &__button:hover {
    border: 1px solid $secondary-accent;
    color: $secondary-accent;
    background: none;
  }
}
