.card {
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
}

.card__container {
  display: flex;
  flex-direction: column;
  margin: 32px 16px 16px;
}

.card__img {
  display: block;
  margin: 0 auto 40px;
  max-width: 160px;
  height: 134px;
}

.card__title {
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 4px;
}

.card__product-code,
.card__reviews-text {
  font-size: 10px;
  line-height: 14px;
}

.card__product-code,
.card__price {
  margin-bottom: 16px;
}

.card__reviews,
.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__reviews {
  margin-bottom: 24px;
}

.card__product-code,
.card__price-text {
  color: #616070;
}

.card__price-value {
  font-size: 16px;
  font-weight: 700;
}

.card__button {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 11px 0;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  transition: all 1s;
}

.card__button:hover {
  color: #00acdc;
  background-color: #fff;
}
