.card {
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  width: 200px;
  height: 408px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 32px 16px 16px;
  border-radius: 5px;

  &__imac {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto;

  }

  &__title {
    color: $color-main;
    margin-top: 40px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__code {
    margin-top: 4px;
    color: $color-secondary;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }

  &__reviews-block {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__reviews {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $color-main;
  }

  &__price-block {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $color-secondary;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy {
    margin-top: 16px;
    display: flex;
    width: 166px;
    height: 40px;
    background-color: $color-blue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: 1px solid transparent;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 16px;

    &:hover {
      background-color: #fff;
      border-color: $color-blue;
      color: $color-blue;
    }
  }
}

