@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
  font-style: regular;
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
  font-style: medium;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
  font-style: bold;
  font-weight: 700;
}
