.stars {
  flex-direction: row;
  display: flex;
  gap: 4px;

  &__star {
    background-image: url('../images/star-active.svg');
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;

    &:last-of-type {
      background-image: url('../images/star.svg');
    }
  }
}
