.stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:nth-child(-n + 4) {
  background-image: url("../../images/star-active.svg");
}

.stars__star:nth-child(5) {
  background-image: url("../../images/star.svg");
  margin-right: 17px;
}

.stars__review {
  font-size: 10px;
}
