@mixin font-style($size: 12px, $weight: 400, $color: #060b35, $height: 14px) {
  font-family: roboto, sans-serif;
  font-size: $size;
  font-weight: $weight;
  color: $color;
  line-height: $height;
  letter-spacing: 0%;
}

@mixin button-style($background: #00acdc) {
  display: block;
  width: $product-info-width;
  height: 40px;

  margin-inline: $basic-margins;
  text-decoration: none;
  background-color: $background;
  border-radius: 5px;

  box-sizing: border-box;
  border: 1px solid #00acdc;
}
