$button-color: #00acdc;
$font-Roboto: "Roboto", sans-serif;
$main-font-color: #060b35;
$secondary-font-color: #616070;
$white-color: #fff;
$star: url(./../images/star.svg) no-repeat center;
$active-star: url(./../images/star-active.svg) no-repeat center;
