$bodyFont: Roboto, sans-serif;
$cardColorBorder: #f3f3f3;
$cardColorProductCode: #616070;
$cardColorPriceProduct: #060b35;
$cardColorButtonHover: #00acdc;
$cardColorButtonLink: #fff;
$cardWidth: 200px;
$cardBorderRadius: 5px;
$buttonHeight: 40px;
$buttonBorderRadius: 5px;
