.card__buy-link {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 11px 0;
  background: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.card__buy-link:hover {
  color: #00acdc;
  background: white;
}
