$main-accent: #060B35;
$secondary: #616070;
$blue-accent: #00ACDC;
$main-shift: 16px;

// if I create variables here,
// they cannot be used later in other files, so I created them in the prod-card file
