.stars--rating > :nth-child(-n + 4):hover {
  background-image: url('../images/star-active.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}
