.stars {
  display: flex;
  font-family: Roboto, sans-serif;

  &__star {
    height: $star-size;
    width: $star-size;
    background-image: url(../images/star.svg);
    background-position: center;
    background-repeat: no-repeat;
    list-style: none;
  }

  &__star:nth-child(-n + 4) {
    margin-right: 4px;
    background-image: url(../images/star-active.svg);
  }
}
