.product-card__single-star {
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars__star:last-child {
  margin-right: 0;
}
