.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.stars {
  display: flex;
  align-items: center;
}

.stars__star {
  background-image: url(/images/star.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.stars :nth-child(-n +4) {
  background-image: url(/images/star-active.svg);
}
