.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background: url(../../images/star-active.svg) center no-repeat;
}

.stars__star:last-of-type {
  background: url(../../images/star.svg) center no-repeat;
}
