.button {
  display: flex;
  justify-content: center;
  width: 100%;
  border-color: var(--light-blue);

  &__title {
    background-color: var(--light-blue);
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    align-items: center;
    color: #fff;
    border: 1px;
    border-radius: 5px;
    border-color: var(--light-blue);
    outline: 1px solid var(--light-blue);
    height: 40px;
    width: 166px;
  }

  .button__title:hover {
    background-color: #fff;
    color: var(--light-blue);
  }
}
