.button {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  width: 166px;
  height: 40px;

  border-radius: 5px;

  background-color: #00acdc;

  color: #fff;

  &_buy {
    margin: 0;
    font-weight: 700;
    line-height: 16px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
  }

  &:hover {
    transform: scale(1.05);
    border: 1px solid #00acdc;
    color: #00acdc;
    background-color: #fff;
    transition:
      transform 0.3s ease,
      background-color 0.3s ease,
      color 0.3s ease,
      border 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
}
