.buylink {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  color: $thirdcolor;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  width: 166px;
  height: 40px;
  text-transform: uppercase;
  border: 1px solid $forthcolor;
  background-color: $forthcolor;
  border-radius: 5px;
  margin-top: 16px;

  &:hover {
    background-color: $thirdcolor;
    color: $forthcolor;
  }
}
