.card__title {
  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--dark-blue);
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
}
