.card {
  width: $card-width;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;

  &__image {
    width: 160px;
    height: 134px;

    display: block;
    margin: 0 auto 40px;
  }

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-font-color;
    margin: 0;
  }

  &__code {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #616070;

    margin-top: 4px;
    margin-bottom: 16px;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__reviews {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__price-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #616070;
  }

  &__price-value {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-font-color;
  }

  &__buy {
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: #00acdc;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;

    display: flex;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
  }

  &__buy:hover {
    background-color: #fff;
    border: 1px solid #00acdc;
    color: #00acdc;
  }
}
