.card {
  @include center;

  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  flex-direction: column;
  width: 200px;

  &__image {
    margin-top: 16px;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-top: 40px;

    &-text {
      @include roboto500;

      font-size: 12px;
      line-height: 18px;
      color: #060b35;
    }

    &-product-code {
      @include roboto400;

      color: #616070;
      font-size: 10px;
      line-height: 14px;
      margin-top: 4px;
    }
  }
}
