@use './variables';

/* #region Reset */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion */

/* #region Body */
body {
  margin: 0 auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: variables.$main;
}

/* #endregion */

/* #region Image Component */
img {
  width: 160px;
  height: 134px;
  padding: 32px 19px 40px 19px;
}

/* #endregion */
