@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin roboto400 {
  font-family: Roboto, serif;
  font-weight: 400;
  font-style: normal;
}

@mixin roboto500 {
  font-family: Roboto, serif;
  font-weight: 500;
  font-style: normal;
}

@mixin roboto700 {
  font-family: Roboto, serif;
  font-weight: 700;
  font-style: normal;
}
