.page {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: $main-color;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
}

h4,
p {
  padding: 0;
  margin: 0;
}
