:root {
  --dark-blue: #060b35;
  --grey: #616070;
  --light-blue: #00acdc;
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
}

.card {
  width: 200px;

  &__info {
    padding: 0 16px;
  }
}
