.price {
  width: 100%;

  &__text {
    @include roboto400;

    color: #616070;
    font-size: 12px;
    margin-left: 0;
  }

  &__sum {
    @include roboto700;

    font-size: 16px;
    margin-right: 0;
  }
}
