.price-container {
  margin: 24px 16px 0;
  display: flex;
  justify-content: space-between;

  &__label {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-text-color;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $main-text-color;
  }
}
