.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  width: 100%;

  &__text {
    @include roboto400;

    color: #616070;
    font-size: 12px;
  }

  &__sum {
    @include roboto700;

    color: #060b35;
    line-height: 18px;
    font-size: 16px;
  }
}
