.product__price {
  display: flex;
  justify-content: space-between;
  width: 166px;
  height: 18px;
  margin-bottom: 16px;

  &.name {
    font-family: Roboto, sans-serif;
    font-weight: $font-weight-400;
    font-size: 12px;
    vertical-align: bottom;
    color: rgba(97, 96, 112, 1);
    margin-right: 0;
  }

  &.price {
    justify-content: flex-end;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    vertical-align: bottom;
  }
}
