.product_img {
  margin: 16px 3px 40px;
  width: 160px;
  height: 134px;

  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
