.product-stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;

  &__box {
    display: flex;
    align-items: center;
  }

  &__review {
    font-weight: 400;
    font-size: 10px;
    line-height: 1.4;
    color: $main-color;
  }

}
