.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.13;
    color: $main-color;
  }

  &__text {
    color: $secondary-color;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
  }

}
