.rate {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__count-reviews {
    display: inline-block;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $fontColor__darkblue;
  }
}
