body {
  margin: 0;
  font-family: $font-family;
  font-weight: 400;
  color: $main-color;
}

button {
  font: inherit;
  color: inherit;
  background: none;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
