/* #region Stars Component */
.stars {
  display: none;
  align-items: center;
}

.stars--4 {
  display: flex;
}

.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url('../images/star.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.stars--1 .stars__star:nth-child(-n + 1) {
  background-image: url('../images/star-active.svg');
}

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: url('../images/star-active.svg');
}

.stars--3 .stars__star:nth-child(-n + 3) {
  background-image: url('../images/star-active.svg');
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url('../images/star-active.svg');
}

.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: url('../images/star-active.svg');
}

/* #endregion */
