@import 'variables';

.stars {
  display: flex;
  list-style: none;
  gap: 5px;
  
  &__star {
    background-image: url('../images/star-active.svg');
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
  }
  &__star:last-child {
    background-image: url('../images/star.svg');
  }
}
