$star: '../images/star.svg';
$star-active: '../images/star-active.svg';
$star-size: 16px;
$width-card: 200px;
$border-radius: 5px;
$color-text-button: #fff;
$color-text-number: #000;
$color-border: #f3f3f3;
$color-primary: #00acdc;
$color-text: #616070;
