// Colors
$primary-color: #00acdc;
$hover-bg: #f3f3f3;
$text-color: #060b35;
$border-color: #ccc;

// Font
$font-family-main: 'Roboto', sans-serif;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-weight-bold: 700;
$font-weight-normal: 400;
