$main-accent: #060b35;
$secondary: #616070;
$button-blue-accent: #00acdc;
$font-base: Roboto, sans-serif;
$border-radius-5: 5px;

%button-style {
  text-decoration: none;
  color: #fff;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: $button-blue-accent;
  border: 1px solid $button-blue-accent;
  border-radius: $border-radius-5;
  text-transform: uppercase;
}

%button-style-hover {
  text-decoration: none;
  color: $button-blue-accent;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #fff;
  border: 1px solid $button-blue-accent;
  border-radius: $border-radius-5;
  text-transform: uppercase;
}
