$main-color: #060b35;
$secondary-color: #616070;
$main-blue-color: #00acdc;
$card-bgc: #fff;
$card-border-color: #f3f3f3;

$logoSize: 40px;
$starSize: 16px;
$gapX: 48px;
$gapY: 46px;
$cardWidth: 200px;
$cardsAmount: 4;
