body {
  margin: 0;
}

section {
  margin-top: 1px;
  margin-left: 1px;
  width: 198px;
  height: 406px;
  border: 1px solid $white_color;
  border-radius: $border-radius;
  font-family: $font-family;

  background-image: url(../images/imac.jpeg);
  background-repeat: no-repeat;
  background-size: 160px 134px;
  background-position: center 33px;
}
