@import 'utils/variables';

// Основні стилі для тіла
html,
body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $secondary-color;
}

// Базові стилі для заголовків і параграфів
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
