@import 'utils/variables';

body {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $secondary-color;
  font-family: Roboto, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
