.page__card {
  width: 200px;
}

.card {
  display: flex;
  padding: 32px 16px 16px;
  flex-direction: column;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  display: block;
  margin: auto;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__description {
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
  color: #060b35;
  margin-bottom: 4px;
}

.card__code {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card__reviews {
  font-size: 10px;
}

.card__price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__price {
  color: #616070;
  line-height: 18px;
}

.card__amount {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.card__buy {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 40px;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: #fff;

  border: 1px solid #00acdc;
  border-radius: 5px;
  background-color: #00acdc;
  transition: background-color 0.3s, color 0.3s;
}

.card__buy:hover {
  color: #00acdc;
  background-color: #f3f3f3;
}
