.block {
  width: 200px;
  box-sizing: border-box;
  padding: 32px 16px 16px;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px #f3f3f3;
  border-radius: 5px;

  &__img {
    background-image: url('../images/imac.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 160px;
    height: 134px;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-accent;
    margin: 0;
    margin-top: 40px;
  }

  &__under-text {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary;
    margin: 0;
    margin-top: 4px;
    align-self: flex-start;
  }

  &__review {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;

    &-stars {
      display: flex;
    }

    &-text {
      font-weight: 400;
      line-height: 14px;
      align-self: center;
      font-size: 10px;
      color: $main-accent;
      margin: 0;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $secondary;
      margin: 0;
    }

    &-number {
      margin: 0;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $main-accent;
    }
  }

  &__link {
    width: 166px;
    height: 40px;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    text-transform: uppercase;
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 16px;

    &:hover {
      background-color: #fff;
      color: #00acdc;
      border: solid 1px #00acdc;
    }
  }
}
