.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card__imac-image {
  display: flex;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__item-name {
  color: var(--color-dark);
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 4px;
  margin: 0;
}

.card__item-code {
  font-size: 10px;
  line-height: 14px;
  padding-bottom: 18px;
  margin: 0;
  color: var(--color-gray);
}

.card__item-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 22px;
}

.card__reviews {
  font-family: Roboto, sans-serif;
  color: var(--color-dark);
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  padding-bottom: 2px;
}

.card__item-price {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 16px;
}

.card__price-text {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-gray);
}

.card__price-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  width: 100%;
  height: 40px;
}

.card__buy-button:hover {
  color: var(--color-blue);
  background-color: #fff;
}
