@use 'variables' as *;

html {
  font-family: Roboto, sans-serif;
  color: $main-text-color;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

body {
  margin: 0;
}

.main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
