.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #f3f3f3;
  padding: 32px 16px 16px;
}

.product-card__items {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.product-card__image {
  width: 160px;
  height: 134px;
}

.product-card__items--title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  margin-top: 40px;
}

.product-card__items--product-code {
  display: flex;
  justify-content: flex-start;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 4px;
}

.product-card__items--position {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__items-reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.product-card__price {
  display: flex;
  margin-top: 24px;
}

.product-card__price--letters {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.product-card__price--numbers {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.product-card__items--link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00acdc;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #f3f3f3;
}

.product-card__items--link:hover {
  background-color: #f3f3f3;
  color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
}
