.bottom_price {
  max-width: $bottom_price_with;
  height: $height_bottom;
  margin-left: $botoom_left_mar;
  margin-top: $botoom_margin;
  display: $bottom_display;
  justify-content: center;
  align-items: center;

  border: $border-width solid $border-color;
  border-radius: $border-radius;
  background-color: white;

  .inner-block {
    color: $border-color; // текст голубой по умолчанию
    width: $inner-block-width;
    height: $inner-block-height;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-family;
    font-weight: $font-weight-bold;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-align: center;
    text-transform: $text-transform;
  }

  &:hover {
    background-color: $border-color;

    .inner-block {
      color: white;
    }
  }
}
