.bought-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 164px;
  height: 38px;
  border: 1px solid #00acdc;

  background: #00acdc;
  border-radius: 5px;
}

.bought-link:hover {
  color: #00acdc;
  background: #fff;
}
