.link-button {
  background-color: #00acdc;
  display: block;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 38px;
  text-align: center;
  color: #fff;
  box-sizing: border-box;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;
  margin: 14px 15px 10px;
}

.link-button:hover {
  border: 1px solid #00acdc;
  background: transparent;
  color: #00acdc;
}
