.button-buy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 55px;
  background-color: var(--blue-color);
  color: #fff;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
}

.button-buy:hover {
  background-color: #fff;
  color: var(--blue-color);
}

.button-buy__link {
  line-height: 16px;
  font-weight: 700;
  font-size: 14px;
}
