.card__button {
  margin-bottom: var(--card-margin-bottom);
}

.card__buy {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  height: 40px;
  margin: 0 16px;
  background-color: #00acdc;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
}

.card__buy:hover {
  box-sizing: border-box;
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
