.button {
  display: block;
  width: 100%;
  padding: 0;
  border: unset;
}

.button__link {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 11px 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  text-decoration: none;
  text-transform: uppercase;
  color: #fff;

  border: 1px solid #00acdc;

  background: #00acdc;
  border-radius: 5px;

  transition: 0.3s ease-in-out;
}

.button__link:hover {
  background: #fff;
  color: #00acdc;
}
