.button {
  width: 166px;
  height: 40px;
  justify-content: center;
  margin-left: 16px;

  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;

  border-radius: 5px;
  background: #00acdc;
}
