.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 12px 0;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  background-color: var(--color-blue);
  color: white;
}

.button-buy__link {
  line-height: 16px;
  font-weight: 700;
  font-size: var(--m-text);
  text-decoration: none;
  color: inherit;
}

.button-buy:hover {
  background-color: #fff;
  color: var(--color-blue);
}
