.to-buy {
  display: block;
  width: 166px;
  margin-left: $padding-left;
  border: 1px solid $blue_color;
  margin-top: 16px;
  background-color: $blue_color;
  color: $white_color;
  text-align: center;
  line-height: 40px;
  height: 40px;
  border-radius: $border-radius;
  font-weight: 700;
  font-size: 14px;
  font-family: $font-family;

  &:hover {
    border: 1px solid $blue_color;
    color: $blue_color;
    background-color: $white_color;
  }
}
