.cardButton {

  text-align: center;

  width: 166px;
  height: 40px;

  border-radius: 5px;
  border: 1px solid  #00acdc;
  background-color: #00acdc;
}

.cardButton__link {
  font-weight: 700;
  font-size: 14px;

  display: block;
  text-decoration: none;
  color: white;
  line-height: 16px;

}

.cardButton:hover {
  color: #00acdc;
  background-color: white;
}

.cardButton:hover .cardButton__link {
  color: #00acdc;
}
