.button {
  width: 165px;
  height: 40px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;

  border-radius: 5px;
  border: none;

  color: white;
  background-color: $blue;
  transition: 0.3s;
}

.button:hover {
  border: solid 1px $blue;
  color: $blue;
  background-color: white;
}
