.buy_button {
  display: block;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 11px 0;
  color: #fff;
  background-color: var(--blue-color);
}

.buy_button:hover {
  padding: 10px 0;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  background-color: #fff;
}
