.card__buy-btn {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  color: var(--main-white-color);
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--button-background-color);
  border-radius: 5px;
}

.card__buy-btn:hover {
  border: 1px solid var(--button-background-color);
  color: #00acdc;
  background-color: var(--main-white-color);
}
