
.buy-field {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 40px;
  background-color: #00acdc;
  border-radius: 5px;
}

.buy-field__button {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: #00acdc;
}

.buy-field:hover {
  background: #fff;
  border: 1px solid #00acdc;
  box-sizing: border-box;
  border-radius: 5px;
}

.buy-field:hover .buy-field__button {
  color: #00acdc;
  background: #fff;
}
