.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  background: var(--buy-button-main-color);
  border-radius: 5px;
}

.buy-button__link {
  text-decoration: none;
  color: var(--buy-button-secondary-color);
  text-transform: uppercase;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.buy-button:hover {
  border: 1px solid;
  border-color: var(--buy-button-main-color);
  background: var(--buy-button-secondary-color);
}

.buy-button__link:hover {
  color: var(--buy-button-main-color);
}
