.buy-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 0;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.buy-button:hover {
  background-color: #fff;
}

.buy-button__link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.buy-button:hover .buy-button__link {
  color: #00acdc;
}
