.buy {
  display: flex;
  box-sizing: border-box;
  width: $defaultWidth;
  height: $buttonHeight;
  background-color: $buttonColor;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  margin: 16px auto;

  .buyFont {
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: #fff;
  }
}

.buy:hover {
  background-color: #fff;
  color: $buttonColor;
  border: 1px solid #00acdc;
  .buyFont {
    color: $buttonColor;
  }
}
