/* #region card__buy */
.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-background-buy);
  text-align: center;
  height: 40px;
  border-radius: 5px;
}

.card__buy--hover:hover {
  background: var(--color-background-card);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__buy-link--hover:hover {
  color: var(--color-background-buy);
}

.card__buy-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-background-card);
}
/* #endregion */
