.card-block {
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card-block__image {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card-block__title {
  margin: 0 0 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-accent);
}

.card-block__code {
  margin: 0 0 16px;
  color: var(--grey-accent);
}

.card-block__stars {
  margin: 0 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-block__price {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
  margin: 0 0 16px;
}

.card-block__price-price {
  color: var(--grey-accent);
  font-size: 12px;
}

.card-block__price-sum {
  font-weight: 700;
  font-size: 16px;
  color: var(--dark-accent);
}

.card-block__buy {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  border: 1px solid var(--blue-accent);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  background-color: var(--blue-accent);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.card-block__buy:hover {
  color: var(--blue-accent);
  background-color: #fff;
}
