.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 32px 16px 16px;
  width: 166px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

/* #region logo */
.card__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.logo {
  width: 160px;
  height: 134px;
}
/* #endregion */

/* #region title&code */
.card__title {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--main-color);
}

.card__code {
  margin-bottom: 16px;

  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  color: var(--secondary-color);
}
/* #endregion */

/* #region rating */
.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.rating__reviw {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: var(--main-color);
}
/* #endregion */

/* #region price */
.price {
  margin: 0;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.price__text {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--secondary-color);
}

.price__number {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--main-color);
}
/* #endregion */

/* #region button */
.card__button {
  display: flex;
  justify-content: center;

  height: 40px;
  background-color: #00acdc;

  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;

  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 40px;
  font-weight: bold;
}

.card__button:hover {
  background-color: #fff;
  color: #00acdc;
  border-color: #00acdc;
}
/* #endregion */
