.card__buy {
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  background-color: #00acdc;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  color: white;
  border: none;
  text-transform: uppercase;
  text-align: center;

  &:hover {
    background-color: white;
    color: #00acdc;
    border: 1px solid #00acdc;
  }
}
