/* #region card */
.card {
  width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

}

.card__image {
  width: 160px;
  height: 134px;
  margin: 32px 19px 40px;
}

/* .image {

} */

.card__product-name {
  width: 166px;
  height: 36px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-left: 16px;
  margin-bottom: 4px;
}

/* .product-name {

} */

.card__product-code {
  width: 92px;
  height: 14px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-left: 16px;
  margin-bottom: 16px;
}

/* .product-code {

} */

.card__price {
  width: 166px;
  display: flex;
  justify-content: space-between;
  gap: 55px;
  margin-left: 16px;
  margin-bottom: 16px;
}

.price-name {
  width: 32px;
  height: 18px;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price-sum {
  width: 79px;
  height: 18px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card__button {
  margin-left: 16px;
  margin-bottom: 16px;
}

.button {
  box-sizing: border-box;
  width: 166px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00acdc;
  border: 1px transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.button:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
/* #endregion */
