.card {
  max-width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__icon {
  display: flex;
  width: 160px;
  height: 134px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -3px;
}

.card__review_count {
  font-size: 10px;
  color: var(--card-title-color);
}

.card__amount-of-money {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.card__price-text {
  color: var(--card-second-color);
}

.card__code {
  font-size: 10px;
  line-height: 14px;
  color: var(--card-second-color);
}

.card__title {
  font-weight: 500;
  line-height: 18px;
  font-style: normal;
  font-size: 12px;
  color: var(--card-title-color);
  margin-bottom: -6px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  color: #fff;
  background-color: var(--card-button-color);
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease-out;
}

.card__button:hover {
  background-color: #fff;
  border: 1px solid var(--card-button-color);
  color: var(--card-button-color);
}
