.card__cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
