.card__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  display: flex;
  justify-content: space-between;
  color: #616070;
  margin: 24px 16px 0;
}

.card__price-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}
