.card__buy {
  margin: 16px;
  height: 40px;
  width: 166px;
  background: #00acdc;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.card__buy-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.card__buy:hover {
  background: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #00acdc;
}

.card__buy:hover .card__buy-link {
  color: #00acdc;
}
