.card__buy {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  width: 166px;
  height: 40px;
  border: 1px solid #00acdc;
  background: #00acdc;
  border-radius: 5px;
  text-align: center;
  /* font-weight: 700; */
  text-transform: uppercase;
  color: #fff;
}

.card__buy:hover {
  background-color: #fff;
  color: #00acdc;
}
