
$color_1: #616070;
$color_2: rgba(6, 11, 53, 1);
$color_3: white;
$color_4: rgba(0, 172, 220, 1);
$color_5: rgba(97, 96, 112, 1);
$font-family_1: "Roboto", sans-serif;
$background-color_1: rgba(0, 172, 220, 1);
$background-color_2: white;

.card__button {
  width: 166px;
  display: flex;
  height: 40px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  background-color: $background-color_1;
  color: $color_3;
  font-family: $font-family_1;
  font-weight: 700;
  font-size: 14px;

  &:hover {
    border: 1px solid rgba(0, 172, 220, 1);
    background-color: $background-color_2;
    color: $color_4;
    height: 38px;
  }
}
