.card {
  padding: 32px 16px 16px;
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__images {
  align-self: center;
  width: 160px;
  height: 134px;
  margin: 0;
}

.card___describe {
  display: flex;
  flex-direction: column;
  padding-top: 40px;
}

.card___describe_header {
  margin: 0;
  line-height: 18px;
  font-weight: 500;
  font-size: var(--size-text-medium);
  width: 166px;
  height: 36px;
  color: var(--color-text-dark);
}

.card___describe_code {
  margin-top: 4px;
  font-weight: 400;
  font-size: var(--size-text-small);
  color: var(--color-text);
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.card__price_text {
  font-weight: 400;
  font-size: var(--size-text-medium);
  color: var(--color-text);
}

.card__price_number {
  font-weight: 700;
  font-size: var(--size-text-biggest);
  color: var(--color-text-dark);
}
