.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
}

.button {
  flex-grow: 1;

  height: 40px;
  line-height: 16px;

  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.card__link {
  text-decoration: none;
}

.button:hover {
  background-color: #fff;
  color: #00acdc;
}
