.card-info {
  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: $main-acent;
    margin-bottom: 4px;
  }

  &__code {
    line-height: 14px;
    text-align: left;
    margin-bottom: 16px;
    color: $secondary;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    line-height: 18px;
    margin-bottom: 16px;
    color: $secondary;

    &-value {
      font-size: 16px;
      font-weight: 700;
      text-align: right;
      color: #060b35;
    }

    &-header {
      font-size: 12px;
      text-align: left;
      color: #616070;
    }
  }
}
