.card {
  position: absolute;
  box-sizing: border-box;
  padding: 32px 19px 16px;
  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  // height: $card-height;npm
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrap {
    width: $wrap-width;
    margin-top: $wrap-padd-top;
  }
  &__img {
    width: $img-width;
    height: $img-height;
  }
  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
  &__prodcode {
    color: #616070;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    margin-top: 4px;
  }
  &__score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    &-reviews {
      font-weight: 400;
      font-size: 10px;
    }
  }
  &__price {
    color: #616070;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    &-text {
      font-size: 12px;
      font-weight: 300;
    }
    &-amount {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }
  &__button {
    display: block;

    margin-top: 16px;
    padding: 12px 69.5px;
    border: 1px solid $btn-bg;
    background: $btn-bg;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    position: relative;
  }
  &__button:hover {
    display: block;
    background: white;
    color: $btn-bg;
    border: 1px solid $btn-bg;
    position: relative;
  }
}
