body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.product {
  justify-content: center;
  flex-direction: column;
  display: flex;
  width: 198px;
  height: 406px;

  border-radius: 5px;
  border: 1px solid var(--Grey-elemnts);
  background-color: var(--White);

  &__img {
    display: flex;
    &-imac {
      width: 160px;
      height: 134px;
      margin: 32px 19px 40px;
    }
  }

  &__name {
    margin: var(--margin);

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--Main-accent);
  }

  &__id {
    margin: var(--margin);
    margin-top: 4px;

    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: var(--Secondary);
  }

  &__statistic {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;

    height: 16px;
    width: 166px;
    margin: 16px 16px 0;
  }

  &__review {
    text-align: right;
    font-size: 10px;
    line-height: 14px;
    color: var(--Main-accent);
  }

  &__price {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;

    height: 16px;
    width: 166px;
    margin: 26px 16px 0;
  }

  &__priceCount {
    text-align: right;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: var(--Main-accent);
  }

  &__pricetext {
    font-size: 12px;
    line-height: 18px;
    color: var(--Secondary);
  }

  &__button-buy {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 166px;
    height: 40px;
    margin: 16px;
    border-radius: 5px;
    background-color: var(--Blue-accent);

    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--White);

    &:hover {
      width: 165px;
      height: 39px;
      border: 1px solid var(--Blue-accent);
      background-color: var(--White);
      color: var(--Blue-accent);
    }
  }
}
