.card {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;

  width: 200px;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
}

.card__stars {
  margin: 0 0 24px;
}

.card__price {
  margin: 0 0 16px;
}

.card-about {
  display: flex;
  flex-direction: column;
}

.card-about__image {
  align-self: center;

  display: block;
  margin: 0 0 40px;

  width: 160px;
  height: 134px;
}

.card-about__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  margin: 0 0 4px;

  color: var(--color-primary);
}

.card-about__description {
  font-size: 10px;
  line-height: 14px;

  margin: 0 0 16px;

  color: var(--color-secondary);
}

.card-stars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card-stars__feedback {
  margin: 0;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-primary);
}

.stars {
  display: flex;
}

.stars--1 :first-child,
.stars--2 :not(:nth-child(n + 3)),
.stars--3 :not(:nth-child(n + 4)),
.stars--4 :not(:nth-child(n + 5)),
.stars--5 :not(:nth-child(n + 6)) {
  background-image: url("../images/star-active.svg");
}

.stars__star {
  background-image: url("../images/star.svg");
  background-position: center;
  background-repeat: no-repeat;

  width: 16px;
  height: 16px;
}

.stars__star:not(:first-child) {
  margin-left: 4px;
}

.card-price {
  display: flex;
  justify-content: space-between;
}

.card-price__text {
  font-size: 12px;
  line-height: 18px;
  margin: 0;

  color: var(--color-secondary);
}

.card-price__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin: 0;

  color: var(--color-primary);
}

.card-button__link {
  display: block;
  box-sizing: border-box;
  padding: 11px;

  border: 1px solid var(--color-accent);
  border-radius: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  color: var(--color-light);
  background-color: var(--color-accent);

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.card-button__link:hover {
  color: var(--color-accent);
  background-color: var(--color-light);
}
