.card {
  width: 200px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 4px;
}

.card__image {
  height: 134px;
  width: 160px;
}

.card__image--mrgn--32auto40 {
  margin: 32px auto 40px;
}

.card__description {
  padding: 0 16px;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-color-accent);
}

.card__description--mrgn-btm--4 {
  margin-bottom: 4px;
}

.card__code {
  padding-left: 16px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: var(--secondary-color);
}

.card__code--mrgn-btm--16 {
  margin-bottom: 16px;
}

.card__review,
.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.card__review--mrgn-btm--24 {
  margin-bottom: 24px;
}

.card__reviews-value {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.card__price-text {
  font-size: 12px;
  font-weight: 400;
  color: var(--secondary-color);
}

.card__price-value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.card__price--mrgn-btm--16 {
  margin-bottom: 16px;
}

.card__button {
  padding: 0 16px;
}

.card__buy-button {
  display: block;
  background-color: var(--blue-color-accent);
  color: #fff;
  padding: 12px 0;

  font-size: 14px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  cursor: pointer;
  border: 1px solid var(--blue-color-accent);
  border-radius: 4px;
  transition: background-color 0.3s;
}

.card__button--mrgn-btm--16 {
  margin-bottom: 16px;
}

.card__buy-button:hover {
  background-color: #fff;
  color: var(--blue-color-accent);
}
