.card {
  box-sizing: border-box;
  width: $card-width;
  padding: 32px 16px 16px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: $white;
  
  &__img {
    display: flex;
    justify-content: center;
  
    &-item {
      width: 160px;
      height: 134px;
    }
  }
  
  &__title {
    color: $main-accent;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    display: block;
    margin-top: 40px;
  }
  
  &__product-code {
    font-weight: 400;
    font-size: 10px;
    color: $grey-condary;
    display: block;
    margin-top: 6px;
  }
  
  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
  
    &-reviews {
      font-size: 10px;
      font-weight: normal;
      color: $main-accent;
      margin-top: 1px;
    }
  }
  
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  
    &-title {
      color: $grey-condary;
      font-size: 12px;
      font-weight: 400;
    }
  
    &-subtitle {
      font-size: 16px;
      font-weight: 700;
      color: $main-accent;
    }
  }
  
  &__btn {
    display: flex;
    justify-content: center;
    height: 40px;
    margin-top: 17px;
  
    &-item {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: $white;
      text-align: center;
      padding-top: 10px;
      border: 1px solid $blue-accent;
      border-radius: 5px;
      width: 100%;
      background: $blue-accent;
      cursor: pointer;
      transition: background 0.2s ease-in-out;
  
      &:hover {
        background: transparent;
        color: $blue-accent;
      }
    }
  }
}
