@import 'variables';

.card__buy {
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  background-color: $color-buy;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 700;
  color: white;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: white;
    color: $color-buy;
    border: 1px solid $color-buy;
  }
}
