/* #region Card-block */

.card-block {
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 32px 16px 16px;
}

.card-block__imagin-w {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
}

.card-block__imagin {
  width: 160px;
  height: 134px;
}

.card-block__name-product {
  padding-bottom: 4px;
  font-weight: 500;
  font-size: var(--size-medium);
  color: var(--text-dark-blue);
  line-height: var(--distance-18px);
}

.card-block__product-code {
  padding-bottom: 16px ;
  font-weight: 400;
  font-size: var(--size-small);
  color: var(--text-gray);
  line-height: 14px;
}

.card-rating {
  display: flex;
  justify-content: space-between;
}

.card-rating__reviews {
  font-weight: 400;
  font-size: var(--size-small);
  color: var(--text-dark-blue);
}

.card-block__price-w {
  display: flex;
  padding-top: 24px;
  justify-content: space-between;
}

.card-block__price {
  font-size: var(--size-medium);
  color: var(--text-gray);
  font-weight: 400;
  line-height: var(--distance-18px);
}

.card-block__cost {
  font-size: 16px;
  color: var(--text-dark-blue);
  font-weight: 700;
  line-height: var(--distance-18px);
}

.link-buy {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  background-color: var(--blue-button-link);
  border: 1px solid transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.link-buy:hover {
  background-color: #fff;
  color: var(--blue-button-link);
  border-color: var(--blue-button-link);
}

/* #endregion */
