.card {
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  height: 406px;
}

.card__cards {
  display: flex;
  flex-direction: column;
}

.image {
  width: 160px;
  height: 134px;
  margin: 32px 19px 40px;
}

.card__title {
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin: 0 16px;
  color: var(--color-word);
}

.card__code {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  margin: 4px 16px;
  color: var(--color-word2);
}
