.card-content__rate_stars {
  display: flex;
  flex-direction: row;
}

.rate-star {
  height: 16px;
  width: 16px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rate-star:not(:last-child) {
  margin-right: 4px;
}

.rate-star:last-child {
  background-image: url(../images/star.svg);
}
