body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.product {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 199px;
  height: 407px;

  border-radius: 5px;
  border: 1px solid var(--Grey-elemnts);
  background-color: var(--White);

  &__img {
    width: 160px;
    height: 134px;
    margin: 32px 19px 40px 19px;
    background-image: url(../images/imac.jpeg);
    background-size: cover;
  }

  &__name {
    margin: var(--margin);

    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: var(--Main-accent)
  }

  &__id {
    margin: var(--margin);
    margin-top: 4px;
    
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: var(--Secondary);
  }

  &__statistic {
    justify-content: space-between;
    display: flex;
    align-items: center;

    height: 16px;
    width: 166px;
    margin: 16px 0 0 0;
  }

  &__review {
    text-align: right;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
  }

  &__price {
    justify-content: space-between;
    display: flex;
    align-items: center;

    height: 16px;
    width: 166px;
    margin: 24px 0 0 0;
  }

  &__priceCount {
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
  }

  &__pricetext {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    color: var(--Secondary);
  }

  &__button-buy {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 166px;
    height: 40px;
    margin: 16px;
    border-radius: 5px;
    background-color: var(--Blue-accent);

    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--White);
  }

  &__button-buy:hover {
    border: 1px solid var(--Blue-accent, #00ACDC);
    background-color: var(--White);
    color: var(--Blue-accent, #00ACDC);
  }
}

