.card {
  display: flex;
  width: 200px;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  padding: 32px 16px 16px;
  font-style: normal;
  font-family: Roboto, sans-serif;
}

.card__image-desktop {
  width: 160px;
  height: 134px;
  align-self: center;
}

.card__name {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  padding-top: 40px;
  color: var(--main_font_color);
}

.card__code {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  padding-top: 4px;
  color: var(--neutral_font_color);
}

.card__stars {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.card__reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  align-self: flex-end;
  color: var(--main_font_color);
}

.card__price {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 16px;
}

.card__price-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--neutral_font_color);
}

.card__price-count {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--main_font_color);
}

.card__buy-button {
  --height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
  height: var(--height);
  text-decoration: none;
  color: #fff;
  background-color: var(--button_color);
  text-align: center;
  line-height: var(--height);
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
}

.card__buy-button:hover {
  background-color: #fff;
  color: var(--button_color);
  border-color: var(--button_color);
}
