.cards {
  box-sizing: border-box;
  width: 200px;
  background-color: #fff;
  border: solid 1px #f3f3f3;
  border-radius: 8px;
  --product-name-price-color: #060b35;
  --product-code-priceword-color: #616070;
  --button-color: #00acdc;

}

.cards__product-info {
  padding: 0 8.1% 8.5%;
}

.cards__image {
  max-width: 81%;
  margin-bottom: 36px;
  padding: 16.3% 10.5% 0 9.5%;
}

.cards__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}

.cards__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.cards__product-name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--product-name-price-color);
  margin-bottom: 4px;

}

.cards__product-code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(-product-code-priceword-color);
  margin-bottom: 16px;
}

.cards__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  color: var(--product-name-price-color);
}

.cards__price-word {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(-product-code-priceword-color);
}

.cards__price-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--product-name-price-color);
}

.cards__buy-button {
  width: 166px;
  height: 40px;
  border: solid 1px transparent;
  border-radius: 5px;
  background-color: var(--button-color);
  text-transform: uppercase;
}

.cards__buy-button:hover {
  background-color: #fff;
  border-color: var(--button-color) ;
  color: #00acdc;
  cursor: pointer;
}

.cards__buy-link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  font-family: "Roboto", sans-serif;

}

.cards__buy-button:hover .cards__buy-link {
  color: var(--button-color);
}
