@import 'variable';

html {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: $text-color;
}

body {
  margin: 0;
}

.stars {
  display: flex;
}

.card {
  line-height: 14px;
  width: 200px;
  height: 408px;
  box-sizing: border-box;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  left: 1px;
  top: 1px;

  &__image {
    width: 160px;
    height: 134px;
    background-image: url(../images/imac.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 20px;
    top: 33px;
  }

  &__title {
    line-height: 18px;
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    left: 16px;
    top: 195px;
    letter-spacing: 0%;
  }

  &__code {
    color: rgba(97, 96, 112, 1);
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
    position: absolute;
    left: 17px;
    top: 236px;
  }

  &__review {
    display: flex;
    width: 166px;
    height: 16px;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left: 17px;
    top: 277px;
    text-align: center;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    height: 18px;
    position: absolute;
    left: 17px;
    top: 317px;

    &-text {
      font-weight: 400;
      flex-basis: 60px;
      min-width: 40px;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      vertical-align: bottom;
      color: rgba(97, 96, 112, 1);
    }

    &-value {
      flex-basis: 60px;
      min-width: 60px;
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      text-align: right;
    }
  }

  &__button {
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: rgba(0, 172, 220, 1);
    color: #fff;
    border: 1px solid rgba(0, 172, 220, 1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 351px;
    left: 17px;
    opacity: 1;
    font-family: Roboto, sans-serif;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;

    &:hover {
      background: rgba(243, 243, 243, 1);
      color: rgba(0, 172, 220, 1);
    }
  }
}

.reviewBlock {
  position: relative;
}

.reviewText {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 0%;
  text-align: center;
}
