.card {
  position: absolute;
  box-sizing: border-box;
  padding: 32px 19px 0;
  width: $card-width;
  height: $card-height;

  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrap {
    width: $wrap-width;
    padding-top: $wrap-padd-top;
  }
  &__img {
    width: $img-width;
    height: $img-height;
    background-image: url(../images/Rectangle\ 4.png);
  }
  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }
  &__prodcode {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    padding-top: 4px;
  }
  &__score {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    &-reviews {
      font-weight: 400;
      font-size: 10px;
    }
  }
  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 16px;
    &-text {
      font-size: 12px;
    }
    &-amount {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }
  &__button {
    display: block;

    padding: 12px 69px 12px 70px;
    background: $btn-bg;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    position: relative;
  }
  &__button:hover {
    display: block;
    background: white;
    color: $btn-bg;
    border: 1px solid $btn-bg;
    padding: 11px 68px 11px 69px;
    position: relative;
  }
}
