body {
  margin: 0;
}

.card__header {
  font-family: Roboto, sans-serif;
  width: 200px;
  height: 408px;

  &__images {
    width: 160px;
    height: 134px;
    top: 33px;
    left: 20px;
  }

  &__product {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 166px;
    height: 36px;
    top: 207px;
    left: 17px;
    size: 12px;
    line-height: 18;
    background: #000000;
  }

  &__product {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    width: 166px;
    height: 36px;
    top: 207px;
    left: 17px;
    size: 12px;
    line-height: 18;
    background: #000000;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    width: 98px;
    height: 14px;
    top: 247px;
    left: 17px;
    size: 10px;
    line-height: 14px;
    background: #616070;
  }
}
