.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 200px;
  padding: 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 8px;
}

.card__photo {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 16px;
}

.card__image {
  width: 160px;
  height: 134px;
}

.card__item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 16px;
}

.card__item-description {
  display: block;
  font-weight: 500;
  color: #060b35;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 4px;
}

.card__item-code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.card__feedback-count {
  line-height: 14px;
  color: #060b35;
}

.card__purchase {
  display: flex;
  flex-direction: column;
}

.card__purchase-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 18px;
  padding-bottom: 16px;
}

.card__product-price {
  font-size: 12px;
  color: #616070;
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  color: #060b35;
}

.card__buy-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00acdc;
  border-radius: 5px;
  background-color: #00acdc;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  padding: 12px 0;
  cursor: pointer;
}

.card__buy:hover .card__buy-submit {
  background-color: #fff;
  color: #00acdc;
}
