.card__image {
  margin: 32px 19px 0;
  width: 160px;
  height: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card__picture {
  width: 160px;
  height: 134px;
}
