/* #region card */

.card {
  display: block;
  position: relative;
  width: 200px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 32px 16px 16px;

  &__image {
    display: block;
    margin: 0 3px 40px;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin: 0 0 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #060b35;
  }

  &__description {
    display: block;
    font-size: 10px;
    line-height: 14px;
    margin: 0 0 16px;
    font-weight: 400;
    color: #616070;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 60px;
    margin: 0 0 16px;
  }

  &__price-title {
    margin: 0;
    font-size: 12px;
    color: #616070;
    line-height: 18px;
  }

  &__price-value {
    margin: 0;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: right;
    color: #060b35;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px;
  }

  &__reviews-numbers {
    line-height: 14px;
    font-size: 10px;
    margin: 0;
    color: #060b35;
  }

  &__button {
    display: block;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-weight: 700;
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    padding: 12px 0;
    color: #fff;
    background-color: #00acdc;
    border: 1px solid #00acdc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  &__button:hover {
    color: #00acdc;
    background-color: #fff;
  }
}

/* #endregion */
