.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  border-radius: $border-radius;
  border: 1px solid $color-border;

  &__image {
    width: 160px;
    height: 134px;
    margin: 32px 19px 40px;
  }

  &__product-details {
    width: $card-content-width-adjustment;
    margin-inline: $padding-inline;
    margin-bottom: $margin-bottom;

    &-title {
      height: 36px;
      font-size: $font-size-medium;
      font-weight: 500;
      line-height: 1.5;
      text-align: left;
      color: $color-primary;
      margin-top: 0;
      margin-bottom: 4px;
    }

    &-description {
      font-size: $font-size-small;
      line-height: 14px;
      text-align: left;
      color: $color-secondary;
    }
  }

  &__rating {
    width: $card-content-width-adjustment;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: $padding-inline;
    margin-bottom: 24px;

    &-reviews {
      font-size: $font-size-small;
      line-height: 14px;
      text-align: right;
      color: $color-primary;
    }
  }

  &__price {
    width: $card-content-width-adjustment;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: $padding-inline;
    margin-bottom: $margin-bottom;

    &-title {
      font-size: $font-size-medium;
      line-height: 18px;
      text-align: left;
      color: $color-secondary;
    }

    &-cost {
      font-size: $font-size-large;
      font-weight: 700;
      line-height: 18px;
      text-align: right;
      color: $color-primary;
    }
  }

  &__button-buy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 40px;
    border-radius: $border-radius;
    background-color: $color-accent;
    margin-inline: $padding-inline;
    margin-bottom: $margin-bottom;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    color: $color-white;

    &:hover {
      background-color: $color-white;
      border: 1px solid $color-accent;
      color: $color-accent;
    }
  }
}
