:root {
  --text-color: #616070;
  --background-color: #fff;
  --border-color: #f3f3f3;
  --button-color: #00acdc;
  --after-button-color: #fff;
  --text-button-color: #fff;
  --mainColor: #060b35;
}
