$dark-color: #060b35;
$blue-color: #00acdc;
$card-border-color: #f3f3f3;
$card-white: #fff;
$font-color-secondary: #616070;

@mixin size($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
