* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;

  --text-color-main: #060b35;
  --text-color-secondary: #616070;
  --color-accent: #00acdc;
}
