.product-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 406px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 16px;
  box-sizing: border-box;
}

.product-container__image {
  width: 160px;
  height: 134px;
  margin: 16px 3px 40px;
}

.product-info {
  display: flex;
  flex-direction: column;
}

.product-info__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-bottom: 4px;
}

.product-info__id {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.product-info__rating {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.product-info__price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-info__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: var(--light-blue);
  border-radius: 5px;
  width: 166px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid transparent;
  text-decoration: none;
  color: #fff;
}

.stars {
  display: flex;
  flex-direction: row;
}

.stars__star {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-position: center;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
}

.stars--4 .stars__star:nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

.rating__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.price__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
}

.price__amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.product-info__buy-button:hover {
  color: var(--light-blue);
  background-color: #fff;
  border-color: var(--light-blue);
}
