.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 32px 19px 0;
  margin: auto;

  border: 1px solid #f3f3f3;
}

.container__item {
  width: 166px;
}

.container__image {
  width: 160px;
}

.title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.title--matgin_top {
  margin-top: 40px;
}

.code {
  font-size: 10px;
  align-self: flex-start;
  line-height: 14px;
}

.code--margin_top {
  margin-top: 4px;
}

.review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.review__item {
  font-size: 10px;
}

.price {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.price__word {
  font-size: 12px;
}

.price__value {
  font-weight: bold;
}

.price--margin_top {
  margin-top: 24px;
}

.purchase {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00acdc;
  color: #fff;
  text-decoration: none;

  height: 40px;
  border-radius: 5px;
}

.purchase:hover {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}

.purchase--margin_vertical {
  margin: 28px 0 16px;
}
