.card {
  display: flex;
  box-sizing: border-box;
  width: 200px;
  flex-direction: column;

  padding: 32px 16px 16px;
  margin: auto;

  border: 1px solid #f3f3f3;
}

.card__title {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-top: 40px;
}

.card__code {
  font-size: 10px;
  align-self: flex-start;
  line-height: 14px;
  margin-top: 4px;
}

.card__review {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.card__review-feedback {
  font-size: 10px;
}

.card__price {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 24px;
}

.card__price-word {
  font-size: 12px;
}

.card__price-value {
  font-weight: bold;
}

.card__purchase {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #00acdc;
  color: #fff;
  text-decoration: none;

  height: 40px;
  border-radius: 5px;
  margin-top: 28px;
}

.card__purchase:hover {
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
