.count {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 22px 0 16px;

  &__price {
    font-size: 12px;
    line-height: 18px;
    color: $secondary;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-accent;
  }
}
