
.description {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  width: 168px;
  height: 36px;
}

.card__description {
  margin-right: 16px;
  margin-left: var(--text-left-margin);
  margin-bottom: 2px;
}
