.description {
  width: 168px;
  height: 36px;
}

.card__description {
  /* margin-right: var(--text-right-margin);
  margin-left: var(--text-left-margin); */
  margin-bottom: 2px;
}

.description__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}