.stars {
  height: 16px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-bottom: 24px;

  &-star {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    padding-right: 4px;
  }

  &-review {
    height: 16px;
    display: flex;
    color: $main-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    padding-left: 17px;
  }
}
