.reviews {
  height: 16px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  margin-top: 16px;
  margin-bottom: 24px;

  &-label {
    height: 16px;
    margin: 0;
    color: $main-color;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
}

.stars__star {
  display: inline-block;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  padding-right: 4px;
}
