
.feedback {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 15px;
}

.rating__point {
  width: 13px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../images/star.svg");
}

.rating__point:nth-child(-n+4) {
  background-image: url("../images/star-active.svg");
}

.rating__point:last-of-type {
  margin-right: 10px;
}

.rating__point:first-of-type {
  margin-left: 1px;
}

.comments {
  font-size: 11px;
  font-weight: 400;
}

.card__feedback {
  margin-bottom: 21px;
}
