.feedback {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #060b35;
  padding: 0 16px 16px;
}

.feedback__stars {
  display: flex;
  justify-content: space-between;
}

.feedback__star {
  background: url(../images/star-active.svg) no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.feedback__star:nth-child(n+5) {
  background: url(../images/star.svg) no-repeat;
}
