
.feedback {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.stars {
  display: flex;
  width: 96px;
  justify-content: space-between;
}

.star {
  background-position: center;
  width: 16px;
  height: 16px;
}

.stars .star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
}

.stars .star:nth-last-child(-n + 1) {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
}

.responses {
  font-size: 10px;
  line-height: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}
