.feedback {
  display: flex;
  justify-content: space-between;

  &__review {
    display: flex;
    color: $main-accent;
    font-size: 10px;
    font-weight: 400;
    align-self: center;
  }

  &--margin {
    margin-bottom: 24px;
  }
}
