@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.woff);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.woff);
  font-weight: 700;
}
