.roboto {
  &-regular {
    font-family: Roboto, serif;
    font-weight: 400;
    font-style: normal;
  }

  &-medium {
    font-family: Roboto, serif;
    font-weight: 500;
    font-style: normal;
  }

  &-bold {
    font-family: Roboto, serif;
    font-weight: 700;
    font-style: normal;
  }
}
