* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: $body-font;
}

.container {
  &-stars {
    margin-top: 16px;

    @include position-content;
  }

  &-price {
    margin-top: 24px;

    @include position-content;
  }
}
