* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body,
h2,
p,
div {
  margin: 0;
}

:root {
  --blue-accent: #00acdc;
  --main-accent: #060B35;
  --secondary: #616070;
  --white: #FFF;
}
