.card-page {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.product-card__wrap {
  box-sizing: border-box;
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.product-card__image {
  margin: 0 auto 40px;
  display: block;
  height: 134px;
}

.product-card__title {
  color: var(--dark-color);
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
  margin-bottom: 4px;
}

.product-card__code {
  color: var(--grey-color);
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 16px;
  font-weight: 400;
}

.product-card__reviews {
  font-size: 10px;
  color: var(--dark-color);
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 24px;
}

.product-card__price-name {
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
}

.product-card__price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  line-height: 18px;
}

.product-card__price-value {
  color: var(--dark-color);
  font-weight: 700;
}

.product-card__button {
  display: block;
  padding: 12px 0;
  text-decoration: none;
  text-align: center;
  line-height: 16px;
  color: #fff;
  background-color: var(--main-color);
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  border: 1px solid var(--main-color);
  transition: color var(--transition-color-time) ease-in,
    background-color var(--transition-color-time) ease ;
}

.product-card__button:hover {
  color: var(--main-color);
  background-color: #fff;
}
