html {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  --main-color: #060b35;
  --second-color: #616070;
  --button-color: #00acdc;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
