
.product-card__image {
  width: 160px;
  height: 134px;
  margin: auto 3px;
}

.stars__star {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  margin-right: 4px;

  &:nth-child(-n + 1) {
    background-image: url(../images/star-active.svg);
  }

  &:nth-child(-n + 2) {
    background-image: url(../images/star-active.svg);
  }

  &:nth-child(-n + 3) {
    background-image: url(../images/star-active.svg);
  }

  &:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }

  &:nth-last-child(-n + 1) {
    background-image: url(../images/star.svg);
  }
}
