.card__monoblock-image {
  margin: 0 0 37px;
  padding: 32px 16px 0;
  width: 160px;
  height: 134px;
}

.card__name-monoblock {
  width: 166px;
  min-height: 36px;
  margin: 0;
  padding: 0 16px;

  color: #060b35;

  font-size: 12px;
  line-height: 18px;

}
