.card__monoblock-image {
  width: 160px;
  height: 134px;
  margin: 0 0 37px;
  padding: 32px 16px 0;
}

.card__name-monoblock {
  width: 166px;
  min-height: 36px;
  font-size: 12px;
  color: #060b35;
  padding: 0 16px;
  line-height: 18px;
  margin: 0;
}
