@import 'colors';

.card__img {
  width: 160;
  height: 134;

  background: $color-default;
  background-image: url("/src/images/imac.jpeg");
  background-size: 100% 100%;
  background-position: center;

  margin-bottom: 40;
}
