.product-card__img {
  box-sizing: border-box;
  width: 160px;
  height: 134px;
  background-image: url(../images/imac.jpeg);
  align-self: center;

  background-size: 100% 100%; /* замість contain */
  background-position: center;
  background-repeat: no-repeat;
}

.product-card__stars {
  display: flex;
  margin-top: 16px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.product-card__star {
  background-image: url(../images/star.svg);
  border-radius: 0.5px;
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.product-card__star:not(:last-child) {
  margin-right: 4px;
}

.product-card__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}
