.product-card__img {
  display: flex;

  background-image: url(../images/imac.jpeg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 134px;
  width: 160px;
}

.product-card__stars {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.product-card__star {
  background-image: url(../images/star.svg);
  border-radius: 0.5px;
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
}

.product-card__star:not(:last-child) {
  margin-right: 4px;
}


.product-card__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

