@import 'variables';
@import 'card';
@import 'stars';

/* === RESET === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0; // ✅ Скидає усі дефолтні бордери
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
  background-color: #f8f8f8;
}

/* === BASE STYLES === */
body {
  display: flex;
  justify-content: center;
  padding: 20px;
}
