.info {
  &__header {
    margin: 0;

    color: $main-accent;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__prod-code {
    margin-top: 4px;

    color: $secondary;
    font-size: 10px;
    line-height: 14px;
  }

  &__rate {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 16px;
  }

  &__price {
    margin-top: 24px;
  }
}
