/* card blocks elem */
.card__container-info {
  padding: 0 16px;
}

/* card blocks elem with info parameters */
.card__info {
  margin-bottom: 4px;
  line-height: 18px;

  font-weight: 500;
  font-size: var(--font-size_m);
  color: var(--font-color_main);
}
