.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* gap: 16px; */
}

.info__main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 4px; */
  margin-bottom: 15px;
}

.info__title {
  margin-bottom: 4px;
  line-height: 18px;
  font-weight: 500;
  font-size: var(--s-text);
  color: var(--main-accent);
}

.info__code {
  line-height: 14px;
  font-size: var(--xs-text);
  color: var(--secondary);
}

.info__other {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* gap: 24px; */
  margin-bottom: 16px;
}

.info__rating {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.info__rating-text {
  display: flex;
  align-items: center;
  font-size: var(--xs-text);
  line-height: 14px;
  color: var(--main-accent);
}

.info__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  line-height: 18px;
}

.info__price-label {
  color: var(--secondary);
  font-size: var(--s-text);
}

.info__price-number {
  font-weight: 700;
  color: var(--main-accent);
  font-size: var(--l-text);
}

.info__buy {
  height: 40px;
}
