.item-description__name {
  padding-top: 40px;
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--item-description-main-color);
}

.item-description__code {
  padding-top: 4px;
  text-align: left;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--item-description-secondary-color);
}

.item-description__review {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;

}

.item-description__review-text {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.item-description__price {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 16px;
}

.item-description__price-word {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--item-description-secondary-color);
}

.item-description__price-value {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--item-description-main-color);
}
