.item {
  text-align: left;
  padding-top: 17px;

  &__name {
    color: #060b35;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__code {
    font-weight: 400;
    color: #616070;
    margin-bottom: 16px;
  }
}
