@import "./stars.css";
@import "./card.css";

:root {
  --black-color: #060b35;
  --button-color: #00acdc;
}

body,
html,
h2,
.card {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  color: var(--black-color);
  margin: 0;
}
