.main-button {
  border-radius: 5px;
  background-color: $accent-color;
  color: $global-white;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  width: 100%;
  padding-block: 11px;
  border: 1px solid $accent-color;

  &:hover {
    color: $accent-color;
    background-color: $global-white;
  }
}
