body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.card {
  padding: 32px 16px 16px;
  width: 200px;
  height: 406px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.card__img {
  height: 134px;
  width: 160px;
  margin: 0 auto;
}

.desc {
  margin-top: 40px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(6, 11, 53);
}

.code {
  margin-top: 4px;
  font-size: 10px;
  color: rgb(97, 96, 112);
}

.S-R {
  justify-content: space-between;
  display: flex;
  margin-top: 16px;
}

.S-R__Reviews {
  align-items: flex-end;
  display: flex;
}

.price {
  justify-content: space-between;
  display: flex;
  margin-top: 24px;
}

.price__desc {
  color: rgb(6, 11, 53);
  font-size: 12px;
  line-height: 18px;
}

.price__num {
  color: rgb(6, 11, 53);
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
}

.buy {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.buy__link {
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  text-decoration: none;
  height: 40px;
  width: 166px;
  background-color: rgb(0, 172, 220);
  border-radius: 5px;
  border: 1px solid rgb(0, 172, 220);
  padding-top: 11px;
  line-height: 16px;
  justify-content: center;
  display: flex;
}

.buy__link:hover {
  background-color: rgb(255, 255, 255);
  color: #00acdc;
  border: 1px solid #00acdc;
}
