body {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  background-color: #aa9d9d;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
