@mixin zero-margins-paddings {
  margin: 0;
  padding: 0;
}

@mixin flex-spacebetween-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin with-centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
