@mixin spaced-between-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin spaced-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
