@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin margin-inline {
  margin-inline: 16px;
}

@mixin bcg-color {
  background-color: #fff;
}

@mixin color-grey {
  color: #616070;
}
