@mixin standard-page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  padding: 0;
  color: $main;
}

@mixin regular-text {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

@mixin small-text {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

@mixin buy-size {
  width: 166px;
  height: 40px;
}
