@mixin standardPage {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  color: $main;
}

@mixin regularText {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

@mixin smallText {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
}

@mixin buySize {
  width: 166px;
  height: 40px;
}
