* {
  box-sizing: border-box;
  }

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid $main-border-color;
  border-radius: 5px;
  align-items: center;

  &__image {
    width: 160px;
    height: 134px;
    padding-top: 32px;
    padding-bottom: 40px;
  }

  &__name {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-color;
  }

  &__code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary-color;
  }
}

.card__price {
  display: flex;
  color: $secondary-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding-bottom: 16px;

  &-value {
    padding-left: 85px;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-color;
  }
}

// .card__button {
// padding-bottom: 16px;

.card__button-buy {
  margin-bottom: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  width: 100%;
  height: 40px;
  color: $main-white-color;
  border-radius: 5px;
  border: none;
  background-color: $button-bg-color;
}
