body {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;

  --color-blue: #00acdc;
  --color-grey: #616070;
  --color-dark: #060b35;
  --color-light: #fff;
  --color-card-border: #f3f3f3;
}
