@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  --color-blue: #00acdc;
  --color-white: #fff;
  --color-darkblue: #060b35;
  --color-gray: #616070;
}

.body {
  margin: 0;
}
