@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #e5e5e5;
}

html {
  font-family: "Roboto", sans-serif;
}

p,
h2 {
  margin: 0;
}

:root {
  --color-link: #00acdc;
  --color-black: #060b35;
  --color-grey: #616070;
  --color-white: #fff;
}
