html {
  font-family: Roboto, sans-serif;
  font-size: 14px;

  --background-properties: no-repeat center;
  --main-color: #060b35;
  --accent-color: #00acdc;
  --secondary-color: #616070;
}

* {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
