/* #region Roboto font */
@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
/* #endregion */

* {
  box-sizing: border-box;
}

:root {
  font-family: Roboto, sans-serif;
}

html,
body,
h2,
p {
  margin: 0;
}
