* {
  box-sizing: border-box;
}

html {
  @include indents;
}

body {
  @include indents;

  letter-spacing: 0;
}

h3 {
  @include indents;

  letter-spacing: 0;
}

p {
  @include indents;

  letter-spacing: 0;
}

button {
  @include indents;
}
