* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;

  --card-background-color: #fff;
  --card-border-color: #f3f3f3;
  --card-color-light: #616070;
  --card-color-dark: #060b35;
  --card-button-background-color: #00acdc;
  --card-border-hover-color: #00acdc;
  --card-button-text-color: #fff;
  --card-button-text-color-hover: #00acdc;
}
