* {
  box-sizing: border-box;
}

.html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  background: #e5e5e5;
  --main-color-black: #060b35;
  --main-color-white: #fff;
  --main-color-gray: #616070;
  --main-color-lightBlue: #00acdc;
} 
