/* #region page */
.page {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  --main-color: #00acdc;
  --text-accent-color: #060b35;
  --secondary-color: #fff;
}

.page__content {
  margin: 0;
}
/* #endregion */
