* {
  margin: 0;
}

html {
  font-family: Roboto, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  box-sizing: border-box;
  --main-color: #00acdc;
  --text-accent-color: #060b35;
  --secondary-color: #fff;
}
