.page {
  font-family: Roboto, sans-serif;
  margin: 0;

  .productNameFont {
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $boldTextColor;
    margin-top: 40px;
    width: $defaultWidth;
    margin-bottom: 0;
  }

  .productCode {
    display: flex;
    justify-items: flex-start;
    width: 100%;
  }

  .productCodeFont {
    margin: 0;
    margin-left: 16px;
    margin-top: 4px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $thinTextColor;
  }

  .thinPrice {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: $thinTextColor;
  }

  .boldPrice {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $boldTextColor;
  }
}
