$button-color: rgba(0, 172, 220, 1);
$button-text-color: white;
$main-color: rgba(6, 11, 53, 1);
$product-color: rgba(97, 96, 112, 1);
$font-weight: 400;
$title-font-weight: 500;
$border-indent: 0 17px;

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  max-width: 200px;
}
