.price-and-value {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;

  margin-bottom: 16px;
}

.price-and-value__price {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price-and-value__value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
