.price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  padding-left: $padding-left;

  &--label {
    color: $text-color;
    font-weight: 400;
    font-size: 12px;
  }

  &--value {
    color: $text-color-strong;
    font-weight: 700;
    font-size: 16px;
    margin-right: 16px;
  }
}

