.price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin-bottom: 16px;
}

.price-tag {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.price {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  color: #060b35;
}
