.price {
  &__name {
    color: var(--secondary);
    font-size: 12px;
    line-height: 18px; /* 150% */
  }

  &__value {
    color: var(--main-accent);
    font-size: 16px;
    font-weight: 700;
    line-height: 18px; /* 112.5% */
  }
}
