/* #region card__price */
.card__price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-text-code);
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-text-name);
}
/* #endregion */
