.price {
  display: flex;
  height: 18px;
  width: 169px;
  white-space: nowrap;
  line-height: 18px;
}

.card__price {
  margin-left: var(--text-left-margin);
  margin-right: var(--text-right-margin);
  margin-bottom: 16px;
}

.price__tag {
  font-weight: 400;
  color: #616070;
  font-size: 12px;
  width: 79px;
}

.price__value {
  font-weight: 700;
  font-size: 16px;
  margin-left: 57px;
}
