.product-card__price {
  justify-content: space-between;
  height: 18px;
}

.product-card__price-text {
  position: absolute;
  width: 32px;
  height: 18px;
  left: 16px;
  top: 314px;
  right: 152px;
  bottom: 72px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.product-card__price-cost {
  position: absolute;
  left: 105px;
  right: 16px;
  top: 314px;
  bottom: 72px;
  font-weight: 700;
  font-size: 16px;
  height: 18px;
  line-height: 18px;
  display: flex;
  color: #060b35;
}
