@import 'variables';

.card__prices {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 16px;
  align-items: center;
  width: 166px;
  height: 18px;

  &__text {
    font-family: $font-roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $color-font-secondary;
  }

  &__value {
    font-family: $font-roboto;
    font-weight: $font-bold;
    font-size: 16px;
    line-height: 18px;
    color: $color-font;
  }
}
