.price {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 12px;
    line-height: 18px;
  }

  &__value {
    color: $accent-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }
}
