.product__prise {
  display: flex;
  gap: 85px;
  margin-bottom: 16px;
}

.product__prise-text {
  color: $gray;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.product__prise-number {
  color: #060b35;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
