.card {
  box-sizing: border-box;
  width: 200px;
  border-radius: 5px;
  border: 1px solid $border-color;

  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
  }

  &__product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 32px 20px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    margin: 40px 16px 0;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    color: $dark-blue-color;
    margin: 0;
  }

  &__name {
    margin: 0;
    margin-bottom: 4px;
    color: $dark-blue-color;
    text-decoration: none;
    font-weight: 500;
    line-height: 18px;
  }

  &__code {
    margin: 0;
    margin-bottom: 16px;
    font-size: 10px;
    line-height: 14px;
    color: $grey-color;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 24px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-title {
      color: $grey-color;
      margin: 0;
    }

    &-current {
      font-size: 16px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      color: $dark-blue-color;
      margin: 0;
    }
  }

  &__button {
    width: 166px;
    height: 40px;
    margin-left: 17px;
    border: 1px solid $blue-color;
    border-radius: 5px;
    background-color: $blue-color;
    color: $white-color;

    &-text {
      font-size: 14px;
      font-weight: 700;
      line-height: 16px;
      text-transform: uppercase;
      text-align: center;
      margin: 0;
    }
  }

  &__button:hover {
    border-radius: 5px;
    background-color: $white-color;
    color: $blue-color;
  }
}
