.product-card {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__image {
  align-self: center;
  width: 160px;
  height: 134px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 40px;
}

.product-card__title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.product-card__code {
  margin-bottom: 16px;
  color: #616070;
  font-size: 10px;
  line-height: 14px;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.product-card__rewies {
  font-size: 10px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  color: #616070;
  font-size: 12px;
  line-height: 18px;
}

.product-card__amount {
  color: #060b35;
  font-weight: 700;
  font-size: 16px;
}

.product-card__link {
  display: block;
  padding: 12px 0;
  background-color: #00acdc;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
}

.product-card__link:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
  padding: 11px;
}
