.product-cards {
  width: 200px;
  height: 408px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;

  &__image {
    background-image: url(../images/imac.jpeg);
    background-repeat: no-repeat;
    width: 166px;
    height: 134px;
    background-size: 160px 134px;
    background-position: center center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-top: 40px;

    &-title {
      font-family: $fontFamily;
      font-size: 12px;
      font-weight: 500;
      color: #060b35;
      line-height: 18px;
    }

    &-product-code {
      font-family: $fontFamily;
      font-size: 10px;
      font-weight: 400;
      color: #616070;
      margin-top: 4px;
    }
  }

  &__raiting {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: center;

    &-rewiews {
      font-family: $fontFamily;
      font-size: 10px;
      font-weight: 400;
      color: #060b35;
    }
  }

  &__prise {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;

    &-title {
      font-family: $fontFamily;
      font-weight: 400;
      font-size: 12px;
      color: #616070;
      line-height: 19px;
    }

    &-value {
      font-family: $fontFamily;
      font-weight: 700;
      font-size: 16px;
      color: #060b35;
    }
  }

  &__button {
    width: 166px;
    margin-top: 16px;

    &-link {
      display: block;
      text-decoration: none;
      color: #fff;
      background-color: #00acdc;
      height: 40px;
      border-radius: 5px;
      text-align: center;
      line-height: 40px;
      font-family: $fontFamily;
      font-weight: 700;
      font-size: 14px;
    }

    &-link:hover {
      box-sizing: border-box;
      border: 1px solid #00acdc;
      border-radius: 5px;
      color: #00acdc;
      background-color: #fff;
    }
  }
}
