html {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  --main-titles-color: #060b35;
  --secondary-title-color: #616070;
  --button-color: #00acdc;
  --border-color: #f3f3f3;
}

.product-card {
  width: 200px;
  padding: 32px 16px 16px;

  border: 1px solid var(--border-color);
  border-radius: 5px;
}

.product-card__image {
  display: block;
  width: 160px;
  height: 134px;

  margin: 0 auto;
  margin-bottom: 40px;
}

.product-card__main-title {
  margin-bottom: 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  color: var(--main-titles-color);
}

.product-card__product-code {
  margin-bottom: 16px;

  font-size: 10px;
  font-weight: 400;
  line-height: 14px;

  color: var(--secondary-title-color);
}

.product-card__rating,
.product-card__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__rating {
  margin-bottom: 24px;
}

.product-card__reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;

  color: var(--main-titles-color);
}

.product-card__price {
  margin-bottom: 16px;
}

.product-card__price-title {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  color: var(--secondary-title-color);
}

.product-card__price-value {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;

  color: var(--main-titles-color);
}

.product-card__link {
  display: flex;
  justify-content: center;
  padding: 11px 70px;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;

  background-color: var(--button-color);
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
}

.product-card__link--hover:hover {
  background-color: #fff;
  color: var(--button-color);
  border-color: var(--button-color);
}
