/* card blocks elem with producte code parameters */
.card__product-code {
  margin-bottom: 16px;

  line-height: var(--line-height_s);
  font-weight: 400;
  font-size: var(--font-size_s);
  color: var(--font-color_grey);
}
