.description-model,
.product-code,
.review-count,
.price-name,
.price-value {
  margin: 0;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 166px;
  align-items: center;
  padding: 32px 16px 16px;

}

.product__img {
  display: block;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.product__description {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.description-model {
  cursor: default;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 4px;
}

.product-code {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.product__review {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  font-size: 10px;
  width: 166px;
  margin: 0;
  align-items: end;
  margin-bottom: 24px;
}

.product__review,
.description-model {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #060b35;
}

.review-count {
  cursor: default;
  display: block;
  line-height: 14px;
  font-size: 10px;
  align-self: flex-end;
}

.product__price {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: flex;
  cursor: default;
  justify-content: space-between;
  align-items: center;
  width: 166px;
  margin-bottom: 16px;
}

.price-name {
  line-height: 18px;
  color: #616070;
}

.price-value {
  font-size: 16px;
  line-height: 18px;
}

.product-button {
  max-width: 164px;
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background: #00acdc;
  border-radius: 5px;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
}

.product-button,
.price-value {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.product-button:hover {
  color: #00acdc;
  border: 1px solid #00acdc;
  background: none;
  transition: 0.5s;
}
