.product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
  padding: 16px;
  border: 1px solid #f3f3f3;

  --font-size-small: 10px;
  --font-size-normal: 12px;
  --font-size-big: 16px;

  --main-text-color: #060b35;
  --secondary-text-color: #616070;
  --btn-color: #00acdc;
}

.product-card__image {
  max-width: 160px;
  height: 134px;
  margin: 16px 3px 0;
}

.product-card__title {
  margin-top: 40px;
  font-size: var(--font-size-normal);
  line-height: 18px;
  font-weight: 500;
  color: var(--main-text-color);
}

.product-card__code {
  padding-top: 4px;
  font-size: var(--font-size-small);
  line-height: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.product-card__rating {
  margin-top: 15px;
  color: var(--main-text-color);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.product-card__price-name {
  font-size: var(--font-size-normal);
  line-height: 18px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

.product-card__price-value {
  font-size: var(--font-size-big);
  line-height: 18px;
  font-weight: 700;
  color: var(--main-text-color);
}

.product-card__button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  padding: 11px 0;
  background-color: var(--btn-color);
  border: 1px solid var(--btn-color);
  border-radius: 5px;
}

.product-card__button:hover {
  background-color: #fff;
}

.product-card__link {
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card__button:hover .product-card__link {
  color: var(--btn-color);
}
