.product-image {
  background: url("/images/imac.jpeg") no-repeat center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

.card__product-image {
  height: 134px;
  width: 160px;
  margin-bottom: 40px;
}
