.product-price {
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 40px;
    border: 1px solid #00ACDC;
    background-color: #00ACDC;
    border-radius: 5px;
    margin-top: 28px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 166px;
      height: 40px;
      border: 1px solid #00ACDC;
      background-color: white;
      border-radius: 5px;
      margin-top: 28px;
      color: #00ACDC;
    }
  }
}
