
.product-image {
  background: url("/images/imac.jpeg") no-repeat center;
  background-size: contain;
}

.product-image__holder {
  height: 134px;
  width: 160px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 32px;
}