.card__product-info {
  margin-top: 40px;
  margin-bottom: 16px;
}

.card__product-info-text {
  margin: 0;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--main-text-color);
}

.card__product-info-code {
  margin-top: 4px;
  color: var(--secondary-text-color);
  font-size: 10px;
  line-height: 14px;
}
