.product-description {
  padding-top: 16px;

  &__photo {
    display: block;
    margin: 0 auto;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-top: 40px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $text-color;
  }

  &__code {
    margin-top: 4px;

    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $gray-text-color;
  }
}
