.product__card {
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  flex-wrap: wrap;
  min-height: fit-content;
  box-sizing: border-box;
}

.product__card-photo {
  display: flex;
  width: 160px;
  height: 134px;
  padding: 32px 19px 20px;
}

.product__card-text {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  margin: 0;
  padding: 20px 15px 4px;
  line-height: 18px;
}

.product__card-code {
  display: flex;
  margin: 0;
  padding: 0 90px 16px 16px;
  color: #616070;
  font-size: 10px;
}

.product__card-feedback {
  font-size: 10px;
  display: inline-flex;
  align-items: flex-start;
  color: #060b35;
  padding-top: 3px;
  padding-right: 10px;
  margin: 0;
}

.product__card-label {
  display: inline-flex;
  color: #616070;
  font-size: 10px;
  padding-left: 16px;
  padding-right: 55px;
  margin: 0;
}

.product__card-tag {
  display: inline-flex;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
