.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-rating__stars {
  display: flex;
  gap: 4px;
}

.product-rating__star {
  height: 16px;
  width: 16px;
  background-image: url(/images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-rating__stars--selected > :nth-child(-n+4) {
  background-image: url(/images/star-active.svg);
}

.product-rating__reviews {
  font-size: 10px;
  font-weight: 400;
  color: var(--dark-text-color);
}
