.product {
  display: flex;
  width: 200px;
  box-sizing: border-box;
  flex-direction: column;
  justify-items: center;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.product__image {
  width: 160px;
  height: 134px;
}

.product__discription {
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 18px;
  color: var(--dark-text-color);
}

.product__code {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: var(--light-text-color);
}

.product__rate {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}

.product__rate-reviews {
  display: flex;
  height: 16px;
  align-items: center;
  font-size: 10px;
  text-decoration: none;
  color: var(--dark-text-color);
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product__price-tag {
  line-height: 18px;
  color: var(--light-text-color);
}

.product__price-cash {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-text-color);
}

.product__buy-botton {
  display: block;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  padding: 11px 0;
  color: #fff;
  background-color: var(--blue-color);
}

.product__buy-botton:hover {
  padding: 10px 0;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
  background-color: #fff;
}
