.product-card__codes {
  position: absolute;
  width: 92px;
  height: 14px;
  left: calc(50% - 92px / 2 - 38px);
  top: 244px;
  bottom: 146px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}
