.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product-price__price {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: var(--light-text-color);
}

.product-price__cash {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-text-color);
}
