.product-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 32px 16px 19px;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__img {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;

  align-self: center;
}

.product-card__name {
  color: var(--main-accent);

  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  margin-bottom: 4px;
}

.product-card__code {
  color: var(--secondary);
  font-size: 10px;
  line-height: 14px;

  margin-bottom: 16px;
}

.product-card__rating {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__reviews {
  color: var(--main-accent);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product-card__price-text {
  color: var(--secondary);

  font-size: 12px;
  line-height: 18px;
}

.product-card__price-number {
  color: var(--main-accent);

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.product-card__button {
  height: 40px;
  display: block;
  box-sizing: border-box;
  border: 1px solid #00acdc;

  line-height: 40px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;

  background-color: var(--blue-accent);
  border-radius: 5px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card__button:hover {
  background: none;
  color: var(--blue-accent);
}
