.ProductCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 200px;
  height: 404px;
  padding: 32px 16px 16px 16px;

  box-sizing: border-box;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  background: #FFFFFF;
}

.ProductCard-logo {
  display: block;

  width: 160px;
  height: 134px;
}

.Description {
  width: 168px;
}
.Description-ProductTitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060B35;
}

.Description-ProductCode {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.Price {
  display: flex;
  justify-content: space-between;
  line-height: 18px;
}

.Price-Name {
  font-size: 12px;
}

.Price-Price {
  font-weight: 700;
  font-size: 16px;
}

.BuyBotton {
 margin: 0 auto;
}

.BuyBotton-Botton {
  display: block;
  box-sizing: border-box;
  color: #fff;
  text-decoration: none;
  background: #00ACDC;
  border-radius: 5px;
  padding: 12px 57px 12px 56px;
  font-size: 14px;
  line-height: 16px;
}
