.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: var(--card-border-radius);
  background-color: var(--background-color);
}

.product-card__image {
  display: flex;
  justify-content: center;
}

.product-card__item {
  width: 160px;
  height: 134px;
}

.product-card__text {
  padding-top: 40px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--dark-text-color);
}

.product-card__code {
  padding-top: 4px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-font-size);
  line-height: 14px;
  color: var(--grey-text-color);
}

.product-card__ratings {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.product-card__review {
  display: flex;
  align-items: center;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: var(--small-font-size);
  color: var(--dark-text-color);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  padding: 24px 0 16px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-text-color);
}

.product-card__amount {
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-text-color);
}

.product-card__button {
  width: 166px;
  height: 40px;
  background-color: var(--button-color);
  border-radius: var(--button-border-radius);

}

.product-card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 56px;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--background-color);
  text-decoration: none;
}

.product-card__buy:hover {
  box-sizing: border-box;
  border: 1px solid var(--button-color);
  border-radius: var(--button-border-radius);
  color: var(--button-color);
  background-color: #fff;
}
