.product {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  background: #fff;

  &__photo {
    display: block;
    margin: 0 auto 40px;
    width: 160px;
    height: 134px;
  }

  &__title {
    margin: 0;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 18px;
    font-weight: 500;
    color: var(--text-accent-color);
  }

  &__code {
    margin: 0;
    margin-bottom: 16px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__review-count {
    margin: 0;
    color: var(--text-accent-color);
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-label {
    font-size: 12px;
    line-height: 18px;
  }

  &__price-value {
    font-size: 16px;
    line-height: 18px;
    font-weight: bold;
    color: var(--text-accent-color);
  }

  &__buy-button {
    display: flex;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    height: 40px;
    border: 1px solid var(--main-color);
    border-radius: 5px;

    font-size: 14px;
    line-height: 16px;
    color: #fff;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--main-color);

    &:hover {
      color: var(--main-color);
      background-color: #fff;
    }
  }
}
