/* #region product-box */
.product-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid rgb(236, 236, 238);
  padding: 32px 15px 10px;
  border-radius: 5px;
}

.product-box__item {
  margin: 0 auto 41px;
  width: 160px;
  height: 134px;
}

.product-box__title {
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18.5px;
}

.product-box__id-code {
  font-size: 9px;
  margin-bottom: 18px;
  color: #5c5b5b;
}

.product-box__five-stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 22px;
}

.product-box__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 17px;
}

.product-box__price-word {
  font-size: 12px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
}

.product-box__price-amount {
  font-size: 16px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #000;
}

.product-box__buy-botton {
  height: 40px;
  border-radius: 7px;
  background-color: var(--product-box__botton-color);
  color: white;
  text-align: center;
  line-height: 38px;
  font-size: 12.8px;
  border: 1px solid transparent;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.product-box__link {
  text-decoration: none;
}

.product-box__buy-botton:hover {
  background-color: white;
  color: var(--product-box__botton-color);
  border: 1px solid var(--product-box__botton-color);
}
/* #endregion */
