.product-card__stars {
  display: flex;
  position: absolute;
  justify-content: space-between;
  top: 274px;
  bottom: 114px;
  left: 16px;
  height: 16px;
}

.stars {
  background-image: url(/images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  border-radius: 0.5px;
}

.stars:nth-child(-n + 4) {
  background-image: url(/images/star-active.svg);
}

.product-card__reviews {
  display: flex;
  position: absolute;
  width: 53px;
  height: 16px;
  top: 274px;
  bottom: 114px;
  left: 131px;
  right: 16px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  align-items: flex-end;
  color: #060b35;
}
