.product-item {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: var(--card-width);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-item__photo {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.product-item__img {
  height: 134px;
  width: 160px;
}

.product-item__content {
  display: flex;
  flex-direction: column;
}

.product-item__name {
  margin-bottom: 4px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 18px;
  color: var(--text-main-color);
}

.product-item__id {
  margin-bottom: 16px;
  line-height: 14px;
  color: var(--text-secondary-color);
}

.product-item__evaluation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.product-item__reviews {
  line-height: 14px;
  color: var(--text-main-color);
}

.product-item__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product-item__price-title {
  color: var(--text-secondary-color);
  font-size: 1.2rem;
}

.product-item__price-curent {
  color: var(--text-main-color);
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 18px;
}

.product-item__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 700;
  border: 1px solid transparent;
  background: var(--blue-accent);
  border-radius: 5px;
}

.product-item__buy-button:hover {
  color: var(--blue-accent);
  border-color: var(--blue-accent);
  background-color: #fff;
}
