.product-card__description {
  position: absolute;
  width: 168px;
  height: 36px;
  left: 16px;
  right: 16px;
  top: 206px;
  bottom: 162px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}
