.stars__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  height: 16px;
}

.card__button-buy:hover {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  width: 166px;
  height: 40px;
  color: $button-bg-color;
  border-radius: 5px;
  border: 1px solid $button-bg-color;
  background-color: $main-white-color;
}
