.stars {
  display: flex;
}

.product__stars {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.stars .stars__star {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
}

.stars__star:not(:first-child) {
  margin-left: 4px;
}

.stars--5 .stars__star,
.stars--1 .stars__star:first-child,
.stars--2 .stars__star:nth-child(-n+2),
.stars--3 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:not(:last-child) {
  background-image: url("../images/star-active.svg");
}

.product__raiting {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}
