.card__raiting {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}

.stars {
  display: flex;
  justify-content: left;
  margin-bottom: 0;
}

.stars__star {
  display: block;
  background: url(../images/star-active.svg) no-repeat center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars-1,
.stars-2,
.stars-3,
.stars-4 {
  background: url(../images/star-active.svg) no-repeat center;
}

.raiting-text {
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
  margin: 0;
}
