.rate__stars {
  display: flex;
}

.rate__image {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.rate__votes {
  font-weight: 400;
  font-size: 10px;
  color: var(--color-dark);
}

.rate__stars--0 > *,
.rate__stars--1 > :nth-child(n+2),
.rate__stars--2 > :nth-child(n+3),
.rate__stars--3 > :nth-child(n+4),
.rate__stars--4 > :last-child {
  background-image: url(../images/star.svg);
}
