.rating {
  display: flex;
  justify-content: space-between;
  width: 168px;
  height: 16px;
}

.card__rating {
  margin-bottom: 24px;
}

.rating__feedback {
  color: #060b35;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  white-space: nowrap;
  text-align: center;
}

.rating__stars {
  display: flex;
}

.rating__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background: url("/images/star-active.svg") center no-repeat;
}

.rating__stars :nth-child(5) {
  height: 16px;
  width: 16px;
  margin-right: 0;
  background: url("/images/star.svg") left center no-repeat;
}
