.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__text {
    color: $dark;

    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;
  }
}
