.prodact-card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.stars-4__star {
  height: 16px;
  width: 16px;
  display: inline-block;

  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars-1 :nth-child(-n+1),
.stars-2 :nth-child(-n+2),
.stars-3 :nth-child(-n+3),
.stars-4 :nth-child(-n+4),
.stars-5 :nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
}

.prodact-card__feedback {
  display: inline-block;
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
}
