.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.rating__wrap {
  display: flex;
}

.rating__stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url("../images/star.svg");
  background-position: center;
}

.stars--4 > .rating__stars__star:nth-child(-n + 4) {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.rating__customer-review {
  font-size: var(--xs-small-size);
  font-weight: 300;
  line-height: var(--small-l-height);
  color: var(--color-main-accent);
}
