.rating {
  display: flex;

  &__container {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__star {
    width: 14px;
    height: 14px;
    background-image: url('../images/star-active.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &--inactive {
      background-image: url('../images/star.svg');
    }
  }
}
