.rating {
  display: flex;
}

.rating__star {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.rating--5 .rating__star,
.rating--1 .rating__star:first-child,
.rating--2 .rating__star:nth-child(-n+2),
.rating--3 .rating__star:nth-child(-n+3),
.rating--4 .rating__star:nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}
