/* #region home-page */

.home-page {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

body,
ul,
h3,
p {
  margin: 0;
  box-sizing: border-box;
}

.home-page__content {
  margin: 0 auto;
  max-width: 1200px;
}

/* #endregion */
