* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #060b35;
}

body,
p,
h2,
a {
  margin: 0;
  font-size: unset;
  text-decoration: unset;
  color: unset;
}
