body,
h2,
p,
ul {
  margin: 0;
}

.html {
  font-family: "Roboto", sans-serif;
  line-height: 18px;

  --line-height_s: 14px;

  --font-size_s: 10px;
  --font-size_m: 12px;

  --font-color_main: #060b35;
  --font-color_button: #00acdc;
  --font-color_grey: #616070;
}
