* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
}

body {
  margin: 0;
}

button {
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}
