:root {
  --color-primary: #060b35;
  --color-secondary: #616070;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-primary);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}
