* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body,
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

button,
input,
select,
textarea {
  border: none;
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
