* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  &__name {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #616070;
  }
  &__cost {
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    color: #060b35;
  }
}
