.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__reviews {
    font-weight: 400;
    font-size: 10px;

    text-align: right;
    line-height: 16px;

    margin-block: 0;
    padding-bottom: 24px;
  }

  &__price {
    font-size: 12px;
    font-weight: 400;
    color: $second-text-color;
    line-height: 18px;
  }

  &__numbers {
    font-size: 16px;
    font-weight: 700;
    color: $main-text-color;
    line-height: 18px;
  }
}
