.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
  margin-top: 16px;

  &__value {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
}

.stars {
  display: flex;

  &__star {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/star-active.svg);
    width: 16px;
    height: 16px;
    margin-right: 4px;

    &:nth-child(5) {
      background-image: url(../images/star.svg);
    }
  }
}
