.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 24px;
}

.reviews__stars {
  display: flex;
}

.reviews__star {
  height: 16px;
  width: 16px;
  margin-left: 4px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__star:first-child {
  margin-left: 0;
}

.reviews__star:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.reviews__count {
  font-size: var(--size-small);
  color: var(--color-black);
  margin: 0;
}
