.rewiew {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: $boldTextColor;
  width: $defaultWidth;
  margin-top: 16px;

  p {
    margin: 0;
    line-height: 1;
  }
}
