.review {

  display: flex;

  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  width: 169px;
  height: 16px;


  &_stars-list {

    display: flex;
    flex-direction: row;
    padding: 0;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    width: 75px;

  }

  &_stars {
    margin-left: 0px;
    width: 16px;
    height: 16px;

    background-image: url(../images/star.svg);
    list-style-type: none;
    background-size: cover;

    &:hover {
      background-image: url(../images/star-active.svg);
    }
  }


  &_number {


    width: 50px;
    height: 16px;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 10px;

  }

}






