.review {

  display: flex;
  align-items: center;
  flex-direction: row;

  width: 150px;
  height: 16px;

  &_stars-list {

    display: flex;
    flex-direction: row;
    margin: -40px;
    width: 75px;

  }

  &_stars {
    margin-left: 0px;
    width: 16px;
    height: 16px;

    background-image: url(../images/star.svg);
    list-style-type: none;
    background-size: cover;

    &:hover {
      background-image: url(../images/star-active.svg);
    }
  }


  &_revi {

    margin: 75px;
    width: 50px;
    height: 16px;
    white-space: nowrap;
    font-family: Roboto;
    font-size: 10px;

  }

}






