@import 'variables';

.card__reviews {
  display: flex;
  margin: 0 auto 24px;
  box-sizing: border-box;
  width: 166px;
  height: 16px;
  text-align: center;
  justify-content: space-between;
  padding: 2px 0 0 2px;

  &__text {
    width: 53px;
    height: 16px;
    font-family: $font-roboto;
    font-weight: $font-medium;
    font-size: 10px;
    line-height: 14px;
    text-align: right;
    color: $color-font;
  }
}

.reviews__stars {
  display: flex;
  box-sizing: border-box;
  width: 96px;
  height: 16px;
  border-radius: 0.5px;
  
}

.stars__star {
    background-image: url(../images/star.svg);
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
  }

.stars__star:nth-child(-n + 4) {
    margin-right: 4px;
    background-image: url(../images/star-active.svg);
  }
