.reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  margin-top: 16px;

  &__stars {
    display: flex;
    align-items: center;
  }

  &__star-item {
    background-repeat: no-repeat;
    background-image: url(/src/images/star.svg);
    background-position: center;
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }

  &__star-item:nth-child(-n + 4) {
    background-image: url(/src/images/star-active.svg);
  }

  &__amount{
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $main-accent;
    height: 13px;
  }
}



