.reviews {
  display: flex;

  justify-content: space-between;
  align-items: center;

  &__stars {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__rating {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
  }
}
