/* #region root */
:root {
  --main-color-text: #060b35;
  --second-color-text: #616070;
  --accent-color: #00acdc;
  --empty-star: url(../images/star.svg);
  --full-star: url(../images/star-active.svg);
}
/* #endregion */
