:root {
  --card-width: 200px;

  --starts-size: 16px;

  --card-imagine-height: 134px;
  --card-imagine-width: 160px;

  --block-position-sides-margin: 16px;

  --main-text-color: #060b35;

  --card-button-margin: 16px;

  --color-white: #fff;
  --color-blue: #00acdc;
}
