* {
  font-family: "Roboto" , sans-serif;
  font-style: normal;
}

body {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
}
