.stars {
  display: flex;

  &__star {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background: url(../images/star.svg) no-repeat center;
    display: flex;

    &:nth-child(-n + 4) {
      background-image: url(../images/star-active.svg);
    }
  }

  &--1 &__star:nth-child(1),
  &--2 &__star:nth-child(-n + 2),
  &--3 &__star:nth-child(-n + 3),
  &--4 &__star:nth-child(-n + 4),
  &--5 &__star:nth-child(-n + 5) {
    background-image: url(../images/star-active.svg);
  }
}
