.stars {
  display: flex;

  &__star {
    height: 16px;
    width: 16px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__star:last-child {
    margin-right: 0;
  }

  @for $n from 1 through 5 {
    &--#{$n} :nth-child(-n + #{$n}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
