.stars {
  display: flex;
}

.stars :nth-child(-n+5) {
  background-image: url(./../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  height: 16px;
  width: 16px;
}

.stars :nth-child(n+5) {
  background-image: url(./../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  height: 16px;
  width: 16px;
}
