.stars {
  display: flex;
}

.stars__star {
  height: 12px;
  width: 12px;
  margin: 2px 6px 2px 2px;
  background-image: url(../images/star.svg);
  background-size: cover;

}

.stars > :nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}
