.card__stars {
  display: flex;
  height: 16px;
  margin-bottom: 24px;
  margin-top: 16px;
  margin-right: 4px;
  background-image: url(../images/star.svg);
  justify-content: space-between;
  background-repeat: no-repeat;
  background-position: center;

  &__star_active: {
    background-image: url(../images/star-active.svg);
  }

  &__star_notactive:nth-child(n + 5) {
    background-image: url(../images/star.svg);
  }
}
