.stars-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.stars-rating__container {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars .stars__star:not(:nth-child(n+5)) {
  background-image: url(../images/star-active.svg);
}
