.stars {
  display: flex;
}

.stars__star {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  margin: 16px 4px 0 0;
}

.stars--4 :first-child {
  margin-left: 16px;
}

.stars__reviews {
  font-size: 10px;
  line-height: 14px;
  margin: 16px 16px 0 17px;
}

.stars--4 :not(:last-of-type) {
  background-image: url(../images/star-active.svg);
}
