.stars__star {
  margin-right: 4px;
  width: 16px;
  height: 16px;

  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:nth-child(5) {
  background-image: url("../images/star.svg");
}

.stars__star:last-child {
  margin-right: 0;
}
