/* #region Stars-block */

.stars-block {
  display: flex;
  /* padding: 16px 16px 0;
  justify-content: space-around; */
}

.stars-block__star {
  background-image: url(./images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
}

.stars-block__star:not(:last-child) {
  margin-right: 4px;
}

.stars-block__star--active:not(:last-child) {
  background-image: url(./images/star-active.svg);
}

/* #endregion */
