.stars {
  display: flex;

  &--4 :nth-child(-n + 4) {
    background-image: url(/src/images/star-active.svg);
  }

  &__star {
    margin-right: 4px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-image: url(/src/images/star.svg);
    background-position: center;
  }
}

.reviews {
  width: 53px;
  height: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
  margin: 0;
  margin-left: 17px;
}
