@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.star-box {
  width: 100%;
  display: flex;
  justify-content: space-between;

  padding: 16px;
}

.star-box__stars {
  display: flex;
}

.star-box__reviews {

  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
}

.star-box__stars-rate {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/star.svg);
}

.star-box__stars-rate:nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}
