.stars {
  display: flex;

  &__star {
    width: $star-size;
    height: $star-size;
    background-image: url('../images/star.svg');
    background-size: cover;

    &.active {
      background-image: url('../images/star-active.svg');
    }
  }
}
