.card__stars {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 24px;
}

.stars {
  display: flex;
  align-items: center;
}

.stars__star {
  margin-left: 4px;
  width: 16px;
  height: 16px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars .stars__star:nth-child(1) {
  margin-left: 0;
}

.stars--5 .stars__star:last-child {
  background-image: url(../images/star.svg);
}

.card__feedback-count {
  line-height: 14px;
  color: #060b35;
}
