.star {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;

  &__wrapper {
    display: flex;
  }

  &__star {
    margin-right: 4px;
    height: 16px;
    width: 16px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__reviews {
    color: #060b35;
    font-weight: 400;
    font-size: 10px;
  }

  @for $i from 1 through 5 {
    &--#{$i} .star__star:nth-child(-n + #{$i}) {
      background-image: url(../images/star-active.svg);
    }
  }
}
