@import url(./card.css);
@import url(./stars.css);

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;

  --white: #fff;
  --blue: #00acdc;
  --deep-blue: #060b35;
  --deep-gray: #616070;
}

body,
p {
  margin: 0;
  padding: 0;
}
