@import "card.scss";
@import "stars.scss";

:root {
  --main_white: #fff;
  --main_black: #060b35;
  --main_blue_accent: #00acdc;
  --secondary_grey: #616070;
  --grey_elements: #f3f3f3;
}

html {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}
