body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product {
  box-sizing: border-box;
  width: 200px;
  height: 410px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product__image {
  width: 160px;
  height: 135px;
  margin: 30px 20px 0;
  background-image: url(../images/imac.jpeg);
  background-size: cover;
}

.product__name {
  width: 165px;
  height: 35px;
  margin: 40px 15px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.product__code {
  margin-top: 4px;
  margin-left: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.product__stars {
  width: 165px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stars__star {
  height: 16px;
  width: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars--level :nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}

.product__reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.product__price {
  width: 165px;
  margin-left: 16px;
  display: flex;
  justify-content: space-between;
}

.price-text {
  display: flex;
  margin-top: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  text-align: center;
}

.price-number {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.product__button {
  width: 165px;
  height: 40px;
  margin-bottom: 16px;
  margin-left: 16px;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.button-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.product__button--buy {
  background-color: #f3f3f3;
  color: #00acdc;
}

