@import "utils/variables";
@import "stars";

body {
  margin: 0;
  font-family: "Roboto", Helvetica, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  width: 200px;
  padding: 16px;
  background: $white-color;

  &__image {
    margin: 16px 0 0 3px;
    width: 160px;
    height: 134px;
  }

  &__nameblock {
    margin-top: 40px;
  }

  &__name {
    margin: 0;
    width: 166px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-accent;
  }

  &__product-code {
    margin: 4px 0 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary-accent;
  }

  &__reviewblock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    height: 16px;
  }

  &__reviews {
    margin: 0;
    font-size: 10px;
    line-height: 14px;
    color: $main-accent;
  }

  &__priceblock {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    height: 18px;
  }

  &__pricetext {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: $secondary-accent;
  }

  &__sum {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $main-accent;
  }

  &__buybutton {
    display: block;
    margin-top: 16px;
    border: 1px solid rgba(0, 0, 255, 0);
    border-radius: 5px;
    padding: 11px 70px;
    background-color: $blue-accent;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white-color;

    &:hover {
      border-color: $blue-accent;
      color: $blue-accent;
      background-color: $white-color;
    }
  }
}
