@import url("./reset.css");
@import url("./normalize.css");
@import url("./variables.css");
@import url("./stars.css");

.card {
  display: flex;
  flex-direction: column;

  padding: 32px 16px 16px;
  width: 200px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__img {
  align-self: center;

  margin-bottom: 40px;

  width: 160px;
  height: 134px;
}

.card__name {
  margin-bottom: 4px;

  color: var(--black-accent);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.card__code {
  margin-bottom: 16px;

  color: var(--grey-accent);
  font-weight: 400;
  font-size: 10px;
}

.card__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.card__reviews {
  color: var(--black-accent);
  font-weight: 400;
  font-size: 10px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 16px;
}

.card__price-name {
  color: var(--grey-accent);
  font-weight: 400;
  font-size: 12px;
}

.card__price-amount {
  color: var(--black-accent);
  font-weight: 700;
  font-size: 16px;
}

.card__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-decoration: none;

  background-color: var(--blue-accent);
  border: 1px solid var(--blue-accent);
  border-radius: 5px;
}

.card__buy-button:hover {
  color: #00acdc;
  background-color: #fff;
}
