.stars {
  display: flex;
  flex-direction: row;
  width: 96px;
  height: 16px;

  &__star {
    height: 16px;
    width: 16px;
    background: center no-repeat url(../images/star.svg);
  }

  &__star:not(:last-child) {
    margin-right: 4px;
  }

  &--3 &__star:nth-child(-n+3) {
    background-image: url(../images/star-active.svg);
  }
}
