@import 'blocks/variables';
@import 'blocks/stars';
@import 'blocks/card';

body {
  margin: 0;
  background-color: $color-background;
  font-family: $font-family;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
