.title {
  display: flex;
  flex-direction: column;
 justify-content: flex-start;
  margin-top: 5px;
  height: 55px;

  &_product-title {

    width: 166px;
    height: 36px;
    font-family: Roboto;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 1px;
    }

    &_code-product {

      width: 98px;
      height: 14px;
      font-family: Roboto;
      color: #616070;
      font-size: 10px;
      letter-spacing: 0%;
      }
}

