.tittle {
  display: flex;
  align-content: stretch;
  margin-top: 60px;
  height: 55px;

  &_prod-tittle {

    width: 166px;
    height: 36px;
    font-family: Roboto;
    font-size: 12px;
    margin-bottom: 15px;
    }

    &_code-prod {

      width: 98px;
      height: 14px;
      font-family: Roboto;
      color: #616070;
      font-size: 10px;
      letter-spacing: 0%;
      }
}

