.card__title {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--main-color);
}

.card__code {
  margin-bottom: 16px;

  font-size: 10px;
  line-height: 14px;
  font-weight: normal;
  color: var(--secondary-color);
}
