:root {
  --blue: #060b35;
  --grey: #616070;
  --light-blue: #00acdc;
  --shadow-btn: #0e91b5;

  --padingCard: 16px;

  --full-star: url(../images/star-active.svg);
  --empty-star: url(../images/star.svg);
}
