$buttonBackgroundColor: #00acdc;
$buttonBackgroundHoverColor: #fff;
$mainBorderColor: #f3f3f3;
$buttonTextColor: #fff;
$buttonBorderHoverColor: #00acdc;
$mainFontColor: #060b35;
$secondaryFontColor: #616070;
$mainBackgroundColor: #fff;
$buttonTextHoverColor: #00acdc;
