$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$font-weight-small: 400;
$font-weight-medium: 500;
$font-weight-large: 700;
$button-color: #00acdc;
$product-code-color: #616070;
