$strong-color: #060B35;
$light-color: #616070;
$blue-color: #00ACDC;
$white-color: #fff;

@mixin text-styling($size, $weight, $line-height) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
}

