// Text colors

// Principal title, reviews and price value

$first-text-color: rgba(6, 11, 53, 1);

// Code And Price text
$second-text-color: rgba(97, 96, 112, 1);

// Button
$third-text-color: rgba(255, 255, 255, 1);

// Button active and button border
$fourth-text-color: rgba(0, 172, 220, 1);

// Background Colors
$back-ground-color: rgba(255, 255, 255, 1);

// Colors bord background
$back-ground-border-color: rgba(243, 243, 243, 1);
