$main-font-family: "Roboto", "Helvetica", sans-serif;
$main-font-weight: 500;
$main-font-size: 12px;
$main-line-height: 18px;
$main-text-color: #060b35;

$secondary-font-weight: 400;
$secondary-font-size: 10px;
$secondary-line-height: 14px;
$secondary-text-color:#616070;

$main-border: #f3f3f3;
$color-blue: #00acdc;
