$main-text-color: #060b35;
$secondary-text-color: #616070;
$price-text-color: #000;
$btn-bg-color: #00acdc;
$btn-text-color: #fff;
$btn-hover-bg-color: #fff;
$btn-hover-text-color: #00acdc;
$bg-color: #fff;
$main-font-family: 'Roboto', sans-serif;
