$main-font: 'roboto', 'ariel', sans-serif;
$product-width: 200px;
$product-height: 408px;
$product-background-color: #fff;
$product-img-height: 134px;
$product-img-width: 160px;
$product-main-info-text-color: #060b35;
$product-add-info-text-color: #616070;
$product-button-color: #00acdc;
