$name-text-color: #060b35;

$other-text-color: #616070;

$name-font-size: 12px;

$name-font-weight: 500;

$price-font-size: 16px;

$price-font-weight: 700;

$button-color: #00acdc;

$star-width: 16px;

$star-height: 16px;

$star-background-image: url(../images/star.svg);

$star-background-image-active: url(../images/star-active.svg);
