:root {
  --font-size-s: 10px;
  --font-size-m: 12px;
  --font-size-l: 14px;
  --font-size-xl: 16px;
  --main-color: #060b35;
  --secondary-color: #616070;
  --white-color: #fff;
  --blue-color: #00acdc;
  --white-smoke-color: #f3f3f3;
}
