:root {
  --small-size-text: 10px;
  --medium-size-text: 12px;

  --light-weight: 400;
  --bold-weight: 700;

  --emphasized-text-color: #060b35;
  --lightened-text-color: #616070;

  --button-color: #00acdc;
}
