$card-width: 198px;
$card-height: 408px;
$card-background-color: #fff;
$card-border: 1px;
$card-border-color: #f3f3f3;
$card-main-info-text-color: #060b35;
$card-secondary-info-text-color: #616070;
$card-buy-box-color: #00acdc;
$card-buy-text-color: #fff;
$main-font: 'Roboto', sans-serif;
