:root {
  --text-h2: 12px;
  --text-small: 10px;
  --text-big: 12px;
  --text-price-big: 16px;
  --text-button: 14px;
 
  --line-heigth-small: 14px;
  --line-heigth-big: 18px;
  --line-heigth-button: 16px;

  --white-color: #fff;
  --main-border-color: #f3f3f3;
  --button-back-color: #00acdc;
  --button-hover-text-color: #00acdc;
  --main-text-accent: #060b35;
  --second-color: #616070;
}
