:root {
  --c-basic: #060b35;
  --c-specificGrey: #616070;
  --c-specificBlue: #00acdc;
  --c-white: #fff;
  --c-borderColor: #f3f3f3;
}

@font-face {
  font-family: Roboto-Medium;
  src: url("/fonts/Roboto/Roboto-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: Roboto-Regular;
  src: url("/fonts/Roboto/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Roboto-Bold;
  src: url("/fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 700;
}
