$normal-font-weight: 400;
$heavy-font-weight: 700;
$main-color: #060b35;
$secondary-color: #616070;
$blue-color: #00acdc;
$large-font-size: 16px;
$big-font-size: 14px;
$medium-font-size: 12px;
$normal-font-size: 10px;
$minimal-line-height: 14px;
$medium-line-height: 16px;
$large-line-height: 18px;
