// Colors

$color-button: #00acdc;
$color-button-text: #fff;
$color-card-border: #f3f3f3;
$color-title: #060b35;
$color-code: #616070;
$color-review: #060b35;
$color-name: #616070;
$color-cost: #060b35;
$color-background: #f5f5f5;

// Typography
$font-family: 'Roboto', Arial, sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
