$cardWidth: 200px;
$starsSize: 16px;
$marginStars: 4px;
$imacPhotoWidth: 160px;
$imacPhotoHeight: 134px;
$imacPhotoTopMargin: 32px;
$defaultWidth: 166px;
$buttonHeight: 40px;
$boldTextColor: #060b35;
$thinTextColor: #616070;
$buttonColor: #00acdc;
