:root {
  /*#region colors*/
  --color-main-accent: #060b35;
  --color-secondary: #616070;
  --color-blue-accent: #00acdc;
  --color-gray-elements: #e5e5e5;
  --color-yellow-stars: #ffde6a;
  /*#endregion*/
  /*#region image links*/
  --star: url("../images/star.svg");
  --active-star: url("../images/star-active.svg");
  /*#endregion*/
  --outside-card-items-margin: 16px;
  --buy-link-height: 40px;
}
