.group {
  display: flex;
  justify-content: space-between;
}

.group--top {
  margin-top: 16px;
}

.group__reviews {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: right;
  height: 16px;
  display: flex;
  align-items: center;
}

.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  margin-right: 4px;
  background-image: url(../../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star--4 .stars__star:nth-child(n + 5) {
  background-image: url(../../images/star.svg);
}
