@font-face {
  font-family: "Roboto";
  font-weight: 400;
  src: url(./Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 500;
  src: url(./Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto";
  font-weight: 700;
  src: url(./Roboto-Bold.ttf);
}
