.reviews {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;

  @import '../reviews/__stars/stars.scss';
  @import '../reviews/__item/item.scss';
  @import '../reviews/__item--last/last.scss';
  @import '../reviews/__count/count.scss';
}
