$PrimaryFont: Roboto, sans-serif;
$FontRegular: 400;
$FontMedium: 500;
$FontBold: 700;
$ColorMainAccent: #060b35;
$ColorSecondary: #616070;
$ColorBlueAccent: #00acdc;
$White: #fff;
$CardWidth: 200px;
