/* #region cardRating */
.stars {
  display: flex;
  justify-content: flex-start;
}

.stars_star {
  background-image: url(/images/star.svg);
  height: 16px;
  width: 16px;
  background-position: 50%;
  margin-right: 4px;
  background-repeat: no-repeat;
}

.stars--1 > :nth-child(-n + 1),
.stars--2 > :nth-child(-n + 2),
.stars--3 > :nth-child(-n + 3),
.stars--4 > :nth-child(-n + 4),
.stars--5 > :nth-child(-n + 5) {
  background-image: url(/images/star-active.svg);
}

.productCard__rating {
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}

.productCard__productReviews {
  font-size: 10px;
  font-weight: 400;
}
/* #endregion */
