/* #region cardButton */
.productCard__button {
  display: flex;
  align-items: center;
  margin-top: 16px;
  height: 40px;
  width: 166px;
  justify-content: center;
  line-height: 40px;

  font-size: 14px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  background-color: var(--main-color);
}

.productCard__button:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}
/* #endregion */
