.card {
  display: flex;
  flex-direction: column;
  justify-items: center;
  width: 200px;
  padding: 32px 19px 19px;
  border-radius: 5px;
  border: 1px solid #f3f3f3;
  background: #fff;
}

:root {
  --main-accent-color: #060b35;
  --secondary-price-color: #616070;
  --giganiga-blue-color: #00acdc;
}

.card-img {
  max-height: 134px;
  margin-bottom: 40px;
  width: 160px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 6px;
  color: var(--main-accent-color);
}

.card__product-code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 16px;
  color: var(--secondary-price-color);
}

.card__price {
  margin-bottom: 12px;
  display: flex;
  justify-content: space-between;
}

.card__price-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-price-color);
}

.card__price-money {
  font-weight: 700;
  font-size: 16px;
  color: var(--main-accent-color);
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  background-color: var(--giganiga-blue-color);
  border-radius: 5px;
  border: 1px solid var(--giganiga-blue-color);
}

.card__button:hover {
  background: #fff;
  border-color: var(--giganiga-blue-color);
  border-radius: 5px;
}

.card_buy {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
}

.card__button:hover .card_buy {
  color: var(--giganiga-blue-color);
}
