.star {
  padding-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.star__review {
  text-align: right;
  font-size: 10px;
  line-height: 14px;
  color: var(--main-accent-color);
}
