.card {
  box-sizing: border-box;
  height: 400px;
  width: 200px;
  @include contentPaddingInline;
  display: flex;
  flex-direction: column;
  align-content: center;
  &__section {
    display: flex;
    align-items: center;
    &--1 {
      width: 160px;
      height: 130px;
      background-image: url('../images/imac.jpeg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}
