.card {
  width: 200px;
  border-radius: 5px;

  &__img {
    padding: 32px 19px 40px;
    display: block;
  }

  &__title {
    margin: 0;

    font-size: 12px;

    line-height: 18px;
    letter-spacing: 0%;
  }

  &__content {
    padding: 0 16px 16px;
  }

  &__code {
    font-size: 10px;
    font-weight: 400;

    line-height: 14px;

    margin-top: 4px;

    color: $color-gray;
  }

  &__price {
    margin-top: 24px;

    display: flex;
    justify-content: space-between;
  }

  &__price-title {
    font-size: 12px;
    font-weight: 400;

    line-height: 18px;
    letter-spacing: 0%;

    color: $color-gray;
  }

  &__price-value {
    font-size: 16px;
    font-weight: 700;

    line-height: 18px;
  }

  &__button {
    width: 100%;

    margin: 16px 0 0;
    padding: 12px 0;

    text-align: center;

    text-transform: uppercase;

    color: white;

    font-size: 14px;
    font-weight: 700;

    line-height: 16px;

    letter-spacing: 0%;

    border-radius: 5px;
    border: 1px solid $color-active;

    background-color: $color-active;
  }

  &__button:hover {
    color: $color-active;
    background-color: white;
    transition: 0.5s;
  }

  &__stars-section {
    margin: 16px 0 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__reviews {
    font-size: 10px;

    font-weight: 400;

    line-height: 14px;

    letter-spacing: 0%;
  }
}
