.Cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 0;
}

.Cards-Label {
  padding-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--basic-color);
}

.Cards-Images {
  height: 134px;
  width: 160px;
  align-self: center;
}

.Cards-CodeProduct {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-color);
  padding-top: 4px;
}

.Ratings-Stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  gap: 17px;
}

.Ratings-Text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  align-self: flex-end;
  color: var(--basic-color);
}

.Cards-Price_Position {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 16px;
}

.Cards-Price_Label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-color);
}

.Cards-Price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  align-self: flex-end;
  color: var(--basic-color);
}

.Cards-Buy_Product {
  display: flex;
  border: 1px solid transparent;
  text-decoration: none;
  background: var(--blue-color);
  color: #fff;
  height: 40px;
  border-radius: 5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  padding: 11px 69px 11px 68px;
}

.Cards-Buy_Product:hover {
  background: #fff;
  color: var(--blue-color);
  border: 1px solid var(--blue-color);
}
