.Stars_4 {
  display: flex;
  height: 16px;
  gap: 4px;
  width: 96px;
}

.Stars-Star {
  background: no-repeat url(../images/star-active.svg) center;
  height: 16px;
  width: 16px;

}

.Stars_0 :nth-child(n+1),
.Stars_1 :nth-child(n+2),
.Stars_2 :nth-child(n+3),
.Stars_3 :nth-child(n+4),
.Stars_4 :nth-child(n+5) {
  background-image: url(../images/star.svg);
}
