@import "./cards.css";
@import "./stars.css";

:root {
  --basic-color: #060b35;
  --secondary-color: #616878;
  --blue-color: #00acdc;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
