.product-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 16px;
  width: 200px;
  padding: 16px;
  font-family: Roboto, Georgia, sans-serif;
  border: 1px solid rgba(243, 243, 243, 1);
  outline-offset: 1px;
  border-radius: 5px;
}
