html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.card {
  padding: 32px 16px 0;
  width: 166px;
  height: 372px;
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(243, 243, 243);
  border-radius: 5px;
}

.card__logo {
  height: 134px;
  width: 160px;
  padding-left: 3px;
}

.card_img {
  margin: 40px 0 0;
}

.card__start {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.card-text {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgb(6, 11, 53);
}

.card-code {
  margin-top: 4px;
  color: rgb(97, 96, 112);
}

.card__opinion {
  display: flex;
  align-items: flex-end;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.price {
  color: rgb(6, 11, 53);
  font-size: 12px;
}

.num {
  color: rgb(6, 11, 53);
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
}

.card_link {
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

.card-buy {
  font-size: 14px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-decoration: none;
  height: 27px;
  width: 166px;
  background-color: rgb(0, 172, 220);
  border-radius: 5px;
  border: 1px solid rgb(0, 172, 220);
  padding-top: 11px;
  line-height: 16px;
  justify-content: center;
  display: flex;
}

.card-buy:hover {
  background-color: rgb(255, 255, 255);
  color: #00acdc;
  border: 1px solid #00acdc;
}
