.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-small-color);
}

.card__price-price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color);
}
