.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
  background: #fff;
}

.card__picture {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card__main-text {
  font-weight: 500;
  font-size: 12px;
  color: var(--text-color);
  margin-bottom: 4px;
  line-height: 18px;
}

.card__product-code {
  font-weight: 400;
  color: var(--text-small-color);
  margin-bottom: 16px;
}

.card__star-reviews {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card__reviews {
  font-weight: 400;
  color: var(--text-color);
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-small-color);
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color);
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid var(--main-color);
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--main-color);
}

.card__button:hover {
  color: var(--main-color);
  background-color: #fff;
}
