.star {
  display: flex;
}

.star__stars {
  width: 16px;
  height: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.star--4 :nth-child(-n+4) {
  background-image: url(../images/star-active.svg);
}

.star__stars:not(:last-child) {
  margin-right: 4px;
}
