%star {
  @include star($star-size);
  content: "";
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

%star-inactive {
  position: relative;
  background-image: url(../images/star.svg);
}

%star-active {
  position: absolute;
  background-image: url(../images/star-active.svg);
}
