@mixin roboto-font($weight, $size, $lineHeight) {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
  line-height: $lineHeight;
  letter-spacing: 0;
}
