@mixin base($color, $borderCol) {
  background-color: $color;
  border: 1px solid $borderCol;
  border-radius: 5px;
}

@mixin font($weight, $size, $line: $size) {
  font-size: $size;
  line-height: $line;
  font-weight: $weight;
}
