:root {
  --bg-primary: rgb(255, 255, 255);
  --bg-btn: rgb(0, 172, 220);
  --border-1: 1px solid rgb(242, 242, 242);
  --border-btn: 1px solid rgb(0, 172, 220);

  --font-main: rgb(6, 11, 53);
  --font-secondary: rgb(97, 96, 112);
  --font-white: rgb(255, 255, 255);
  --font-btn: rgb(0, 172, 220);
}
