$color-gray: #616070;
$color-button: #00acdc;
$font-size-xs: 10px;
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;
$font-weight-s: 400;
$font-weight-m: 500;
$font-weight-l: 700;
$card-width: 200px;
$card-height: 408px;
$color-text: #060b35;
$gap-sm: 4px;
$radius: 5px;
