/* colors */
$white: #fff;
$main-accent: #060b35;
$seceondary: #616070;
$dark-white: #f3f3f3;
$blue-accent: #00acdc;

/* card */
$card-width: 200px;
$card-contnet-width: 166px;
$card-border-width: 1px;
$card-padding: calc(
  ($card-width - $card-contnet-width) / 2 - $card-border-width
);

/* stars */
$star-size: 16px;
$star-margin: 4px;
$stars-width: $star-size * 5 + $star-margin * 4;
