// Colors
$main-accent: #060b35;
$secondary-accent: #616070;
$blue-accent: #00acdc;
$white-accent: #fff;

// Card specific
$card-width: 200px;
$card-height: 408px;
$card-padding: 32px 16px 16px;
$card-border: 1px solid #f3f3f3;

// Area-product-name
$info-width: 166px;

// Star specific
$star-size: 16px;
$star-gap: 4px;

// Gaps infos
$image-margin-bottom: 40px;
