$card-width: 200px;
$main-font-family: Roboto;
$main-font-size: calc($card-width * 0.08);
$main-line-height: calc($card-width * 0.09);
$secondary-font-size: calc($main-font-size * 0.75);
$secondary-line-height: calc($card-width * 0.09);
$smallest-font-size: calc($main-font-size * 0.63);
$smallest-line-height: calc($main-line-height * 0.78);
$number-of-stars: 4;
$main-color: #060b35;
$secondary-color: #616070;
$card-border-color: #f3f3f3;
$buy-link-color: #00acdc;
