.card {
  max-width: 200px;
  width: 100%;
  padding: 32px 16px 16px;
  border-radius: 5px;

  &__img {
    width: 100%;
    margin-bottom: 40px;
  }
  &__prod {
    margin-bottom: 16px;
  }
  &__review {
    margin-bottom: 24px;
  }
  &__price {
    margin-bottom: 16px;
  }
}

.product {
  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: v.$col-blue;
    margin-bottom: 4px;
  }
  &__code {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    color: v.$col-grey;
  }
}

.reviews {
  display: flex;
  justify-content: space-between;
  height: 16px;
  min-width: 116px;
  width: 100%;
  gap: 17px;

  &__stars {
    flex-grow: 1;
  }

  &__count {
    font-weight: 400;
    font-size: 10px;
    line-height: 140%;
    text-align: right;
    color: v.$col-blue;
  }
}

.price {
  display: flex;
  justify-content: space-between;

  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: v.$col-grey;
  }

  &__current {
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    text-align: right;
    color: v.$col-blue;
  }
}

.btn-link {
  display: block;
  border-radius: 5px;
  width: 166px;
  height: 40px;
  background-color: #00acdc;

  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  transition: all 0.3s;

  &--hover:hover {
    background-color: #fff;
    color: #00acdc;
    border: solid 1px #00acdc;
  }
}
