@import '../utils/variables';

p {
  margin: 0;
}

.card {
  padding: 32px 16px 16px;
  box-sizing: border-box;
  width: $card-width;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;

  &__image {
    width: 160px;
    height: 134px;
    display: block;
    margin-bottom: 40px;
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
  }

  &__title {
    font-family: Roboto, serif;
    font-weight: 500;
    font-size: 12px;
    line-height: $primary-lineheight;
    letter-spacing: 0;
    margin: 0 0 4px;
    color: $main-color;
    text-decoration: none;
    display: block;
  }

  &__product-code {
    font-size: 10px;
    line-height: $secondary-lineheight;
    letter-spacing: 0;
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__rating-reviews {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
  }

  &__reviews {
    font-family: Roboto, serif;
    display: flex;
    font-size: 10px;
    line-height: $secondary-lineheight;
    letter-spacing: 0;
    color: $main-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__price-price {
    font-size: 12px;
    line-height: $primary-lineheight;
    letter-spacing: 0;
    color: $secondary-color;
  }

  &__price-amount {
    font-weight: 700;
    font-size: 16px;
    line-height: $primary-lineheight;
    letter-spacing: 0;
  }

  &__button {
    font-family: Roboto, serif;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 40px;
    width: 166px;
    background-color: $blue-accent-color;
    color: #fff;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0;
    text-transform: uppercase;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s;

    &:hover {
      background-color: transparent;
      border: 1px solid $blue-accent-color;
      color: $blue-accent-color;
    }
  }
}
