@import '../utils/variables';
.card {
  padding: 32px 16px 16px;
  box-sizing: border-box;
  width: $card-width;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  background-color: #F3F3F3;



&__image {
  width: 160px;
  height: 134px;
  display: block;
  margin-top: 32px;
  margin-bottom: 40px;

}

&__title {
  font-family: Roboto serif;
  font-weight: 500;
  font-size: 12px;
  line-height: $primary-lineheight;
  letter-spacing: 0;
  margin: 0 0 4px;

}

&__product-code {
  font-style: 10px;
  line-height: $secondary-lineheight;
  letter-spacing: 0;
  color: $secondary-color;
  margin-bottom: 16px;
}

&__rating-rewiews {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

&__rewiews {
  font-size: 10px;
  line-height: $secondary-lineheight;
  letter-spacing: 0;

}

&__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

&__price-price {
  font-size: 12px;
  line-height: $primary-lineheight;
  letter-spacing: 0;
  color: $secondary-color;

}

&__price-amount {
  font-weight: 700;
  font-style: 16px;
  line-height: $primary-lineheight;
  letter-spacing: 0;
}

&__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 40px;
  width: 166px;
  background-color: $blue-accent-color;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0;
  text-transform: uppercase;
  border-radius: 5px;
  box-sizing: border-box;
  transition: all 0.3s;


&:hover {
  background-color: transparent;
  border: 1px solid $blue-accent-color;
  color: $blue-accent-color;
}
}


}
