.card {
  width: 200px;
  background-color: $white-bg-color;
  border: 1px solid $border-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px 16px;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    color: $main-color;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
  }

  &__code {
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 16px;
    color: $second-color;
  }

  &__evaluetion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  }

  &__stars {
    display: flex;
    gap: 4px;
  }

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    color: $main-color;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    &-text {
      font-size: 12px;
      line-height: 18px;
      color: $second-color;
    }

    &-amount {
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
      color: $main-color;
    }
  }
  
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: $btn-color;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: $white-bg-color;
    text-align: center;
    text-transform: uppercase;

    &:hover {
      color: $btn-color;
      background-color: $white-bg-color;
      border: 1px solid $btn-color;
    }
  }
}
