$color__font_secondary: #616070;
$color__font_primary: #060b35;
$color__font_white: #fff;
$color__background_secondary: #f3f3f3;
$color__background_primay: #fff;
$color__buyButton_secondary: #00acdc;
