body {
  margin: 0;
  background-color: #ccc;
  font-family: Roboto, serif;
  color: $main-black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
