@mixin fontFamily($weight, $lineHeight, $size: 1) {
  font-size: 10px * $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

@mixin flexFamily {
  display: flex;
  justify-content: space-between;
}
