@mixin basicTextStyles($f-weight,$f-size,$line-height) {
  font-weight: $f-weight;
  font-size: $f-size;
  line-height: $line-height;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

@mixin border($color) {
  border: $border-thickness solid $color;
}
