@mixin font {
  font-family: Roboto, sans-serif;
}

@mixin star {
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: center;
}

@mixin spacebetweenblock {
  display: flex;
  justify-content: space-between;
}
