$text-color: #060b35;
$price-color: #616070;
$buy-botton-color: #ffff;
$but-botton-bc-color: #00acdc;
$product-code-color: #616070;
$card-ff: Roboto, sans-serif;

@mixin font-family {
  font-family: $card-ff;
  color: $text-color;
}

@mixin product-title-font {
  font-family: $card-ff;
  color: $text-color;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

@mixin product-code-font {
  font-family: $card-ff;
  color: $text-color;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

@mixin product-code {
  font-family: $card-ff;
  color: $product-code-color;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@mixin price-font {
  font-family: $card-ff;
  color: $price-color;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

@mixin buy-button-font {
  font-family: $card-ff;
  color: $buy-botton-color;
  background-color: $but-botton-bc-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

@mixin flex-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
