* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  color: white;
}

ol,
ul,
li {
  list-style: none;
}

button {
  outline: none;
  background: none;
  color: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  -webkit-appearance: none; /* Safari/Chrome */
  -moz-appearance: none; /* Firefox */
}
