html {
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: $main-color;
}

body {
  margin: 0;
}

p,
h1,
button {
  padding: 0;
  margin: 0;
}
