html,
body,
p,
h1,
h2 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  color: var(--main-color);
}
