html {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: $color-text-main;
}

body {
  margin: 0;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}
