@import "variables";

p {
  margin: 0;
}

h2,
p {
  color: inherit;
  font-family: inherit;
  margin: 0;
}

a {
  color: $white;
  text-decoration: none;
  background-color: transparent;
}

a:hover,
a:focus {
  color: $blue-primary;
}
