$main-color: #060B35;
$secondary-color: #616070;
$star-size: 16px;
$blue-color: #00ACDC;

@mixin elements-in-element {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin margin-null {
  margin: 0;
}
