$main-accent-color: #060B35;
$secondary-color: #616070;
$card-border-color: #F3F3F3;
$button-color: #00ACDC;
$button-hover-color: white;

@mixin flex-row {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
