$main-accent-color: #060B35;
$secondary-color: #616070;

@mixin flex-row {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
