$mainAccent: #060b35;
$secondary: #616070;
$blueAccent: #00acdc;
$whiteAccent: #fff;

@mixin centerd-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
