$paddings: 32px 16px 16px;
$width: 200px;
$text-color-default: #060b35;
$text-color: #616070;
$button-color: #00acdc;
$border-radius: 5px;
$font-weight-default: 500;
$font-family: "Roboto", helvetica, sans-serif;
$font-size: 12px;
$border-width: 1px;
