$background-color: #e5e5e5;
$text-main-color: #060B35;
$text-color-second: #616070;
$color-white: #fff;
$color-blue: #00acdc;
$card-border-color: #f3f3f3;

$card-with: 200px;
$border-radius: 5px;

$image-width: 160px;
$image-height: 134px;

$button-width: 166px;
$button-height: 40px;

$min-stars: 1;
$max-stars: 5;
