$main-card-width: 100px;
$percent-width-img: 0.6;
$percent-wdith-content: 0.66;
$width-img: $main-card-width + $main-card-width * $percent-width-img;
$width-content: $main-card-width + $main-card-width * $percent-wdith-content;
$width-stars: ($width-content * 0.96) px;

$main-margin-bt: 16px;

$main-btn-color: rgba(0, 172, 220, 1);
