$count-stars: 4;

$width-card-product: 200px;
$height-card-product: 408px;

$width-card-product-image: 160px;
$height-card-product-image: 160px;

// colors

$color-white: #fff;
$color-black: #060b35;
$color-grey: #616070;
$color-blue: #00acdc;
$color-white-border-card-product: #f3f3f3;
