$card-width: 200px;
$card-height: 408px;
$photo-width: 160px;
$photo-height: 134px;
$elements-width: 166px;
$buy-height: 40px;
$main-color: #060B35;
$secondary-color: #616070;
$buy-color: #00ACDC;
$buy-text-color: #fff;
