$card-width: 200px;
$card-height: 408px;
$prod-img-source: '../images/imac.jpeg';
$prod-img-size: 160px, 134px;
$font-size-default: 12px;
$button-width: 166px;
$button-height: 40px;
$button-color: #00acdc;
$button-font-color: #fff;
$button-color--hover: #fff;
$button-font-color--hover: #00acdc;
$button-border-color--hover: solid, 1px, #00acdc;
