$card-border-color: #f3f3f3;
$card-text-color: #060b35;
$card-sub-text-color: #616070;
$card-link-text-color: #fff;
$card-link-background-color: #00acdc;
$card-gray-star: #f3f3f3;
$card-gold-star: #ffde6a;

$card-font-size-amount: 16px;
$card-font-size-title: 12px;
$card-font-size-product-description: 10px;
$card-font-size-link: 14px;
$card-width: 200px;
$card-padding: 32px 16px 16px;
$card-img-width: $card-width - ($card-width * 0.2);
$card-img-height: $card-width - ($card-width * 0.33);

$font-weight-bold: 700;
$card-line-height: 14px;
$card-border-radius: 5px;
