$font-main: 'Roboto', sans-serif;
$color-yellow: #ffde6a;
$color-gray: #f3f3f3;
$color-blue: #00acdc;
$color-white: #fff;
$color-border: #e0e0e0;
$color-text: #000;
$radius-card: 5px;
$color-bg-body: #fafafa;
$color-gray-text: #545454;

