$color-primory: #fff;
$color-primary-hover: #00acdc;
$color-text: #060b35;
$color-text-gray: #616070;
$color-light-gray: #f3f3f3;
$color-gray: gray;
$card-width: 200px;
$border-radius: 5px;
$font-main: 'Roboto', sans-serif;
