/* #region block-card-product */

.card {
  display: flex;
  flex-direction: column;
  padding: 14px;
  width: var(--width-product-card);
  height: var(--heigth-product-card);

  font-family: Roboto, sans-serif;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

/* #endregion */

/* #region image-product */

.image-product {
  display: flex;
  padding: 16px 5px 45px;
}

.image-product__image-imac {
  object-fit: contain;
  width: 100%;
  height: 134px;
}

/* #endregion  */

/* #region info-by-product */

.info-by-product {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.info-by-product__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.info-by-product__code {
  font-size: 11px;
  line-height: 13px;
}

/* #endregion */

/* #region rating */

.rating-product {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 15px;
}

.stars {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.stars__star {
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  background-image: url("/images/star-active.svg");
}

.stars :nth-child(n+5) {
  background-image: url("/images/star.svg");
}

.rating-product__text-rating {
  font-size: 11px;
  line-height: 13px;
}

/* #endregion */

/* #region cost */

.cost {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  
  padding: 20px 0;
}

.cost__text {
  font-size: 11px;
  line-height: 1.2em;
}

.cost__amount {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

/* #endregion */

/* #region buttom */
.buy-button {
  display: flex;
}

.buy-button__link-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--color-product-blue);
  border-radius: 5px;
}

.buy-button__link-buttom:hover {
  background-color: #fff;
  border: 1px solid var(--color-product-blue);
  color: var(--color-product-blue);
  border-radius: 5px;
}

/* #endregion */
