.stars {
  display: flex;
}

.stars__star {
  background: url(../../images/star-active.svg) no-repeat center;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.stars__star--unactive {
  background: url(../../images/star.svg) no-repeat center;
}
