.stars {
  display: flex;
}

.stars__star {
  display: flex;
  width: 16px;
  height: 16px;
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 4px;
}

.stars__star:first-child {
  margin-left: 0;
}

.stars--4 :nth-child(-n + 4) {
  background-image: url(../images/star-active.svg);
}
