.card__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 0;

  width: 166px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;

  background: var(--color-button);
  border-radius: 5px;
}

.card__buy-button:hover {
  background: #fff;
  border: 1px solid var(--color-button);
  color: var(--color-button);
}
