.card {
  box-sizing: border-box;
  padding: 32px 16px 16px;
  border: #f3f3f3 solid 1px;

  max-width: 200px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__photo {
    width: 160px;
    height: 134px;
  }

  &__name {
    color: #060b35;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;

    margin-top: 40px;
  }

  &__code {
    width: 100%;
    color: #616070;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;

    margin-top: 4px;
  }

  &__mark {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__reviews {
    color: #060b35;
    line-height: 14px;
    font-size: 10px;
    font-weight: 400;
  }

  &__price {
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 24px;

    &-text {
      color: #616070;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
    }

    &-value {
      color: #060b35;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__button {
    box-sizing: border-box;
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #00acdc;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    border-radius: 5px;
    padding-block: 12px;
    text-transform: uppercase;

    margin-top: 16px;

    &:hover {
      color: #00acdc;
      background-color: #fff;
      border: #00acdc solid 1px;
    }
  }
}
