:root {
  --main-color: #060b35;
  --secondary-color: #616070;
  --accent-color: #00acdc;
}

p,
h2 {
  margin: 0;
}

body {
  font-family: Roboto, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-color);
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  max-width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__img {
  margin: 0 auto 40px;
  height: 134px;
  width: 160px;
}

.card__description {
  margin-bottom: 16px;
}

.card__title {
  /* display: block; */
  font-weight: 500;
  margin-bottom: 4px;
  font-size: 12px;
}

.card__code {
  color: var(--secondary-color);
}

.item-style {
  font-size: 10px;
  line-height: 14px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card__rating-reviews {
  color: var(--main-color);
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__price-item {
  color: var(--secondary-color);
}

.card__price-amount {
  font-size: 16px;
  font-weight: 700;
}

.card__button {
  text-align: center;
  background-color: var(--accent-color);
  border: 1px solid;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 0;
  width: 100%;
  text-decoration: none;
}

.card__button:hover {
  background-color: transparent;
  color: var(--accent-color);
}
