@import url(./stars-block.css);
@import url(./../variables.css);

.card-list {
  font-family: "Roboto", sans-serif;
}

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 16px 16px;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.card__img {
  padding: 32px 3px 0;
  width: 160px;
  height: 134px;
}

.card__desc {
  padding-top: 40px;
  font-weight: 500;
  color: var(--Dark-Blue);
  font-size: 12px;
  line-height: 18px;
}

.card__code {
  padding-top: 4px;

  color: var(--Color-Grey);
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.card__price-text {
  color: var(--Color-Grey);
  font-size: 12px;
  line-height: 18px;
}

.card__price-amount {
  color: var(--Dark-Blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__button {
  width: 166px;
  height: 40px;
  padding-top: 12px;

  border-radius: 5px;
  box-sizing: border-box;
  background-color: var(--Blue-Color);
  border: 1px solid var(--Blue-Color);

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}

.card__button:hover {
  background-color: #fff;
  color: var(--Blue-Color);
}
