.card {
  padding: 32px 0 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.page__card {
  width: 200px;
}

.card__img {
  max-width: 100%;
  height: 134px;
  padding: 0 19px;
  margin-bottom: 36px;
  object-fit: contain;
}

.card__content {
  padding: 0 16px;
}

.card__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--main-card-color);
  margin-bottom: 4px;
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-card-color);
  margin-bottom: 16px;
}

.card__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card__count {
  font-size: 10px;
  color: var(--main-card-color);
}

.card__price-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__text {
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-card-color);
}

.card__price {
  color: var(--main-card-color);
  font-weight: 700;
  line-height: 18px;
}

.card__button {
  display: block;
  max-width: 100%;
  background-color: #00acdc;
  border-radius: 5px;
  padding: 11px 0;
  border: 1px solid transparent;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.card__button:hover {
  border: 1px solid #00acdc;
  background-color: transparent;
  color: #00acdc;
}
