@import "../utils/variables";

.card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 200px;
  height: 406px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 0 16px;

  &__image {
    margin: 32px auto 40px;
    width: 160px;
    height: 134px;
    background-image: url("images/imac.jpeg");
    background-position: center;
    background-size: 160px 134px;
  }

  &__title {
    text-decoration: none;

    color: $Main-accent;
    margin-bottom: 4px;
  }

  &__code {
    font-weight: $font-normal;
    font-size: 10px;
    line-height: 14px;
    color: $Secondary;
    align-self: flex-start;
    margin-bottom: 16px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
  }

  &__review {
    font-weight: $font-normal;
    font-size: 10px;
    color: $Main-accent;
    text-align: right;
  }

  &__price-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__button {
    text-transform: uppercase;
    height: 40px;
    width: 166px;
    left: 16px;
    bottom: 16px;
    border: 1px solid $Blue-accent;
    border-radius: 5px;
    background-color: $Blue-accent;
    color: #fff;
    text-align: center;
    line-height: 38px;
    font-weight: $font-bold;
    text-decoration: none;
    font-size: 14px;

    &:hover {
      background-color: #fff;
      color: $Blue-accent;
    }
  }
}
