.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 0 3px;
}

.card__content {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 40px;
  color: rgba(6, 11, 53, 1);
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  margin-top: 4px;
  color: rgba(97, 96, 112, 1);
}

.card__stars {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.card__reviews {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.card__price-text {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-cost {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__bottom-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 40px;
  margin-top: 16px;
}

.card__bottom-buy:hover {
  background-color: white;
  color: #00acdc;
  border: 1px solid #00acdc;
}
