.card__logo {
  width: 160px;
  height: 134px;
  margin-top: 32px;
  margin-bottom: 40px;
}

.card__name {
  width: 166px;
  height: 36px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color--black);
}

.card__code {
  margin-bottom: 16px;
  height: 14px;
  width: 100%;
  line-height: 14px;
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  color: var(--color-grey);
}

.card__response {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 166px;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url(../../images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 4px;
  width: 16px;
  height: 16px;
}

.stars .stars__star:nth-child(-n+4) {
  background-image: url(../../images/star-active.svg);
}

.card__rsp {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-black) ;
  margin-top: 3px;
}

.card__prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  width: 100%;
}

.card__prise {
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  color: var(--color-grey);
}

.card__cost {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  font-style: normal;
  color: var(--color-black);
}

.card__botton {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 40px;
  width: 166px;
  border-radius: 5px;
  margin-bottom: 16px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  background-color: var(--color-blue);
  color: var(--color-white);
}

.card__botton:hover {
  background: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  color: var(--color-blue);
}
