/* #region .grade */

.grade {
  display: flex;
  gap: 19px;
  margin-bottom: 24px;
}

.grade__stars4 {
  display: flex;
  margin-left: var(--card-between-size);
}

.grade__stars4-star {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.grade__stars4 .grade__stars4-star:nth-child(1n+5) {
  background-image: url(images/star.svg);
}

.grade__reviews {
  color: var(--card-color);
  margin-top: 3px;
  font-weight: 400;
  font-size: 10px;
}

/* #endregion */
