@import "../utils/variables";

.price-box {

  &__price {
    color: $secondary;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-weight: $font-normal;
  }

  &__amount {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: $font-bold;
    color: $main-accent;
  }
}
