.card__stars {
  display: flex;
}

.card__stars-star {
  background: url(../../images/star.svg) center no-repeat;
  width: 16px;
  height: 16px;
}

.card__stars-star:not(:last-child) {
  margin-right: 4px;
}

.card__stars--1 .card__stars-star:first-child,
.card__stars--2 .card__stars-star:nth-child(-n+2),
.card__stars--3 .card__stars-star:nth-child(-n+3),
.card__stars--4 .card__stars-star:nth-child(-n+4),
.card__stars--5 .card__stars-star:nth-child(-n+5) {
  background: url(../../images/star-active.svg) center no-repeat;
}
