/* #region .grade */

.stars--4 {
  box-sizing: border-box;
  display: flex;
}

.stars__star {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background: url(../../images/star-active.svg) no-repeat center;
}

.stars--4 .stars__star:nth-child(1n+5) {
  background-image: url(../../images/star.svg);
}
/* #endregion */
