.card {
  box-sizing: border-box;
  background-color: $color-white;
  border: 1px solid $color-white;
  border-radius: $card-border-radius;
  height: 408px;
  width: 200px;
  padding: 32px 16px 16px;
  position: relative;
  &__img img {
    width: 160px;
    height: 134px;
    display: block;
    margin: 0 auto 40px;
  }

  &__name {
    margin-top: 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $text-main-color;
    margin-bottom: 4px;
  }

  &__code {
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 10px;
    color: $text-secondary-color;
    line-height: 14px;
    text-align: left;
    position: relative;
  }
  &__stars {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px; // внутренний отступ между элементами
    line-height: 14px;
    margin-top: 16px; // сохраняем визуальный отступ сверху
  }
  &__reviews {
    margin-top: 0;
    color: $text-main-color;
    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
    display: flex;
    align-items: flex-end;
  }

  &__cost {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
  }

  &__price {
    margin-top: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $text-secondary-color;
    text-align: left;
    position: relative;
    margin-bottom: 0;
  }

  &__total {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $text-main-color;
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
  }

  &__buy {
    display: flex;
    text-decoration: none;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 166px;
    height: 40px;
    right: 16px;
    background: $color-blue-accent;
    border: 1px solid $color-blue-accent;
    background-size: cover;
    border-radius: 5px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-white;
    box-sizing: border-box;
    text-align: center;
  }
  &__buy:hover {
    width: 166px;
    height: 40px;
    color: $color-blue-accent;
    background-color: $color-white;
  }
}
