/* Error: Top-level selectors may not contain the parent selector "&".
 *    ,
 * 29 |   &__code {
 *    |   ^^^^^^^
 *    '
 *   style.scss 29:3  root stylesheet */

body::before {
  font-family: 'Source Code Pro', 'SF Mono', Monaco, Inconsolata, 'Fira Mono',
    'Droid Sans Mono', monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a    \2577 \a 29 \2502    &__code {\a    \2502    ^^^^^^^\a    \2575 \a   style.scss 29:3  root stylesheet';
}
