.card__button {
  height: 40px;
  background: #00acdc;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.card__button:hover {
  background: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
