.product__button {
  margin-top: 4px;
  padding: 12px 0;
  width: 166px;
  background: var(--color--blue);
  border-radius: 5px;
  border: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  color: var(--color--white);
  font-style: normal;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
  
.product__button:hover {
  background: transparent;
  color: var(--color--blue);
  border: 1px solid var(--color--blue);
}
