.card {
  display: flex;
  flex-direction: column;
  width: 166px;
  padding: 16px;
  padding-top: 32px;
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  width: 160px;
  height: 134px;
  object-fit: contain;
  object-position: center;
  margin: 0 auto;
  margin-bottom: 40px;
}

/* #region TXT */
.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--cardPrimaryColor);
}

.card__code {
  margin-top: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--cardSecondaryColor);
}
/* #endregion */

/* #region REVIEWS */
.card__review {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}

.card__reviewsNumber {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--cardPrimaryColor);
}
/* #endregion */

/* #region PRICE */
.card__price {
  display: flex;
  margin-top: 8px;
  justify-content: space-between;
  align-items: center;
}

.card__priceTitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--cardSecondaryColor);
}

.card__priceNumber {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--cardPrimaryColor);
}
/* #endregion */

/* #region BUTTON */
.card__btn {
  display: block;
  margin-top: 16px;
  padding: 12px 0;
  
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
 
  background-color: var(--btnColor);
  border: 1px solid var(--btnColor);
  border-radius: 5px;
}

.card__btn:hover {
  color: var(--btnColor);
  background-color: transparent;
}
/* #endregion */
