.card {
  padding: 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
}

.card__image {
  display: block;
  width: 160px;
  height: 134px;
  margin: 16px auto 0;
}

.card__title {
  margin: 40px 0 0;
  color: var(--main-color);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.card__product-code {
  margin: 4px 0 0;
  color: var(--secondary-color);
  font-size: 10px;
  line-height: 14px;
}

.card__review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 16px 0 0;
}

.card__review-title {
  margin: 0;
  color: var(--main-color);
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 24px 0 0;
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 18px;
}

.card__price-value {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__button {
  display: block;
  margin: 16px 0 0;
  padding: 11px 0;
  border: 1px solid transparent;
  border-radius: 5px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background-color: var(--button-color);
  cursor: pointer;
}

.card__button:hover {
  border-color: var(--button-color);
  color: var(--button-color);
  background-color: #fff;
}
