.card {
  display: flex;
}

.card__img {
  height: 134px;
  width: 160px;
  margin: 0  auto 40px;
}

.card__title {
  width: 166px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color_card-title);
  margin-bottom: 4px;
}

.card__code {
  font-size: 10px;
  line-height: 14px;
  margin: 0 auto 16px 0;
  color: var(--color_card-text);
}

.card__price {
  display: flex;
  justify-content: space-between;
}

.card__price-text {
  display: flex;
  font-size: 12px;
  line-height: 18px;
  color: var(--color_card-text);
  margin-bottom: 16px;
}

.price_text-num {
  display: inline-block;
  color: var(--color_card-title);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-left: auto;
}
