.product__card {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  padding: 33px 16px 16px;
  border: 1px solid var(--color--dark-white);
  background-color: var(--color--white);
}
  
.product__image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 36px;
  background-position: center;
}
  
.card__image-style {
  width: 160px;
  height: 134px;
}
  
.product__card-title {
  flex-direction: column;
  justify-content: flex-end;
  line-height: 17px;
}
  
.product__card-content {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--color--main);
  margin-bottom: 4px;
}
  
.product__card-code {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}
  
.product__card-rating {
  display: flex;
  font-size: 10px;
  line-height: 14px;
  justify-content: space-between;
  align-items: center;
}

.roduct__card-reviews {
  font-size: 10px;
  line-height: 14px;
}
