@font-face {
  font-family: Roboto;
  src: url("../Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: Roboto-Regular;
  src: url("../Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: Roboto-Bold;
  src: url("../Roboto/Roboto-Bold.ttf");
}
