@import url(./fonts.css);
@import url(./card__img.css);
@import url(./card__describe.css);
@import url(./mark.css);
@import url(./variebles.css);
@import url(./button.css);

html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--color_card-background);
  width: 200px;
  min-height: 408px;
  padding: 0 16px 16px;
}
