:root {
  --main-color: #060b35;
  --secondary-color: #616070;
  --button-color: #00acdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.container__card {
  max-width: 200px;
}

@import url(./card.css);
@import url(./stars.css);
