.product-card__link {
  display: block;
  width: 166px;
  height: 40px;
  background-color: var(--color-blue);
  border-radius: 5px;
  margin: 0 16px 16px;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.product-card__link:hover {
  background-color: #fff;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
  width: 164px;
  height: 38px;
}
