.card__stars {
  display: flex;
  justify-content: space-between;
  margin: 0 0 24px;
}

.stars {
  display: flex;
}

.stars_item {
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars--1 .stars_item:first-child,
.stars--2 .stars_item:nth-child(-n+2),
.stars--3 .stars_item:nth-child(-n+3),
.stars--4 .stars_item:nth-child(-n+4),
.stars--5 .stars_item:nth-child(-n+5) {
  background-image: url("../images/star-active.svg");
}

.stars_review {
  display: flex;
  font-size: 10px;
  align-items: center;
  color: var(--color_card-title);
}
