@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap);
  font-style: normal;
  font-weight: 700;
}

.product-card {
  display: flex;
  flex-direction: column;

  width: var(--width);

  background: #fff;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.product-card__img-photo {
  display: flex;
  align-items: center;
  padding: 0 19px;
  margin-bottom: 40px;

  width: var(--img-width);
  height: var(--img-height);
  margin-right: calc(50% - var(--img-width) / 2 - 34px);
}

.product-name {
  display: flex;
  justify-content: center;
  padding: 0 16px 4px;

  font-family: Roboto, sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: var(--color-primary);
}

.product-code {
  display: flex;
  align-content: flex-start;
  padding-left: 16px;
  padding-bottom: 16px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--color-secondary);
}

.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 24px;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: var(--color-primary);
}

.product-rating__reviews {
  display: flex;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 16px;
}

.product-price__price {
  display: flex;
  justify-content: flex-start;

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  color: var(--color-secondary);
}

.product-price__amount {
  display: flex;
  justify-content: flex-end;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--color-primary);
}

.button-buy {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.button-link {
  width: 166px;
  height: 40px;
  text-align: center;

  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;

  background-color: var(--color-button);
  color: #fff;

  border: 1px solid var(--color-button);
  border-radius: 5px;
}

.button-link:hover {
  background: #fff;

  border: 1px solid var(--color-button);
  border-radius: 5px;

  color: #00acdc;
}
