.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
  
.product__price-text {
  font-size: 12px;
  color: var(--color--gray);
}
  
.product__price-value {
  font-weight: 700;
  font-size: 16px;
  color: var(--color--main);
  font-style: bold;
}
