.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(242, 242, 242);
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card__img {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card__product-name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: var(--font-size-main);
  line-height: 18px;
  color: var(--color-txt-main);
}

.card__product-code {
  font-size: var(--font-size-description);
  line-height: 14px;
  color: var(--color-txt-description);
  margin-bottom: 16px;
}

.card__raiting {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card__review {
  font-size: var(--font-size-description);
  line-height: 14px;
  color: var(--color-txt-main);
}

.card__prise {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__prise-name {
  font-size: var(--font-size-main);
  line-height: 18px;
  color: var(--color-txt-description);
}

.card__prise-num {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-txt-main);
}

.card__btn {
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px 0;
  background: var(--color-interactiv);
  color: #fff;
  border: 1px solid var(--color-interactiv);
  border-radius: 5px;
}

.card__btn:hover {
  background-color: #fff;
  color: var(--color-interactiv);
}
