.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 24px;
}

.rating__review {
  text-align: right;

  font-size: 10px;
  line-height: 14px;
  color: var(--main-dark-color);
}
