.product-card__rating {
  display: flex;
  font-size: var(--font-size-small);
  font-weight: normal;
  justify-content: space-between;
  padding: 16px 16px 24px;
  align-items: flex-end;
  color: var(--color-dark);
  line-height: 14px;
}

.product-card__stars {
  display: flex;
}

.product-card__star-active {
  background-image: url(/images/star-active.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: center;
  margin-right: 4px;
}

.product-card__star-not-active {
  background-image: url(/images/star.svg);
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
  background-position: center;
}
