* {
  box-sizing: border-box;
}

body,
h1,
h2,
p,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
