html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
