.stars {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.stars__star {
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background: center no-repeat url(../images/star.svg);
}

.stars__star :first-child {
  margin-right: 0;
}

.stars__star:nth-child(-n+4) {
  background: center no-repeat url(../images/star-active.svg);
}
