.stars {
  display: flex;
}

.stars .stars__star {
  width: 16px;
  height: 16px;
  background-image: url("../images/star.svg");
  background-size: inherit;
  background-repeat: no-repeat;
  margin-right: 4px;
}

.stars--1 .stars__star:first-child ,
.stars--2 .stars__star:nth-child(-n+2) ,
.stars--3 .stars__star:nth-child(-n+3) ,
.stars--4 .stars__star:nth-child(-n+4) ,
.stars--5 .stars__star:nth-child(-n+5) {
  background-image: url("../images/star-active.svg");
}
