.stars {
  display: flex;
}

.stars--4 .stars__star:nth-child(-n+1),
.stars--4 .stars__star:nth-child(-n+2),
.stars--4 .stars__star:nth-child(-n+3),
.stars--4 .stars__star:nth-child(-n+4),
.stars--4 .stars__star:nth-child(-n+5) {
  background: url(../images/star-active.svg)  no-repeat;
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
    
.stars--4 .stars__star:nth-child(n+5) {
  width: 16px;
  height: 16px;
  background: url(../images/star.svg)  no-repeat;
}
