@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto-Bold.ttf);
  font-weight: 600;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
}

body {
  margin: 0;
}

.product-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 403px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-image__img {
  width: 160px;
  height: 134px;
  margin: 30px 20px;
}

.product-description {
  margin: 0 15px 0 14px;

  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.product-description__p {
  margin-bottom: 6px;
}

.product-code {
  width: 170px;
}

.product-code__p {
  margin: 0;
}

.product-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 14px;
  margin-right: 13px;
  margin-top: 14px;
}

.stars {
  display: flex;
  margin-right: 19px;
}

.star {
  width: 15px;
  height: 15px;
  margin-right: 4px;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.stars--4 .star:nth-child(-n+4) {
  background-image: url("../images/star-active.svg");
}

.product-reviews__p {
  margin: 0;
  margin-top: 1px;
}

.product-price {
  display: flex;
  flex-direction: row;
  width: 170px;
  margin-bottom: 4px;
}

.product-price-phrase__p {
  margin-top: 24px;
  margin-right: 61px;
}

.product-price-current__p {
  margin-top: 19px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.product-buy {
  display: block;

  box-sizing: border-box;
  border: 1px solid #00acdc;
  background-color: #00acdc;
  border-radius: 5px;
}

.product-buy__a {
  display: flex;
  width: 168px;
  height: 38px;
  align-items: center;
  justify-content: center;

  color: #fff;
  text-decoration: none;
  line-height: 40px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.product-buy:hover {
  background-color: #fff;
  border: 1px solid #00acdc;
}

.product-buy__a:hover {
  color: #00acdc;
}
