@import "./card.css";
@import "./star.css";
@import "./price.css";
@import "./variable.css";
@import "./button.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
