
.product-card__title {
  font-size: var(--font-size-middle);
  line-height: 18px;
  font-weight: 500;
  padding: 0 16px;
  color: var(--color-dark);
}

.product-card__product-cod {
  font-size: var(--font-size-small);
  line-height: 14px;
  font-weight: 400;
  padding: 4px 16px 0;
  color: var(--color-grey);
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  padding: 0 16px 16px;
  align-items: flex-end;
  line-height: 18px;
}

.product-card__price-title {
  font-size: var(--font-size-middle);
  font-weight: normal;
  color: var(--color-grey);
}

.product-card__price-index {
  font-size: var(--font-size-big);
  font-weight: bold;
  color: var(--color-dark);
}
