:root {
  --darkColor: rgb(6, 11, 53);
  --lightColor: rgb(97, 96, 112);
  --lightBlue: rgb(0, 172, 220);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

div ,
h1 ,
h2 ,
img {
  margin: 0;
  padding: 0;
}
