
:root {
  --color--white: rgba(255, 255, 255, 1);
  --color--dark-white: rgba(243, 243, 243, 1);
  --color--main: rgba(6, 11, 53, 1);
  --color--gray: rgba(97, 96, 112, 1);
  --color--blue: rgba(0, 172, 220, 1);
}
