:root {
  --color-txt-description: rgba(97, 96, 112, 1);
  --color-txt-main: rgba(6, 11, 53, 1);
  --color-interactiv: rgba(0, 172, 220, 1);
  --font-size-main: 12px;
  --font-size-description: 10px;
}
