$card-background-color: #fff;
$card-border-color: #f3f3f3;
$card-secondary-color: #616070;
$card-main-accent-color: #060b35;
$card-button-color: #00acdc;
$card-price-color: #000;
$font-weight4: 400;
$font-weight5: 500;
$font-weight7: 700;
$font-size-usual: 10px;
$font-height-usual: 14px;
