$page-font-family: "Roboto", sans-serif;

$primary-color: #060b35;
$secondary-color: #616070;
$tertiary-color: #fff;
$accent-color: #00acdc;

$border-color: #f3f3f3;
$star-color: #ffde6a;

$star-height: 16px;
$star-width: 16px;

$card-width: 200px;
