$text-color-black: #060b35;
$text-color-gray: #616070;
$button-bg-color: #00acdc;
$button-hover-bg-color: white;
$button-hover-text-color: #00acdc;
$main-font: 'Roboto', sans-serif;
$not-imgs-elements-width: 166px;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
