$default-font: 'Roboto', sans-serif;
$default-font-color: #060B35;
$default-font-weight: 400;
$default-button-color: #00ACDC;
$default-star-size: 16px;
$default-card-width: 200px;
$default-picture-width: 160px;
$default-picture-height: 134px;
$default-star-image: url('../images/star.svg');
$active-star-image: url('../images/star-active.svg');
