$color-blue:#00acdc;
$color-white: #fff;
$text-gray: #616070;
$text-dark: #060b35;

$default-font-family: roboto, helvetica, sans-serif;
$default-font-size: 10px;
$default-line-height: 14px;

$thinner-font-weight: 500;
$bolder-font-weight: 700;
$bigger-line-height: 18px;
$border-radius: 5px;

$title-font-size: 12px;
$link-font-size: 14px;
$price-amount-font-size: 16px;
$price-caption-font-size: 12px;

$card-max-width: 200px;
$card-border: 1px solid #f3f3f3;

$image-height: 134px;
$image-width: 160px;
$image-margin: 0 auto 36px 3px;

$link-border: 1px solid #00acdc;
