.price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price-text {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
