.stars {
  display: flex;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars > .stars__star {
  background-image: url(../images/star.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars--4 > .stars__star:nth-last-child(n + 2) {
  background-image: url(../images/star-active.svg);
}
