$main-font-family: roboto, sans-serif;
$main-width: 200px;
$main-font-size: 10px;
$main-line-height: 14px;
$main-font-weight: 400;
$main-text-color: #060b35;
$main-padding-inline: 16px;
$main-border-radius: 5px;
$color-white: #fff;
$second-font-size: 12px;
$line-height-eighteen: 18px;
$main-margin-botton: 16px;
$second-text-color: #616070;
$color-blue: #00acdc;
$color-light-gray: #f3f3f3;
$height-stars: 16px;
$width-stars: 16px;
$margin-four: 4px;
