.product-card .price-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--price-margin-bottom);
}

.product-card .price-block .price-word {
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.product-card .price-block .price-value {
  font-size: 16px;
  font-weight: 700;
}
