:root {
  --product-card-width: 200px;
  --product-card-border: 1px;
  --product-card-padding: 16px;
  --image-margin-bottom: 40px;
  --title-margin-bottom: 4px;
  ---code-margin-bottom: 17px;
  ---rate-margin-bottom: 24px;
  --each-star-margin-rigth: 4px;
  --each-star-height: 16px;
  --each-star-width: 16px;
  --price-margin-bottom: 15px;
}

.product-card {
  font-family: Roboto, sans-serif;
  width: calc(var(--product-card-width)
  - ((var(--product-card-border)
  + var(--product-card-padding)) * 2));
  padding: var(--product-card-padding);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
  color: #060b35;
}
