@import "./image-block.css";
@import "./title-block.css";
@import "./product_code-block.css";
@import "./rating-block.css";
@import "./price-block.css";
@import "./purchase-block.css";
@import "./stars.css";

:root {
  --product-card-width: 200px;
  --product-card-border: 1px;
  --product-card-padding: 16px;
  --image-margin-bottom: 40px;
  --title-margin-bottom: 4px;
  --code-margin-bottom: 17px;
  --rate-margin-bottom: 24px;
  --each-star-margin-rigth: 4px;
  --each-star-height: 16px;
  --each-star-width: 16px;
  --price-margin-bottom: 15px;
  --color-for-purchase-block: #00acdc;
}

.product-card {
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  width: var(--product-card-width);
  padding: var(--product-card-padding);
  padding-top: 32px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
  flex-direction: column;
  color: #060b35;
}
