.product-card .purchase-block {
  display: flex;
  justify-content: center;
  padding: 11px 0;
  width: calc(100% - 1px);
  background: var(--color-for-purchase-block);
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.product-card .purchase-block:hover {
  color: var(--color-for-purchase-block);
  background-color: #fff;
  border: 0.5px solid var(--color-for-purchase-block);
}
