.product-card .purchase-block {
  display: flex;
  justify-content: center;
  padding: calc(12px - 1px) 0;
  width: calc(100% - 1px);
  background: #00acdc;
  border-radius: 5px;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.product-card .purchase-block:hover {
  color: #00acdc;
  background-color: #fff;
  border: 0.5px solid #00acdc;
}
