html {
  font-size: $mainFontSize;
  font-family: $mainFontFamily, $additionFontFamily, sans-serif;
  line-height: $mainLineHeight;
  color: $cardTextColor;
  font-weight: 400;
  font-style: normal;
}
