// colors
$backgroundCardColor: #fff;
$backgroundButtonColor: #00acdc;
$cardTextColor: #060b35;
$subTitleColor: #616070;

// general
$mainFontSize: 12px;
$mainLineHeight: 18px;

// font-fa

$mainFontFamily: "Roboto";
$additionFontFamily: "Helvetica";
