.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  font-family: Roboto, sans-serif;
  padding: 32px 16px 16px;
}

.product-card__image {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
  align-self: center;
  object-fit: contain;
}

.product-card__name {
  font-weight: var(--medium-font-weight);
  font-size: var(--primary-font-size);
  color: #060b35;
  line-height: 18px;
  margin-bottom: 4px;
}

.product-card__id {
  font-weight: var(--light-font-weight);
  font-size: var(--secondary-font-size);
  color: #616070;
  line-height: 14px;
  margin-bottom: 16px;
}

.product-card__rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.product-card__review {
  font-weight: var(--light-font-weight);
  font-size: var(--secondary-font-size);
  line-height: 14px;
  color: #060b35;
  align-self: flex-end;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product-card__cost {
  font-weight: var(--light-font-weight);
  font-size: var(--primary-font-size);
  line-height: 18px;
  color: #616070;
}

.product-card__amount {
  font-weight: var(--heavy-font-weight);
  color: #060b35;
  line-height: 18px;
  font-size: 16px;
}

.product-card__button {
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  width: 166px;
  height: 40px;
  background-color: #00acdc;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 0;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: var(--heavy-font-weight);
  cursor: pointer;
}

.product-card__button:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
