.card {
  box-sizing: border-box;
  padding: 32px 16px 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.card__image {
  width: 160px;
  height: 134px;
  display: block;
  margin: 0 auto 40px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark);
  margin: 0 0 4px;
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  padding-bottom: 16px;
  color: var(--second-color-light);
}

.card__reviews {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 24px;
}

.card__reviews-count {
  color: var(--color-dark);
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.price {
  font-size: 12px;
  line-height: 18px;
  color: var(--second-color-light);
}

.price-value {
  font-weight: 700;
  line-height: 18px;
  font-size: 16px;
  color: var(--color-dark);
}

.card__buy {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  border: 1px solid var(--main-color-light);
  background: var(--main-color-light);
  border-radius: 5px;
  color: #fff;
  font-weight: 700;
  line-height: 16px;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.card__buy:hover {
  background-color: #fff;
  color: var(--main-color-light);
}
