@mixin text-title {
  font-weight: $weight-medium;
  font-size: 12px;
  line-height: $line-height-large;
  color: $color-text;
}

@mixin text-code {
  font-weight: $weight-normal;
  font-size: 10px;
  line-height: $line-height-normal;
  color: $color-text-code;
}

@mixin text-reviews {
  font-weight: $weight-normal;
  font-size: 10px;
  line-height: $line-height-normal;
  color: $color-text;
}

@mixin text-price {
  font-weight: $weight-normal;
  font-size: 12px;
  line-height: $line-height-large;
}

@mixin text-price-label {
  font-weight: $weight-large;
  font-size: 16px;
  line-height: $line-height-large;
  color: $color-text;
}

@mixin button {
  box-sizing: border-box;
  width: 165px;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 5px;
}

@mixin button-text {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: $weight-large;
  font-size: 14px;
  line-height: $line-height-medium;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-primary;
  cursor: pointer;
}

@mixin button-text-hover {
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: $weight-large;
  font-size: 14px;
  line-height: $line-height-medium;
  text-transform: uppercase;
  color: $color-primary;
  background-color: $color-white;
  cursor: pointer;
}
