.rate {
  display: flex;
  justify-content: space-between;
}

.rate__stars {
  display: flex;
  justify-content: space-between;
}

.rate__star {
  display: flex;
  flex-direction: row;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.rate__star:not(:first-child) {
  margin-left: 4px;
}

.rate__star--filled {
  background-image: url(../images/star-active.svg);
}

.rate__star--unfilled {
  background-image: url(../images/star.svg);
}
