.stars {
  display: flex;
}

.stars__star {
  height: 16px;
  width: 16px;
  margin-right: 4px;
  background-image: url(/images/star-active.svg);
  background-repeat: no-repeat;
}

.stars--0 .stars__star:last-child {
  background-image: url(/images/star.svg);
  background-repeat: no-repeat;
}
