$weight-normal: 400;
$weight-medium: 500;
$weight-large: 700;
$line-height-normal: 14px;
$line-height-medium: 16px;
$line-height-large: 18px;
$color-text: #060b35;
$color-text-code: #616070;
$color-primary: #00acdc;
$color-white: #fff;
$color-black: #000;
$card-width: 200px;
