.button-buy {
  width: 166px;
  height: 40px;
  
  --button-color: #00acdc;
}

.button-buy__link {
  display: block;
  width: inherit;

  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;

  background: var(--button-color);
  border-radius: 5px;
}

.button-buy__link:hover {
  color: var(--button-color);
  width: inherit;

  background-color: #fff;
  border: 1px solid var(--button-color);
  border-radius: 5px;
}
