.product-card__buy-link {
  display: block;
  box-sizing: border-box;

  width: 166px;
  border: 1px solid transparent;
  border-radius: 5px;

  cursor: pointer;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 38px;

  font-family: inherit;
  font-weight: bold;
  font-size: 14px;

  background: #00acdc;
  color: #fff;
}

.product-card__buy-link:hover {
  color: #00acdc;
  background-color: #fff;
  border-color: #00acdc;
}
