.card {
  font-family: "Roboto", Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  border-radius: 5px;
  background-color: var(--color-white);
  border: 1px solid var(--border-color);
  color: var(--color-dark);
  padding: 32px 16px 16px;
}

.card__img {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
}

.card__description {
  font-size: 10px;
  margin-bottom: 16px;
  color: var(--color-additional);
  line-height: 14px;
}

.card__price {
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.card__price-name {
  color: var(----color-additional);
  font-size: 12px;
  line-height: 16px;
}

.card__price-value {
  font-weight: bold;
  font-size: 16px;
  color: var(--color-dark);
  line-height: 18px;
}

.card__link {
  padding: 11px 69px;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--color-blue);
  border-radius: 5px;
  color: var(--color-white);
  border: 1px solid var(--color-blue);
  text-decoration: none;
  text-transform: uppercase;
  line-height: 16px;
}

.card__link:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}

.card__review {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: center;
}

.card__review-text {
  font-size: 10px;
  color: var(--color-dark);
  line-height: 14px;
}
