html {
  font-family: Roboto, sans-serif;
}

.product-card {
  box-sizing: border-box;
  width: 200px;

  padding: 32px 16px 16px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__code,
.product-card__price {
  margin-bottom: 16px;
}

.reviews__count-reviews,
.code {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.price__text,
.code {
  color: #616070;
}

.product-card__description,
.price__text {
  font-size: 12px;
  line-height: 18px;
}

.product-card__description,
.price__sum {
  color: #060b35;
}
