html {
  font-family: Roboto, sans-serif;
  --card-thing-text-color: #616070;
  --card-bold-text-color: #060b35;
  --card-link-bg-color: #00acdc;
  --card-link-hover-color: #00acdc;
  --card-link-text-color: #fff;
  --default-bg-color: #fff;
}
