/* #region general */

html {
  font-family: Roboto, sans-serif;
  --card-thing-text-color: #616070;
  --card-bold-text-color: #060b35;
  --card-link-bg-color: #00acdc;
  --card-link-hover-color: #00acdc;
  --card-link-text-color: #fff;
  --default-bg-color: #fff;
}

.product-card {
  box-sizing: border-box;
  width: 200px;

  padding: 32px 16px 16px;

  background: var(--default-bg-color);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__code,
.product-card__price {
  margin-bottom: 16px;
}

.product-card__rewiews-text,
.code {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.product-card__price-text,
.code {
  color: var(--card-thing-text-color);
}

.product-card__description,
.product-card__price-text {
  font-size: 12px;
  line-height: 18px;
}

.product-card__description,
.product-card__sum {
  color: var(--card-bold-text-color);
}

/* #endregion */

/* #region textBlock */
.product-card__image {
  display: block;

  margin: 0 0 40px;
  padding: 0 3px;

  width: 160px;
  height: 134px;
}

.product-card__description {
  margin-bottom: 4px;
  font-weight: 500;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
}

.product-card__sum {
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

/* #endregion */

/* #region link */
.product-card__buy-link {
  display: block;
  box-sizing: border-box;

  border: 1px solid transparent;
  border-radius: 5px;

  cursor: pointer;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 38px;

  font-family: inherit;
  font-weight: bold;
  font-size: 14px;

  background: var(--card-link-bg-color);
  color: var(--card-link-text-color);
}

.product-card__buy-link:hover {
  color: var(--card-link-hover-color);
  background-color: var(--default-bg-color);
  border-color: var(--card-link-hover-color);
}
/* #endregion */
