* {
  box-sizing: border-box;
}

/* #region reset */
h2,
p {
  margin: 0;
}
/* #endregion */

/* #region page */
.page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.page__content {
  margin: 0;
}
/* #endregion */
