@font-face {
  font-family: "Roboto", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
}

:root {
  --main-color: #060b35;
  --color-of-button: #00acdc;
  --color-of-code: #616070;
}
  
* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body,
h2,
p {
  margin: 0;
}
