* {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #060B35;
}

.card {
  width: 200px;
  padding: 32px 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #F3F3F3;
  background: #fff;
}
.card__img-cover {
  width: 160px;
  height: 134px;
  margin: 0 auto;
}
.card__img-cover .card__img {
  width: 160px;
  height: 134px;
}
.card__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 40px;
  margin-bottom: 0;
}
.card__descr {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  margin-top: 4px;
  color: #616070;
}
.card__reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 16px;
}
.card__reviews .review-descr {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__reviews .stars__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.card__reviews .stars__block .stars__star {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  background: center no-repeat url("../images/star.svg");
  display: inline-block;
}
.card__reviews .stars__block .stars__star:first-child {
  margin-left: 0;
}
.card__reviews .stars__block :nth-child(-n+4) {
  background-image: url("../images/star-active.svg");
}
.card__price {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.card__price .price-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #616070;
}
.card__price .price-amount {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
.card__button {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  width: 166px;
  padding-block: 12px;
  background: #00ACDC;
  border-radius: 5px;
  border: 1px solid #00ACDC;
  margin-top: 16px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__button:hover {
  background-color: #fff;
  color: #00ACDC;
}