* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: padding-box;
}

* img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.card {
  padding: 30px 14px 15px;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
}

.card__img {
  /* padding: 0 5px; */
}

.card__img img {
  height: 134px;
}

.card__title {
  margin-top: 41px;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.card__subtitle {
  margin-top: 5px;
  font-size: 11px;
  line-height: 13px;
}

.card-wrap {
  margin-top: 15px;
}

.card-wrap-price {
  margin-top: 20px;
}

.card-stars__star {
  background-image: url(../images/star.svg);
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.card-stars__star--active {
  background-image: url(../images/star-active.svg);

}

.card__reviews {
  font-size: 11px;
  line-height: 13px;
}

.card__price {
  font-size: 11px;
  line-height: 13px;
}

.card__price span {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.card-link__btn {
  margin-top: 20px;
  padding: 12px;
  text-align: center;
  background: #00acdc;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.card-link__btn:hover {
  background: white;
  border: 1px solid #00acdc;
  color: #00acdc;
}

.flexwrap {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
