body,
a,
div {
  margin: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;

  --text-color-main: #060b35;
  --text-color-secondary: #616070;
}
