.card__pricing {
  display: flex;
  justify-content: space-between;
  margin: 24px 16px 0;
}

.price__label {
  color: var(--font-gray);
  font-size: 12px;
  font-weight: 400;
  /* line-height: 18px; */
}

.price__price {
  font-weight: 700;
  font-size: 16px;
  /* line-height: 18px; */
}
