html {
  font-family: "Roboto", sans-serif;
  --black-color: #060b35;
  --gray-color: #616070;
  --blue-color: #00acdc;
}

body {
  margin: 0;
}

ul,
li,
h2,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
