.stars {
  display: flex;
}

.stars__star {
  background: url("../images/star.svg") center no-repeat;

  margin-right: 4px;

  height: 16px;
  width: 16px;
}

.stars--1 :not(:nth-child(n+2)),
.stars--2 :not(:nth-child(n+3)),
.stars--3 :not(:nth-child(n+4)),
.stars--4 :not(:nth-child(n+5)),
.stars--5 :not(:nth-child(n+6)) {
  background: url("../images/star-active.svg") center no-repeat;
}
