.stars {
  display: flex;
}

.stars__star {
  height: var(--star-size);
  width: var(--star-size);
  background: var(--star-inactive);
}

.stars__star:not(:last-child) {
  margin-right: var(--star-distance);
}

.stars--1 > .stars__star:nth-child(-n + 1),
.stars--2 > .stars__star:nth-child(-n + 2),
.stars--3 > .stars__star:nth-child(-n + 3),
.stars--4 > .stars__star:nth-child(-n + 4),
.stars--5 > .stars__star:nth-child(-n + 5) {
  background: var(--star-active);
}
