@import "./stars.css";
@import "./reset.css";
@import "./body.css";
@import "./card.css";

.imacImage {
  width: 160px;
  height: 134px;
  margin: 0 3px;
  margin-bottom: 32px;
}

.name,
.cost {
  color: rgb(6, 11, 53);
}

.name {
  font-weight: 500;
  height: 36px;
  margin-bottom: 4px;
}

.code {
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 16px;
}

.stars {
  height: 16px;
  margin-bottom: 24px;
}

.price,
.cost {
  font-style: normal;
}

.price,
.name {
  font-size: 12px;
}

.price,
.code {
  color: rgb(97, 96, 112);
}

.cost,
.price,
.name {
  line-height: 18px;
}

.cost {
  position: relative;
  margin-left: 87px;
  bottom: 18px;
}

.link {
  background-color: rgb(0, 172, 220);
  height: 40px;
  justify-content: center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  border: 1px solid rgb(0, 172, 220);
  box-sizing: border-box;
  width: 166px;
  border-radius: 5px;
  display: flex;
}

.link,
.cost {
  font-weight: 700;
}

.link--hover:hover {
  background-color: white;
  color: rgb(0, 172, 220);
}
