@import "./reset.css";

body {
  font-family: "Roboto", sans-serif;
}

.card {
  display: flex;
}

.card__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  margin: 32px 19px 40px;
  width: 160px;
  height: 134px;
}

.card__title {
  width: 166px;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  color: #060b35;
  font-weight: 500;
  margin: 0 16px 4px;
}

.card__product-code {
  font-size: 10px;
  line-height: 14px;
  align-self: flex-start;
  margin-left: 16px;
  margin-right: 16px;
  font-weight: normal;
  color: #616070;
}

.feedback {
  display: flex;
  justify-content: space-between;
  margin: 18px 16px 24px;
  width: 166px;
  font-size: 10px;
  font-weight: 400;
}

.list-stars {
  padding-left: 2px;

}

.list-stars__star {
  margin-right: 4.5px;
}

.feedback__count {
  padding-top: 2px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
  margin: 0 16px 16px;
  width: 166px;
  color: #616070;
}

.card__price-digit {
  font-size: 16px;
  color: #060b35;
}

.card__price-digit--bold {
  font-weight: 700;
}

.card__button-buy {
  width: 166px;
  height: 40px;
  background-color: #00acdc;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  margin: 0 16px 16px;
  box-sizing: border-box;
}

.card__button-buy--hover:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
