@import "./star.css";

:root {
  --text--color: #060b35;
  --blue--color: #00acdc;
  --background--color-white: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.card {
  width: 198px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: var(--background--color-white);
}

.card__img {
  display: flex;
  margin: 32px 19px 40px;
  width: 160px;
  height: 134px;
  top: 33px;
}

.card__desciption {
  display: flex;
  justify-content: center;
  margin: 0 16px;
  font-weight: 500;
  color: var(--text--color);
  font-size: 12px;
  line-height: 18px;
  left: calc (50% - 166px/2);
  bottom: 165px;
}

.card__code {
  margin-top: 4px;
  margin-left: 16px;
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.stars__review {
  display: flex;
  margin: 0;
  margin-left: 16px;
  align-items: flex-end;
  text-align: right;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.card__button {
  display: flex;
  margin: 16px auto;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  color: var(--background--color-white);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  width: 166px;
  height: 40px;
  background: var(--blue--color);
  border-radius: 5px;
}

.card__button:hover {
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: var(--blue--color);
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin: 24px 16px 16px;
}

.card__title {
  display: inline-block;
  color: #616070;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.card__sum {
  display: inline-block;
  color: var(--text--color);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
