%text-big {
  font-size: 12px;
  line-height: 18px;
}

%text-small {
  font-size: 10px;
  line-height: 14px;
}

%text-normal {
  font-style: 12px;
  line-height: 14;
}

%flex-between {
  display: flex;
  justify-content: space-between;
}
