* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

body,
h2,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
