.button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: $space-md;
  font-weight: 700;
  width: 166px;
  height: 40px;
  border-radius: $border-radius;
  border: 1px solid $color-accent;
  color: $color-white;
  background-color: $color-accent;
  font-size: $font-size-md;
  line-height: $font-size-lg;

  &:hover {
    background-color: $color-white;
    color: $color-accent;
    border-radius: $border-radius;
  }
}
