.button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin-top: 16px;
  font-weight: 700;
  width: 166px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #00acdc;
  color: #fff;
  background-color: #00acdc;
  font-size: 14px;
  line-height: 16px;

  &:hover {
    background-color: $background-color;
    color: #00acdc;
    border-radius: 5px;
  }
}

