.buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 164px;
  height: 38px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: $white;
  background: $blue-accent;
  border: 1px solid $blue-accent;

  &:hover {
    border-radius: 5px;
    border: 1px solid $blue-accent;
    background: none;
    color: $blue-accent;
  }
}
