.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 200px;
  box-sizing: border-box;
  padding: 32px 16px 18px;
  border: 1px solid $border-color;
  border-radius: 5px;

  &__img {
    height: 134px;
    width: 160px;
    align-self: center;
    margin-bottom: 24px;
  }

  &__title {
    & :first-child {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      padding-bottom: 4px;
    }

    & :last-of-type {
      color: $secondary-text-color;
    }
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    line-height: 18px;

    & :first-child {
      color: $secondary-text-color;
      font-size: 12px;
    }

    & :last-child {
      font-weight: 700;
      font-size: 16px;
    }
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: $blue-color;
    color: $white-color;
    height: 40px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 5px;

    &:hover {
      color: $blue-color;
      background-color: $white-color;
      border: 1px solid $blue-color;
    }
  }
}
