.card {
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #F3F3F3;
  border-radius: 5px;

  &__img {
    height: 134px;
    width: 160px;
    margin-inline: 19px;
    margin-top: 32px;

    background-image: url(../images/imac.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__content {
    margin: 40px 16px 16px;
  }

  &__name {
    color: #060B35;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
  }

  &__code {
    color: #616070;
    margin-top: 4px;
  }

  &__reviews {
    color: #060B35;
    margin-top: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__price {
    color: #616070;
    margin-top: 24px;

    font-size: 12px;
    line-height: 18px;

    display: flex;
    justify-content: space-between;
  }

  &__value {
    color: #060B35;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy {
    margin-block: 28px;
  }

  &__button {
    color: #FFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;

    text-decoration: none;
    text-transform: uppercase;
    background-color: #00ACDC;
    border-radius: 5px;
    padding: 11px 70px 12px 69px;

    &:hover {
      color: #00ACDC;
      outline: 1px solid #00ACDC;
      background-color: #FFF;
    }
  }
}
