.imac {
  background-color: $white-color;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 400px;
  padding: $padding-large $padding-medium $padding-medium;
  text-align: center;
  transition: box-shadow 0.3s ease;
  border-radius: $border-radius;

  &__img {
    width: 160px;
    height: 134px;
  }

  &__name {
    margin: 0;
    padding: 40px $padding-medium 0;

    width: 166px;
    height: 36px;

    font-size: $font-size-medium;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: normal;
  }

  &__code {
    margin: 0;
    padding-top: 4px;
    padding-left: 18px;

    width: 98px;
    height: 14px;

    font-size: 10px;
    line-height: 14px;
    font-weight: 400;
  }

  &__button {
    margin: 0;

    width: 166px;
    height: 40px;
    border-radius: $border-radius;
    background-color: $primary-color;
    border: none;
    color: $white-color;

    &:hover {
      cursor: pointer;
      border: 1px solid $primary-color;
      color: #00acdc;
      background-color: $white-color;
    }
  }
}
