.roboto {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings: width 100;
}

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}
