body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: $main-text-color;
  font-size: 10px;
  line-height: 1.4em;
}

p {
  margin: 0;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
