.price {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0 16px 16px;

  &__label {
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
  }

  &__value {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
  }
}
