.price {
  display: flex;
  margin-top: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $cor_texto_secundaria;

  &__valor {
    margin-left: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $cor_texto_primaria;
  }
}
