.product {
  width: 166px;
  height: 36px;
  margin-top: 40px;
  margin-left: 16px;

  &__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $cor_texto_primaria;
  }

  &__code {
    display: block;
    margin-top: 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $cor_texto_secundaria;
  }
}
