.product-card {
  box-sizing: border-box;
  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid #f3f3f3;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  color: $main-color;
  font-size: 12px;

  &__image {
    box-sizing: border-box;
    display: block;
    margin: 0 auto 40px;
    height: 134px;
    background-size: cover;
  }

  &__name {
    font-weight: 500;
    line-height: $line-height-bigger;
    margin-bottom: 4px;
    font-size: 12px;
  }

  &__code {
    margin-bottom: 16px;
    line-height: $line-height-smaller;
    font-size: $secondary-font-size;
    color: $secondary-color;

    &::before {
      content: 'Product code: ';
    }
  }

  &__score {
    display: flex;
    justify-content: space-between;
    margin-bottom: 23px;
    align-items: center;
  }

  &__reviews-counter {
    font-size: $secondary-font-size;
  }

  &__price {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;

    &-text {
      color: $secondary-color;
    }

    &-value {
      font-weight: 700;
      font-size: 16px;

      &::before {
        content: '$';
      }
    }
  }

  &__buy-btn {
    display: block;
    box-sizing: border-box;

    height: 40px;

    color: #fff;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    font-weight: 700;

    border: 1px solid $btn-color;
    background-color: $btn-color;
    border-radius: 5px;

    &:hover {
      color: $btn-color;
      background-color: #fff;
    }
  }
}
