.rating {
  box-sizing: border-box;
  color: #060b35;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 24px;
  line-height: 16px;

  &__star {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    box-sizing: border-box;
  }

  &__star:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
    margin-right: 4px;
  }

  &__stars {
    box-sizing: border-box;
    display: flex;
    list-style: none;
  }

  &__reviews {
    color: #060b35;
    box-sizing: border-box;
    line-height: 16px;
  }
}
