.rating {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0 0 24px;

  &__reviews {
    color: $main-color-text;
    margin: 0;
  }
}

.stars {
  display: flex;

  &_standard {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__1,
  &__2,
  &__3,
  &__4 {
    background-image: url(../images/star-active.svg);
  }
}
