
.stars {
  display: flex;
}

.stars__star {
  height: 16px;
  width: 16px;
  background-image: url(../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--5 .stars__star,
.stars--4 .stars__star:not(:last-child),
.stars--3 .stars__star:nth-child(1),
.stars--3 .stars__star:nth-child(2),
.stars--3 .stars__star:nth-child(3),
.stars--2 .stars__star:nth-child(1),
.stars--2 .stars__star:nth-child(2),
.stars--1 .stars__star:first-child {
  background-image: url(../../images/star-active.svg);
}
