.imac__stars {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px 16px 24px;
}

.stars__star {
  padding: 0;
  margin: 0;
  width: 16px;
  height: 16px;
  background-image: url('../images/star.svg');
  background-size: cover;
  display: inline-block;
}

.stars__star--active {
  background-image: url('../images/star-active.svg');
}

.imac__reviews {
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
}
