.star {
  display: flex;
  justify-content: flex-start;
}

.stars {
  display: block;
  margin-right: 4px;
  height: 16px;
  width: 16px;
  background-image: url(./../../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars:last-child {
  margin-right: 0;
}

.star .stars:nth-child(-n + 4) {
  background-image: url(./../../images/star-active.svg);
  background-repeat: no-repeat;
}
