.stars {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 16px 16px 24px;

  &__reviews {
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
  }

  &__five {
    padding: 0;
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-size: cover;
    display: inline-block;

    &--active {
      background-image: url('../images/star-active.svg');
    }
  }
}



