$font-family-base: 'Roboto', sans-serif;
$font-size-md: 14px;
$font-size-lg: 16px;

$cor_texto_primaria: #060b35;
$cor_texto_secundaria: #616070;
$card-border-color: #f3f3f3;
$color-white: #fff;
$color-accent: #00acdc;

$star-size: 16px;
$star-spacing: 4px;

$border-radius: 5px;

$space-ml: 19px;
$space-md: 16px;
