// Кольори
$primary-color: #00acdc;
$white-color: #fff;
$text-color: #000;

// Розміри
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-large: 16px;
$border-radius: 5px;

// Відступи
$padding-small: 4px;
$padding-medium: 16px;
$padding-large: 32px;
