.product-card__description-container {
  display: flex;
  flex-direction: column;
}

.product-card__detail-description {
  color: rgba(6, 11, 53, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.product-card__article {
  color: rgba(97, 96, 112, 1);
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}
