.product-card__price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price-title {
  color: rgba(97, 96, 112, 1);
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.product-card__price-value {
  color: rgba(6, 11, 53, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
