   // src/blocks/_base.scs

   $color-white: #fff;
   $color-black: #000;
   $font-main: 'Roboto', sans-serif;

   // outros mixins ou funções...

   body {
     font-family: Roboto, sans-serif;
     background-color: #f5f5f5;
     color: #333;
   }

   // Variáveis
   $font-family: 'Roboto', sans-serif;
   $color-bg: black;
   $color-primary: #060b35;
   $color-secondary: #616070;
   $color-accent: #00acdc;
   $font-size-small: 0.63rem;
   $font-size-medium: clamp(0.75rem, 0.1vw, 1rem);
   $border-radius-sm: 0.38rem;
   $border-radius-md: 0.63rem;
   $spacing-sm: 0.25rem;
   $spacing-md: 1rem;
   $spacing-lg: 2rem;
   

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
     font-weight: 700;
   }

   .main {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: $spacing-lg;
   }
