.card__buy-section {
  width: 166px;
  height: 40px;
}

.card__button {
  border: 1px solid #00acdc;
  width: 166px;
  padding: 12px 70px;
  background: #00acdc;
  border-radius: 5px;
  color: white;
}

.card__bottom-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.card__button:hover {
  background-color: #fff;
}

.card__bottom-link:hover {
  color: #00acdc;
}
