.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  background-color: #00acdc;
  border: 1px solid #00acdc ;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.card__button:hover {
  background-color: rgb(255, 255, 255);
  color: #00acdc;
}
