.card__button-link {
  align-items: center;
  border: 1px solid #00acdc;
  border-radius: 5px;
  background: rgba(0, 172, 220, 1);
  margin-top: 16px;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 55px;
  transition: 1s;
}

.card__button-link:hover {
  background-color: #fff;
  color: #00acdc;
}
