.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 1.17rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #00acdc;
  border-radius: 5px;
}

.card__buy:hover {
  height: 38px;
  background-color: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
