.card {
  display: flex;
  flex-wrap: wrap;

  background: #fff;
  border: 1px solid #f3f3f3;

  border-radius: 5px;
  width: 200px;
  height: 406px;
}

.card__content {
  display: flex;
  flex-direction: column;
}

.card__page {
  margin: 32px 19px 40px;
  width: 160px;
  height: 134px;
}

.card__information {
  display: flex;
  flex-direction: column;
  margin: 0 16px 16px;
}

.card__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;

  width: 166px;
  height: 36px;
  margin: 0 0 4px;

  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.card__product-code {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}
