.card {
  width: 166px;
  display: flex;
  flex-direction: column;
  padding-inline: 16px;
  align-items: center;
  border: 1px solid #f3f3f3;

  border-radius: 5px;

  background-color: #fff;

  &__image {
    width: 160px;
    height: 134px;
    margin-bottom: 40px;
    margin-top: 32px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 4px;
  }

  &__code {
    font-weight: 400;
    color: #616070;
    margin-right: auto;
    margin-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 24px;

    &-text {
      align-items: center;
    }
  }

  &-price {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 16px;

    &__text {
      font-size: 12px;
      line-height: 18px;
      color: #616070;
    }

    &__value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &-button {
    display: flex;
    width: 166px;
    height: 40px;
    border-radius: 5px;
    background-color: #00acdc;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;

    &__link {
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      color: #fff;
    }

    &:hover {
      .card-button__link {
        color: #00acdc;
      }

      background-color: #f3f3f3;
      border: 1px solid #00acdc;
      border-radius: 5px;
      width: 164px;
      height: 38px;
    }
  }
}
