body {
  margin: 0;
  padding: 0;
  width: 200px;
  height: 408px;
  top: 1px;
  left: 1px;
  border-radius: 5px;
  border: 1px;
}

.imac {
  width: 166px;
  height: 134px;
  top: 33px;
  left: 20px;
}

.review {
  font-size: 10px;
  font-weight: 400;
  line-height: 1px;
  text-align: right;
}

.blockreviev {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.blockPrice {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 80px;
}

.price {
  font-size: 12px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
}

.costInBucks {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  text-align: right;
}

.nameImac {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;

  width: 166px;
}

.productCode {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

.button {
  background-color: $primary-color;
  border: 1px solid $primary-color;
  text-transform: uppercase;
  color: $main-color;
  width: 166px;
  height: 40px;
  top: 351px;
  left: 17px;
  border-radius: 3px;

  &:hover {
    background-color: $main-color;
    border: 1px solid $primary-color;
    color: $primary-color;
  }
}
