.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  border-radius: 5px;
}

.card__image {
  padding-top: 32px;
  height: 134px;
  width: 160px;
  margin: 0 19px 40px;
}

.card__name {
  margin: 0 16px 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-dark);
}

.card__code {
  margin: 0 84px 16px 16px;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: var(--color-grey);
}

.card-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price__text {
  margin: 0 16px 16px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: var(--color-grey);
}

.card-price__number {
  margin: 0 16px 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: var(--color-dark);
}
