.card {
  box-sizing: border-box;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card__img {
  display: block;
  margin: 0 auto 40px;
  width: 160px;
  height: 134px;
}

.card__description {
  margin: 0 0 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-color-dark);
}

.card__code {
  color: var(--text-color-gray);
  margin-bottom: 16px;
}

.card_review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.card_review-value {
  font-weight: 400;
  font-size: 10px;
  color: #060b35;
  line-height: 14px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-text {
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color-gray);
}

.card__price-actual-price {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--text-color-dark);
}

.card__buy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border: 1px solid var(--color-light-blue);
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: var(--color-light-blue);
}

.card__buy-link:hover {
  background-color: white;
  color: var(--color-light-blue);
}
