.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 32px 16px 16px;
  width: 200px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__page {
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.card__text {
  font-family: "Roboto-Medium", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  color: var(--color-text);
}

.card__product-code {
  font-family: "Roboto", sans-serif;
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card__review {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.card__reviews {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  color: var(--color-text);
}

.card__costs {
  display: flex;
  justify-content: space-between;
  color: var(--color-text);
  margin-bottom: 16px;
  line-height: 18px;
}

.card__cost-title--style_smoll {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  color: #616070;
}

.card__cost-content--style_bold {
  font-family: "Roboto-bold", sans-serif;
  font-weight: var(--font-weight-style-bold);
  font-size: 16px;
}

.card__button-section {
  display: inherit;
  text-align: center;
}

.card__link {
  font-family: "Roboto-bold", sans-serif;
  font-weight: var(--font-weight-style-bold);
  font-size: 14px;
  padding: 10px 70px;

  text-decoration: none;
  text-transform: uppercase;
  color: white;

  background-color: var(--color-button);
  border: 1px solid var(--color-button);
  border-radius: 5px;
}

.card__link--hover:hover {
  background-color: white;
  color: var(--color-button);
}
