.card {
  box-sizing: border-box;
  width: 200px;
  height: 408px;
  border: 1px solid $white-color;
  border-radius: 5px;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  &__imac {
    width: 160px;
    height: 134px;
    margin: 32px 19px;
  }

  &__item {
    align-items: center;

    margin: 0 16px 4px;

    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $black-color;
  }

  &__code {
    margin-top: 4px;
    margin-left: 16px;

    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $grey-color;
  }

  &__reviews {
    justify-content: space-between;

    margin-right: 16px;

    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 0 16px;

    font-size: 12px;
    font-weight: 400;
    color: $grey-color;
  }

  &__sum {
    margin-left: 16px;
    font-size: 16px;
    font-weight: 700;
    color: $black-color;
  }

  &__buy {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 166px;
    height: 40px;
    margin: 16px 16px 2px;
    border: 1px solid $concept-color;
    border-radius: 5px;

    font-size: 14px;
    font-weight: 700;
    color: $white-color;

    background-color: $concept-color;

    &:hover {
      cursor: pointer;

      border: 1px solid $concept-color;
      border-radius: 5px;

      color: $concept-color;

      background-color: $white-color;
    }
  }
}
