@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--main-text-color);
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 0 16px;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 134px;
  margin: 32px auto 40px;
}

.card__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-bottom: 4px;
}

.card__product-code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.card__rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  width: 166px;
  height: 16px;
  align-items: center;
}

.card__review {
  color: #060b35;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
}

.card__price {
  display: flex;
  justify-content: space-between;
  width: 166px;
  height: 18px;
  margin-bottom: 16px;
}

.card__price-amount {
  color: #060b35;
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.card__price-price {
  color: #616070;
  font-size: 12px;
  line-height: 18px;
}

.card__buy {
  width: 166px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--branding-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 12px 70px;
}

.card__buy:hover {
  background-color: #fff;
  border-color: var(--branding-color);
  color: var(--branding-color);
}
