.card {
  width: 200px;
  margin: 0 auto;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  height: 406px;

  &__monitor-add {
    width: 100%;
    height: auto;
    padding: 33px 20px 40px;
    box-sizing: border-box;
  }

  &__monitor-title {
    width: 166px;
    margin: 0 auto;
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    text-align: left;
    color: #060b35;
    padding-bottom: 4px;
  }

  &__paragraph-code {
    font-family: Roboto, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    padding: 0 17px 16px;
    color: #616070;
    margin: 0;
  }
}
