.card {
  display: flex;
  flex-direction: column ;
  justify-content: center ;
  object-fit: contain ;
  width: 200px ;
  padding: 30px 16px 16px ;
  font-size: 10px ;
  line-height: 14px ;
  border-radius: 5px ;
  border: 1px solid #f3f3f3 ;
  background: var(--color-white);
  color: var(--color-grin);
}

.card__title {
  font-weight: 500 ;
  font-size: 12px ;
  line-height: 18px ;
  color: var(--color-dark);
}

.item {
  display: flex;
  justify-content: center ;
  padding: 12px 0 ;
  font-weight: 700 ;
  font-size: 14px ;
  line-height: 16px ;
  text-align: center ;
  text-transform: uppercase ;
  text-decoration: none;
  border: 1px solid var(--color-blue) ;
  border-radius: 5px ;
  background: var(--color-blue);
  color: var(--color-white);
}

.card__image {
  width: 100% ;
  object-fit: contain ;
  vertical-align: top ;
  padding: 0 3px 38px ;
}

.card__code-text {
  padding: 4px 0 16px ;
}

.prises-container {
  display: flex;
  flex-direction: row ;
  align-items: center ;
  justify-content: space-between ;
  padding: 24px 0 16px ;
}

.color-text {
  color: var(--color-dark);
}

.prise {
  font-weight: 700 ;
  font-size: 16px ;
  line-height: 18px ;
  color: var(--color-dark);
}

.prise-text {
  font-size: 12px ;
  line-height: 18px ;
  font-weight: 400 ;
  color: var(--color-grin);
}

.item:hover {
  background: var(--color-white);
  color: var(--color-blue);
}
