.container {
  width: 200px;
  padding: 32px 16px 16px;
  box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.container__logo {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.conainer_info {
  font-weight: 500;
  font-size: 12px;
  margin: 0 0 4px;
  line-height: 18px;
  color: #060b35;
}

.conainer_kod {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.container_buy-submit {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  height: 40px;
  width: 166px;
  background-color: #00acdc;
  border-radius: 5px;
  border: 1px solid #00acdc;
  padding-top: 11px;
  line-height: 16px;
  text-transform: uppercase;
}

.container_buy-submit:hover {
  color: #00acdc;
  background-color: #fff;
}
