@font-face {
  font-family: "Roboto-regular";
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-medium";
  src: url(../fonts/Roboto-Medium.ttf);
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body,
h1 {
  margin: 0;
}

:root {
  --card-width: 200px;
  --card-padding: 16px;
  --star-side: 16px;
  --light-blue: #00acdc;
  --dark-blue: #060b35;
  --grey: #616070;
}

html {
  font-family: Roboto-regular, sans-serif;
  background-color: #e5e5e5;
}
