.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__item {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price__uah {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}
