.card__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  line-height: 18px;
  width: 100%;
  margin-bottom: 16px;
}

.card__price-text {
  color: #616070;
}

.card__price-value {
  font-size: 16px;
  font-weight: bold;
  color: #060b35;
}
