.card__price {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__price-title {
  font-size: 12px;
  line-height: 18px;
  color: var(--Secondary);
}

.card__price-amount {
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: var(--Main-accent);
}
