.product-card {
  width: 200px;
  padding: 32px 16px 16px;
  background-color: white;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__img {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto;
}

.product-card__name {
  margin-top: 40px;
  font-weight: 500;
  line-height: 18px;
  font-size: 1.2rem;
  color: #060b35;
}

.product-card__code {
  margin-top: 4px;
  font-size: 1rem;
  color: #616070;
}

.product-card__rate {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product-card__reviews {
  display: flex;
  align-self: center;
  line-height: 1.6em;
  font-size: 1rem;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  height: fit-content;
}

.product-card__label {
  font-size: 1.2rem;
  color: #616070;
}

.product-card__value {
  font-size: 1.6rem;
  font-weight: 700;
}

.product-card__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 auto;
  padding: 12px 0;

  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 700;

  color: #fff;
  background-color: #00acdc;
  border-radius: 5px;
  outline: 1px solid transparent;
  outline-offset: -1px;
}

.product-card__buy-button:hover {
  color: #00acdc;
  background-color: #fff;
  outline: 1px solid #00acdc;
  outline-offset: -1px;
}
