.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background: #fff;
}

.product-card__image {
  width: 160px;
  height: 134px;
}

.product-card__information {
  display: flex;
  flex-direction: column;
}

.product-card__title {
  height: 36px;
  line-height: 18px;
  font-weight: 500;
  font-size: 12px;
  margin-top: 40px;
}

.product-card__code {
  display: flex;
  margin-top: 4px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-color);
}

.product-card__reviews-container {
  width: 100%;
  display: flex;
  margin-top: 16px;
  justify-content: space-between;
  align-items: center;
}

.product-card__reviews-count {
  display: flex;
  font-weight: 400;
  font-size: 10px;
}

.product-card_price-wrapper {
  display: flex;
  margin-top: 24px;
  width: 100%;
  justify-content: space-between;
  line-height: 18px;
  text-align: right;
  color: var(--main-accent-color);
}

.product-card__price-text {
  color: var(--secondary-color);
  font-size: 12px;
  font-weight: 400;
}

.product-card__price-amount {
  display: inline-block;
  color: var(--main-accent-color);
  font-weight: 700;
  font-size: 16px;
}

.product-card__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: var(--blue-accent-color);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.product-card__buy-button:hover {
  background-color: #fff;
  border: 1px solid var(--blue-accent-color);
  border-radius: 5px;
  color: var(--blue-accent-color);
}
