.product-card {
  box-sizing: border-box;
  width: 200px;
  height: fit-content;
  position: absolute;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__image {
  margin: 32px 19px 0;
  height: 134px;
}

.product-card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin: 36px 16px 0;
  color: var(--dark-blue-color);
}

.product-card__code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--grey-color);
  margin: 4px 16px 0;
}

.product-card__rating {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 16px 16px 0;
}

.rating__rating-reviews {
  font-size: 10px;
  line-height: 14px;
  color: var(--dark-blue-color);
  text-decoration: none;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 24px 16px 0;
}

.product-card__price-title {
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
}

.product-card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue-color);
}

.product-card__buying-link {
  display: block;
  box-sizing: border-box;
  margin: 16px;
  background-color: var(--light-blue-color);
  border-radius: 5px;
  width: 166px;
  height: 40px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white-color);
  line-height: 40px;
  text-align: center;
  border: 1px solid transparent;
}

.product-card__buying-link:hover {
  background-color: var(--white-color);
  color: var(--light-blue-color);
  border-color: var(--light-blue-color);
}
