.product-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  height: 406px;
  cursor: pointer;
  box-sizing: border-box;
}

.product-card__logo {
  height: 134px;
  width: 160px;
}

.product-card__logo--position-margin {
  margin-top: 16px;
  margin-bottom: 40px;
}

.product-card:hover .content__button {
  background-color: white;
  color: #00acdc;
  border-color: rgba(0, 172, 220,1);
  box-sizing: border-box;
}
