.product-card__buy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  margin: 0 16px 16px;
  width: 166px;
  height: 40px;
  background: #00acdc;
  color: #fff;
  border-radius: 5px;
  text-transform: uppercase;
}

.product-card__buy-link:hover {
  background: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}
