.product-card__product-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__cost {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-left: 16px;
  color: #616070;
}

.product-card__sum-of-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-right: 16px;
  color: #060b35;
}
