.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.card__stars {
  display: flex;
  width: min-content;
}

.card__stars .star-1,
.card__stars .star-2,
.card__stars .star-3,
.card__stars .star-4 {
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  width: 16px;
  height: 16px;
  background-image: url(../images/star-active.svg);
}

.card__stars .star-5 {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
  margin-bottom: 16px;
  width: 16px;
  height: 16px;
}

.card__rating-text {
  font-size: 0.83rem;
  margin-bottom: 16px;
  color: #060b35;
}
