.product__rating {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
}

.rating__reviews {
  display: flex;
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.rating__stars {
  display: flex;
  gap: 4px;
}

.rating__star {
  background: url(../images/star.svg) no-repeat center center;
  height: 16px;
  width: 16px;
}

.rating__stars--active-1 .rating__star:nth-child(-n+1),
.rating__stars--active-2 .rating__star:nth-child(-n+2),
.rating__stars--active-3 .rating__star:nth-child(-n+3),
.rating__stars--active-4 .rating__star:nth-child(-n+4),
.rating__stars--active-5 .rating__star:nth-child(-n+5) {
  background-image: url(../images/star-active.svg);
}
