* {
  box-sizing: border-box;
}

body,
h2,
p {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", Arial, sans-serif;
}

.body {
  background-color: var(--body-bc-color);
  border-radius: 5px;
  font-weight: 400;
}
