/* Reviews block */
.product-card__raiting {
  justify-content: space-between;
  display: flex;
  width: 166px;
  margin: 16px 18px 0;
}

.product-card__reviews {
  color: #060b35;
  margin: 2px;
  font-size: 10px;
}
