.stars {
  display: flex;
}

.stars__star {
  background-image: url(../images/star-active.svg);
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.stars__star:nth-child(5) {
  background-image: url(../images/star.svg);
}

.stars .stars__star:not(:last-child) {
  margin-right: 4px;
}
