
.stars {
  display: flex;

  &__image {
    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-size: 13px 12px;
    background-position: center;

    width: 16px;
    height: 16px;

    &:not(:last-child) {
      margin-right: 4px;
    }
  }

  @for $childCount from 1 through 5 {
    @for $starsCount from $childCount through 5 {
      &--#{$starsCount} &__image:nth-child(#{$childCount}) {
        background-image: url(../images/star-active.svg);
      }
    }
  }

}
