.stars {
  display: flex;
  width: 100px;
}

.stars__star {
  background: url(../images/star.svg) center no-repeat;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars--4 > :not(:last-child) {
  background-image: url(../images/star-active.svg);
}
