.card__stars-reviews {
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  align-items: flex-end;
  margin: 16px 0 0;

}

.card__reviews {
  text-align: left;
  color: #060b35;
}

.stars__star {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  background: url(../images/star.svg) no-repeat center;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars--1 > .stars__star:first-child,
.stars--2 > .stars__star:nth-child(-n + 2),
.stars--3 > .stars__star:nth-child(-n + 3),
.stars--4 > .stars__star:nth-child(-n + 4),
.stars--5 > .stars__star:nth-child(n) {
  background-image: url(../images/star-active.svg);
}
