.card__stars-reviews {
  display: flex;
  flex-direction: row;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  align-items: flex-end;
  margin: 16px 0 0;

}

.card__reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #060b35;
}

.card__stars {
  display: flex;
}

.star {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  background: url(../images/star.svg) no-repeat center;
}

.card__stars--1 > .star:first-child,
.card__stars--2 > .star:nth-child(-n + 2),
.card__stars--3 > .star:nth-child(-n + 3),
.card__stars--4 > .star:nth-child(-n + 4),
.card__stars--5 > .star:nth-child(-n + 5) {
  background-image: url(../images/star-active.svg);
}
