.card__review {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__review-text {
  color: var(--color-dark);
}

.stars__star {
  width: 16px;
  height: 16px;
  padding-right: 20px;
  background: url("../images/star.svg") 2px 2px /13px no-repeat;
}

.stars {
  display: flex;
  align-items: center;
}

.stars--1 :nth-child(-n+1) {
  background: url("../images/star-active.svg") 2px 2px / 13px no-repeat;
}

.stars--2 :nth-child(-n+2) {
  background: url("../images/star-active.svg") 2px 2px / 13px no-repeat;
}

.stars--3 :nth-child(-n+3) {
  background: url("../images/star-active.svg") 2px 2px / 13px no-repeat;
}

.stars--4 :nth-child(-n+4) {
  background: url("../images/star-active.svg") 2px 2px / 13px no-repeat;
}

.stars--5 :nth-child(-n+5) {
  background: url("../images/star-active.svg") 2px 2px / 13px no-repeat;
}
