.stars {
  display: flex;
  justify-content: space-between;
  width: 96px;

  &__star {
    height: 16px;
    width: 16px;
    background-image: url(./images/star-active.svg);
    background-repeat: no-repeat;
  }

  @for $starCount from 1 through 5 {
    &--#{$starCount} .stars__star:nth-child(n + #{$starCount + 1}) {
      background-image: url(./images/star.svg);
    }
  }
}
