.stars {
  display: flex;
}

.stars__star {
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  border-radius: 0.5px;
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-position: 50%;
}

.stars__star:last-child {
  background-image: url(../images/star.svg);
  background-repeat: no-repeat;
}

.card__product-rate {
  display: flex;
  margin-bottom: 24px;
  justify-content: space-between;
}
