.stars {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__star {
    width: $width-stars;
    height: $height-stars;

    background-image: url(../images/star.svg);
    background-repeat: no-repeat;
    background-position: center;

    margin-right: $margin-four;
  }

  &--4 &__star:nth-child(-n + 4) {
    background-image: url(../images/star-active.svg);
  }
}
