.card__product-name {
  display: flex;
  margin-bottom: 4px;
  font-weight: 500;
  line-height: 18px;
  color: #060b35;
}

.card__product-code {
  display: flex;
  margin-bottom: 16px;
  font-size: 10px;
  width: 100%;
  line-height: 14px;
  color: #616070;
}
