.card__product-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4px;
  font-size: 1rem;
  font-weight: 500;
  width: 166px;
  height: 36px;
  color: #060b35;
}

.card__product-code {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 16px;
  font-size: 0.83rem;
  width: 100%;
  height: 14px;
  color: #616070;
}
