:root {
  --product-name-reviews-price_num-color: #060b35;
  --product-code-price_text-color: #616070;
  --color-bg-color: #fff;
  --buy-button-bg-border-text-color: #00acdc;
  --product-name-price-text-size: 12px;
  --product-code-reviews-text-size: 10px;
}
