:root {
  --body-bc-color: rgb(229, 229, 229);
  --page-text-color: rgb(6, 11, 53);
  --code-price-color: rgb(97, 96, 112);
  --white-color: rgb(255, 255, 255);
  --button-color: rgb(0, 172, 220);
  --border-color: rgb(243, 243, 243);
}
