.rating-stars {
  display: flex;
}

.rating-stars__item {
  width: 16px;
  height: 16px;
  padding: 0 2px;
  background-image: url("../../images/star-active.svg");
  background-repeat: no-repeat;
  object-fit: fill;
  background-position: center;
}

.rating-stars__item:last-child {
  background-image: url("../../images/star.svg");
}
