.star {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.stars {
  display: flex;

  &__star {
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 16px;
    height: 16px;
  }

  &__star:not(:last-child) {
    margin-right: 4px;
  }
}

.stars--1 li:nth-child(-1n + 1)::after {
  content: "";
  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  position: absolute;
}

.stars--2 li:nth-child(-1n + 2)::after {
  content: "";
  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  position: absolute;
}

.stars--3 li:nth-child(-1n + 3)::after {
  content: "";
  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  position: absolute;
}

.stars--4 li:nth-child(-1n + 4)::after {
  content: "";
  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  position: absolute;
}

.stars--5 li:nth-child(-1n + 5)::after {
  content: "";
  background-image: url("../images/star-active.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 16px;
  height: 16px;
  position: absolute;
}

.review {
  display: flex;
  font-size: 10px;
}
