.stars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
  align-items: center;

  &__rating {
    line-height: 16px;
    display: flex;
    flex-direction: row-reverse;
  }

  &__input {
    display: none;
  }

  &__label {
    cursor: pointer;
    color: #f3f3f3;
  }

  &__label:not(:last-child) {
    margin-left: 5px;
  }

  &__label::before {
    display: inline-block;
    content: "★";
    font-size: 18px;
    align-self: center;
  }

  &__input:checked ~ &__label,
  &__input:checked ~ &__label ~ &__label {
    color: #ffde6a;
  }

  &__review {
    display: flex;
    font-size: 10px;
  }
}
