.container__card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 0;
}

.card {
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
}

.card__img {
  display: flex;
  justify-content: flex-end;
  text-align: center;
  align-items: center;
  height: 134px;
  width: 160px;
  margin-bottom: 40px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 4px;
  color: var(--black);
}

.card__code {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--grey);
  margin-bottom: 16px;
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__price-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey);
}

.card__price-cost {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: var(--blue);
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 5px;
  margin-bottom: 16px;
  border: 1px solid #ccc transparent;
}

.card__link:hover {
  background: #fff;
  border: 1px solid var(--blue);
  border-radius: 5px;
  color: var(--blue);
  height: 38px;
}
