.card {
  width: 200px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;

  --card-text: #060b35;
  --card-additional-text: #616070;
  --card-main-color: #00acdc;
}

.card__container {
  padding: 16px;
}

.card__featured-image {
  width: 160px;
  height: 134px;
  margin: 16px auto 0;
  display: block;
}

.card__title {
  margin-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--card-text);
}

.card__product-code {
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
  color: var(--card-additional-text);
}

.card__reviews {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__reviews-count {
  font-size: 10px;
  line-height: 15px;
  color: var(--card-text);
}

.card__price-container {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.card__price-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--card-additional-text);
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy-link {
  width: 100%;
  background: var(--card-main-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-top: 16px;
  border: 1px solid transparent;
}

.card__buy-link:hover {
  background: #fff;
  border-color: var(--card-main-color);
  color: var(--card-main-color);
}
