.card {
  display: flex;
  flex-direction: column;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: var(--main-color);

  box-sizing: border-box;
  max-width: 200px;
  padding: 32px 16px 16px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__picture_container {
  max-width: 160px;
  margin: 0 auto 40px;
}

.card__picture {
  width: 100%;
}

.card__title {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}

.card__item-number {
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 16px;
  color: var(--secondary-color);
}

/* Star rating */
.card__star-rating_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.card__star-rating_list {
  display: flex;
  gap: 4px;
}

.card__star-rating_item {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/star-active.svg);
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.card__star-rating_item:nth-of-type(n+5) {
  background-image: url(../../images/star.svg);
}

.card__star-rating_text {
  font-size: 10px;
  line-height: 14px;
}

/* Price */
.card__price_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price_name {
  font-size: 12px;
  line-height: 18px;
  color: var(--secondary-color);
}

.card__price_summa {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

/* Button */
.card__button_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card__button_link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--blue-color);

  padding: 12px 55px;
  border: var(--blue-color) solid 1px;
  border-radius: 5px;
  text-decoration: none;
  transition: color 0.6s, background-color 0.6s;
}

.card__button_link:hover {
  background-color: var(--white-color);
  color: var(--blue-color);
}
