.stars {
  display: flex;

  --star: url("../../images/star.svg");
  --star-active: url("../../images/star-active.svg");
}

.stars__star {
  width: 16px;
  height: 16px;
  background-image: var(--star);
  background-repeat: no-repeat;
  background-position: center center;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 .stars__star:nth-child(1) {
  background-image: var(--star-active);
}

.stars--2 .stars__star:nth-child(-n + 2) {
  background-image: var(--star-active);
}

.stars--3 .stars__star:nth-child(-n + 3) {
  background-image: var(--star-active);
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: var(--star-active);
}

.stars--5 .stars__star:nth-child(-n + 5) {
  background-image: var(--star-active);
}
