.stars {
  display: flex;
}

.stars__star {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../../images/star-active.svg);
  height: 16px;
  width: 16px;
  cursor: pointer;
}

.stars__list--1 :nth-child(n+2),
.stars__list--2 :nth-child(n+3),
.stars__list--3 :nth-child(n+4),
.stars__list--4 :nth-child(n+5),
.stars__list--5 :nth-child(n+6) {
  background-image: url(../../images/star.svg);
}
