html {
  font-family: Roboto, sans-serif;
}

.card {
  font-size: var(--font-size-normal);
  font-weight: var(--font-weight-normal);
  box-sizing: border-box;
  width: var(--card-width);
  display: flex;
  flex-direction: column;
  padding: var(--card-padding);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: var(--main-color);

  --card-padding: 32px 16px 16px;
  --card-width: 200px;
  --font-size-normal: 10px;
  --font-weight-title: 500;
  --font-size-title: 12px;
  --font-size-button: 14px;
  --line-height-big: 18px;
  --line-height-normal: 14px;
  --font-weight-normal: 400;
  --font-size-prize-num: 16px;
  --font-weight-prize-num: 700;
  --main-color: #060b35;
  --secondary-color: #616070;
  --main-btn-color: #00acdc;

  --card-pading-button: 12px 0;

  --margin-imac: 40px;
  --width-imac: 160px;
  --height-imac: 134px;
  --margin-title: 4px;
  --margin-product-code: 16px;
  --margin-rating-block: 23px;
  --margin-card-price: 16px;
}

.card__imac {
  width: var(--width-imac);
  height: var(--height-imac);
  align-self: center;
  margin-bottom: var(--margin-imac);
}

.card__title {
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  line-height: var(--line-height-big);
  margin-bottom: var(--margin-title);
}

.card__product-code {
  line-height: var(--line-height-normal);
  color: var(--secondary-color);
  margin-bottom: var(--margin-product-code);
}

.card__rating-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--margin-rating-block);
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: var(--margin-card-price);
}

.card__price-text {
  font-size: var(--font-size-title);
  color: var(--secondary-color);
}

.card__price-num {
  font-size: var(--font-size-prize-num);
  font-weight: var(--font-weight-prize-num);
}

.card__button {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-prize-num);
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--main-btn-color);
  border: 1px solid var(--main-btn-color);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--card-pading-button);
}

.card__button:hover {
  color: var(--main-btn-color);
  background-color: #fff;
  transition: all 0.5s;
}
