.card {
  $main-text-color: #060b35;
  $secondary-text-color: #616070;
  $btn-color: #00acdc;

  box-sizing: border-box;

  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  padding: 0 16px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-family: Roboto;

  &__image {
    background-image: url('../images/imac.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 160px;
    height: 134px;

    margin-top: 32px;
  }

  &__description {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0%;

    color: $main-text-color;

    margin-top: 40px;
  }

  &__producte-code {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;

    color: $secondary-text-color;

    margin-top: 4px;
  }

  &__stars {
    margin-top: 16px;
  }

  &__stars-reviews {
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: right;
    vertical-align: bottom;

    color: $main-text-color;

    margin-left: auto;
    align-self: end;
  }

  &__price {
    margin-top: 24px;

    display: flex;
    justify-content: space-between;

    &-text {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0%;
      vertical-align: bottom;

      color: $secondary-text-color;
    }

    &-price {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0%;
      text-align: right;
      vertical-align: bottom;

      color: $main-text-color;
    }
  }

  &__button {
    margin: 16px 0;
    height: 40px;

    background: $btn-color;
    color: #fff;

    font-family: Roboto;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    outline: none;

    &:hover {
      background: #fff;
      border: 1px solid $btn-color;
      color: $btn-color;
    }
  }
}
