.card {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid $mainColor;
  border-radius: 5px;

  &__image {
    display: block;
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    margin-bottom: 4px;
    font-size: inherit;
    font-weight: 500;
    line-height: 18px;
    color: $textColor;
  }

  &__code {
    color: $secondColor;
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 16px;

  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__reviews-label {
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 14px;
    color: $textColor;
  }

  &__price-container {
    display: flex;
    justify-content: space-between;

    margin-bottom: 16px;

  }

  &__price-label {
    line-height: 18px;
    color: $secondColor;
  }

  &__price-value {
    color: $textColor;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
  }

  &__buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;

    background-color: $activeColor;
    border-radius: 5px;
    border: 1px solid $activeColor;

    text-transform: uppercase;
    color: $mainColor;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;

    &:hover {
      color: $activeColor;
      background-color: $mainColor;
    }
  }
}
