.card-about {
  display: flex;
  flex-direction: column;
}

.card-about__image {
  align-self: center;

  display: block;
  margin: 0 0 40px;

  width: 160px;
  height: 134px;
}

.card-about__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;

  margin: 0 0 4px;

  color: var(--color-primary);
}

.card-about__description {
  font-size: 10px;
  line-height: 14px;

  margin: 0 0 16px;

  color: var(--color-secondary);
}
