.card-price {
  display: flex;
  justify-content: space-between;

  margin: 0 0 16px;
}

.card-price__text {
  font-size: 12px;
  line-height: 18px;

  color: var(--color-secondary);
}

.card-price__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;

  color: var(--color-primary);
}
