.card-price {
  display: flex;
  justify-content: space-between;
}

.card-price__text {
  font-size: 12px;
  line-height: 18px;
  margin: 0;

  color: var(--color-secondary);
}

.card-price__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin: 0;

  color: var(--color-primary);
}
