.price {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  width: 80%;

  &__pricetxt,
  &__value {
    @extend %fontStyle;
  }

  &__value {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: $text-color;
  }
}
