.productcode {
  font-family: $roboto-font;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #616070;

  &--margin {
    @extend %fontStyle;
    margin-top: 4px;
    margin-left: 16px;
    align-self: flex-start;
    padding-top: 4px;
  }
}
