$primary-color: #00acdc;
$card-width: 200px;
$card-border-radius: 5px;
$card-bg-color: #fff;
$card-border-color: #f3f3f3;
$text-color-main: #060b35;
$text-color-secondary: #616070;
$text-color-accent: #fff;
$transition-duration: 0.3s;
$transition-function: ease;
