$color-black: #060b35;
$color-gray: #616070;
$color-border: #f3f3f3;
$color-blue: #00acdc;
$standart-width: 166px;
$border-radius: 5px;
$font-weight-low: 400;
$font-weight-mid: 500;
$font-weight-high: 700;
$font-size-small: 10px;
$font-size-medium: 12px;
$font-size-big: 16px;
$font-size-buy: 14px;
