&__item {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center center;
  margin-right: 4px;
}
