h1,
h2,
h3,
p,
span {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  min-height: 406px;
  box-sizing: border-box;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;
    margin-bottom: 40px;
  }

  &__name {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $main-color;
    font-style: $regular-font-style;

    margin-bottom: 4px;
  }

  &__id {
    font-style: $regular-font-style;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $secondary-color;
    margin-bottom: 16px;
  }

  &__rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;

    &-text {
      font-style: $regular-font-style;
      font-weight: 400;
      font-size: 10px;
      line-height: 14px;
      color: $main-color;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-content: center;

    margin-bottom: 16px;

    &-text {
      font-style: $regular-font-style;
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $secondary-color;
    }

    &-sum {
      font-style: $regular-font-style;
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $main-color;
    }
  }

  &__button {
    display: block;
    height: 40px;
    background-color: $button-color;
    border-radius: 5px;
    box-sizing: border-box;

    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-style: $regular-font-style;
    font-weight: 700;
    font-size: 14px;
    line-height: 40px;
    margin-bottom: 16px;
  }

  &__button:hover {
    background-color: #fff;
    border: 1px solid $button-color;
    color: $button-color;
  }
}
