.reviews {
  font-size: 10px;
  display: flex;
  width: 166px;
  justify-content: space-between;
  align-items: flex-end;
}

.reviews__stars {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.reviews__star {
  height: 16px;
  width: 16px;
  background-image: url(../../images/star-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.reviews__stars--0 > :nth-child(n+1),
.reviews__stars--1 > :nth-child(n+2),
.reviews__stars--2 > :nth-child(n+3),
.reviews__stars--3 > :nth-child(n+4),
.reviews__stars--4 > :nth-child(n+5),
.reviews__stars--5 > :nth-child(n+6) {
  background-image: url(../../images/star.svg);
}
