.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px 16px 16px;
  width: 200px;
  background-color: $backgroundColor;
  border: 1px solid #f3f3f3;
  border-radius: 5px;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto 40px;
  }

  &__title {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    color: $mainColor;
    margin-bottom: 4px;
  }

  &__code {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    color: $secondaryColor;
    margin-bottom: 16px;
  }

  &__reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    height: 16px;

    &-amount {
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: 14px;
    }
  }

  &__price {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: center;

    &-text {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      color: $secondaryColor;
    }

    &-cost {
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;
      color: $mainColor;
    }
  }

  &__button {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0 69px;
    height: 40px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    background-color: $buttonColor;
    border-radius: 5px;
    color: $backgroundColor;
    border: 1px solid $buttonColor;

    &:hover {
      background-color: $backgroundColor;
      color: $buttonColor;
    }
  }
}
