:root {
  --font-weight-style-bold: 700;
  --width-section: 166px;
  --color-text: #060b35;
  --color-button: #00acdc;
  --family-fonts-medium: "Roboto-Medium", sans-serif;
  --family-fonts-bold: "Roboto-bold", sans-serif;
}
