.block-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: #060b35;
  padding: 32px 16px 16px;
}

.block-card__img {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.block-card__name {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
}

.block-card__id {
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 14px;
  margin-bottom: 24px;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.price-title {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price-summary {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.block-card__button {
  width: 100%;
  background: #00acdc;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  padding: 12px 0;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.block-card__button:hover {
  color: #00acdc;
  background: #fff;
}
