.card {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  width: max-content;
}

.card__image-container {
  margin-bottom: 40px;
  display: flex;
  padding: 0 3px;
}

.card__image {
  height: 134px;
  width: 160px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--dark);
}

.card__code,
.card__price,
.card__rewiews {
  font-weight: 400;
}

.card__code {
  margin: 4px 0 16px;
  text-align: left;
  font-size: 10px;
  line-height: 14px;
  color: var(--light-grey);
}

.card__price {
  margin-top: 24px;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  justify-content: space-between;
  color: var(--light-grey);
}

.card__price-sum {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--dark);
}

.card__rewiews {
  display: flex;
  align-items: flex-end;
  background-image: none;
  font-size: 10px;
  line-height: 14px;
  color: var(--dark);
}

.card__rating {
  display: flex;
  justify-content: space-between;
}

.card__button {
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;
  color: var(--white);
  height: 40px;
  text-align: center;
  background-color: var(--blue);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid var(--blue);
}

.card__button:hover {
  background-color: var(--white);
  color: var(--blue);
}
