.buttom-buy {
  display: flex;
  margin-top: 16px;
}

.buttom-buy__link {
  font-weight: 700;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  height: 40px;
  width: 166px;
  line-height: 40px;
  text-align: center;
  background-color: #00acdc ;
  border: 1px solid #00acdc;
  border-radius: 5px;
}

.buttom-buy__link:hover {
  background-color: #fff;
  color: #00acdc;
}
