.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin-top: 16px;
  border-radius: 5px;

  background: #00acdc;
}

.buy {
  padding: 12px 55px;

  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
}

.buy:hover {
  color: #00acdc;
  background: #fff;
  border: 1px solid #00acdc;
  border-radius: 5px;
}
