/* #region button */
.button {
  margin: 16px 0;
}

.content-card__button {
  box-sizing: border-box;
  border: 1px solid #00acdc;
  text-decoration: none;
  background: #00acdc;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 166px;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  transition: all 0.8s linear;
}

.content-card__button:hover {
  background: white;
  color: #00acdc;
  transition: all 0.5s linear;
}
/* #endregion */
