
.buy-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 40px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #00acdc;
  border-radius: 5px;
  border: none;
}

.buy-link:hover {
  color: #00acdc;
  background: #fff;
  border: 1px solid #00acdc;
}
