.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
}

.buy-button:hover {
  background-color: white;
  color: var(--main-color);
}
