.card-container {
  display: flex;
  font-style: normal;
}

.card-product {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 400px;
  padding: 32px 16px 16px;
  background: var(--color-card-product-background);
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  color: var(--color-card-product);
}

.card-product__image {
  display: flex;
  justify-content: center;
}

.card-product__image_size {
  height: 134px;
  width: 160px;
}

.card-product__name {
  margin-top: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: var(--color-card-product__name);
}

.card-product__code {
  height: 14px;
  margin-top: 4px;
  font-size: 10px;
  line-height: 14px;
  color: var(--color-card-product__code);
}

.card-product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  line-height: 18px;
}

.card-product__price_title {
  font-size: 12px;
  color: var(--color-card-product__price_title);
}

.card-product__price_money {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-card-product__price_money);
}

.card-product__buy {
  margin-top: 16px;
}

.card-product__buy_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 5px;
  text-decoration: none;
  background-color: var(--color-card-product__buy_btn-background);
  border: 1px solid var(--color-card-product__buy_btn-background);
  color: var(--color-card-product__buy_btn);
}

.card-product__buy_btn:hover {
  background-color: var(--color-card-product__buy_btn-hover);
  color: var(--color-card-product__buy_btn-background);
}

:root {
  --color-card-product__buy_btn-background: #00acdc;
  --color-card-product: #060b35;
  --color-card-product__code: #616070;
  --color-card-product__name: #060b35;
  --color-card-product__buy_btn: #fff;
  --color-card-product__buy_btn-hover: #fff;
  --color-card-product__price_title: #616070;
  --color-card-product-background: #fff;
  --color-card-product__price_money: #060b35;
}
