.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 32px 16px 16px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.cards__img {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.cards__name {
  font-style: normal;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-bottom: 4px;
  margin-top: 0;
  font-weight: 500;
}

.cards__code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-top: 0;
  margin-bottom: 16px;
  width: 100%;
}

.cards__rating {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 100%;
  margin-bottom: 24px;
  height: 16px;
}

.cards__rating-review {
  font-size: 10px;
  line-height: 16px;
  color: #060b35;
  font-weight: 400;
}

.cards__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
  height: 16px;
}

.cards__price-name {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
  font-weight: 400;
}

.cards__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.cards__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 40px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: #fff;
}

.cards__link:hover {
  color: #00acdc;
}

.cards__link--background {
  width: 100%;
  bottom: 17px;

  background: #00acdc;
  border-radius: 5px;
}

.cards__link--background:hover {
  border: 1px solid #00acdc;
  background: #fff;
}
