.card {
  padding: 32px 16px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  &__image {
    width: 160px;
    height: 134px;
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $Main_accent;
  }

  &__code {
    margin-top: 4px;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $Secondary_accent;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0 8px;
  }

  &__buy {
    box-sizing: border-box;
    font-weight: 700;
    color: $White;
    text-align: center;
    width: 166px;
    height: 40px;
    border: 1px solid $Blue_accent;
    background-color: $Blue_accent;
    border-radius: 5px;
    font-size: 14px;
    line-height: 40px;
    text-decoration: none;
  }

  &__reviews {
    margin: 0;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px auto 16px;
  }

  &__price-title {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $Secondary_accent;
    margin: 0;
  }

  &__price-amount {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: $Main_accent;
  }

  &__buy:hover {
    cursor: pointer;
    background-color: $White;
    color: $Blue_accent;
  }
}
