.product-card {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-grow: 1;
  width: 200px;
  height: 408px;
  padding: 0 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-image {
  align-items: center;
  position: flex;
  margin-left: 3px;
  display: flex;
  height: 134px;
  width: 160px;
  margin-top: 32px;

}

.product-name {
  margin-top: 40px;
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--primary-color);
}

.product-code {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  font-size: 10px;
  line-height: 14px;
  color: var(--secondary-color);
  margin-top: 4px;
}

.product-rating-and-reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.product-rating {
  display: flex;
  align-items: flex-end;
}

.reviews {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--primary-color);
  margin-left: 8px;
  align-self: flex-end;
}

.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.price-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  font-family: "Roboto", sans-serif;
  color: var(--secondary-color);
}

.price-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--primary-color);
  align-self: flex-end;
}

.buy-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 166px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-color);
  border: 1px solid transparent;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-top: 16px;
}

.buy-btn:hover {
  background: var(--white-color);
  color: var(--accent-color);
  border: 1px solid #00acdc;
}
