.card {
  width: 178px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  padding: 16px;

  display: flex;
  flex-direction: column;
  align-items: center; /* Центрує всі дочірні елементи по горизонталі */
  text-align: center;
  letter-spacing: 0;
  line-height: 18px;
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 16px 0;
}

.card__info {
  display: block;
  color: #060b35;
  text-align: left;
  margin: 8px 6px 10px;
}

.card__title {
  font-size: 12px;
  margin: 16px 0 2px;
  font-weight: 500;
}

.rating {
  display: flex;
  justify-content: space-between;
  width: 93%;
  align-items: flex-start;
  gap: 6px;
  margin: 4px 0 22px;
}

.rating__reviews {
  font-size: 10px;
}

.card__code {
  font-size: 10px;
  color: #616070;
}

.card__price {
  display: flex;
  justify-content: space-between;
  color: #616070;
  width: 93%; // Щоб простір розподілився правильно
}

.card__value {
  font-size: 16px;
  font-weight: 700;
  color: #060b35;
}

.card__buy {
  display: block;
  width: 93%;
  margin-top: 16px;
  padding: 12px 0;
  background-color: #00acdc;

  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.card__buy:hover {
  background-color: #009fc7;
}

.card__label {
  font-size: 12px;
  font-weight: 400;
}
