.cards {
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.cards__image {
  margin: 0 auto;
  height: 134px;
}

.cards__name {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: rgba(6, 11, 53, 1);
  margin-top: 40px;
}

.cards__id {
  color: rgba(97, 96, 112, 1);
  margin: 4px 0 16px;
}

.rating {
  display: flex;
  justify-content: space-between;
}

.cards__price-value {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.cards__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0 16px;
}

.cards__price-cost {
  font-size: 16px;
  font-weight: 700;
}

.cards__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: #00acdc;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.cards__buy:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
