.card {
  width: 200px;
  border: 1px solid #f3f3f3;
  padding: 32px 16px 16px;
}

.card__image {
  width: 160px;
  height: 134px;
  align-items: center;
  display: block;
  margin: 0 auto 40px;
}

.card__text {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: var(--value-color);
  margin: 0;
}

.card__price-text {
  font-size: 12px;
  color: var(--text-color);
}

.card__price-value {
  color: var(--value-color);
  font-weight: 700;
}

.card__code {
  font-size: 10px;
  color: var(--text-color);
  margin-bottom: 16px;
  margin-top: 4px;
}

.card__star {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  display: flex;
  align-items: center;
  margin-top: 24px;
  justify-content: space-between;
}

.card__star-reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: var(--value-color);
  display: flex;
  align-items: center;
}

.card__buy {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  background-color: var(--main-color);
  border-radius: 5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  margin-top: 16px;
  font-weight: 700;
}

.card__buy:hover {
  color: var(--main-color);
  background-color: #fff;
  border: 1px solid var(--main-color);
  font-weight: 700;
  transform: none;
}
