.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__img {
  margin: 16px 3px 0;
  width: 160px;
  height: 134px;
}

.card__title {
  margin: 0;
  padding-top: 40px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--dark-grey);
}

.card__code {
  font-size: 10px;
  line-height: 1.4;
  color: var(--light-grey);
  padding-top: 4px;
}

.card__review {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.review-reviews {
  font-size: 10px;
  line-height: 1.4;
  color: var(--dark-grey);
}

.card__price {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.card__price-text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--light-grey);
}

.card__price-amount {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  color: var(--dark-grey);
}

.card__buy {
  display: block;
  font-weight: 700;
  font-size: 14px;
  color: var(--white);
  margin-top: 16px;
  padding: 11px 70px;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--blue);
  border: 1px solid transparent;
  border-radius: 5px;
}

.card__buy:hover {
  color: var(--blue);
  background: var(--white);
  border-color: var(--blue);
}
