.card-price {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-price__title {
  color: #616070;
  font-size: 12px;
}

.card-price__price {
  color: #060b35;
  font-size: 16px;
  font-weight: 700;
}
