html {
  font-family: Roboto, sans-serif;
}

.card-container {
  display: flex;
  font-style: normal;
}

.card-product {
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 198px;
  height: 406px;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card-product__image {
  height: 134px;
  width: 160px;
  margin-top: 32px;
  margin-left: 19px;
}

.card-product__image_size {
  height: 134px;
  width: 160px;
}

.card-product__name {
  width: 166px;
  height: 36px;
  margin-top: 40px;
  margin-left: 16px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}

.card-product__code {
  width: 98px;
  height: 14px;
  margin-top: 4px;
  margin-left: 16px;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
}

.card-product__price {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  line-height: 18px;
  margin-left: 16px;
  margin-right: 16px;
}

.card-product__price_title {
  font-size: 12px;
  font-weight: 400;
  color: #616070;
}

.card-product__price_money {
  font-size: 16px;
  font-weight: 700;
  color: #060b35;
}

.card-product__buy {
  display: flex;
  text-align: center;
  margin: 16px;
}

.card-product__buy_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 38px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  color: #fff;
}

.card-product__buy_btn:hover {
  background-color: #fff;
  color: #00acdc;
}
