/* #region card */
.card {
  display: flex;
  justify-content: center;
}

.card__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 198px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding-top: 32px;
}

.card__image {
  margin: auto;
  margin-bottom: 40px;
  width: 160px;
  height: 134px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin: auto;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 4px;
}

.card__product-code {
  font-size: 10px;
  margin: auto;
  width: 100%;
  padding-left: 16px;
  margin-bottom: 16px;
  line-height: 14px;
  color: #616070;
}

.card_review {
  padding-left: 17px;
  padding-right: 16px;
  font-weight: 400;
  font-size: 10px;
  margin: 0;
  display: flex;
  align-self: center;
}

.card__price {
  display: flex;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-total {
  display: flex;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  padding-left: 85px;
  padding-right: 16px;
}

.card__button {
  display: block;
  width: 164px;
  height: 14px;
  padding: 12px 0;
  background: #00acdc;
  border-radius: 5px;
  margin: 16px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid #00acdc;
}

.card__button:hover {
  background-color: #fff;
  color: #00acdc;
  border-radius: 5px;
}

/* #endregion */
