.card-button {
  margin-top: 16px;
  display: block;
}

.card-button__btn {
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  height: 40px;
  width: 100%;
  transition: 0.5s;
  cursor: pointer;
}

.card-button__btn:hover {
  background-color: #fff;
  color: #00acdc;
}
