.product {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid var(--back-color);
  border-radius: 5px;
}

.product__photo {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.product__title-text {
  font-size: 12px;
  font-weight: 500;
  margin: 0 0 4px;
  line-height: 18px;
  color: var(--dark-blue);
}

.product__code-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin: 0 0 16px;
}

.product__stars {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: flex-start;
}

.product__reviews-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--dark-blue);
  align-self: flex-start;
  display: flex;
  margin: 0;
}

.product__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.product__price-text {
  color: var(--grey);
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.product__price-value {
  color: var(--dark-blue);
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 0;
}

.product__button {
  height: 40px;
  width: 100%;
  line-height: 40px;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-style: 14px;
  color: var(--white);
  background-color: var(--light-blue);
  border-radius: 5px;
  border: 1px solid var(--light-blue);
}

.product__button:hover {
  background-color: var(--white);
  color: var(--light-blue);
}
