/* #region card styles*/
.card {
  display: flex;
  width: 200px;
  height: 408px;
  padding: 32px 16px 16px;
  border: var(--cards-border);
  box-sizing: border-box;
  border-radius: 5px;
  flex-direction: column;
}

.home-page_card {
  margin: 0 auto;
}

.card__image {
  display: flex;
  height: 134px;
  width: 160px;
  margin: 0 auto;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--title-color);
  margin: 40px auto 4px;
}

.card__product-code {
  display: flex;
  color: var(--secondary-color);
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 16px;
}

.card__price-block {
  display: flex;
  margin-bottom: 16px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
}

.card__price {
  font-size: 12px;
  margin: 0;
  color: var(--secondary-color);
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  margin: 0;
  color: var(--title-color);
}

.card__link {
  display: flex;
  width: 166px;
  padding: 12px 0;
  background-color: var(--button-color);
  border-radius: 5px;
  margin: auto;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}

.card__link:hover {
  background-color: #fff;
  padding: 11px 0;
  border: 1px solid var(--button-color);
  color: var(--button-color);
}

.card__rate-section {
  display: flex;
  flex-basis: 16px;
  margin-bottom: 24px;
}

.card__reviews {
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin: 0;
}

/* #endregion */
