.container__card {
  padding: 32px 16px;
}

.card {
  box-sizing: border-box;
  width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  border: 1px solid #f3f3f3;
}

.card__icon {
  display: flex;
  align-self: center;
  height: 134px;
  width: 160px;
  margin-bottom: 40px;

}

.card__item {
  display: flex;
}

.card__theme {
  font-weight: 500;
  font-family: var(--font-famaly);
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
  margin-bottom: 4px;
}

.card__prod-cod {
  font-size: 10px;
  font-family: var(--font-famaly);
  color: #616070;
  line-height: 14px;
  margin-bottom: 16px;
  font-weight: 400;
}

.card__price {
  margin-top: 24px;
  font-family: var(--font-famaly);
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__amount {
  margin-top: 24px;
  margin-left: 85px;
  font-family: var(--font-famaly);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__link {
  display: flex;
  height: 40px;
  width: 166px;
  border-radius: 5px;
  background: #00acdc;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  color: white;
  font-family: var(--font-famaly);
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  font-weight: 700;
  
}

.card__link:hover {
  box-sizing: border-box;
  background: linear-gradient(0deg, #f3f3f3, #f3f3f3),
    linear-gradient(0deg, #fff, #fff);
  border: 1px solid #00acdc;
  color: #00acdc;
}
