.content {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 16px;
}

.content__explanation {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.content__code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-top: 4px;
}

.reviews {
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.reviews__feedback {
  font-size: 10px;
  font-weight: 400;
  color: #060b35;
  order: 1;
}

.content__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.price__cost {
  font-weight: 400;
  font-size: 12px;
}

.price__hrn {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.content__button {
  display: flex;
  box-sizing: border-box;
  height: 40px;
  background: #00acdc;
  border-radius: 5px;

  color: #fff;
  font-weight: bold;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  margin-top: 16px;
}

.content__button:hover {
  background: #fff;
  border: 1px solid #00acdc;
  color: #00acdc;
}

.content__link {
  text-decoration: none;
}
