@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Medium.ttf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Bold.ttf);
  font-style: normal;
  font-weight: 700;
}
