@font-face {
  font-family: "Roboto";
  src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: "Roboto-medium";
  src: url(./fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: "Roboto-bold";
  src: url(./fonts/Roboto-Bold.ttf);
}
