body {
  margin: 0;
}

div,
p,
h2,
h3 {
  margin: 0;
  padding: 0;
}

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 10px;
  line-height: 14px;
  --text-main-color: #060b35;
  --text-secondary-color: #616070;
  --link-color: #00acdc;
}
