/* #region  HTML styles*/
html {
  --cards-border: 1px solid #f3f3f3;
  --title-color: #060b35;
  --secondary-color: #616070;
  --button-color: #00acdc;

  font-family: "Roboto", sans-serif;
}
/* #endregion */
