@import url("./styles/blocks/card.css");
@import url("./styles/blocks/stars.css");

html {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #060b35;
}

* {
  margin: 0;
}
