@import './src/variables';
@import './src/card';
@import './src/stars';


* {
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
}

body {
    background-color: #eee;
}

.product-reviews {
    margin: 0 0 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}

.reviews-text {
    font-size: 10px;
    line-height: 14px;
}

.product-price {
    margin: 0 0 16px;
    display: flex;
    justify-content: space-between;
}

.price-text {
    color: #616070;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.price-amount {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: $button-color;
    font-weight: 700;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    border-radius: 5px;

   &:hover {
      color: $button-color;
      background-color: white;
      border: 1px solid $button-color;
   }
}
