@import "./styles/card-style.css";
@import "./styles/stars-style.css";

html,
body,
div,
p {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --main_font_color: #060b35;
  --button_color: #00acdc;
  --neutral_font_color: #616070;
}
