* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

.card {
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
}

.card__photo {
  margin: 0 auto;
  margin-bottom: 40px;
  display: block;
  width: 160px;
  height: 134px;
}

.card__title {
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  color: #060b35;
}

.card__code {
  display: block;
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #616070;
}

.stars {
  display: flex;
}

.stars__star {
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  margin-right: 3px;
  width: 17px;
  height: 17px;
}

.stars__star:last-child {
  margin-right: 0;
}

.stars__star--1 .stars__star:nth-child(-n + 1),
.stars__star--2 .stars__star:nth-child(-n + 2),
.stars__star--3 .stars__star:nth-child(-n + 3),
.stars__star--4 .stars__star:nth-child(-n + 4),
.stars__star--5 .stars__star:nth-child(-n + 5) {
  background-image: url(images/star-active.svg);
  background-repeat: no-repeat;
  width: 17px;
  height: 17px;
}

.card__review {
  font-size: 11px;
  font-weight: 400;
}

.card__box-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card__box-flex--margin {
  margin-bottom: 21px;
}

.card__word {
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  color: #616070;
}

.card__cash {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}

.card__price--margin-bottom {
  margin-bottom: 16px;
}

.card__buy {
  margin: 0 auto;
  display: block;
  font-weight: 700;
  padding-top: 11px;
  padding-bottom: 11px;
  width: 166px;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 16px;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}

.card__buy:hover {
  background: #fff;
  color: #00acdc;
}
