* {
  box-sizing: border-box;
}
  
html {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
  
body,
h1,
p {
  margin: 0;
}
  
@import "/styles/card.css";
@import "/styles/stars.css";
@import "/styles/variables.css";
