@import "./styles/utils/variables";

@import "./styles/blocks/card";
@import "./styles/blocks/stars";

* {
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
}

body,
h1,
p {
  margin: 0;
}
