* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

p {
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;

  --imac-photo-width: 160px;
  --imac-photo-height: 134px;
  --blue-color: #00acdc;
  --white-color: #fff;
}

h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
