html {
  font-family: Roboto, sans-serif;
}

.page {
  max-width: 200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.page__img {
  display: flex;
  justify-content: center;
  padding-top: 32px;
  margin-bottom: 40px;
}

.logo__img {
  height: 134px;
  width: 160px;
}

.page__title {
  margin-bottom: 4px;
  padding: 0 16px;
}

.page__text {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.page__product {
  padding-left: 16px;
  margin-bottom: 17px;
}

.page__code {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #616070;
}

.page__rate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px 0 18px;
  margin-bottom: 23px;
}

.page__star--size {
  margin-right: 4px;
  margin-top: 2px;
}

.page__stars {
  display: flex;
  height: 16px;
}

.page__star {
  height: 16px;
  width: 16px;
  background: url(/images/star.svg);
  background-repeat: no-repeat;
}

.page__star:nth-child(-n + 4) {
  background-image: url(/images/star-active.svg);
  background-repeat: no-repeat;
}

.page__count-review {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #060b35;
}

.page__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  padding: 0 16px;
}

.page__cost {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #616070;
}

.page__value {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #060b35;
}

.page__buy {
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
}

.page__button {
  box-sizing: border-box;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  width: 166px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffff;
  text-decoration: none;
  padding: 12px 70px;
}

.page__button:hover {
  box-sizing: border-box;
  background-color: #ffff;
  color: #00acdc;
}
