html {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  --color-blue: #00acdc;
  --color-dark: #060b35;
  --color-gray: #616070;
  --color-white: #fff;
  --color-card-border: #f3f3f3;
}
