* {
  box-sizing: border-box;
}

:root {
  --color-card: #fff;
  --color-card__code: #616070;
  --color-card__product: #00acdc;
}

.home-page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;

  color: #060b35;
}
