.card__product-deccription {
  margin-top: 40px;
}

.card__product-cod {
  margin-top: 4px;
}

.card__product-rating {
  margin-top: 16px;
}

.card__product-price {
  margin-top: 24px;
}

.card__buttom-buy {
  margin-top: 16px;
}
