.price {
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.price__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #616070;
  margin-bottom: 16px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.price__number {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  text-align: right;

  color: #060b35;

  flex: none;
  order: 1;
  flex-grow: 0;
}
