.price {
  margin-top: 24px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.price__text {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.price__number {
  align-self: flex-end;

  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: #060b35;
}
