.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price__text {
  color: #616070;
  font-size: 12px;
}

.price__number {
  color: #060b35;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}
