.product-card {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  --main-text-color: #060b35;
  --product-code-color: #616070;
  --button-color: #00acdc;
  --button-text-color: #fff;
}

.product-card__image {
  max-width: 160px;
  min-height: 134px;
  display: block;
  margin: 0 auto 40px;
}

.product-card__title {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.product-card__code {
  margin-bottom: 16px;
  font-size: 10px;
  line-height: 14px;
  color: var(--main-text-color);
}

.product-card__review-block {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__reviews {
  font-size: 10px;
  line-height: 14px;
  color: var(--main-text-color);
}

.product-card__price-block {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 18px;
  color: var(--main-text-color);
}

.product-card__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--text-color-dark);
}

.product-card__button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background-color: var(--button-color);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: 1px solid transparent;
  transition: background-color 0.2s, color 0.2s;
}

.product-card__button:hover {
  border-color: var(--button-color);
  color: var(--button-color);
  background-color: var(--button-text-color);
}
