.product-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  font-family: "Roboto", Helvetica, sans-serif;
  font-style: normal;
  color: var(--accent-color);
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  padding: 32px 16px;
}

.img {
  width: 160px;
  height: 134px;
}

.product-item__img {
  margin: auto;
}

.title {
  font-weight: 500;
  line-height: 18px;
  font-size: 12px;
}

.product-item__title {
  margin-top: 40px;
}

.cod {
  color: var(--secondary-color);
}

.product-item__cod {
  margin-top: 4px;
}

.wrap-reviews,
.wrap-price {
  display: flex;
  justify-content: space-between;
}

.wrap-reviews {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.wrap-price {
  margin-top: 24px;
}

.price {
  line-height: 18px;
  font-size: 12px;
  color: var(--secondary-color);
}

.price-value {
  line-height: 18px;
  font-size: 16px;
  font-weight: 700;
  color: var(--accent-color);
}

.button-buy {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  width: 166px;
  height: 40px;
  background: var(--main-color);
  border-radius: 5px;
  border: 1px solid transparent;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

.product-item__button-buy {
  margin-top: 16px;
}

.button-buy:hover {
  background: #fff;
  color: var(--main-color);
  border: 1px solid var(--main-color);
}
