.product-card__rewiev-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.product-card__review-number {
  font-size: 10px;
  line-height: 14px;
  color: var(--color-title);
}
