body {
  margin: 0;

  font-family: Roboto, sans-serif;
}

.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 200px;
  padding: 32px 16px 16px;

  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
