.product {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;
}

.product__image {
  padding: 0 3px;
  height: 134px;
  margin-bottom: 40px;
}

.product__photo {
  width: 100%;
  height: 100%;
}

.product__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-top: 0;
  margin-bottom: 4px;
}

.product__articul {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  margin-bottom: 16px;
}

.product__reviews {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.product__review {
  font-size: 10px;
}

.product__button {
  display: block;
  width: 100%;
  padding: 0;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.product__button--hover,
.product__button:hover {
  background-color: #fff;
  color: #00acdc;
}
