.product-card__button {
  background-color: var(--color-button);
  border: 1px solid transparent;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px 70px;
}

.product-card__button-link {
  color: #fff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.product-card__button:hover {
  background-color: #fff;
  color: var(--color-button);
  border-color: var(--color-button);
}

.product-card__button-link:hover {
  color: var(--color-button);
}
