.product-card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__img {
  align-self: center;
  width: 160px;
  height: 134px;
  margin-bottom: 40px;
}

.product-card__name {
  margin: 0;
  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 500;
}

.product-card__kod {
  margin-bottom: 16px;
  line-height: 14px;
}

.product-card__reit {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 16px;
  margin-bottom: 24px;
}

.product-card__num {
  margin-bottom: 0;
}

.product-card__prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product-card__price {
  font-size: 12px;
}

.product-card__sum {
  font-size: 16px;
  font-weight: 700;
}

.product-card__buy {
  padding: 12px;
  height: 40px;
  text-align: center;
  background-color: #00acdc;

  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  color: white;
  text-decoration: none;
  text-transform: uppercase;

  border-radius: 6px;
  border: 1px solid #00acdc;
}

.product-card__buy:hover {
  background-color: white;
  color: #00acdc;
}
