.product {
  max-width: 200px;
  display: flex;
  background-color: var(--white-color);
  flex-direction: column;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius);
  padding: 32px 16px 16px;
}

.product__img {
  margin: 0 auto 40px;
  max-height: 134px;
}

.product__name {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.5;
  color: var(--main-accent-color);
}

.product__id {
  margin-bottom: 16px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--secondary-color);
}

.product__rating {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--main-accent-color);
}

.product__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.product__price-amount {
  font-weight: 700;
  font-size: 1.6rem;
  line-height: calc(18 / 16);
}

.product__buy {
  padding: 11px 0;
  background-color: var(--blue-accent-color);
  text-align: center;
  font-weight: 700;
  border: 0.5px solid var(--blue-accent-color);
  border-radius: var(--border-radius);
  font-size: 1.4rem;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
  font-family: inherit;
  transition: color 0.3s, background-color 0.3s;
}

.product__buy:hover {
  background-color: var(--white-color);
  color: var(--blue-accent-color);
}
