.card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__photo {
  width: 160px;
  height: 134px;
}

.card__image:hover .card__photo {
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.card__image:hover {
  background-image: url(images/imac-side.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
