.product-card {
  width: 200px;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.product-card__product-img {
  width: 160px;
  height: 134px;
  margin: 0 auto;
  display: block;
}

.product-card__product-description {
  margin-top: 40px;
  font-weight: 500;
  line-height: 18px;
}

.product-card__product-id {
  margin-top: 4px;
  font-size: 10px;
  color: #616070;
  line-height: 14px;
}

.product-card__product-rating {
  margin-top: 16px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__view-counter {
  font-size: 10px;
}

.product-card__price {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price-name {
  color: #616070;
}

.product-card__price-value {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.product-card__buy-button {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  background-color: #00acdc;
  border: 1px solid transparent;
}

.product-card__buy-button:hover {
  color: #00acdc;
  background-color: #fff;
  border-color: #00acdc;
}
