.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 200px;
}

.product-card__name {
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  justify-content: center;
  color: #060b35;
}

.product-card__name--position {
  margin: 40px 16px 0;
}

.logo {
  height: 134px;
  width: 160px;
  padding: 0 19px;
}

.product-card__img {
  margin-top: 32px;
}

.product-card__id {
  font-size: 10px;
  font-weight: 400;
  color: #616070;
  line-height: 14px;
}

.product-card__id--position {
  margin-top: 4px;
  margin-left: 16px;
}

.product-card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__price--position {
  margin: 24px 16px 0;
}

.product-card__price-word {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  color: #616070;
}

.product-card__price-number {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.product-card__button--position {
  margin: 16px;
}

.product-card__buy-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 11px 0;
  font-size: 14px;
  font-weight: 700;
  width: 164px;
  background-color: #00acdc;
  border-radius: 5px;
  border: 1px solid transparent;
}

.product-card__buy-link:visited {
  color: #fff;
}

.product-card__buy-link:hover {
  border-color: #00acdc;
  background-color: #fff;
  color: #00acdc;
}
