.product__type {
  color: var(--main-accent-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.product__code {
  font-size: var(--font-size);
  font-weight: 400;
  color: var(--secondary-color);
  margin-top: 4px;
  margin-bottom: 17px;
}
