.product-card__buy {
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  background-color: $buyColor;
  margin: $productCardMargin;
  height: 40px;
  align-items: center;
  border: 1px solid transparent;
  justify-content: center;
  border-radius: 5px;

  .product-card__buy-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
  }

  &:hover {
    border-color: $buyColor;
    background-color: transparent;

    .product-card__buy-link {
      color: $buyColor;
    }
  }
}
