.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 16px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid rgba(243, 243, 243, 1);
  margin: 8px;
}

.card__logo {
  width: 160px;
  height: 134px;
  padding: 16px 3px 40px;
}

.card__quantity {
  font-size: 10px;
  height: 16px;
  line-height: 18px;
}

.card__name {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: rgba(6, 11, 53, 1);
}

.card__price {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(97, 96, 112, 1);
}

.card__value {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: rgba(6, 11, 53, 1);
}

.card > a {
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: rgba(0, 172, 220, 1);
  text-decoration: none;
  border-radius: 5px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: white;
  font-weight: 700;
  font-size: 14px;
}

.card__code {
  height: 14px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  padding: 4px 0 16px;
  color: rgba(97, 96, 112, 1);
}

.card__reviewWrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.card__priceWrap {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.card > a:hover {
  text-transform: uppercase;
  background-color: #fff;
  text-decoration: none;
  border: 1px solid rgba(0, 172, 220, 1);
  border-radius: 5px;
  color: rgba(0, 172, 220, 1);
  height: 40px;
  line-height: 40px;
}
