:root {
  --color-blue: #00acdc;
  --color-white: #fff;
  --color-white_secondary: #f3f3f3;
  --color-black: #060b35;
  --color-grey: #616070;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
}

.card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  max-width: 200px;
  padding: 32px 16px 16px;

  background-color: var(--color-white);
  border: 1px solid var(--color-white_secondary);
  border-radius: 5px;
}
