.product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price__name {
  font-weight: 400;
  font-size: 12px;
  color: #616070;
}

.product-price__numbers {
  font-weight: 700;
  font-size: 16px;
  color: #060b35;
}
