.product-card__price-title {
  display: flex;
  margin: 0 $productCardMargin;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: $secondaryColor;

  .product-card__price {
    font-size: 16px;
    line-height: 18px;
    margin-left: auto;
    font-weight: 700;
    color: $mainColor;
  }

  p {
    margin: 0;
  }
}
