/* #region Product */
.product {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-color-main);
  border-radius: 5px;
  background: var(--white-color);
}

.body__card {
  width: var(--card-width);
}

.product__image {
  padding: 32px 19px 0;
  width: 198px;
  height: 166px;
}

.product__content {
  margin: 0;
  padding: 40px 16px 0;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--black-color);
}

.product__code {
  margin: 0;
  padding: 4px 84px 0 16px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: var(--grey-color);
}

.product__review {
  display: flex;
  justify-content: space-between;
  padding: 16px 16px 0;
}

.product__review-text {
  display: flex;
  flex-direction: flex-end;
  align-items: center;
  margin: 0;
  font-weight: 400;
  font-size: 10px;
  color: var(--black-color);
}

.product__price {
  display: flex;
  justify-content: space-between;
  padding: 24px 16px 0;
}

.product__price-text {
  margin: 0;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: var(--grey-color);
}

.product__price-label {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.product__button-label {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
  width: 166px;
  height: 40px;
  text-decoration: none;
  background-color: var(--blue-color);
  border-radius: 5px;
  border-style: inherit;
  font-weight: 700;
  font-size: 14px;
  color: #fff;
}

.product__button-label:hover {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  border: 1px solid var(--blue-color);
  border-radius: 5px;
  background-color: var(--white-color);
  color: var(--blue-color);
}
/* #endregion */
