.product-card__code {
  display: flex;
  align-items: baseline;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  margin: -4px $productCardMargin $productCardMargin;
  color: $secondaryColor;

  p {
    margin: 0;
  }
}
