.rate {
  display: flex;
  padding-left: 16px;
  padding-top: 16px;
}

.rate__star {
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.rate__review {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 13px;
  font-size: 10px;
  color: #060b35;
}

.rate .rate__star:nth-child(-n + 4) {
  background-image: url(images/star-active.svg);
}
