/* #region rate styles */
.rate {
  display: flex;
  flex-basis: 16px;
}

.card__rate {
  margin-bottom: 24px;
}

.rate__stars {
  display: flex;
  flex-basis: 16px;
  flex-grow: 1;
}

.rate__one-star {
  width: 16px;
  background-image: url(images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 4px;
}

.rate__stars--stars-1 .rate__one-star:nth-of-type(1),
.rate__stars--stars-2 .rate__one-star:nth-of-type(-n+2),
.rate__stars--stars-3 .rate__one-star:nth-of-type(-n+3),
.rate__stars--stars-4 .rate__one-star:nth-of-type(-n+4),
.rate__stars--stars-5 .rate__one-star:nth-of-type(n) {
  background-image: url(images/star-active.svg);
}

.rate__reviews {
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;
  text-align: right;
  margin: 0;
}
/* #endregion */
