.stars {
  display: flex;
  justify-content: space-between;
  width: 96px;
}

.stars__star {
  width: 16px;
  height: 16px;
  background: no-repeat center url(images/star.svg);
}

.stars--4 .stars__star:not(:last-child) {
  background: no-repeat center url(images/star-active.svg);
}

.rating {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.rating__product-reviews {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}
