.rating {
  justify-content: space-between;
}

.rating__stars,
.rating {
  display: flex;
}

.rating__star {
  height: 16px;
  width: 16px;
  background: url(images/star.svg) no-repeat center;
  margin-right: 4px;
}

.rating__stars--1 .rating__star:nth-child(-n+1),
.rating__stars--2 .rating__star:nth-child(-n+2),
.rating__stars--3 .rating__star:nth-child(-n+3),
.rating__stars--4 .rating__star:nth-child(-n+4),
.rating__stars--5 .rating__star:nth-child(-n+5) {
  background: url(images/star-active.svg) no-repeat;
}
