* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "Roboto", sans-serif;

  --main-accent-color: #060b35;
  --main-secondary-color: #616070;

  --small-text-size: 10px;
  --big-text-size: 12px;
}

a {
  margin: 0;
  padding: 0;
  color: initial;
  text-decoration: none;
}

h2,
p {
  margin: 0;
  line-height: 0;
}
