* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 10px;
  font-weight: 400;
  --main-color: #00acdc;
  --text-secondary-color: #616070;
}
