/* #region stars review */

.review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;
}

.review__stars {
  display: flex;
}

.review__star {
  background-image: url(images/star.svg);
  background-position: center;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.review__text {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.review__stars--1 :nth-child(-n + 1),
.review__stars--2 :nth-child(-n + 2),
.review__stars--3 :nth-child(-n + 3),
.review__stars--4 :nth-child(-n + 4),
.review__stars--5 :nth-child(-n + 5) {
  background-image: url(images/star-active.svg);
}
/* #endregion */
