:root {
  --card-width: 200px;

  --stars-height: 16px;
  --stars-width: 16px;

  --card-imagine-height: 134px;
  --card-imagine-width: 160px;

  --block-position-sides-margin: 16px;

  --main-text-color: #060b35;

  --card-button-margin: 16px;

  --card-background-color: #fff;
  --button-background-color: #00acdc;
}
