:root {
  margin: 0;
  font-family: "Roboto", sans-serif;
  --button-color: #00acdc;
  --product-name-color: #060b35;
  --price-and-code-color: #616070;
  --hover-change-color: #fff;
  --card-border-color: #f3f3f3;
}
