.stars {
  display: flex;
  margin: 16px;
}

.stars__item {
  margin-right: 4px;
  width: 16px;
  height: 16px;

  background-image: url("/images/star.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.card__block-rage :nth-child(-n + 4) {
  background-image: url("/images/star-active.svg");
}

.text-for-rewievs {
  display: flex;
  order: 1;
  margin: 3px 0 0 16px;

  color: #060b35;
  text-align: right;
  font-size: 10px;
}
