.stars {
  display: flex;
}

.stars__star {
  width: 16px;
  height: 16px;

  background-image: url("images/star.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.stars > .stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--1 > :nth-child(1),
.stars--2 > :nth-child(-n + 2),
.stars--3 > :nth-child(-n + 3),
.stars--4 > :nth-child(-n + 4),
.stars--5 > :nth-child(n) {
  background-image: url("images/star-active.svg");
}
