.star {
  background: url(images/star.svg) center no-repeat;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.stars--1 .star:nth-child(-n + 1),
.stars--2 .star:nth-child(-n + 2),
.stars--3 .star:nth-child(-n + 3),
.stars--4 .star:nth-child(-n + 4),
.stars--5 .star:nth-child(-n + 5) {
  background: url(images/star-active.svg) center no-repeat;
}

.stars {
  display: flex;
  height: 16px;
}
