.stars-rate_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;
}

.stars__star {
  height: 12px;
  width: 16px;
  margin-right: 4px;
  background-image: url(./images/star-active.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.stars {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  height: 16px;
}

.stars--0 > .stars__star {
  background-image: url(./images/star.svg);
}

.stars--1 > .stars__star:nth-child(1n+2) {
  background-image: url(./images/star.svg);
}

.stars--2 > .stars__star:nth-child(1n+3) {
  background-image: url(./images/star.svg);
}

.stars--3 > .stars__star:nth-child(1n+4) {
  background-image: url(./images/star.svg);
}

.stars--4 > .stars__star:nth-child(1n+5) {
  background-image: url(./images/star.svg);
}

.stars--5 > .stars__star:nth-child(1n+6) {
  background-image: url(./images/star.svg);
}
