.stars_star {
    background: url(/images/star.svg) no-repeat center;
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: 4px;
  }
  
  .stars--1 .stars_star:nth-child(1), 
  .stars--2 .stars_star:nth-child(-n+2),
  .stars--3 .stars_star:nth-child(-n+3),
  .stars--4 .stars_star:nth-child(-n+4) {
    background-image: url(images/star-active.svg);
  }

  .stars {
    display: flex;
    border-radius: 0.5px;
    padding-left: 16px;
    margin-top: 16px;
  }
