.stBlock {
  display: flex;
  flex-direction: row;
  gap: 22px;

  &-stars {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-left: 1px;
    margin-bottom: 24px;

    &__stars1 {
      background-image: url('./images/star.svg');
      background-size: 13px 14px;
      background-position: center;
      background-repeat: no-repeat;
      width: 20px;
      height: 16px;
    }
  }
}

.stBlock-stars div:nth-child(-n + 4) {
  background-image: url('./images/star-active.svg');
}
