.stars {
  display: flex;
}

.stars__star {
  background-image: url(images/star.svg);
  background-position: 50%;
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}

.stars--4 .stars__star:nth-child(-n + 4) {
  background-image: url(images/star-active.svg);
}
