@import "./reset.css";
@import "./stars.css";
@import "./variables.css";

/* #region card */

.card {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 198px;
  padding-bottom: var(--min-section-gap);
}

.card__logo {
  width: 160px;
  height: 134px;
  padding: 32px 19px 40px;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-black);
  padding: 0 var(--min-section-gap);
}

.card__code {
  align-self: flex-start;
  font-size: 10px;
  line-height: 14px;
  padding: 4px var(--min-section-gap) 16px ;

  color: #616070;
}

.card__rate {
  display: flex;
  gap: 16px;
  padding: 0 var(--min-section-gap) ;
}

.card__rate-comment {
  font-size: 10px;
  line-height: 14px;

  display: flex;
  align-items: flex-end;

  color: var(--color-black);
}

.card__price {
  display: flex;
  gap: 55px;
  padding: var(--min-section-gap) ;
}

.card__price-title {
  font-size: 12px;
  line-height: 18px;
}

.card__price-sum {
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  color: var(--color-black);
}

.card__button {
  font-weight: 700;
  padding: 12px 0;
}

.card__button-link {
  background-color: var(--color-blue);
  color: white;
  font-size: 14px;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 12px 56px;
}

.card__button-link:hover {
  background: #fff;
  border: 1px solid var(--color-blue);
  border-radius: 5px;
  color: var(--color-blue);
}
/* #endregion */
