@import url(/stars.css);

:root {
  --color-light: #616070;
  --color-dark: #060b35;
  --button-color: #00acdc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 10px;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.card {
  max-width: 200px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 16px auto 0;
}

.card__product-name {
  margin-top: 40px;
  color: var(--color-dark);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__product-code {
  margin-top: 4px;
  color: var(--color-light);
  line-height: 14px;
}

.card__rate-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__reviews-number {
  line-height: 14px;
  color: var(--color-dark);
}

.card__price-container {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
}

.card__price-title {
  color: var(--color-light);
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card__price {
  color: var(--color-dark);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__buy-button {
  margin-top: 16px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 5px;

  color: #fff;
  font-size: 14px;
  font-weight: 700;
}

.card__buy-button:hover {
  color: var(--button-color);
  border: 1px solid var(--button-color);
  background-color: #fff;
}
