body {
  margin: 0;
}

.card {
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 202px;
  padding: 30px 15px 15px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  line-height: 13px;
}

.card__img {
  width: 160px;
  height: 134px;
  margin: 0 auto 45px;
  display: block;
}

.card__title {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.card__code {
  display: block;
  margin-bottom: 15px;
}

.rating_container {
  align-items: center;
}

.rating_star {
  margin-right: 4px;
  width: 15px;
  height: 15px;
  background: url("./images/star.svg") center no-repeat;
}

.star_active {
  background: url("./images/star-active.svg") center no-repeat;
}

.rating {
  display: flex;
  flex-direction: row;
}

.card__reviews {
  font-size: 11px;
  line-height: 13px;
}

.flex__c {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.card__price-container {
  align-items: baseline;
}

.item__price {
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
}

.item__buy-btn {
  width: 168px;
  line-height: 38px;
  color: #fff;
  font-size: 14px;
  background: #00acdc;
  display: block;
  text-decoration: none;
  margin: auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #00acdc;
  text-transform: uppercase;
  font-weight: bold;
}

.item__buy-btn:hover {
  cursor: pointer;
}
