.card__img {
  max-width: 160px;
  height: 134px;
  margin-top: 32px;
}

.card__prodact {
  line-height: 18px;
  color: #060b35;

  margin-top: 36px;
}

.card__name {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 500;
  color: #060b35;
}

.card__code {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  font-weight: 400;
  margin-top: 2px;
  color: #616070;
}
