@import "./stars.css";
@import "./card.css";

* {
  box-sizing: border-box;
}

.page {
  font-family: "Roboto", sans-serif;
  --color-dark-blue: #060b35;
  --color-gray: #616070;
  --color-white: #fff;
  --color-blue: #00acdc;
}
