.card__button {
  background-color: #00acdc;
  width: 164px;
  height: 38px;
  border: 1px solid #00acdc;
  border-radius: 5px;
  margin-top: 16px;
}

.button__a {
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  text-align: center;
  color: #fff;
  padding: 12px 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__button:hover {
  background-color: #fff;
  color: #00acdc;
}

.card__button:hover .button__a {
  color: #00acdc;
}
