.item {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  padding: 30px 14px 0;
}

.item:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

.item_img {
  margin: 0 auto 45px;
  height: 134px;
  width: 160px;
  display: flex;

}

.item_name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}

.mono {
  font-weight: 400;
}

.item_code {
  font-size: 11px;
  line-height: 13px;
  display: block;
  margin-bottom: 16px;
}

.item_resp {
  font-size: 11px;
}

.item_priceName {
  font-size: 11px;
  line-height: 13px;
  margin: 8px 0 0;
}

.price_container {
  display: flex;
  justify-content: space-between;
  padding-top: 2px;
}

.item_price {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin: 3px 1px;
  font-weight: 600;
}

.rating_container {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.rating_star {
  width: 13px;
  height: 13px;
  margin: 1px;
  display: inline-block;
  background: url("./images/star.svg") no-repeat;
}

.star_active {
  background-image: url("./images/star-active.svg");
}

.item_buy-btn {
  box-sizing: border-box;
  font-size: 14px;
  font-weight: bold;
  background: #00acdc;
  border-radius: 5px;
  width: 170px;
  margin: 17px auto;
  color: white;
  text-decoration: none;
  border: 1px solid #00acdc;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 38px;

}

.item_buy-btn:hover {
  background: white;
  color: #00acdc;
}

.item_text_container {
  margin: 26px 0 0;
}
