.card_block {
  display: flex;
  flex-direction: column;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  padding: 32px 16px 16px;
}

.card_block__first_element {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4px;
}

.card_block__img {
  height: 134px;
  width: 160px;
  padding-bottom: 40px;
}

.card_block__text {
  width: 166px;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.card_block__second_element {
  display: flex;
  flex-direction: column;
}

.card_block__code {
  font-size: 10px;
  line-height: 14px;
  color: #616070;
  padding-bottom: 18px;
  padding-left: 1px;
}

.card_block__status {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.card_block__evaluation {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.card_block__star {
  display: flex;
  padding-left: 2px;
}

.card_block__star_item {
  --size_star: 16px;

  height: var(--size_star);
  width: var(--size_star);
  background: url(./images/star.svg) no-repeat;
  padding-right: 4px;
}

.card_block__star_item--active:nth-child(-n + 4) {
  background: url(./images/star-active.svg) no-repeat;
}

.card_block__star_item--active:nth-child(n):hover {
  background: url(./images/star-active.svg) no-repeat;
}

.card_block__reviews {
  font-size: 10px;
  color: #060b35;
}

.card_block__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card_block__price_text {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card_block__cost {
  font-weight: 700;
}

.card_block__button {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 38px;
  width: 166px;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  color: white;
}

.card_block__button--hover:hover {
  background-color: #fff;
  color: #00acdc;
}

.card_block__button_text {
  display: flex;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
}
