* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.card,
.photo,
.info,
.rating,
.stars,
.price,
.btn,
.star {
  display: flex;
  flex-direction: column;
}

.card {
  width: 200px;
  border: 1px solid #f3f3f3;
}

.card > .photo > img {
  margin: 30px 20px 45px;
  width: 160px;
  height: 134px;
}

.info,
.btn {
  margin: 0 15px;
}

.name {
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  margin-bottom: 6px;
}

.text {
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}

.stars,
.rating,
.price,
.btn {
  flex-direction: row;
}

.rating {
  margin: 17px 15px;
  justify-content: space-between;
}

.star {
  margin-left: 4px;
  width: 15px;
  justify-content: center;
  align-items: center;
}

.star:first-child {
  margin-left: 0;
}

.price {
  margin: 4px 15px 20px;
  justify-content: space-between;
  align-items: baseline;
}

.price-value,
.btn > a {
  font-weight: bold;
}

.btn {
  width: 170px;
  height: 40px;
  background: #00aadc;
  border-radius: 5px;
  border: none;
  justify-content: center;
}

.btn > a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  line-height: 16px;
  font-size: 14px;
}

.btn:hover {
  cursor: pointer;
  background: white;
  border: 1px solid #00aadc;
}

.btn:hover > a {
  color: #00aadc;
}
