.item {
  font-family: "Roboto", sans-serif;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 170px;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.item:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.07);
}

.item_img {
  width: auto;
  margin: 15px auto;
  height: 134px;
}

.item_name {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  margin: 4px 0 0;
}

.item_code {
  font-size: 11px;
  line-height: 13px;
  display: block;
  margin-top: 5px;
}

.item_resp {
  font-size: 11px;
  line-height: 13px;
  text-align: right;
}

.item_priceName {
  font-size: 11px;
  line-height: 13px;
}

.item_price {
  font-size: 16px;
  line-height: 19px;
  display: flex;
  margin: 4px 1px;
  font-weight: 700;
  font-style: normal;
}

.rating_container {
  margin: 16px 0 10px;
  display: flex;
  justify-content: space-between;
}

.rating_star {
  width: 13px;
  height: 13px;
  margin: 1px;
  display: inline-block;
  background: url("./images/star.svg") no-repeat;
}

.star_active {
  background-image: url("./images/star-active.svg");
}

.item_buy-btn {
  font-size: 14px;
  font-weight: bold;
  background: #00acdc;
  border-radius: 5px;
  width: 168px;
  height: 20px;
  margin: 12px auto;
  color: white;
  text-decoration: none;
  border: 1px solid #00acdc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 0 10px;

}

.item_buy-btn:hover {
  background: white;
  color: #00acdc;
}

.item_text_container {
  margin: 26px 0 0;
}

.price_container {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;
}

.item_resp {
  font-size: 11px;
  line-height: 13px;
  text-align: right;
  justify-content: flex-end;
}
