* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", "Helvetica", sans-serif;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
  height: 406px;
  padding: 32px 16px 16px;

  --color-text-gray: #616070;
  --color-text-dark: #060b35;
  --color-blue: #00acdc;
}

.card__image {
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card__name-product {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-text-dark);
  margin: 0 auto 4px;
}

.card__code {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: var(--color-text-gray);
  margin-bottom: 16px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.card__review {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: var(--color-text-dark);
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__text {
  font-size: 12px;
  line-height: 1.5;
  color: var(--color-text-gray);
}

.card__dollar {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: var(--color-text-dark);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 166px;
  height: 40px;
  background: var(--color-blue);
  border-radius: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin: 0 auto;
}

.button:hover {
  background: #fff;
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

/* #region stars */
.stars {
  display: flex;
}

.stars--5 :nth-child(-n+5),
.stars--4 :nth-child(-n+4),
.stars--3 :nth-child(-n+3),
.stars--2 :nth-child(-n+2),
.stars--1 :nth-child(-n+1) {
  background-image: url(./images/star-active.svg);
}

.stars__star {
  background-image: url(./images/star.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  border-radius: 0.5px;
}

.stars__star:not(:last-child) {
  margin-right: 4px;
}
/* #endregion */
