body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: inherit;
}

.card {
  border: 1px solid #f3f3f3;
  background-color: #fff;
  border-radius: 5px;
  width: 200px;
  padding: 32px 16px 16px;
  box-sizing: border-box;
}

.card-img {
  display: block;
  width: 160px;
  height: 134px;
  margin: 0 auto 40px;
}

.card-description {
  margin: 0 auto  4px;
  color: #060b35;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}

.card__code {
  color: #616070;
  font-weight: normal;
  margin-bottom: 16px;
}

.card__comments {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  align-items: end;
}

.card__comments-stars {
  display: flex;
}

.stars {
  display: flex;
  background-image: url(images/star.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  margin-right: 4px;
  background-position: center;
}

.stars-1 .stars:nth-child(-n+1),
.stars-2 .stars:nth-child(-n+2),
.stars-3 .stars:nth-child(-n+3),
.stars-4 .stars:nth-child(-n+4),
.stars-5 .stars:nth-child(-n+5) {
  background-image: url(images/star-active.svg);
}

.card__price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card__price-title {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
  font-weight: normal;
}

.card__price-number {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #060b35;
}

.button-by {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  background-color: #00acdc;
  height: 40px;
  width: 166px;
  border: 1px solid #00acdc;
  box-sizing: border-box;
  border-radius: 5px;
}

.button-by:hover {
  background-color: #fff;
  color: #00acdc;
}
