:root {
  --min-font-size: 12px;
  --min-font-weight: 400;
  --max-font-weight: 700;
  --font-dark-blue-color: rgb(6, 11, 53);
  --font-light-grey-color: rgb(97, 96, 112);
  --buttton-light-blue: rgb(0, 172, 220);
}
