:root {
  --color-page: rgba(255, 255, 255, 1);
  --button-color: rgba(0, 172, 220, 1);
  --width-for-justify: 168px;
  --border-block-card: #f3f3f3;
  --color-dark-text: rgba(6, 11, 53, 1);
  --color-grey-text: rgba(97, 96, 112, 1);
}
