:root {
  --color-dark-text: #060b35;
  --color-main-text: #616070;
  --section-card-bottom-gap: 16px;
  --section-card-font-size_medium: 12px;
  --section-card-color-button-blue: #00acdc;
  --section-card-color-button-white: #fff;
}
