:root {
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-700: 700;
  --font-color-main: #060b35;
  --font-color-secondary: #616070;
  --font-color-blue: #00acdc;
  --font-color-white: #fff;
}
