.stars {
  display: flex;
  align-items: center;

  &__star {
    width: 16px;
    height: 16px;
    background-image: url('../images/star.svg');
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 4px;
  }

  &--1 > &__star:nth-child(-n + 1),
  &--2 > &__star:nth-child(-n + 2),
  &--3 > &__star:nth-child(-n + 3),
  &--4 > &__star:nth-child(-n + 4),
  &--5 > &__star:nth-child(-n + 5) {
    background-image: url('../images/star-active.svg');
  }
}
