.rating {
  display: flex;

  &__star {
    width: 15px;
    height: 15px;
    margin-right: 4px;
    background: url(images/star.svg) center no-repeat;
  }

  &--1 .rating__star:nth-child(-n + 1),
  &--2 .rating__star:nth-child(-n + 2),
  &--3 .rating__star:nth-child(-n + 3),
  &--4 .rating__star:nth-child(-n + 4) {
    background-image: url(images/star-active.svg);
  }
}
