@use 'sass:color';

$font-main: 'Roboto', sans-serif;

// Основні кольори
$color-bg: #fff;
$color-border: #e0e0e0;
$color-text: #2e2e2e;
$color-muted: #616070;
$color-price: #060b35;
$color-accent: #00acdc;

// Ховер (трохи темніший за accent)
$color-hover: color.adjust($color-accent, $lightness: -10%);

// Розмір зірочок для рейтингу
$star-size: 16px;
