$card-bg-color: #fff;
$card-border-color: #f3f3f3;

$text-color-main: #060b35;
$text-color-additional: #616070;

$button-text-color: #fff;
$button-text-color--hover: #00acdc;

$button-bg-color: #00acdc;
$button-border-color: #00acdc;

