$card-color: #00acda;
$back-color: #f3f3f3;

.card {
  box-sizing: border-box;
  width: 202px;
  border: 1px solid $back-color;
  font-size: 11px;
  line-height: 13px;
  border-radius: 5px;
  padding: 30px 15px 15px;
  font-family: Roboto, sans-serif;

  &__img {
    width: 160px;
    height: 134px;
    margin: 0 auto 45px;
    display: block;
  }

  &__text {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 5px;
  }

  &__code {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 15px;
  }

  &__rating-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__feedBack {
    font-size: 11px;
    line-height: 13px;
    text-align: center;
  }

  &__price-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  &__price {
    font-size: 11px;
    line-height: 13px;
  }

  &__number {
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
  }

  &__add-card {
    display: flex;

    box-sizing: border-box;
    width: 170px;
    height: 40px;

    border: 1px solid $back-color;
    border-radius: 5px;
    background: $card-color;

    color: #fff;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    
    cursor: pointer;
  }

  &__add-card:hover {
    background: #fff;
    border: 1px solid $card-color;
    box-sizing: border-box;
    border-radius: 5px;
    text-transform: uppercase;
    color: $card-color;
  }
}
