$star-color: gold; // додаємо на початку stars.scss

.stars {
  display: flex;
  margin-bottom: 12px;

  &__star {
    width: 16px;
    height: 16px;
    margin-right: 4px;
    background-color: #ccc;
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );

    &--1 { background-color: $star-color; }
    &--2 { background-color: $star-color; }
    &--3 { background-color: $star-color; }
    &--4 { background-color: $star-color; }
    &--5 { background-color: $star-color; }
  }
}

