body,
p,
h2 {
  margin: 0;
}
 
.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px 16px 16px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
  width: 200px;
}
 
.card__img {
  height: 134px;
  width: 160px;
  margin-bottom: 40px;
}
 
.card__name {
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 4px;
  color: #060b35;
}
 
.card__id {
  align-self: start;
  margin-bottom: 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #616070;
}
 
.card__rate {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 23px;
}
 
.card__reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  color: #060b35;
}

.card__sale {
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
 
.card__sale-title {
  font-size: 12px;
  font-weight: 400;
  /*line-height: 18px;*/
  color: #616070;
}
 
.card__price {
  font-size: 16px;
  font-weight: 700;
  /*line-height: 18px;*/
  color: #060b35;
}
 
.card__button-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  align-self: stretch;
  padding: 11px;
}
 
.card__button-link:hover {
  background-color: #fff;
  color: #00acdc;
}
