@mixin font ($weight, $size, $line-height, $color,
$family: Roboto, $background: Helvetica, $generic: sans-serif
) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
  font-family: $family, $background, $generic;
}
