@mixin small-txt {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}

@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-between-end {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
