.button {
  height: 40px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: $main-button-color;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;

  transition-duration: 0.3s;

  &:hover {
    cursor: pointer;
    border-color: $main-button-color;
    background-color: #fff;
    color: $main-button-color;
  }
}
