.card {
  padding: 32px 16px 16px;
  background-color: #FFF;
  width: 200px;
  display: grid;
  border: 1px solid #F3F3F3;
  border-radius: 5px;
  box-sizing: border-box;

  &__image {
    width: 160px;
    height: 134px;
    margin: 0 auto;
  }

  &__title {
    margin: 0;
    font-size: $regular-font-size;
    font-weight: 500;
    line-height: 18px;
    margin-top: 40px;
  }

  &__product-code {
    font-size: $small-font-size;
    color: $reserve-text-color;
    margin-top: 4px;
    line-height: 14px;
  }

  &__rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    &-reviews {
      font-size: $small-font-size;
    }
  }

  &__price {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;

    &-text {
      font-size: $regular-font-size;
      color: $reserve-text-color;
      line-height: 18px;
    }

    &-amount{
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }

  &__button {
    margin-top: 16px;
  }
}
