.card-info {
  &-title {
    font-size: $regular-font-size;
    font-weight: 500;
    line-height: 18px;
  }

  &-product-code {
    font-size: $small-font-size;
    font-weight: 400;
    color: $reserve-text-color;
    margin-top: 4px;
    line-height: 14px;
  }

  &-rates {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;

    &--stars {
      display: flex;
    }
  }

  &-reviews {
    font-size: $small-font-size;
    font-weight: 400;

    // line-height: 14px;
  }

  &-price {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;

    &-text {
      font-size: $regular-font-size;
      font-weight: 400;
      color: $reserve-text-color;
      line-height: 18px;
    }

    &-amount{
      font-size: 16px;
      font-weight: 700;
      line-height: 18px;
    }
  }
}
