$base-margin: 0;
$base-font: roboto, helvetica, sans-serif;

.card {
  flex-direction: column;
  display: flex;
  box-sizing: border-box;
  border: 1px solid #f3f3f3;
  padding: 0 16px;
  max-width: 200px;

  &__image {
    padding-top: 32px;
    width: 160px;
    height: 134px;
    margin: 0 3px;
  }

  &__title {
    margin: $base-margin;
    padding-top: 40px;
    font-family: $base-font;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: #060b35;
  }

  &__product-code {
    margin: $base-margin;
    padding-top: 5px;
    font-family: $base-font;
    font-size: 10px;
    font-weight: 400;
    color: #616070;
  }

  &__price-amount {
    margin: $base-margin;
    font-family: $base-font;
    font-size: 16px;
    font-weight: 700;
  }

  &__price-title {
    margin: $base-margin;
    font-family: $base-font;
    font-size: 12px;
    font-weight: 400;
    color: #616070;
  }

  &__price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: $base-margin;
    padding-top: 24px;
  }

  &__buy-link {
    display: inline-block;
    height: 40px;
    width: 166px;
    line-height: 40px;
    margin: 16px 0 15px;
    border-radius: 5px;
    background-color: #00acdc;
    color: white;
    font-family: $base-font;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
  }

  &__buy-link:hover {
    border: 1px solid #00acdc;
    background-color: #fff;
    color: #00acdc;
  }
}
