.page {
  margin: 0;
  font-family: Roboto, sans-serif;
  color: $main-text-color;

  &__card {
    background-color: #FFF;
    width: 200px;
    display: grid;
    border: 1px solid #F3F3F3;
    border-radius: 5px;
    box-sizing: border-box;
  }
}
