.card {
  display: flex;
  flex-direction: column;
  color: var(--color-main);
  width: 200px;
  padding: 32px 16px 16px;

  border: 1px solid var(--bg-color-main);
  border-radius: 5px;
}

.card__image {
  display: flex;
  width: 160px;
  height: 134px;
  align-items: center;
  align-self: center;
  
  margin-bottom: 40px;
}

.card__title {
  text-align: left;
  line-height: 18px;
  font-size: 12px;
  font-weight: 500;

  margin-bottom: 4px;
}

.card__product-code {
  font-size: 10px;
  color: var(--color-secondary);

  margin-bottom: 16px;
}

.card__rating {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 24px;
}

.stars-block__rewiews {
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  display: flex;
  justify-content: space-between;

  margin-bottom: 16px;
}

.card__price-title {
  line-height: 18px;
  color: var(--color-secondary);
}

.card__price-value {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.card__buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-button-text);
  background-color: var(--color-button);

  border-radius: 5px;
  border: 1px solid transparent;
  transition: 0.5s ease-in-out;
}

.card__buy-button:hover {
  border-color: var(--color-button);
  background-color: var(--color-button-text);
  color: var(--color-button);
}
