.card__stars-reviews {
  display: flex;
  flex-direction: row;
  font-family: Roboto, sans-serif;
  justify-content: space-between;
  align-items: flex-end;
  margin: 16px 0 0;

}

.card__reviews {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
  color: #060b35;
}

.card__stars-star {
  display: flex;
}

.star {
  margin-right: 4px;
  height: 16px;
  width: 16px;
  background: url(./src/images/star-active.svg) no-repeat center;
}

.card__stars-star > .star:nth-child(n+5) {
  background: url(./src/images/star.svg) no-repeat center;
}
