$primary-color: #00acdc;
$secondary-color: #616070;
$dark-color: #060b35;
$hover-bg-color: #f3f3f3;
$font-family: 'Roboto', sans-serif;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$star-size: 16px;
$card-padding: 16px;
$border-radius: 5px;
