.item-card {
  width: 200px;
  padding: 32px 16px 16px;

  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.item-card__pic {
  display: block;
  height: 134px;
  width: 160px;
  margin: 0 auto 40px;
}

.item-card__title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
}

.item-card__code {
  margin-bottom: 16px;

  color: #616070;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
}

.item-card__ref {
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.item-card__ref-qtty {
  display: flex;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 10px;
}

.item-card__price {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}

.item-card__price-text {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;

  color: #616070;
}

.item-card__price-amount {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

.item-card__buy-btn {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 166px;
  height: 40px;

  background: #00ACDC;
  border-radius: 5px;
  border: 1px solid transparent;
  color:#fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.item-card__buy-btn:hover {
  background: #fff;
  border-color: #00ACDC;
  color:#00ACDC;
}

/*  */
