html {
  font-family: Roboto, sans-serif;
}

.card {
  padding: 32px 16px 16px;
  width: 200px;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}

.card__img {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 160px;
  height: 130px;
}

.card__tittle {
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #060b35;
}

.card__desctiption {
  color: #616070;
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  margin-bottom: 16px;
}

.card__rating-container {
  margin-bottom: 24px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card__feedback {
  font-size: 10px;
  line-height: 14px;
  color: #060b35;
}

.card__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.card__price-tittle {
  font-size: 12px;
  line-height: 18px;
  color: #616070;
}

.card__price-value {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: #060b35;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 40px;
  width: 100%;

  background-color: #00acdc;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid transparent;

}

.card__button:hover {
  background-color: #fff;
  color: #00acdc;
  border: 1px solid #00acdc;
}
