@use '../abstracts/variables' as *;

body {
  margin: 0;
  font-family: $font-family-base;
  font-size: $font-size-standard;
  color: $color-text-main;
  font-weight: $font-weight-regular;
  background-color: $color-background;
}
