*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
  font-size: $golbal-fsz;
  overflow-x: hidden;
}

// .body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;
// }

.link {
  text-decoration: none;
}
