html,
body,
div,
h1,
h2,
h3,
p,
span,
ul,
li,
button {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Roboto, system-ui, sans-serif;
}

$fontFamily: Roboto, sans-serif;
$accentColor: #00acdc;
$mainColor: #060b35;
$secondaryColor: #616070;
