$star-size: 16px;
$star-margin: 4px;
$star-active-img: url('../images/star-active.svg');
$star-default-img: url('../images/star.svg');
$imac-img: url('../images/imac.jpeg');
$color-text-primary: #060b35;
$color-text-secondary: #616070;
$color-link: #00acdc;
$color-white: #fff;
$color-border-default: #f3f3f3;
