@import '../utils/variables';

// Основні стилі для тіла
html,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
}
